force-app/main/default/flows/PC_Availability_Snapshot_Generator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_new_record_to_collection</name>
        <label>Add new record to collection</label>
        <locationX>1056</locationX>
        <locationY>1772</locationY>
        <assignmentItems>
            <assignToReference>NewAvailabilityCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewAvailabilityRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Availability_Snapshots</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_record_variable</name>
        <label>Add to record variable</label>
        <locationX>1144</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>CurrentSnapshotRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assign_filtered_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_filtered_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_update_record_to_collection</name>
        <label>Add update record to collection</label>
        <locationX>1100</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>UpdateAvailabilityCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdateAvailabilityRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Generate_Availability_Snapshots</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CheckCollection</name>
        <label>Set CheckCollection</label>
        <locationX>1056</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>CheckCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Generate_Availability_Snapshots</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_record_or_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetNewRecordValues</name>
        <label>Set New Record Values</label>
        <locationX>1056</locationX>
        <locationY>1664</locationY>
        <assignmentItems>
            <assignToReference>NewAvailabilityRecord.Available_Rolling_Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcRollingSumAvailable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAvailabilityRecord.Wrap_Up_Rolling_Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcRollingAvgSpecialistOnWrap</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAvailabilityRecord.Total_Snapshots_this_Hour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcTotalSnapshots</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAvailabilityRecord.Chat_Rolling_Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcChatRollingSum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAvailabilityRecord.Capacity_Rolling_Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcCapacityRollingSum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAvailabilityRecord.Online_Rolling_Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcOnlineRollingSum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAvailabilityRecord.Teams_Rolling_Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcTeamsRollingSum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAvailabilityRecord.Phone_Rolling_Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcPhoneRollingSum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAvailabilityRecord.Maximum_Users_Online__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcMaxOnline</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAvailabilityRecord.Minimum_Users_Online__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcMinOnline</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAvailabilityRecord.Medical_Specialty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Generate_Availability_Snapshots.Medical_Specialty__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAvailabilityRecord.Launch_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastInLoop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAvailabilityRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_snapshot_record_type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAvailabilityRecord.PC_Snapshot_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_new_record_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetUpdateRecordValues</name>
        <label>Set Update Record Values</label>
        <locationX>1100</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>UpdateAvailabilityRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentSnapshotRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateAvailabilityRecord.Available_Rolling_Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcRollingSumAvailable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateAvailabilityRecord.Wrap_Up_Rolling_Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcRollingAvgSpecialistOnWrap</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateAvailabilityRecord.Chat_Rolling_Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcChatRollingSum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateAvailabilityRecord.Phone_Rolling_Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcPhoneRollingSum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateAvailabilityRecord.Teams_Rolling_Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcTeamsRollingSum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateAvailabilityRecord.Online_Rolling_Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcOnlineRollingSum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateAvailabilityRecord.Total_Snapshots_this_Hour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcTotalSnapshots</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateAvailabilityRecord.Maximum_Users_Online__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcMaxOnline</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateAvailabilityRecord.Minimum_Users_Online__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcMinOnline</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateAvailabilityRecord.Capacity_Rolling_Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalcCapacityRollingSum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateAvailabilityRecord.Launch_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastInLoop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateAvailabilityRecord.PC_Snapshot_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateAvailabilityRecord.Relaunch_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_update_record_to_collection</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_for_specialty</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter for specialty</label>
        <locationX>1056</locationX>
        <locationY>674</locationY>
        <assignNextValueToReference>currentItem_Filter_for_specialty_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_last_hour_s_availability_snapshots</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_for_specialty_0.Medical_Specialty__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Generate_Availability_Snapshots.Medical_Specialty__c</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_for_specialty_0.System_Hour__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>CurrentHour</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_filtered_record</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Create_or_update</name>
        <label>Create or update</label>
        <locationX>660</locationX>
        <locationY>1964</locationY>
        <defaultConnectorLabel>No create or update</defaultConnectorLabel>
        <rules>
            <name>Create_Snapshots</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewAvailabilityCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UpdateAvailabilityCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_availability_records</targetReference>
            </connector>
            <label>Create Snapshots</label>
        </rules>
        <rules>
            <name>Update_Snapshots</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateAvailabilityCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewAvailabilityCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_existing_availability_records</targetReference>
            </connector>
            <label>Update Snapshots</label>
        </rules>
        <rules>
            <name>Create_and_Update_Snapshots</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewAvailabilityCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UpdateAvailabilityCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_new_availability_records</targetReference>
            </connector>
            <label>Create and Update Snapshots</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks for Provider_Connect_Case record type and if DisableTriggersFlag is enabled.</description>
        <name>Disable_Triggers_Check</name>
        <label>Disable Triggers Check</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_live_availability_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Disable</defaultConnectorLabel>
        <rules>
            <name>Disabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.DisableTriggersFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Disabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_record_or_update</name>
        <label>New record or update?</label>
        <locationX>1056</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetUpdateRecordValues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Record</defaultConnectorLabel>
        <rules>
            <name>New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentSnapshotRecord.Medical_Specialty__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Generate_Availability_Snapshots.Medical_Specialty__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNewRecordValues</targetReference>
            </connector>
            <label>New Record</label>
        </rules>
        <rules>
            <name>New_record_last_in_loop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentSnapshotRecord.Medical_Specialty__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Generate_Availability_Snapshots.Medical_Specialty__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_live_availability_record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CheckCollection</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetNewRecordValues</targetReference>
            </connector>
            <label>New record - last in loop</label>
        </rules>
        <rules>
            <name>Update_Record_last_in_loop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentSnapshotRecord.Medical_Specialty__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Generate_Availability_Snapshots.Medical_Specialty__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckCollection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_live_availability_record</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetUpdateRecordValues</targetReference>
            </connector>
            <label>Update Record - last in loop</label>
        </rules>
    </decisions>
    <description>Creates or updates PC Availability records based on User Presence record data.</description>
    <environments>Default</environments>
    <formulas>
        <name>CalcCapacityRollingSum</name>
        <dataType>Number</dataType>
        <expression>IF({!CurrentSnapshotRecord.Capacity_Rolling_Sum__c} != null, ({!CurrentSnapshotRecord.Capacity_Rolling_Sum__c} +
            {!Generate_Availability_Snapshots.Capacity_Rolling_Sum__c}) / (1+ {!CurrentSnapshotRecord.Total_Snapshots_this_Hour__c}),
            {!Generate_Availability_Snapshots.Capacity_Rolling_Sum__c} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalcChatRollingSum</name>
        <dataType>Number</dataType>
        <expression
        >IF({!CurrentSnapshotRecord.Chat_Rolling_Sum__c} != null, ({!CurrentSnapshotRecord.Chat_Rolling_Sum__c} + {!Generate_Availability_Snapshots.Chat_Rolling_Sum__c}) / (1 +
            {!Generate_Availability_Snapshots.Total_Snapshots_this_Hour__c}), {!Generate_Availability_Snapshots.Chat_Rolling_Sum__c} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalcMaxOnline</name>
        <dataType>Number</dataType>
        <expression>IF({!New_Record} = TRUE, {!Generate_Availability_Snapshots.Online_Rolling_Sum__c}, IF({!CurrentSnapshotRecord.Maximum_Users_Online__c} != null,
            IF({!CurrentSnapshotRecord.Maximum_Users_Online__c} &lt; {!Generate_Availability_Snapshots.Online_Rolling_Sum__c},
            {!Generate_Availability_Snapshots.Online_Rolling_Sum__c}, {!CurrentSnapshotRecord.Maximum_Users_Online__c} ), {!Generate_Availability_Snapshots.Online_Rolling_Sum__c}
            ))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalcMinOnline</name>
        <dataType>Number</dataType>
        <expression>IF({!New_Record} = TRUE, {!Generate_Availability_Snapshots.Online_Rolling_Sum__c}, IF({!CurrentSnapshotRecord.Minimum_Users_Online__c} != null,
            IF({!CurrentSnapshotRecord.Minimum_Users_Online__c} &gt; {!Generate_Availability_Snapshots.Online_Rolling_Sum__c},
            {!Generate_Availability_Snapshots.Online_Rolling_Sum__c}, {!CurrentSnapshotRecord.Minimum_Users_Online__c} ), {!Generate_Availability_Snapshots.Online_Rolling_Sum__c}
            ))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalcOnlineRollingSum</name>
        <dataType>Number</dataType>
        <expression
        >IF({!CurrentSnapshotRecord.Online_Rolling_Sum__c} != null, ({!CurrentSnapshotRecord.Online_Rolling_Sum__c} + {!Generate_Availability_Snapshots.Online_Rolling_Sum__c})
            / (1 + {!CurrentSnapshotRecord.Total_Snapshots_this_Hour__c}), {!Generate_Availability_Snapshots.Online_Rolling_Sum__c} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalcPhoneRollingSum</name>
        <dataType>Number</dataType>
        <expression
        >IF({!CurrentSnapshotRecord.Phone_Rolling_Sum__c} != null, ({!Generate_Availability_Snapshots.Phone_Rolling_Sum__c} + {!CurrentSnapshotRecord.Phone_Rolling_Sum__c}) /
            (1 + {!CurrentSnapshotRecord.Total_Snapshots_this_Hour__c}), {!Generate_Availability_Snapshots.Phone_Rolling_Sum__c} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalcRollingAvgSpecialistOnWrap</name>
        <dataType>Number</dataType>
        <expression>IF({!CurrentSnapshotRecord.Wrap_Up_Rolling_Sum__c} != null, ({!Generate_Availability_Snapshots.Wrap_Up_Rolling_Sum__c} +
            {!CurrentSnapshotRecord.Wrap_Up_Rolling_Sum__c}) / (1 + {!CurrentSnapshotRecord.Total_Snapshots_this_Hour__c}),
            {!Generate_Availability_Snapshots.Wrap_Up_Rolling_Sum__c} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalcRollingSumAvailable</name>
        <dataType>Number</dataType>
        <expression>IF({!CurrentSnapshotRecord.Available_Rolling_Sum__c} != null, ({!Generate_Availability_Snapshots.Available_Rolling_Sum__c} +
            {!CurrentSnapshotRecord.Available_Rolling_Sum__c}) / (1 + {!CurrentSnapshotRecord.Total_Snapshots_this_Hour__c}),
            {!Generate_Availability_Snapshots.Available_Rolling_Sum__c} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalcTeamsRollingSum</name>
        <dataType>Number</dataType>
        <expression
        >IF({!CurrentSnapshotRecord.Teams_Rolling_Sum__c} != null, ({!Generate_Availability_Snapshots.Teams_Rolling_Sum__c} + {!CurrentSnapshotRecord.Teams_Rolling_Sum__c}) /
            (1 + {!CurrentSnapshotRecord.Total_Snapshots_this_Hour__c}), {!Generate_Availability_Snapshots.Teams_Rolling_Sum__c} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalcTotalSnapshots</name>
        <dataType>Number</dataType>
        <expression>IF({!CurrentSnapshotRecord.Total_Snapshots_this_Hour__c} != null, {!CurrentSnapshotRecord.Total_Snapshots_this_Hour__c} + 1, 1 )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CurrentHour</name>
        <dataType>Number</dataType>
        <expression>VALUE( MID(TEXT(DATETIMEVALUE({!$Flow.CurrentDateTime})),12,2) )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LastInLoop</name>
        <dataType>Boolean</dataType>
        <expression>IF({!New_record_last_in_loop} = TRUE || {!Update_Record_last_in_loop} = TRUE, TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>OneHourAndOneMinuteAgo</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - ((1/24) + (1/24/60))</expression>
    </formulas>
    <interviewLabel>PC Availability Snapshot Generator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PC Availability Snapshot Generator</label>
    <loops>
        <name>Assign_filtered_record</name>
        <label>Assign filtered record</label>
        <locationX>1056</locationX>
        <locationY>782</locationY>
        <collectionReference>Filter_for_specialty</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_record_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_CheckCollection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Generate_Availability_Snapshots</name>
        <label>Generate availability snapshots</label>
        <locationX>660</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_live_availability_record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Filter_for_specialty</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_or_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_new_availability_records</name>
        <label>Create new availability records</label>
        <locationX>792</locationX>
        <locationY>2072</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_existing_availability_records</targetReference>
        </connector>
        <inputReference>NewAvailabilityCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_new_availability_records</name>
        <label>Create new availability records</label>
        <locationX>264</locationX>
        <locationY>2072</locationY>
        <inputReference>NewAvailabilityCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_last_hour_s_availability_snapshots</name>
        <label>Get last hour&apos;s availability snapshots</label>
        <locationX>660</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_Availability_Snapshots</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Snapshot_Record</stringValue>
            </value>
        </filters>
        <filters>
            <field>System_Hour__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentHour</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PC_Availability__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_live_availability_record</name>
        <label>Get live availability record</label>
        <locationX>660</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_snapshot_record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Live_Record</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PC_Availability__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_snapshot_record_type</name>
        <label>Get snapshot record type</label>
        <locationX>660</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_last_hour_s_availability_snapshots</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Snapshot_Record</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PC_Availability__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_existing_availability_records</name>
        <label>Update existing availability records</label>
        <locationX>792</locationX>
        <locationY>2180</locationY>
        <inputReference>UpdateAvailabilityCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_existing_availability_records</name>
        <label>Update existing availability records</label>
        <locationX>528</locationX>
        <locationY>2072</locationY>
        <inputReference>UpdateAvailabilityCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Disable_Triggers_Check</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CheckCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PC_Availability__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_for_specialty_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PC_Availability__c</objectType>
    </variables>
    <variables>
        <name>CurrentSnapshotRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PC_Availability__c</objectType>
    </variables>
    <variables>
        <name>NewAvailabilityCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PC_Availability__c</objectType>
    </variables>
    <variables>
        <name>NewAvailabilityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PC_Availability__c</objectType>
    </variables>
    <variables>
        <name>RollingAvgWrapUpValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RollingSumAvailableValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>UpdateAvailabilityCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PC_Availability__c</objectType>
    </variables>
    <variables>
        <name>UpdateAvailabilityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PC_Availability__c</objectType>
    </variables>
</Flow>
