force-app/main/default/flows/PC_Set_Presence_Channel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Adds a fault log to system if the flow fails upon attempting to create the new PC Availability record.</description>
        <name>Fail_to_Create_new_PC_Availability</name>
        <label>Fail to Create new PC Availability</label>
        <locationX>1106</locationX>
        <locationY>2651</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Save_Fault_Log</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>PC_Set_Presence_Channel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed to create the new PC_Availability record.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Adds a fault log to system if the flow fails upon attempting to get the most recent PC Availability for User Presence Update</description>
        <name>Fail_to_Get_PC_Availability_Most_Recent</name>
        <label>Fail to Get PC Availability (Most Recent)</label>
        <locationX>3284</locationX>
        <locationY>2327</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Save_Fault_Log</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>PC_Set_Presence_Channel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed to retrieve the most recent PC Availability record with Live_Record record type.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Adds a fault log to system if the flow fails upon attempting to get the PC Availabilty&apos;s Record Type</description>
        <name>Fail_to_Get_PC_Availability_Record_Type</name>
        <label>Fail to Get PC Availability Record Type</label>
        <locationX>1370</locationX>
        <locationY>2543</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Save_Fault_Log</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>PC_Set_Presence_Channel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed to retrieve the PC Availability record with &quot;Live_Record&quot; record type.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Adds a fault log to system if the flow fails upon attempting to get the PC Availability&apos;s Snapshot record</description>
        <name>Fail_to_Get_PC_Availability_Snapshot</name>
        <label>Fail to Get PC Availability Snapshot</label>
        <locationX>3020</locationX>
        <locationY>3149</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Fault_Log</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>PC_Set_Presence_Channel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed to retrieve the PC Availability Snapshot from the last 10 minutes.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Adds a fault log to system if the flow fails upon attempting to get the Service Resource for User Presence Update</description>
        <name>Fail_to_Get_Service_Resource</name>
        <label>Fail to Get Service Resource</label>
        <locationX>2756</locationX>
        <locationY>539</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Save_Fault_Log</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>PC_Set_Presence_Channel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed to retrieve the Service Resource associated with the User (RelatedRecordId)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Adds a fault log to system if the flow fails upon attempting to get the Service Resource Skills for the Service Resource</description>
        <name>Fail_to_Get_Service_Resource_Skills</name>
        <label>Fail to Get Service Resource Skills</label>
        <locationX>2228</locationX>
        <locationY>755</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Save_Fault_Log</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>PC_Set_Presence_Channel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed to retrieve the Service Resource Skills associated with the Service Resource for the User</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Adds fault log to system if the flow fails upon invoking the apex logic that triggers the pcSuperScreen push topic</description>
        <name>Fail_to_trigger_pcSuperScreen_Push_Topic</name>
        <label>Fail to trigger pcSuperScreen Push Topic</label>
        <locationX>1370</locationX>
        <locationY>1937</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Save_Fault_Log</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>PC_Set_Presence_Channel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed to invoke the pcSuperScreen Push Topic via Agent Work trigger</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Adds a fault log to system if the flow fails upon attempting to update the new PC Availability&apos;s PC Service Resource record.</description>
        <name>Fail_to_Update_new_PC_Service_Resource_Online</name>
        <label>Fail to Update new PC Service Resource (Online)</label>
        <locationX>842</locationX>
        <locationY>2759</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Save_Fault_Log</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>PC_Set_Presence_Channel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed to update the new PC Service Resource record with Online status.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Adds a fault log to system if the flow fails upon attempting to update the PC Availability record.</description>
        <name>Fail_to_Update_PC_Availability_Add</name>
        <label>Fail to Update PC Availability (Add)</label>
        <locationX>314</locationX>
        <locationY>2543</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Save_Fault_Log</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>PC_Set_Presence_Channel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed to update the PC_Availability record with adding totals amount.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Adds a fault log to system if the flow fails upon attempting to update the PC Availability record.</description>
        <name>Fail_to_Update_PC_Availability_Subtract</name>
        <label>Fail to Update PC Availability (Subtract)</label>
        <locationX>1898</locationX>
        <locationY>2543</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Save_Fault_Log</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>PC_Set_Presence_Channel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed to update the PC_Availability record with subtracting totals amount.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Adds a fault log to system if the flow fails upon attempting to update the PC Service Resource record.</description>
        <name>Fail_to_Update_PC_Service_Resource_Offline</name>
        <label>Fail to Update PC Service Resource (Offline)</label>
        <locationX>2426</locationX>
        <locationY>2543</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Save_Fault_Log</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>PC_Set_Presence_Channel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed to update the PC Service Resource record with Offline status.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Adds a fault log to system if the flow fails upon attempting to update the User Presence record.</description>
        <name>Fail_to_Update_User_Presence</name>
        <label>Fail to Update User Presence</label>
        <locationX>1964</locationX>
        <locationY>1355</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Save_Fault_Log</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>PC_Set_Presence_Channel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed to update the User Presence record for the User</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Saves the fault logs to the system.</description>
        <name>Save_Fault_Log</name>
        <label>Save Fault Log</label>
        <locationX>3020</locationX>
        <locationY>3257</locationY>
        <actionName>Logger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Logger</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>invokes apex that generates a PC_AWPush_Event record to trigger the pcSuperScreen push topic. This will provide a refresh of the Availability Matrix&apos;s Specialty Table so that the table will have up-to-date Specialist availability information.</description>
        <name>Trigger_pcSuperScreen_Push_Topic</name>
        <label>Trigger pcSuperScreen Push Topic</label>
        <locationX>1106</locationX>
        <locationY>1829</locationY>
        <actionName>PC_ChatStreamController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_last_pc_availability_record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fail_to_trigger_pcSuperScreen_Push_Topic</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>userServicePresence</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PC_ChatStreamController</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <description>Assign IsChatChannel variable to true indicating the specialist is available for chat because they have the Chat channel skill</description>
        <name>Assign_Chat</name>
        <label>Assign Chat</label>
        <locationX>2316</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>IsChatChannel</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Skills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign IsPhoneChannel variable to true indicating the specialist is available for phone callback because they have the Phone channel skill</description>
        <name>Assign_Phone</name>
        <label>Assign Phone</label>
        <locationX>2052</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>IsPhoneChannel</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Skills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign IsTeamsChannel variable to true indicating the specialist is available for teams because they have the Teams channel skill</description>
        <name>Assign_Teams</name>
        <label>Assign Teams</label>
        <locationX>1788</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>IsTeamsChannel</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Skills</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check for each channel type</description>
        <name>CheckChannel</name>
        <label>Check Channel</label>
        <locationX>2184</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Check_Skills</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Teams</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Skills.Skill.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PC_Teams</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Teams</targetReference>
            </connector>
            <label>Is Teams</label>
        </rules>
        <rules>
            <name>Is_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Skills.Skill.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PC_Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Phone</targetReference>
            </connector>
            <label>Is Phone</label>
        </rules>
        <rules>
            <name>Is_Chat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_Skills.Skill.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PC_Chat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Chat</targetReference>
            </connector>
            <label>Is Chat</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the &quot;Is Current State&quot; flag has changed on the UserServicePresence Record to determine if the pcSuperScreen Push Topic should be triggered</description>
        <name>Does_Prior_Record_Differ</name>
        <label>Does Prior Record Differ?</label>
        <locationX>1370</locationX>
        <locationY>1721</locationY>
        <defaultConnector>
            <targetReference>Get_last_pc_availability_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Does_Current_State_Differ</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsCurrentState</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.IsCurrentState</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServicePresenceStatusId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ServicePresenceStatusId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trigger_pcSuperScreen_Push_Topic</targetReference>
            </connector>
            <label>Does Current State Differ?</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines what path to take depending on whether an availability record was found for the triggering UserServicePresence&apos;s specialty and if the UserServicePresence indicates the specialist is online or offline</description>
        <name>PC_availability_record_found</name>
        <label>PC availability record found?</label>
        <locationX>1370</locationX>
        <locationY>2327</locationY>
        <defaultConnector>
            <targetReference>Snapshot_from_last_10_minutes_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No matching conditions</defaultConnectorLabel>
        <rules>
            <name>Record_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_last_pc_availability_record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StatusStartDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StatusEndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_online_rolling_totals</targetReference>
            </connector>
            <label>Record found, online</label>
        </rules>
        <rules>
            <name>Record_not_found_online_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_last_pc_availability_record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StatusStartDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StatusEndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_availability_record_type</targetReference>
            </connector>
            <label>Record not found, online</label>
        </rules>
        <rules>
            <name>Record_found_offline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_last_pc_availability_record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StatusEndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subtract_from_online_rolling_totals</targetReference>
            </connector>
            <label>Record found, offline</label>
        </rules>
        <rules>
            <name>Record_not_found_offline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_last_pc_availability_record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StatusEndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_user_offline_on_PC_Service_Resource</targetReference>
            </connector>
            <label>Record not found, offline</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if at least one of the Channel flags are true and that the Specialty picklist is populated on the Specialist&apos;s UserServicePresence</description>
        <name>PC_fields_populated</name>
        <label>PC fields populated?</label>
        <locationX>1370</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_service_resource</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Channel or specialty not populated</defaultConnectorLabel>
        <rules>
            <name>Channel_populated</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PC_Chat_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PC_Phone_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PC_Teams_Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PC_Specialty__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Prior_Record_Differ</targetReference>
            </connector>
            <label>Channel and specialty populated</label>
        </rules>
    </decisions>
    <decisions>
        <description>checks if a service resource was found for the specialist user of the triggering UserServicePresence</description>
        <name>Service_resource_found</name>
        <label>Service resource found?</label>
        <locationX>2096</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_resource_was_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_service_resource.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Resource_Skills</targetReference>
            </connector>
            <label>Service resource was found</label>
        </rules>
    </decisions>
    <decisions>
        <description>checks if the snapshot Availability record was found to determine if a new one should be generated</description>
        <name>Snapshot_found</name>
        <label>Snapshot found?</label>
        <locationX>1370</locationX>
        <locationY>3149</locationY>
        <defaultConnector>
            <targetReference>Launch_availability_generator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Snapshot not found</defaultConnectorLabel>
        <rules>
            <name>Snapshot_was_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Snapshot_from_last_10_minutes_found.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Snapshot was found</label>
        </rules>
    </decisions>
    <description>Populates the PC_Chat_Channel__c, PC_Phone_Channel__c, PC_Teams_Channel__c, and PC_Specialty__c fields on the User Presence records. Triggers the pcSuperScreen Push Topic to refresh the Availability Matrix&apos;s Specialty Table based on Specialist presence status updates. If PC Availability Snapshot Generator flow has not run in the last 10 minutes, launches the flow.</description>
    <environments>Default</environments>
    <formulas>
        <name>Add1Available</name>
        <dataType>Number</dataType>
        <expression>IF({!$Record.ServicePresenceStatus.DeveloperName} = &apos;PC_Available_Provider_Connect&apos;, 
IF({!Get_last_pc_availability_record.Available_Rolling_Sum__c} &gt; 0, {!Get_last_pc_availability_record.Available_Rolling_Sum__c}  + 1,
1),
{!Get_last_pc_availability_record.Available_Rolling_Sum__c}
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Add1Chat</name>
        <dataType>Number</dataType>
        <expression>IF({!Is_Chat} = TRUE || {!$Record.PC_Chat_Channel__c} = TRUE, 
IF({!Get_last_pc_availability_record.Chat_Rolling_Sum__c} &gt; 0, {!Get_last_pc_availability_record.Chat_Rolling_Sum__c} + 1,
1), 
{!Get_last_pc_availability_record.Chat_Rolling_Sum__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Add1OnlineRollingSum</name>
        <dataType>Number</dataType>
        <expression>IF({!Get_last_pc_availability_record.Online_Rolling_Sum__c} &gt; 0,
{!Get_last_pc_availability_record.Online_Rolling_Sum__c} + 1, 1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Add1Phone</name>
        <dataType>Number</dataType>
        <expression>IF({!Is_Phone} = TRUE || {!$Record.PC_Phone_Channel__c} = TRUE, 
IF({!Get_last_pc_availability_record.Phone_Rolling_Sum__c} &gt; 0, {!Get_last_pc_availability_record.Phone_Rolling_Sum__c} + 1, 1),
{!Get_last_pc_availability_record.Phone_Rolling_Sum__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Add1Teams</name>
        <dataType>Number</dataType>
        <expression>IF({!Is_Teams} = TRUE || {!$Record.PC_Teams_Channel__c} = TRUE, 
IF({!Get_last_pc_availability_record.Teams_Rolling_Sum__c} &gt; 0, {!Get_last_pc_availability_record.Teams_Rolling_Sum__c} + 1, 1),
{!Get_last_pc_availability_record.Teams_Rolling_Sum__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Add1WrapUp</name>
        <dataType>Number</dataType>
        <expression>IF({!$Record.ServicePresenceStatus.DeveloperName} = &apos;PC_Wrap_Up&apos;, 
IF({!Get_last_pc_availability_record.Wrap_Up_Rolling_Sum__c} &gt; 0, {!Get_last_pc_availability_record.Wrap_Up_Rolling_Sum__c} + 1, 1),
 {!Get_last_pc_availability_record.Wrap_Up_Rolling_Sum__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalcOfflineEndTime</name>
        <dataType>DateTime</dataType>
        <expression>({!$Record.StatusStartDate} - 0.000011)</expression>
    </formulas>
    <formulas>
        <name>CalcOfflineStartTime</name>
        <dataType>DateTime</dataType>
        <expression>({!$Record.StatusEndDate} + 0.000011)</expression>
    </formulas>
    <formulas>
        <name>CheckIfNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>NewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>NewRecordAvailable</name>
        <dataType>Number</dataType>
        <expression>IF({!$Record.ServicePresenceStatus.DeveloperName} = &apos;PC_Available_Provider_Connect&apos;,1,0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NewRecordChat</name>
        <dataType>Number</dataType>
        <expression>IF({!Is_Chat} = TRUE || {!$Record.PC_Chat_Channel__c} = TRUE, 1 , 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NewRecordPhone</name>
        <dataType>Number</dataType>
        <expression>IF({!Is_Phone} = TRUE || {!$Record.PC_Phone_Channel__c} = TRUE,1 ,0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NewRecordTeams</name>
        <dataType>Number</dataType>
        <expression>IF({!Is_Teams} = TRUE || {!$Record.PC_Teams_Channel__c} = TRUE, 1, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NewRecordWrapUp</name>
        <dataType>Number</dataType>
        <expression>IF({!$Record.ServicePresenceStatus.DeveloperName} = &apos;PC_Wrap_Up&apos;,1,0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Subtract1Available</name>
        <dataType>Number</dataType>
        <expression>IF({!$Record.ServicePresenceStatus.DeveloperName} = &apos;PC_Available_Provider_Connect&apos;, IF({!Get_last_pc_availability_record.Available_Rolling_Sum__c} &gt; 0, {!Get_last_pc_availability_record.Available_Rolling_Sum__c} - 1, 0),
 {!Get_last_pc_availability_record.Available_Rolling_Sum__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Subtract1Chat</name>
        <dataType>Number</dataType>
        <expression>IF({!Is_Chat} = TRUE || {!$Record.PC_Chat_Channel__c},
IF({!Get_last_pc_availability_record.Chat_Rolling_Sum__c} &gt; 0, {!Get_last_pc_availability_record.Chat_Rolling_Sum__c} - 1, 0),
 {!Get_last_pc_availability_record.Chat_Rolling_Sum__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Subtract1Phone</name>
        <dataType>Number</dataType>
        <expression>IF({!Is_Phone} = TRUE || {!$Record.PC_Phone_Channel__c},
IF({!Get_last_pc_availability_record.Phone_Rolling_Sum__c} &gt; 0, {!Get_last_pc_availability_record.Phone_Rolling_Sum__c} - 1, 0),
 {!Get_last_pc_availability_record.Phone_Rolling_Sum__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Subtract1RollingSum</name>
        <dataType>Number</dataType>
        <expression>IF({!Get_last_pc_availability_record.Online_Rolling_Sum__c} &gt; 0, {!Get_last_pc_availability_record.Online_Rolling_Sum__c} - 1, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Subtract1Teams</name>
        <dataType>Number</dataType>
        <expression>IF({!Is_Teams} = TRUE || {!$Record.PC_Teams_Channel__c}, 
IF({!Get_last_pc_availability_record.Teams_Rolling_Sum__c} &gt; 0, {!Get_last_pc_availability_record.Teams_Rolling_Sum__c} - 1, 0),{!Get_last_pc_availability_record.Teams_Rolling_Sum__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Subtract1WrapUp</name>
        <dataType>Number</dataType>
        <expression>IF({!$Record.ServicePresenceStatus.DeveloperName} = &apos;PC_Wrap_Up&apos;, 
IF({!Get_last_pc_availability_record.Wrap_Up_Rolling_Sum__c}  &gt; 0, {!Get_last_pc_availability_record.Wrap_Up_Rolling_Sum__c} - 1, 0), {!Get_last_pc_availability_record.Wrap_Up_Rolling_Sum__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TenMinutesAgo</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - (1/24/6)</expression>
    </formulas>
    <interviewLabel>PC Set Presence Channel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PC User Presence Updates</label>
    <loops>
        <description>loops over all the retrieved service resource skills and checks if one exists for each of the Channel types (Chat, Phone, Teams)</description>
        <name>Check_Skills</name>
        <label>Check Skills</label>
        <locationX>1700</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_Service_Resource_Skills</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckChannel</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_User_Presence</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>create new Availability record with the Live Record record type</description>
        <name>Create_new_availability_record</name>
        <label>Create new availability record</label>
        <locationX>578</locationX>
        <locationY>2543</locationY>
        <connector>
            <targetReference>Set_user_online_on_PC_Service_Resource</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fail_to_Create_new_PC_Availability</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Available_Rolling_Sum__c</field>
            <value>
                <elementReference>NewRecordAvailable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chat_Rolling_Sum__c</field>
            <value>
                <elementReference>NewRecordChat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Specialty__c</field>
            <value>
                <elementReference>$Record.PC_Specialty__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Online_Rolling_Sum__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Rolling_Sum__c</field>
            <value>
                <elementReference>NewRecordPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_availability_record_type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Teams_Rolling_Sum__c</field>
            <value>
                <elementReference>NewRecordTeams</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Rolling_Sum__c</field>
            <value>
                <elementReference>NewRecordWrapUp</elementReference>
            </value>
        </inputAssignments>
        <object>PC_Availability__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>get Live Record record type Id for the availability object</description>
        <name>Get_availability_record_type</name>
        <label>Get availability record type</label>
        <locationX>578</locationX>
        <locationY>2435</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_new_availability_record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fail_to_Get_PC_Availability_Record_Type</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Live_Record</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get most recently modified availability record with the same specialty as the triggering record</description>
        <name>Get_last_pc_availability_record</name>
        <label>Get last pc availability record</label>
        <locationX>1370</locationX>
        <locationY>2219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PC_availability_record_found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fail_to_Get_PC_Availability_Most_Recent</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Medical_Specialty__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PC_Specialty__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Live_Record</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PC_Availability__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get the service resource for the specialist user related to the triggering UserServicePresence (UserID)</description>
        <name>Get_service_resource</name>
        <label>Get service resource</label>
        <locationX>2096</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_resource_found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fail_to_Get_Service_Resource</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PC_Assigned_Specialty__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>gets all service resource skills related to the retrieved service resource</description>
        <name>Get_Service_Resource_Skills</name>
        <label>Get Service Resource Skills</label>
        <locationX>1700</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Skills</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fail_to_Get_Service_Resource_Skills</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_service_resource.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceResourceSkill</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get snapshot Availability record from the last 10 minutes to determine if a new one should be made</description>
        <name>Snapshot_from_last_10_minutes_found</name>
        <label>Snapshot from last 10 minutes found?</label>
        <locationX>1370</locationX>
        <locationY>3041</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Snapshot_found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fail_to_Get_PC_Availability_Snapshot</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Snapshot_Record</stringValue>
            </value>
        </filters>
        <filters>
            <field>PC_Snapshot_Date_Time__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>TenMinutesAgo</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PC_Availability__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>add to rolling total fields on the availability record since specialist is online</description>
        <name>Add_to_online_rolling_totals</name>
        <label>Add to online rolling totals</label>
        <locationX>50</locationX>
        <locationY>2435</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_user_online_on_PC_Service_Resource</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fail_to_Update_PC_Availability_Add</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_last_pc_availability_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Available_Rolling_Sum__c</field>
            <value>
                <elementReference>Add1Available</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chat_Rolling_Sum__c</field>
            <value>
                <elementReference>Add1Chat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Specialty__c</field>
            <value>
                <elementReference>$Record.PC_Specialty__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Online_Rolling_Sum__c</field>
            <value>
                <elementReference>Add1OnlineRollingSum</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Rolling_Sum__c</field>
            <value>
                <elementReference>Add1Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Teams_Rolling_Sum__c</field>
            <value>
                <elementReference>Add1Teams</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Rolling_Sum__c</field>
            <value>
                <elementReference>Add1WrapUp</elementReference>
            </value>
        </inputAssignments>
        <object>PC_Availability__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>sets the specialist user&apos;s service resource PC Online flag to false to indicate they&apos;re offline</description>
        <name>Set_user_offline_on_PC_Service_Resource</name>
        <label>Set user offline on PC Service Resource</label>
        <locationX>2162</locationX>
        <locationY>2435</locationY>
        <connector>
            <targetReference>Snapshot_from_last_10_minutes_found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fail_to_Update_PC_Service_Resource_Offline</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PC_Online__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>PC_Online__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceResource</object>
    </recordUpdates>
    <recordUpdates>
        <description>sets the specialist user&apos;s service resource PC Online flag to true to indicate they&apos;re online</description>
        <name>Set_user_online_on_PC_Service_Resource</name>
        <label>Set user online on PC Service Resource</label>
        <locationX>578</locationX>
        <locationY>2651</locationY>
        <connector>
            <targetReference>Snapshot_from_last_10_minutes_found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fail_to_Update_new_PC_Service_Resource_Online</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PC_Online__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>PC_Online__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceResource</object>
    </recordUpdates>
    <recordUpdates>
        <description>subtract from rolling total fields on the availability record since specialist is offline</description>
        <name>Subtract_from_online_rolling_totals</name>
        <label>Subtract from online rolling totals</label>
        <locationX>1634</locationX>
        <locationY>2435</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_user_offline_on_PC_Service_Resource</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fail_to_Update_PC_Availability_Subtract</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_last_pc_availability_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Available_Rolling_Sum__c</field>
            <value>
                <elementReference>Subtract1Available</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chat_Rolling_Sum__c</field>
            <value>
                <elementReference>Subtract1Chat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Specialty__c</field>
            <value>
                <elementReference>$Record.PC_Specialty__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Online_Rolling_Sum__c</field>
            <value>
                <elementReference>Subtract1RollingSum</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Rolling_Sum__c</field>
            <value>
                <elementReference>Subtract1Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Teams_Rolling_Sum__c</field>
            <value>
                <elementReference>Subtract1Teams</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wrap_Up_Rolling_Sum__c</field>
            <value>
                <elementReference>Subtract1WrapUp</elementReference>
            </value>
        </inputAssignments>
        <object>PC_Availability__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>update the triggering UserServicePresence with its channel availability settings determined from the Specialist&apos;s related service resource and skills</description>
        <name>Update_User_Presence</name>
        <label>Update User Presence</label>
        <locationX>1700</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Does_Prior_Record_Differ</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fail_to_Update_User_Presence</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>PC_Chat_Channel__c</field>
            <value>
                <elementReference>IsChatChannel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Phone_Channel__c</field>
            <value>
                <elementReference>IsPhoneChannel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Specialty__c</field>
            <value>
                <elementReference>Get_service_resource.PC_Assigned_Specialty__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Teams_Channel__c</field>
            <value>
                <elementReference>IsTeamsChannel</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PC_fields_populated</targetReference>
        </connector>
        <filterFormula>{!$Permission.DisableTriggersFlag} = FALSE   &amp;&amp; {!$Record.IsRunningTest_DO_NOT_USE__c} = FALSE &amp;&amp;
($Permission.0CP3d0000000578 = TRUE || {!$Permission.PC_Specialist} = TRUE)</filterFormula>
        <object>UserServicePresence</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>initiate the Availability snapshot generator process</description>
        <name>Launch_availability_generator</name>
        <label>Launch availability generator</label>
        <locationX>1502</locationX>
        <locationY>3257</locationY>
        <flowName>PC_Availability_Snapshot_Generator</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>IsChatChannel</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isNewRecord</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsPhoneChannel</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsTeamsChannel</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OnScheduledPath</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SkipLengthReq</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserSpecialty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
