force-app/main/default/flows/Subflow_Case_Close.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>No_Welfare_Check</name>
        <label>No Welfare Check</label>
        <locationX>842</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>caseOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Patient was No Show (No Welfare check)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Welfare_Check_Case_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Not_a_no_show</name>
        <label>Not a no show</label>
        <locationX>1106</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>caseOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProgressNoteDispositionRecommendationToCaseOutcome</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Not_No_Show_Update_Case_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>YesWelfareCheck</name>
        <label>Yes</label>
        <locationX>578</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>caseOutcome</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Patient was No Show (Welfare check requested)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Welfare_Check_Case_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Scheduling_Case_Progress_Note</name>
        <label>Check for Scheduling Case / Progress Note</label>
        <locationX>842</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>CloseCaseReminder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Admin_Case</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Case_ID.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VCC_Administrative</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PN_ID.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VCC_Scheduling_Progress_Note</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Progress_Notes</targetReference>
            </connector>
            <label>Is Admin Case</label>
        </rules>
        <rules>
            <name>Is_Pharm_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_ID.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VCC_Pharmacy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Pharmacy_Case</targetReference>
            </connector>
            <label>Is Pharm Case</label>
        </rules>
        <rules>
            <name>Is_Virtual_Clinic_Case</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PN_ID.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VCC_Virtual_Visit_Progress_Note</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_ID.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VCC_Vitrual_Clinic_Visit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Progress_Note_Signed</targetReference>
            </connector>
            <label>Is Virtual Clinic Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_running_user_own_case</name>
        <label>Does running user own case?</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Not_Case_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Running_User_Owns_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Owner_User.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Running_User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Triage_Tool_Utilized</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if progress note is signed</description>
        <name>Is_Progress_Note_Signed</name>
        <label>Is Progress Note Signed</label>
        <locationX>1139</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Close_VCV_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Signed</defaultConnectorLabel>
        <rules>
            <name>Is_Signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PN_ID.VCC_Signed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Show</targetReference>
            </connector>
            <label>Is Signed</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Show</name>
        <label>No Show?</label>
        <locationX>908</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Not_a_no_show</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_5</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>PN_ID.VCC_Patient_No_Show_no_welfare_check__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PN_ID.VCC_Patient_was_a_No_Show__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Welfare_Check</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Triage_Tool_Utilized</name>
        <label>Triage Tool Utilized</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Check_for_Scheduling_Case_Progress_Note</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Utilized_Triage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PN_ID.VCC_Triage_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Utilized Triage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Welfare_Check</name>
        <label>Welfare Check?</label>
        <locationX>710</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>No_Welfare_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PN_ID.VCC_Patient_was_a_No_Show__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>YesWelfareCheck</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Updated VCV to auto close case after signing progress note - Release 1.18.0 - (CCCM-36509)

Adding fields to close case screen Release 1.10.1 - Updated Case ID - Get Records element (CCCM-31138) &amp; (CCCM-32172)</description>
    <environments>Default</environments>
    <formulas>
        <name>DispositionNotesToCaseOutComeLimitedLength</name>
        <dataType>String</dataType>
        <expression>IF(
LEN({!PN_ID.VCC_Other_Disposition_Notes__c}) &gt; 255,
LEFT({!PN_ID.VCC_Other_Disposition_Notes__c}, 255),
{!PN_ID.VCC_Other_Disposition_Notes__c}
)</expression>
    </formulas>
    <formulas>
        <description>Progress Note Disposition Recommendation To Case Outcome</description>
        <name>ProgressNoteDispositionRecommendationToCaseOutcome</name>
        <dataType>String</dataType>
        <expression>CASE({!PN_ID.VCC_Disposition_Recommendations__c},
    &apos;911&apos;, &apos;911&apos;,
    &apos;Emergency Care - VA&apos;, &apos;Emergency Dept&apos;,
    &apos;Emergency Care - Community&apos;,&apos;Emergency Dept&apos;,
    &apos;Home Care&apos;,&apos;CCC VCV No Follow-Up Needed&apos; ,
    &apos;Mental Health&apos;,&apos;Mental Health&apos;,
    &apos;PCP Appointment&apos;,&apos;Primary Care&apos;,
    &apos;Pharmacy&apos;,&apos;Pharmacy&apos;,
    &apos;Specialty Care&apos;,&apos;Specialty Care&apos; ,
    &apos;Transfer to Member Services&apos;,&apos;Transfer to Member Services&apos;,
    &apos;Urgent Care - VA&apos;,&apos;Urgent Care&apos;,
    &apos;Urgent Care - Community&apos;,&apos;Urgent Care&apos;,
    &apos;Other&apos;, &apos;Other&apos;,
    &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <description>Outcomes if one of Welfare check checkboxes is selected</description>
        <name>Welfare_Check_Selection</name>
        <dataType>String</dataType>
        <expression>IF({!PN_ID.VCC_Patient_No_Show_no_welfare_check__c}, &quot;Patient was No Show (No Welfare check)&quot;, &quot;Patient was No Show (Welfare check requested)&quot;)</expression>
    </formulas>
    <interviewLabel>Subflow Case Close {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow Case Close</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Case_ID</name>
        <label>Case ID</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Owner_User</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PN_ID.VCC_Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner_User</name>
        <label>Get Owner User</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Running_User</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_ID.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PN_ID.VCC_Case__r.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Running_User</name>
        <label>Get Running User</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_running_user_own_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PN_ID</name>
        <label>PN ID</label>
        <locationX>1370</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VCC_Progress_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update No Show Case Record</description>
        <name>Not_No_Show_Update_Case_Record</name>
        <label>Not No Show Update Case Record</label>
        <locationX>1106</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>VCV_Case_Closed_Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PN_ID.VCC_Case__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed - Resolved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>PN_ID.VCC_Primary_Diagnosis_Code__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Case_Outcome__c</field>
            <value>
                <elementReference>caseOutcome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Case_Sub_Type__c</field>
            <value>
                <elementReference>PN_ID.VCC_Virtual_Visit_Type2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Case_Type__c</field>
            <value>
                <stringValue>VCV</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Other_Case_Outcome__c</field>
            <value>
                <elementReference>DispositionNotesToCaseOutComeLimitedLength</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Check_for_Scheduling_Case_Progress_Note</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PN_ID.VCC_Case__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>PN_ID.VCC_Chief_Complaint__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Case Records after checking for &apos;Welfare Check?&apos;</description>
        <name>Welfare_Check_Case_Update</name>
        <label>Welfare Check Case Update</label>
        <locationX>710</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>VCV_Case_Closed_Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PN_ID.VCC_Case__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed - Resolved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Welfare_Check_Selection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Case_Outcome__c</field>
            <value>
                <elementReference>Welfare_Check_Selection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Case_Type__c</field>
            <value>
                <stringValue>VCV</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>close_case</name>
        <label>close case</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Test</name>
            <extensionName>c:baseErrorMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>important</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>You are about to close your case. Did you complete all steps of your workflow?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Admin_Close_Case</name>
            <extensionName>c:vccCloseCaseV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CloseCaseReminder</name>
        <label>CloseCaseReminder</label>
        <locationX>1634</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>baseMessage</name>
            <extensionName>c:baseErrorMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>important</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>You are about to close your case. Did you complete all steps of your workflow?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CloseCase</name>
            <extensionName>c:vccCloseCaseV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Not_Case_Owner</name>
        <label>Not Case Owner</label>
        <locationX>1898</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Not_Case_Owner_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Not_Case_Owner_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Not_Case_Owner_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>notCaseOwnerText</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;You must be the case owner to close it. If appropriate, assign the case to yourself using the &quot;Assign
                        to Me&quot; button on the case record.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Not_Case_Owner_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to notify user that the case has closed successfully</description>
        <name>VCV_Case_Closed_Success</name>
        <label>VCV Case Closed Success</label>
        <locationX>908</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Case_Closed_Toast</name>
            <extensionName>c:vccFlowNotification</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Related VCV Case {!Case_ID.CaseNumber} has been closed </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>sticky</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Auto_Navigate_to_CloseScreen</name>
            <extensionName>c:vccFlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>maxTime</name>
                <value>
                    <stringValue>0:0:1:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLoader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showTimer</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showReset</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PN_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Check_for_Progress_Notes</name>
        <label>Check for Progress Notes</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>close_case</targetReference>
        </connector>
        <flowName>VCC_Check_Case_ProgressNote_SubFlow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Case_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Subflow for Pharmacy specific Case closure logic.</description>
        <name>Close_Pharmacy_Case</name>
        <label>Close Pharmacy Case</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <flowName>VCC_Close_Case_Pharm</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Close_VCV_Case</name>
        <label>Close VCV Case</label>
        <locationX>1370</locationX>
        <locationY>1190</locationY>
        <flowName>VCC_Close_Case_VCV</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Case_ID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>caseOutcome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>closeCaseVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
