force-app/main/default/flows/TED_Nurse_Progress_Note.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>openNewSubtab</name>
        <label>openNewSubtab</label>
        <locationX>1194</locationX>
        <locationY>3647</locationY>
        <actionName>c:tucRedirectViaWorkspace</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>NewProgressNoteID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordObject</name>
            <value>
                <stringValue>VCC_Progress_Note__c</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:tucRedirectViaWorkspace</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>assign the value from the outcome detail field that appears when choosing Care Incomplete</description>
        <name>Assign_Ci_OD</name>
        <label>Assign Ci OD</label>
        <locationX>1427</locationX>
        <locationY>2712</locationY>
        <assignmentItems>
            <assignToReference>OutcomeDetailToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Outcome_Detail_Ci</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Virtual_Visit_Subtype</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign the value from the outcome detail field that appears when choosing Emergency Department</description>
        <name>Assign_ED_OD</name>
        <label>Assign ED OD</label>
        <locationX>976</locationX>
        <locationY>2706</locationY>
        <assignmentItems>
            <assignToReference>OutcomeDetailToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Outcome_Detail_ED</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Virtual_Visit_Subtype</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign the value from the outcome detail field that appears when choosing Urgent Care</description>
        <name>Assign_UC_OD</name>
        <label>Assign UC OD</label>
        <locationX>1096</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>OutcomeDetailToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Outcome_Detail_UC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Virtual_Visit_Subtype</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_for_Phone</name>
        <label>Assignment for Phone</label>
        <locationX>1085</locationX>
        <locationY>2935</locationY>
        <assignmentItems>
            <assignToReference>Phone_Consent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Phone_Visit_Consent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Video_Consent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RN_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Both VVC and CVT modalities require a video consent and phone consent equal to False</description>
        <name>Assignment_for_VVC</name>
        <label>Assignment for VVC &amp; CVT</label>
        <locationX>1283</locationX>
        <locationY>2934</locationY>
        <assignmentItems>
            <assignToReference>Video_Consent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Video_Visit_Consent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Phone_Consent</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RN_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Negative_Result</name>
        <label>Negative Result</label>
        <locationX>1187</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>varColumbiaScreeningResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Negative</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Columbia_Screening_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>When no Triage Tool is used the Date/Time stamp for Vital Signs will be the Clinical Triage Progress Note Created Date/Time</description>
        <name>PN_Date_Time</name>
        <label>PN Date Time</label>
        <locationX>1088</locationX>
        <locationY>641</locationY>
        <assignmentItems>
            <assignToReference>varTriage_or_PNDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Progress_Note.Created_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tele_EC_Progress_Note</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Positive_Result</name>
        <label>Positive Result</label>
        <locationX>922</locationX>
        <locationY>1341</locationY>
        <assignmentItems>
            <assignToReference>varColumbiaScreeningResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Positive</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TasksRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>When the Triage Tool is used the Date/Time stamp for Vital Signs will be the Clinical Triage Progress Note VCC_Triage_Date__c.</description>
        <name>Triage_DateTime</name>
        <label>Triage DateTime</label>
        <locationX>1276</locationX>
        <locationY>644</locationY>
        <assignmentItems>
            <assignToReference>varTriage_or_PNDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Progress_Note.VCC_Triage_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Tele_EC_Progress_Note</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Case Outcome picklist value</description>
        <name>c911</name>
        <choiceText>911</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>911</stringValue>
        </value>
    </choices>
    <choices>
        <description>Case Outcome picklist value</description>
        <name>Care_Incomplete</name>
        <choiceText>Care Incomplete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Care Incomplete</stringValue>
        </value>
    </choices>
    <choices>
        <description>A user will select this option if their answer to &quot;Will you be completing a Columbia Screening?&quot; is No.</description>
        <name>ColumbiaScreeningNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <description>A user will select this option if their answer to &quot;Will you be completing a Columbia Screening?&quot; is Yes.</description>
        <name>ColumbiaScreeningYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <description>Case Outcome Detail picklist value</description>
        <name>Community_Emergency_Department</name>
        <choiceText>Community Emergency Department</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Community Emergency Department</stringValue>
        </value>
    </choices>
    <choices>
        <description>Case Outcome Detail picklist value</description>
        <name>Community_Urgent_Care</name>
        <choiceText>Community Urgent Care</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Community Urgent Care</stringValue>
        </value>
    </choices>
    <choices>
        <description>Case Outcome Detail picklist value</description>
        <name>Connection_Failure</name>
        <choiceText>Connection Failure</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Connection Failure</stringValue>
        </value>
    </choices>
    <choices>
        <description>Clinical Video Telehealth Modality</description>
        <name>CVT_Choice</name>
        <choiceText>CVT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CVT</stringValue>
        </value>
    </choices>
    <choices>
        <description>Case Outcome Detail picklist value</description>
        <name>Declined_by_Veteran</name>
        <choiceText>Declined by Veteran</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Declined by Veteran</stringValue>
        </value>
    </choices>
    <choices>
        <description>Case Outcome picklist value</description>
        <name>Emergency_Department</name>
        <choiceText>Emergency Department</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Emergency Department</stringValue>
        </value>
    </choices>
    <choices>
        <name>Phone_Choice</name>
        <choiceText>Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </choices>
    <choices>
        <description>Case Outcome picklist value</description>
        <name>Transferred_to_Tele_EC_Medical_Provider</name>
        <choiceText>Transferred to Tele-EC Medical Provider</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transferred to Tele-EC Medical Provider	</stringValue>
        </value>
    </choices>
    <choices>
        <description>Case Outcome picklist value</description>
        <name>Urgent_Care</name>
        <choiceText>Urgent Care</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Urgent Care</stringValue>
        </value>
    </choices>
    <choices>
        <description>Case Outcome Detail picklist value</description>
        <name>VA_Emergency_Department</name>
        <choiceText>VA Emergency Department</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VA Emergency Department</stringValue>
        </value>
    </choices>
    <choices>
        <description>Case Outcome Detail picklist value</description>
        <name>VA_Urgent_Care</name>
        <choiceText>VA Urgent Care</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VA Urgent Care</stringValue>
        </value>
    </choices>
    <choices>
        <name>VVC_Choice</name>
        <choiceText>VVC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VVC</stringValue>
        </value>
    </choices>
    <constants>
        <description>This constant utilizes the Empty String value to construct a line break for use in formatting of medication, allergy, and problem text screen components</description>
        <name>linebreak</name>
        <dataType>String</dataType>
        <value>
            <stringValue />
        </value>
    </constants>
    <decisions>
        <name>Check_Virtual_Visit_Subtype</name>
        <label>Check Virtual Visit Subtype</label>
        <locationX>1179</locationX>
        <locationY>2848</locationY>
        <defaultConnector>
            <targetReference>Assignment_for_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Visit_is_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Visit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_for_Phone</targetReference>
            </connector>
            <label>Visit is Phone</label>
        </rules>
        <rules>
            <name>Visit_is_VVC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Visit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VVC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_for_VVC</targetReference>
            </connector>
            <label>Visit is VVC</label>
        </rules>
        <rules>
            <name>Visit_is_CVT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Visit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CVT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_for_VVC</targetReference>
            </connector>
            <label>Visit is CVT</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decide if the result of a Columbia Screening is negative or positive.</description>
        <name>Columbia_Screening_Result</name>
        <label>Columbia Screening Result</label>
        <locationX>1180</locationX>
        <locationY>1349</locationY>
        <defaultConnector>
            <targetReference>Negative_Result</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Negative Columbia</defaultConnectorLabel>
        <rules>
            <name>Positive_Columbia</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Answer_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Answer_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Answer_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Answer_8</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Positive_Result</targetReference>
            </connector>
            <label>Positive Columbia</label>
        </rules>
    </decisions>
    <decisions>
        <description>Was a Triage Tool used to document Vital Signs?</description>
        <name>CT_RN_Triage_Completed</name>
        <label>CT RN Triage Completed</label>
        <locationX>1175</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>Triage_DateTime</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Progress_Note.VCC_Triage_Date__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>PN_Date_Time</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_a_Parent_Case</name>
        <label>Has a Parent Case</label>
        <locationX>1072</locationX>
        <locationY>281</locationY>
        <defaultConnector>
            <targetReference>Get_Progress_Note</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Parent Case</defaultConnectorLabel>
        <rules>
            <name>No_Parent_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.Parent.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue />
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>No Parent Case</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision is for when a patient is not reached, it will branch off and end the flow, otherwise continue on normally.</description>
        <name>HasPatientBeenReached</name>
        <label>HasPatientBeenReached</label>
        <locationX>548</locationX>
        <locationY>936</locationY>
        <defaultConnector>
            <targetReference>Evaluation_Type_and_Consult_Origin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PatientHasNOTBeenReached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Has_the_patient_been_reachedRadioButtons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HasPatientBeenReachedTextVariable</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateProgressNoteIsPatientReached</targetReference>
            </connector>
            <label>PatientHasNOTBeenReached</label>
        </rules>
    </decisions>
    <decisions>
        <description>Depending on which Outcome was chosen in the previous screen, A different Outcome Detail Picklist was used. It needs to be determined which field value needs to be stored based on the options chosen, so that the record can be updated accordingly.</description>
        <name>Outcome_Detail_Assignment_Signpost</name>
        <label>Outcome Detail Assignment Signpost</label>
        <locationX>1179</locationX>
        <locationY>2501</locationY>
        <defaultConnector>
            <targetReference>Check_Virtual_Visit_Subtype</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>911 chosen</defaultConnectorLabel>
        <rules>
            <name>Emergency_Dept_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Emergency_Department</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ED_OD</targetReference>
            </connector>
            <label>Emergency Dept Chosen</label>
        </rules>
        <rules>
            <name>Urgent_Care_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Urgent_Care</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_UC_OD</targetReference>
            </connector>
            <label>Urgent Care Chosen</label>
        </rules>
        <rules>
            <name>Care_Incomplete_Chosen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Outcome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Care_Incomplete</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Ci_OD</targetReference>
            </connector>
            <label>Care Incomplete Chosen</label>
        </rules>
    </decisions>
    <decisions>
        <description>Users will be prompted to select yes or no to &quot;Will you be completing a Columbia Screening?&quot;, If yes the Columbia Screening questionnaire will be completed if no the questionnaire will be bypassed and no Columbia Screening Record will be created.</description>
        <name>Will_a_Columbia_Screening_be_completed</name>
        <label>Will a Columbia Screening be completed?</label>
        <locationX>1495</locationX>
        <locationY>1282</locationY>
        <defaultConnector>
            <targetReference>Update_PN_no_Columbia_Screening_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Will_you_be_completing_a_Columbia_Screening</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ColumbiaScreeningYes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Columbia_Screening</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>From a Tele EC Case Record Page, the &quot;Nurse Progress Note&quot; action will launch the TED Nurse Progress Note Screen Flow to create a Tele-EC Nurse Progress Note and Columbia Screening Records.
Release 1.12.0 Vital Signs Timestamps
Release 1.13.0 Add Change Toggle Validation Formula to skip the Progress Note Columbia Screening Validation Rule
Release 1.14.0 Add Chief Complaint field
Adding Outcomes
1.15.0 Patient verification data, alignment with VHA Directive 1907.09
1.16.0 CVT modality in Type of Visit
1.17.0 PTEMSTUC-2446 Added Variables to capture and concatenate historical Medications, Problems, and Allergies to newly entered values. Added Get Records. Updated the Vitals screen Long text fields. Updated the last Update Records node.
1.17.0 PTEMSTUC-2272 Moved Tele Health disclosures screen first, and added a radio button of &quot;Has the patient been contacted&quot;, required and added correct previous buttons
1.17.0 PTEMSTUC-2605 Tele-EC RN Receives Error When Using Previous Button on Columbia Screening Screen Within Create PN Flow
1.17.0 PTEMSTUC-2739 Default &quot;Type of Visit&quot; to &apos;Phone&quot; if &quot;No, Patient has not been reached&quot; is selected
1.17.0 PTEMSTUC-2943 Remove &quot;/patient denied care&quot; wording
1.18.0 PTEMSTUC-2792 Update Columbia Screening flow and decouple CS and PN
1.19.0 PTEMSTUC-2332 Date/Time will update to current date/time on PN when edited in UI
1.20.1 PTEMSTUC-3271 Update the Columbia Screening Questions in the RN Progress Note</description>
    <dynamicChoiceSets>
        <name>Answer1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>TED_Answer_1__c</picklistField>
        <picklistObject>TED_Columbia_Screening__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Answer2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>TED_Answer_2__c</picklistField>
        <picklistObject>TED_Columbia_Screening__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Answer3</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>TED_Answer_3__c</picklistField>
        <picklistObject>TED_Columbia_Screening__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Answer4</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>TED_Answer_4__c</picklistField>
        <picklistObject>TED_Columbia_Screening__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Answer5</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>TED_Answer_5__c</picklistField>
        <picklistObject>TED_Columbia_Screening__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Answer6</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>TED_Answer_6__c</picklistField>
        <picklistObject>TED_Columbia_Screening__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Answer7</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>TED_Answer_7__c</picklistField>
        <picklistObject>TED_Columbia_Screening__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Answer8</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>TED_Answer_8__c</picklistField>
        <picklistObject>TED_Columbia_Screening__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Blood Pressure Reported or Observed</description>
        <name>BloodPressureMethod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>VCC_Blood_Pressure_Method__c</picklistField>
        <picklistObject>VCC_Progress_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Pulse Reported or Observed</description>
        <name>cPulseMethod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>TED_Pulse_Method__c</picklistField>
        <picklistObject>VCC_Progress_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Gender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>VCC_Gender__c</picklistField>
        <picklistObject>VCC_Progress_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>This holds the &quot;TUC_Has_the_patient_been_reached__c&quot; picklist from the progress note</description>
        <name>HasThePatientBeenReachedPicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>TUC_Has_the_patient_been_reached__c</picklistField>
        <picklistObject>VCC_Progress_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PainScore</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>VCC_Pain_Score__c</picklistField>
        <picklistObject>VCC_Progress_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PatientHeight</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>VCC_Height__c</picklistField>
        <picklistObject>VCC_Progress_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProgressNoteType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>TUC_Progress_Note_Type__c</picklistField>
        <picklistObject>VCC_Progress_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Pulse Oximetry Reported or Observed</description>
        <name>PulseOximetryMethod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>VCC_Pulse_Oximeter_Method__c</picklistField>
        <picklistObject>VCC_Progress_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SuicideScreen</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>TED_Suicide_Screen__c</picklistField>
        <picklistObject>VCC_Progress_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TED_Reason_for_Referral</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>TED_Reason_for_Referral__c</picklistField>
        <picklistObject>VCC_Progress_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Temperature Reported or Observed</description>
        <name>TemperatureMethod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>VCC_Temperature_F_Method__c</picklistField>
        <picklistObject>VCC_Progress_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TUC_EvaluationType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>TUC_Evaluation_Type__c</picklistField>
        <picklistObject>VCC_Progress_Note__c</picklistObject>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Select Progress Note Type: Tele-EC Chart Review or Tele-EC MP Progress Note</description>
        <name>TUC_Progress_Note_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>TUC_Progress_Note_Type__c</picklistField>
        <picklistObject>VCC_Progress_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>TUC Consult outcome after patient assessment.</description>
        <name>TUC_ProgressNoteOutcome</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>TUC_Outcome__c</picklistField>
        <picklistObject>VCC_Progress_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TUC_TriageTimeDowngraded</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>TUC_Triage_Time_is_Downgraded__c</picklistField>
        <picklistObject>VCC_Progress_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TUC_TriageTimeUpgraded</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>TUC_Triage_Time_is_Downgraded__c</picklistField>
        <picklistObject>VCC_Progress_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Weight Reported or Observed</description>
        <name>WeightMethod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>VCC_Weight_Method__c</picklistField>
        <picklistObject>VCC_Progress_Note__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>BloodPressMethod</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Progress_Note.VCC_Diastolic_Blood_Pressure__c}), NULL,&quot;Reported&quot;)</expression>
    </formulas>
    <formulas>
        <description>Columbia due in 24 hours</description>
        <name>ColumbiaDueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 1</expression>
    </formulas>
    <formulas>
        <description>Concatenates Questions and Answers for the Columbia screening questionnaire.</description>
        <name>ColumbiaQ1</name>
        <dataType>String</dataType>
        <expression>&quot;Over the past month, have you wished you were dead or wished you could go to sleep and not wake up?&quot; &amp;&apos; &apos;&amp; {!Answer_1}</expression>
    </formulas>
    <formulas>
        <name>ColumbiaQ2</name>
        <dataType>String</dataType>
        <expression>&quot;Over the past month, have you actually had any thoughts about killing yourself?&quot;&amp;&apos; &apos;&amp;{!Answer_2}</expression>
    </formulas>
    <formulas>
        <name>ColumbiaQ3</name>
        <dataType>String</dataType>
        <expression>&quot;Over the past month, have you been thinking about how you might do this?&quot; &amp;&apos; &apos;&amp;{!Answer_3}</expression>
    </formulas>
    <formulas>
        <name>ColumbiaQ4</name>
        <dataType>String</dataType>
        <expression>&quot;Over the past month, have you had these thoughts and had some intention of acting on them?&quot;&amp;&apos; &apos;&amp;{!Answer_4}</expression>
    </formulas>
    <formulas>
        <name>ColumbiaQ5</name>
        <dataType>String</dataType>
        <expression>&quot;Over the past month, have you started to work out or worked out the details of how to kill yourself?&quot;&amp;&apos; &apos;&amp;{!Answer_5}</expression>
    </formulas>
    <formulas>
        <name>ColumbiaQ6</name>
        <dataType>String</dataType>
        <expression>&quot;If yes, at any time in the past month did you intend to carry out this plan?&quot;&amp;&apos; &apos;&amp;{!Answer_6}</expression>
    </formulas>
    <formulas>
        <name>ColumbiaQ7</name>
        <dataType>String</dataType>
        <expression>&quot;In your lifetime, have you done anything, started to do anything, or prepared to do anything to end your life?&quot;&amp;&apos; &apos;&amp;{!Answer_7}</expression>
    </formulas>
    <formulas>
        <name>ColumbiaQ8</name>
        <dataType>String</dataType>
        <expression>&quot;If yes, was this within the past 3 months?&quot;&amp;&apos; &apos;&amp;{!Answer_8}</expression>
    </formulas>
    <formulas>
        <description>This formula concatenates 2 medication fields from the CT progress note so they may be viewed as a single list on the Vitals screen

IF both fields are not blank
Then concatenate them
Else 
if the first field is blank, 
then populate the other field
else populate the first field</description>
        <name>CT_Medications_Concat</name>
        <dataType>String</dataType>
        <expression>IF(AND(NOT(ISBLANK({!Get_Progress_Note.VCC_NonVA_Medications_Renewal_Request__c})),NOT(ISBLANK({!Get_Progress_Note.VCC_Medications_Refill_Renewal_Request__c}))), {!Get_Progress_Note.VCC_Medications_Refill_Renewal_Request__c}&amp; &apos;, &apos;&amp;{!Get_Progress_Note.VCC_NonVA_Medications_Renewal_Request__c}, IF(ISBLANK({!Get_Progress_Note.VCC_Medications_Refill_Renewal_Request__c}), {!Get_Progress_Note.VCC_NonVA_Medications_Renewal_Request__c}, {!Get_Progress_Note.VCC_Medications_Refill_Renewal_Request__c}))</expression>
    </formulas>
    <formulas>
        <description>Clinical Triage Progress Note has data for Vital Signs the Method defaults to Reported. If there are no Clinical Triage Vitals when a Tele-EC User inputs a value Method field should default to Observed if not NULL.</description>
        <name>forBloodPressureMethod</name>
        <dataType>String</dataType>
        <expression>IF(
NOT(ISBLANK({!Get_Progress_Note.VCC_Systolic_Blood_Pressure__c})), 
&quot;Reported&quot;,
IF(
ISBLANK ({!Get_Progress_Note.VCC_Systolic_Blood_Pressure__c}) &amp;&amp; NOT (ISBLANK ({!Systolic_Blood_Pressure})),
 &quot;Observed&quot;,
IF(
ISBLANK ({!Get_Progress_Note.VCC_Systolic_Blood_Pressure__c}) &amp;&amp; ISBLANK ({!Systolic_Blood_Pressure}),
 NULL,
&quot;&quot;
      )
    )
)</expression>
    </formulas>
    <formulas>
        <description>If Method field is Observed Date/Time field is NOW(), if Method is Reported Date/Time is TXCC Date/Time if a Triage Tool was used, if no Triage Tool was used Date/Time is Clinical Triage Progress Note Date/Time. If there are no Vitales Date/Time is NULL</description>
        <name>forBloodPressureTimeStamp</name>
        <dataType>DateTime</dataType>
        <expression>IF({!Blood_Pressure_Method= &apos;Observed&apos;}, {!$Flow.CurrentDateTime}, 
IF({!Blood_Pressure_Method= &apos;Reported&apos;}, {!varTriage_or_PNDate}, NULL))</expression>
    </formulas>
    <formulas>
        <description>Formula to Bypass Columbia Screening Validation Rule when updating a Nurse Progress Note through the Flow.</description>
        <name>forChangeToggleValidation</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Get_Progress_Note.TED_ToggleValidation__c}=TRUE, FALSE, TRUE)</expression>
    </formulas>
    <formulas>
        <name>forPulseMethod</name>
        <dataType>String</dataType>
        <expression>IF(
NOT(ISBLANK({!Get_Progress_Note.VCC_Pulse__c})), 
&quot;Reported&quot;,
IF(
ISBLANK ({!Get_Progress_Note.VCC_Pulse__c}) &amp;&amp; NOT (ISBLANK ({!Pulse})),
 &quot;Observed&quot;,
IF(
ISBLANK ({!Get_Progress_Note.VCC_Pulse__c}) &amp;&amp; ISBLANK ({!Pulse}),
 NULL,
&quot;&quot;
      )
    )
)</expression>
    </formulas>
    <formulas>
        <description>Clinical Triage Progress Note has data for Vital Signs the Method defaults to Reported. If there are no Clinical Triage Vitals when a Tele-EC User inputs a value Method field should default to Observed if not NULL.</description>
        <name>forPulseOximetryMethod</name>
        <dataType>String</dataType>
        <expression>IF(
NOT(ISBLANK({!Get_Progress_Note.VCC_Pulse_Oximetry__c})), 
&quot;Reported&quot;,
IF(
ISBLANK ({!Get_Progress_Note.VCC_Pulse_Oximetry__c}) &amp;&amp; NOT (ISBLANK ({!Pulse_Oximetry})),
 &quot;Observed&quot;,
IF(
ISBLANK ({!Get_Progress_Note.VCC_Pulse_Oximetry__c}) &amp;&amp; ISBLANK ({!Pulse_Oximetry}),
 NULL,
&quot;&quot;
      )
    )
)</expression>
    </formulas>
    <formulas>
        <description>If Method field is Observed Date/Time field is NOW(), if Method is Reported Date/Time is TXCC Date/Time if a Triage Tool was used, if no Triage Tool was used Date/Time is Clinical Triage Progress Note Date/Time. If there are no Vitales Date/Time is NULL</description>
        <name>forPulseOximetryTimeStamp</name>
        <dataType>DateTime</dataType>
        <expression>IF({!Pulse_Oximetry_Method = &apos;Observed&apos;}, {!$Flow.CurrentDateTime}, 
IF({!Pulse_Oximetry_Method = &apos;Reported&apos;}, {!varTriage_or_PNDate}, NULL))</expression>
    </formulas>
    <formulas>
        <description>If Method field is Observed Date/Time field is NOW(), if Method is Reported Date/Time is TXCC Date/Time if a Triage Tool was used, if no Triage Tool was used Date/Time is Clinical Triage Progress Note Date/Time. If there are no Vitales Date/Time is NULL</description>
        <name>forPulseTimeStamp</name>
        <dataType>DateTime</dataType>
        <expression>IF({!PulseMethod = &apos;Observed&apos;}, {!$Flow.CurrentDateTime}, 
IF({!PulseMethod = &apos;Reported&apos;}, {!varTriage_or_PNDate}, NULL))</expression>
    </formulas>
    <formulas>
        <description>Clinical Triage Progress Note has data for Vital Signs the Method defaults to Reported. If there are no Clinical Triage Vitals when a Tele-EC User inputs a value Method field should default to Observed if not NULL.</description>
        <name>forTemperatureFMethod</name>
        <dataType>String</dataType>
        <expression>IF(
NOT(ISBLANK ({!Get_Progress_Note.VCC_Temperature__c})), 
&quot;Reported&quot;,
IF(
ISBLANK ({!Get_Progress_Note.VCC_Temperature__c}) &amp;&amp; NOT (ISBLANK ({!Temperature})),
&quot;Observed&quot;,
IF(
ISBLANK ({!Get_Progress_Note.VCC_Temperature__c}) &amp;&amp; ISBLANK ({!Temperature}),
NULL,
&quot;&quot;
)
)
)</expression>
    </formulas>
    <formulas>
        <description>If Method field is Observed Date/Time field is NOW(), if Method is Reported Date/Time is TXCC Date/Time if a Triage Tool was used, if no Triage Tool was used Date/Time is Clinical Triage Progress Note Date/Time. If there are no Vitales Date/Time is NULL</description>
        <name>forTemperatureTimeStamp</name>
        <dataType>DateTime</dataType>
        <expression>IF({!Temperature_F_Method = &apos;Observed&apos;}, {!$Flow.CurrentDateTime}, 
IF({!Temperature_F_Method = &apos;Reported&apos;}, {!varTriage_or_PNDate}, NULL))</expression>
    </formulas>
    <formulas>
        <description>Clinical Triage Progress Note has data for Vital Signs the Method defaults to Reported. If there are no Clinical Triage Vitals when a Tele-EC User inputs a value Method field should default to Observed if not NULL.</description>
        <name>forWeightMethod</name>
        <dataType>String</dataType>
        <expression>IF(
NOT(ISBLANK({!Get_Progress_Note.VCC_Weight__c})), 
&quot;Reported&quot;,
IF(
ISBLANK ({!Get_Progress_Note.VCC_Weight__c}) &amp;&amp; NOT (ISBLANK ({!Weight})),
 &quot;Observed&quot;,
IF(
ISBLANK ({!Get_Progress_Note.VCC_Weight__c}) &amp;&amp; ISBLANK ({!Weight}),
 NULL,
&quot;&quot;
      )
    )
)</expression>
    </formulas>
    <formulas>
        <description>If Method field is Observed Date/Time field is NOW(), if Method is Reported Date/Time is TXCC Date/Time if a Triage Tool was used, if no Triage Tool was used Date/Time is Clinical Triage Progress Note Date/Time. If there are no Vitales Date/Time is NULL</description>
        <name>forWeightTimeStamp</name>
        <dataType>DateTime</dataType>
        <expression>IF({!Weight_Method = &apos;Observed&apos;}, {!$Flow.CurrentDateTime}, 
IF({!Weight_Method = &apos;Reported&apos;},{!varTriage_or_PNDate}, NULL))</expression>
    </formulas>
    <formulas>
        <description>This formula combines the historic and new medications together in order to update the progress note (from the lwc and text field on the Vitals screen)</description>
        <name>medicationsCombined</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Current_Progress_Note_Infos.TUC_Active_Outpatient_Medications__c}), 
{!Reported_Active_Outpatient_Medications}, 
    IF(CONTAINS({!Reported_Active_Outpatient_Medications}, &quot;Medication Name - Dosage - Status&quot;), 
    {!Get_Current_Progress_Note_Infos.TUC_Active_Outpatient_Medications__c} + 
    SUBSTITUTE({!Reported_Active_Outpatient_Medications}, &quot;Medication Name - Dosage - Status&quot;, {!linebreakTemplate}), 
    {!Get_Current_Progress_Note_Infos.TUC_Active_Outpatient_Medications__c} + {!linebreakTemplate} + {!linebreakTemplate} + 
    {!Reported_Active_Outpatient_Medications}
    )
)</expression>
    </formulas>
    <formulas>
        <name>Pulse_Method</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Progress_Note.VCC_Pulse__c}), NULL, &quot;Reported&quot;)</expression>
    </formulas>
    <formulas>
        <name>PulseOximetry_Method</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Progress_Note.VCC_Pulse_Oximetry__c}), NULL, &quot;Reported&quot;)</expression>
    </formulas>
    <formulas>
        <name>TemperatureFMethod</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Progress_Note.VCC_Temperature__c}), NULL, &quot;Reported&quot;)</expression>
    </formulas>
    <formulas>
        <name>WeightVitalMethod</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Progress_Note.VCC_Weight__c}), NULL, &quot;Reported&quot;)</expression>
    </formulas>
    <interviewLabel>TED Nurse Progress Note {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TED Nurse Progress Note</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Columbia Screening Records</description>
        <name>Create_Columbia_Screening_Records</name>
        <label>Create Columbia Screening Records</label>
        <locationX>1187</locationX>
        <locationY>1778</locationY>
        <connector>
            <targetReference>Update_Nurse_PN_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Columbia_Screening_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Progress_Note__c</field>
            <value>
                <elementReference>NewProgressNoteID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Answer_1__c</field>
            <value>
                <elementReference>Answer_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Answer_2__c</field>
            <value>
                <elementReference>Answer_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Answer_3__c</field>
            <value>
                <elementReference>Answer_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Answer_4__c</field>
            <value>
                <elementReference>Answer_4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Answer_5__c</field>
            <value>
                <elementReference>Answer_5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Answer_6__c</field>
            <value>
                <elementReference>Answer_6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Answer_7__c</field>
            <value>
                <elementReference>Answer_7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Answer_8__c</field>
            <value>
                <elementReference>Answer_8</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Columbia_Screening_Result__c</field>
            <value>
                <elementReference>varColumbiaScreeningResult</elementReference>
            </value>
        </inputAssignments>
        <object>TED_Columbia_Screening__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create a &quot;Draft&quot; Tele-EC Nurse Progress Note if the PN flow is canceled.</description>
        <name>Create_Tele_EC_Progress_Note</name>
        <label>Create Tele-EC Progress Note</label>
        <locationX>1186</locationX>
        <locationY>736</locationY>
        <assignRecordIdToReference>NewProgressNoteID</assignRecordIdToReference>
        <connector>
            <targetReference>TUC_Patient_Location_and_Callback_Number_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_PN_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetRNProgressNoteRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Blood_Pressure_Date_Time__c</field>
            <value>
                <elementReference>varTriage_or_PNDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Pulse_Date_Time__c</field>
            <value>
                <elementReference>varTriage_or_PNDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Pulse_Method__c</field>
            <value>
                <elementReference>forPulseMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Pulse_Oximetry_Date_Time__c</field>
            <value>
                <elementReference>varTriage_or_PNDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Temperature_F_Date_Time__c</field>
            <value>
                <elementReference>varTriage_or_PNDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Weight_Date_Time__c</field>
            <value>
                <elementReference>varTriage_or_PNDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Blood_Pressure_Method__c</field>
            <value>
                <elementReference>forBloodPressureMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Case__c</field>
            <value>
                <elementReference>TUC_CurrentCaseRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Diastolic_Blood_Pressure__c</field>
            <value>
                <elementReference>Get_Progress_Note.VCC_Diastolic_Blood_Pressure__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Height__c</field>
            <value>
                <elementReference>Get_Progress_Note.VCC_Height__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Pain_Score__c</field>
            <value>
                <elementReference>Get_Progress_Note.VCC_Pain_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Pulse_Oximeter_Method__c</field>
            <value>
                <elementReference>forPulseOximetryMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Pulse_Oximetry__c</field>
            <value>
                <elementReference>Get_Progress_Note.VCC_Pulse_Oximetry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Pulse__c</field>
            <value>
                <elementReference>Get_Progress_Note.VCC_Pulse__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Respiratory_Rate__c</field>
            <value>
                <elementReference>Get_Progress_Note.VCC_Respiratory_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Serum_Glucose__c</field>
            <value>
                <elementReference>Get_Progress_Note.VCC_Serum_Glucose__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Systolic_Blood_Pressure__c</field>
            <value>
                <elementReference>Get_Progress_Note.VCC_Systolic_Blood_Pressure__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Temperature_F_Method__c</field>
            <value>
                <elementReference>forTemperatureFMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Temperature__c</field>
            <value>
                <elementReference>Get_Progress_Note.VCC_Temperature__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Weight_Method__c</field>
            <value>
                <elementReference>forWeightMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Weight__c</field>
            <value>
                <elementReference>Get_Progress_Note.VCC_Weight__c</elementReference>
            </value>
        </inputAssignments>
        <object>VCC_Progress_Note__c</object>
    </recordCreates>
    <recordCreates>
        <description>Element to create a Task when a Columbia Screening is Positive</description>
        <name>CreateTasks</name>
        <label>CreateTasks</label>
        <locationX>916</locationX>
        <locationY>1778</locationY>
        <connector>
            <targetReference>Create_Columbia_Screening_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Task_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>ColumbiaDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetTaskQueue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TasksRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Columbia +</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Task_Order_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Case__c</field>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Case_Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>986</locationX>
        <locationY>392</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRNProgressNoteRecordType</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_Account_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Case Record ID</description>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>1080</locationX>
        <locationY>176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_a_Parent_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This Get is used to retrieve 1 field value on the current progress note that was created in this flow. This field will be used to update the Active Patient Medications field on the Progress note. (Formulas: medicationsCombined)</description>
        <name>Get_Current_Progress_Note_Infos</name>
        <label>Get Current Progress Note Infos</label>
        <locationX>1194</locationX>
        <locationY>3207</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Nurse_PN</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_Current_PN_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewProgressNoteID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VCC_Progress_Note__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TUC_Active_Outpatient_Medications__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Progress_Note</name>
        <label>Get Progress Note</label>
        <locationX>1215</locationX>
        <locationY>392</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_PN_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VCC_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record.Parent.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VCC_Progress_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>When a Tele-EC Progress Note creation is cancelled the &quot;Draft&quot; version of the Progress Note that is saved should default to a PN Tele-EC Record Type</description>
        <name>GetRNProgressNoteRecordType</name>
        <label>GetRNProgressNoteRecordType</label>
        <locationX>987</locationX>
        <locationY>519</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CT_RN_Triage_Completed</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_RecordType_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCC_Progress_Note__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TUC_Consultation_with_Triage_RN</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTaskQueue</name>
        <label>GetTaskQueue</label>
        <locationX>917</locationX>
        <locationY>1639</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateTasks</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_Task_Queue_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TED_Tasks_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RN_Record_Type</name>
        <label>RN Record Type</label>
        <locationX>1193</locationX>
        <locationY>3094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Progress_Note_Infos</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_Record_Type_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCC_Progress_Note__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TUC_Consultation_with_Triage_RN</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ProgressNoteRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Tele EC Task record type</description>
        <name>TasksRecordType</name>
        <label>TasksRecordType</label>
        <locationX>922</locationX>
        <locationY>1511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTaskQueue</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_Task_RecordType_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TED_Task</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Flag from True (default value) to False. This field works in the backend for Tele-EC Progress Note Flows, and &apos;Vital Signs Time Stamp Update&apos; Record Triggered Flow.</description>
        <name>Update_Flag</name>
        <label>Update Flag</label>
        <locationX>1193</locationX>
        <locationY>3438</locationY>
        <connector>
            <targetReference>New_Progress_Note_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flag_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewProgressNoteID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TED_Is_ScreenFlow_Update__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>VCC_Progress_Note__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Nurse&apos;s Progress Note Record</description>
        <name>Update_Nurse_PN</name>
        <label>Update Nurse PN</label>
        <locationX>1193</locationX>
        <locationY>3325</locationY>
        <connector>
            <targetReference>Update_Flag</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_NursePN_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewProgressNoteID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ProgressNoteRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Blood_Pressure_Date_Time__c</field>
            <value>
                <elementReference>Date_Time_Recorded_BloodPressure</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Chief_Complaint__c</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Is_ScreenFlow_Update__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Pulse_Date_Time__c</field>
            <value>
                <elementReference>Date_Time_Recorded_Pulse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Pulse_Method__c</field>
            <value>
                <elementReference>PulseMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Pulse_Oximetry_Date_Time__c</field>
            <value>
                <elementReference>Date_Time_Recorded_PulseOximetry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Subject__c</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Temperature_F_Date_Time__c</field>
            <value>
                <elementReference>Date_Time_Recorded_Temperature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_ToggleValidation__c</field>
            <value>
                <elementReference>forChangeToggleValidation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Veteran_Current_Email_Address__c</field>
            <value>
                <elementReference>Current_Email_Address.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Weight_Date_Time__c</field>
            <value>
                <elementReference>Date_Time_Recorded_Weight</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TUC_Active_Outpatient_Medications__c</field>
            <value>
                <elementReference>medicationsCombined</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TUC_Confirmed_Veteran_Location_and_Phone__c</field>
            <value>
                <elementReference>ConfirmedCurrentLocationAndPhone_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TUC_Med_Reconciliation_Done__c</field>
            <value>
                <elementReference>MedicalReconciliationDone_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TUC_Outcome_Detail__c</field>
            <value>
                <elementReference>OutcomeDetailToUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TUC_Outcome__c</field>
            <value>
                <elementReference>Outcome</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TUC_Phone_Visit_Consent__c</field>
            <value>
                <elementReference>Phone_Consent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TUC_Subjective__c</field>
            <value>
                <elementReference>Subjective</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TUC_Time_Spent_in_consultation_CR__c</field>
            <value>
                <elementReference>Time_Spent_with_Veteran</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TUC_Type_of_Visit__c</field>
            <value>
                <elementReference>Type_of_Visit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TUC_Video_Visit_Consent__c</field>
            <value>
                <elementReference>Video_Consent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Blood_Pressure_Method__c</field>
            <value>
                <elementReference>Blood_Pressure_Method</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Caller_Recipient_Verified__c</field>
            <value>
                <elementReference>Veteran_s_name_SSN_and_DOB_were_verified</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Current_Address__c</field>
            <value>
                <elementReference>CurrentLocation_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Current_Location__c</field>
            <value>
                <elementReference>CurrentLocation_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Diastolic_Blood_Pressure__c</field>
            <value>
                <elementReference>Diastolic_Blood_Pressure</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Heart_Rate_BPM_Method__c</field>
            <value>
                <elementReference>PulseMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Height__c</field>
            <value>
                <elementReference>Height</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Pain_Score__c</field>
            <value>
                <elementReference>Pain_Score</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Pulse_Oximeter_Method__c</field>
            <value>
                <elementReference>Pulse_Oximetry_Method</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Pulse_Oximetry__c</field>
            <value>
                <elementReference>Pulse_Oximetry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Pulse__c</field>
            <value>
                <elementReference>Pulse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Respiratory_Rate__c</field>
            <value>
                <elementReference>Respiratory_Rate_per_Minute</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Systolic_Blood_Pressure__c</field>
            <value>
                <elementReference>Systolic_Blood_Pressure</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Temperature_F_Method__c</field>
            <value>
                <elementReference>Temperature_F_Method</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Temperature__c</field>
            <value>
                <elementReference>Temperature</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Vitals_Comments__c</field>
            <value>
                <elementReference>Vital_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Weight_Method__c</field>
            <value>
                <elementReference>Weight_Method</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Weight__c</field>
            <value>
                <elementReference>Weight</elementReference>
            </value>
        </inputAssignments>
        <object>VCC_Progress_Note__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Nurse&apos;s Progress Note Record</description>
        <name>Update_Nurse_PN_0</name>
        <label>Update Nurse PN</label>
        <locationX>1186</locationX>
        <locationY>1926</locationY>
        <connector>
            <targetReference>Columbia_Positive_Task_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Nurse_PN_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewProgressNoteID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ProgressNoteRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Columbia_Screening_Q1__c</field>
            <value>
                <elementReference>ColumbiaQ1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Columbia_Screening_Q2__c</field>
            <value>
                <elementReference>ColumbiaQ2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Columbia_Screening_Q3__c</field>
            <value>
                <elementReference>ColumbiaQ3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Columbia_Screening_Q4__c</field>
            <value>
                <elementReference>ColumbiaQ4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Columbia_Screening_Q5__c</field>
            <value>
                <elementReference>ColumbiaQ5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Columbia_Screening_Q6__c</field>
            <value>
                <elementReference>ColumbiaQ6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Columbia_Screening_Q7__c</field>
            <value>
                <elementReference>ColumbiaQ7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Columbia_Screening_Q8__c</field>
            <value>
                <elementReference>ColumbiaQ8</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Columbia_Screening_Result__c</field>
            <value>
                <elementReference>varColumbiaScreeningResult</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_ToggleValidation__c</field>
            <value>
                <elementReference>forChangeToggleValidation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Veteran_Current_Email_Address__c</field>
            <value>
                <elementReference>Current_Email_Address.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TUC_Confirmed_Veteran_Location_and_Phone__c</field>
            <value>
                <elementReference>ConfirmedCurrentLocationAndPhone_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TUC_Has_the_patient_been_reached__c</field>
            <value>
                <elementReference>Has_the_patient_been_reachedRadioButtons</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TUC_Med_Reconciliation_Done__c</field>
            <value>
                <elementReference>MedicalReconciliationDone_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TUC_Phone_Visit_Consent__c</field>
            <value>
                <elementReference>Phone_Consent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TUC_Type_of_Visit__c</field>
            <value>
                <elementReference>Type_of_Visit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TUC_Video_Visit_Consent__c</field>
            <value>
                <elementReference>Video_Consent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Caller_Recipient_Verified__c</field>
            <value>
                <elementReference>Veteran_s_name_SSN_and_DOB_were_verified</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Current_Address__c</field>
            <value>
                <elementReference>CurrentLocation_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Current_Location__c</field>
            <value>
                <elementReference>CurrentLocation_Input</elementReference>
            </value>
        </inputAssignments>
        <object>VCC_Progress_Note__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Nurse&apos;s Progress Note Record, no Columbia Screening data captured.</description>
        <name>Update_PN_no_Columbia_Screening_Completed</name>
        <label>Update PN no Columbia Screening Completed</label>
        <locationX>1507</locationX>
        <locationY>2205</locationY>
        <connector>
            <targetReference>Vital_Signs_Problems_Allergies_Prescriptions</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Nurse_PN_No_Columbia_Screening_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewProgressNoteID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ProgressNoteRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_ToggleValidation__c</field>
            <value>
                <elementReference>forChangeToggleValidation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Veteran_Current_Email_Address__c</field>
            <value>
                <elementReference>Current_Email_Address.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TUC_Confirmed_Veteran_Location_and_Phone__c</field>
            <value>
                <elementReference>ConfirmedCurrentLocationAndPhone_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TUC_Has_the_patient_been_reached__c</field>
            <value>
                <elementReference>Has_the_patient_been_reachedRadioButtons</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TUC_Med_Reconciliation_Done__c</field>
            <value>
                <elementReference>MedicalReconciliationDone_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TUC_Phone_Visit_Consent__c</field>
            <value>
                <elementReference>Phone_Consent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TUC_Type_of_Visit__c</field>
            <value>
                <elementReference>Type_of_Visit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TUC_Video_Visit_Consent__c</field>
            <value>
                <elementReference>Video_Consent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Caller_Recipient_Verified__c</field>
            <value>
                <elementReference>Veteran_s_name_SSN_and_DOB_were_verified</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Current_Address__c</field>
            <value>
                <elementReference>CurrentLocation_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Current_Location__c</field>
            <value>
                <elementReference>CurrentLocation_Input</elementReference>
            </value>
        </inputAssignments>
        <object>VCC_Progress_Note__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>This will update the progress note with the &quot;no...&quot; option on the &quot;TUC_Has_the_patient_been_reached__c&quot; picklist</description>
        <name>UpdateProgressNoteIsPatientReached</name>
        <label>UpdateProgressNoteIsPatientReached</label>
        <locationX>215</locationX>
        <locationY>2745</locationY>
        <connector>
            <targetReference>openNewSubtab</targetReference>
        </connector>
        <faultConnector>
            <targetReference>UpdateProgressNoteHasPatientBeenReachedError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewProgressNoteID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TUC_Has_the_patient_been_reached__c</field>
            <value>
                <elementReference>Has_the_patient_been_reachedRadioButtons</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TUC_Type_of_Visit__c</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <object>VCC_Progress_Note__c</object>
    </recordUpdates>
    <screens>
        <description>Screen displays an Alert when the Columbia Screening is positive to let Users know a Task was created.</description>
        <name>Columbia_Positive_Task_Created</name>
        <label>Columbia Positive Task Created</label>
        <locationX>1186</locationX>
        <locationY>2052</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Vital_Signs_Problems_Allergies_Prescriptions</targetReference>
        </connector>
        <fields>
            <name>PositiveColumbiaScreening_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(196, 18, 48); background-color: rgb(255, 255, 255);&quot;&gt;Alert:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; The Columbia Screening for Veteran {!Get_Account.FirstName} {!Get_Account.LastName} is Positive, a Columbia Screening record and a Task record have been created.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varColumbiaScreeningResult</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Positive</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NoColumbiaAlert</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;No Columbia Screening Alert&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>varColumbiaScreeningResult</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Negative</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Provide information about a Plan, Outcome and Referrals</description>
        <name>Columbia_Screening</name>
        <label>Columbia Screening</label>
        <locationX>1362</locationX>
        <locationY>1347</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Columbia_Screening_Result</targetReference>
        </connector>
        <fields>
            <name>ColumbiaScreening</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Columbia Screening&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CompleteColumbiaScreening</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;All prompted questions on the Columbia Screening Questionnaire must be answered. Once &apos;Next&apos; is selected, a Columbia Screening Record will be created, and you won&apos;t be able to navigate back to the Questionnaire.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Question 1. &lt;/strong&gt;Over the past month, have you wished you were dead or wished you could go to sleep and not wake up?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ColumbiaScreeningYes</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Answer_1</name>
            <choiceReferences>Answer1</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Answer 1</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ColumbiaScreeningYes</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Q2</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Question 2.&lt;/strong&gt; Over the past month, have you actually had any thoughts about killing yourself?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ColumbiaScreeningYes</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Answer_2</name>
            <choiceReferences>Answer2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Answer 2</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ColumbiaScreeningYes</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Q3</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Question 3.&lt;/strong&gt; Over the past month, have you been thinking about how you might do this?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Answer_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Answer_3</name>
            <choiceReferences>Answer3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Answer 3</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Answer_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Q4</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Question 4. &lt;/strong&gt;Over the past month, have you had these thoughts and had some intention of acting on them?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Answer_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Answer_4</name>
            <choiceReferences>Answer4</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Answer 4</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Answer_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Q5</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Question 5.&lt;/strong&gt; Over the past month, have you started to work out or worked out the details of how to kill yourself?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Answer_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Answer_5</name>
            <choiceReferences>Answer5</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Answer 5</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Answer_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Q6</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Question 6.&lt;/strong&gt; If yes, at any time in the past month did you intend to carry out this plan?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Answer_5</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Answer_6</name>
            <choiceReferences>Answer6</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Answer 6</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Answer_5</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Q7</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Question 7.&lt;/strong&gt; In your lifetime, have you done anything, started to do anything, or prepared to do anything to end your life?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Answer_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Answer_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Answer_7</name>
            <choiceReferences>Answer7</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Answer 7</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Answer_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Answer_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Q8</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Question 8.&lt;/strong&gt; If yes, was this within the past 3 months?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Answer_7</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Answer_8</name>
            <choiceReferences>Answer8</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Answer 8</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Answer_7</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Provide information about a Plan, Outcome and Referrals</description>
        <name>Columbia_Screening_0</name>
        <label>Columbia Screening</label>
        <locationX>1186</locationX>
        <locationY>1230</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Will_a_Columbia_Screening_be_completed</targetReference>
        </connector>
        <fields>
            <name>ColumbiaScreening_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Columbia Screening&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Will_you_be_completing_a_Columbia_Screening</name>
            <choiceReferences>ColumbiaScreeningYes</choiceReferences>
            <choiceReferences>ColumbiaScreeningNo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Will you be completing a Columbia Screening?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BypassColumbiaScreeningQuestionnaire</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;If &apos;No&apos; is selected all questions will be bypassed and you won&apos;t be able to navigate back to the Columbia Screening Questionnaire.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Will_you_be_completing_a_Columbia_Screening</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Columbia_Screening_Error</name>
        <label>Create Columbia Screening Error</label>
        <locationX>1312</locationX>
        <locationY>1774</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message_0_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(196, 18, 48);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_PN_Error</name>
        <label>Create PN Error</label>
        <locationX>1336</locationX>
        <locationY>737</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(196, 18, 48);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Task_Error</name>
        <label>Create Task Error</label>
        <locationX>794</locationX>
        <locationY>1779</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(196, 18, 48);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Progress Note Type and Consult Origin</description>
        <name>Evaluation_Type_and_Consult_Origin</name>
        <label>Evaluation Type and Consult Origin</label>
        <locationX>1190</locationX>
        <locationY>1100</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Columbia_Screening_0</targetReference>
        </connector>
        <fields>
            <name>Type_of_Visit</name>
            <choiceReferences>Phone_Choice</choiceReferences>
            <choiceReferences>VVC_Choice</choiceReferences>
            <choiceReferences>CVT_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Case_Record.TUC_Callback_Type__c</elementReference>
            </defaultValue>
            <fieldText>Type of Visit</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Phone_Consent_Disclosure</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Telehealth Disclosure:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Visit conducted by synchronous telehealth.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Patient verbal consent obtained.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Location/emergency number confirmed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Visit</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Phone</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Phone_Visit_Consent</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Phone Visit Consent</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Consent needs to be obtained before proceeding&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Phone_Visit_Consent} == true</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Visit</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Phone</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VVC_Consent_Disclosure</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Telehealth Disclosure:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Visit conducted by synchronous telehealth.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Patient verbal consent obtained.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Location/emergency number confirmed.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Environment surveyed and all participants identified.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Virtual conference room locked.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Visit</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>VVC</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Type_of_Visit</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>CVT</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Video_Visit_Consent</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Video Visit Consent</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Consent needs to be obtained before proceeding&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Video_Visit_Consent} == true</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Visit</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>VVC</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Type_of_Visit</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>CVT</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flag_Error_Message</name>
        <label>Flag Error Message</label>
        <locationX>1324</locationX>
        <locationY>3444</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FlagError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(196, 18, 48);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Account_Error</name>
        <label>Get Account Error</label>
        <locationX>867</locationX>
        <locationY>392</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message_0_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(196, 18, 48);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Current_PN_Error</name>
        <label>Get Current PN Error</label>
        <locationX>1318</locationX>
        <locationY>3211</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>GetCurrentProgressNoteErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(196, 18, 48);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_PN_Error</name>
        <label>Get PN Error</label>
        <locationX>1353</locationX>
        <locationY>391</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(196, 18, 48);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Record_Type_Error</name>
        <label>Get Record Type Error</label>
        <locationX>1316</locationX>
        <locationY>3094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(196, 18, 48);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_RecordType_Error</name>
        <label>Get RecordType Error</label>
        <locationX>866</locationX>
        <locationY>520</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message_0_0_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(196, 18, 48);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Task_Queue_Error</name>
        <label>Get Task Queue Error</label>
        <locationX>796</locationX>
        <locationY>1642</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(196, 18, 48);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Task_RecordType_Error</name>
        <label>Get Task RecordType Error</label>
        <locationX>798</locationX>
        <locationY>1515</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(196, 18, 48);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Progress_Note_Created</name>
        <label>New Progress Note Created</label>
        <locationX>1194</locationX>
        <locationY>3545</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>openNewSubtab</targetReference>
        </connector>
        <fields>
            <name>NewProgressNoteConfirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;A new Progress Note has been created.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Provide information about a Plan, Outcome and Referrals</description>
        <name>RN_Progress_Note_Outcome</name>
        <label>RN Progress Note Outcome</label>
        <locationX>1187</locationX>
        <locationY>2344</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Outcome_Detail_Assignment_Signpost</targetReference>
        </connector>
        <fields>
            <name>Outcome</name>
            <choiceReferences>Transferred_to_Tele_EC_Medical_Provider</choiceReferences>
            <choiceReferences>c911</choiceReferences>
            <choiceReferences>Emergency_Department</choiceReferences>
            <choiceReferences>Urgent_Care</choiceReferences>
            <choiceReferences>Care_Incomplete</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Outcome</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Outcome_Detail_ED</name>
            <choiceReferences>Community_Emergency_Department</choiceReferences>
            <choiceReferences>VA_Emergency_Department</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Outcome Detail</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Outcome</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Emergency_Department</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Outcome_Detail_UC</name>
            <choiceReferences>Community_Urgent_Care</choiceReferences>
            <choiceReferences>VA_Urgent_Care</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Outcome Detail</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Outcome</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Urgent_Care</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Outcome_Detail_Ci</name>
            <choiceReferences>Declined_by_Veteran</choiceReferences>
            <choiceReferences>Connection_Failure</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Outcome Detail</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Outcome</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Care_Incomplete</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Time_Spent_with_Veteran</name>
            <dataType>Number</dataType>
            <fieldText>Time Spent with Veteran (Enter up to 2 digits to reflect time in minutes)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please input up to 2 digits to reflect time in Minutes&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN(TEXT({!Time_Spent_with_Veteran}))&lt;=2</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Patient&apos;s Current Location (can be an address or a description of a location) and Callback Phone Number</description>
        <name>TUC_Patient_Location_and_Callback_Number_0</name>
        <label>Patient Location and Callback Number</label>
        <locationX>1187</locationX>
        <locationY>865</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>HasPatientBeenReached</targetReference>
        </connector>
        <fields>
            <name>Has_the_patient_been_reachedRadioButtons</name>
            <choiceReferences>HasThePatientBeenReachedPicklistChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has the patient been reached?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Case_Record.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Tele_Urgent_Care_2_8_Hours_Case</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>HasPatientBeenReachedInformation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Note: If&amp;nbsp;No, Patient unable to be reached is selected, the Progress Note will be Saved and Exited&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Case_Record.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Tele_Urgent_Care_2_8_Hours_Case</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Has_the_patient_been_reachedRadioButtons</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VeteranName</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Veteran&apos;s Name:&lt;/strong&gt; &lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_Account.FirstName} {!Get_Account.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;SSN: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!Get_Account.HealthCloudGA__TaxId__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;DOB:&lt;/strong&gt; {!Get_Account.PersonBirthdate}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 OR (2 AND 3)</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Case_Record.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Tele_Urgent_Care_0_2_Hours</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Has_the_patient_been_reachedRadioButtons</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Case_Record.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Tele_Urgent_Care_2_8_Hours_Case</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Veteran_s_name_SSN_and_DOB_were_verified</name>
            <dataType>Boolean</dataType>
            <fieldText>Veteran&apos;s name, SSN, and DOB were verified?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1 OR (2 AND 3)</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Case_Record.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Tele_Urgent_Care_0_2_Hours</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Has_the_patient_been_reachedRadioButtons</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Case_Record.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Tele_Urgent_Care_2_8_Hours_Case</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TUC_Current_Location</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Case_Record.TUC_Current_Location__c</elementReference>
            </defaultValue>
            <fieldText>Current Location</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1 OR (2 AND 3)</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Case_Record.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Tele_Urgent_Care_0_2_Hours</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Has_the_patient_been_reachedRadioButtons</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Case_Record.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Tele_Urgent_Care_2_8_Hours_Case</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TUC_CallbackNumber</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Case_Record.TUC_Callback_Number__c</elementReference>
            </defaultValue>
            <fieldText>Callback Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1 OR (2 AND 3)</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Case_Record.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Tele_Urgent_Care_0_2_Hours</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Has_the_patient_been_reachedRadioButtons</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Case_Record.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Tele_Urgent_Care_2_8_Hours_Case</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Current_Email_Address</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Current Email Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Case_Record.TED_Contact_Current_Email__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>1 OR (2 AND 3)</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Case_Record.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Tele_Urgent_Care_0_2_Hours</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Has_the_patient_been_reachedRadioButtons</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Case_Record.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Tele_Urgent_Care_2_8_Hours_Case</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Confirmed_Veteran_s_Current_Location_and_Phone_Number</name>
            <dataType>Boolean</dataType>
            <fieldText>Confirmed Veteran&apos;s Current Location and Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1 OR (2 AND 3)</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Case_Record.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Tele_Urgent_Care_0_2_Hours</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Has_the_patient_been_reachedRadioButtons</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Case_Record.RecordType.DeveloperName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Tele_Urgent_Care_2_8_Hours_Case</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Nurse_PN_Error</name>
        <label>Update Nurse PN Error</label>
        <locationX>1332</locationX>
        <locationY>1928</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message_0_0_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(196, 18, 48);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Nurse_PN_No_Columbia_Screening_Error</name>
        <label>Update Nurse PN No Columbia Screening Error</label>
        <locationX>1671</locationX>
        <locationY>2205</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message_0_0_0_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(196, 18, 48);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_NursePN_Error</name>
        <label>Update NursePN Error</label>
        <locationX>1317</locationX>
        <locationY>3325</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message_0_0_0_0_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(196, 18, 48);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This is for when attempting to update the progress note and there is an error with the field &quot;TUC_Has_the_patient_been_reached__c&quot;</description>
        <name>UpdateProgressNoteHasPatientBeenReachedError</name>
        <label>UpdateProgressNoteHasPatientBeenReachedError</label>
        <locationX>50</locationX>
        <locationY>2744</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayErrorMessageHasPatientBeenReached</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(196, 18, 48);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Provide information about a Patient&apos;s Vital Signs</description>
        <name>Vital_Signs_Problems_Allergies_Prescriptions</name>
        <label>Vital Signs Problems Allergies Prescriptions</label>
        <locationX>1186</locationX>
        <locationY>2205</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RN_Progress_Note_Outcome</targetReference>
        </connector>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Case_Record.Subject</elementReference>
            </defaultValue>
            <fieldText>Chief Complaint</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ActiveProblems</name>
            <extensionName>c:vccProblemList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>NewProgressNoteID</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Allergies</name>
            <extensionName>c:vccAllergyList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>NewProgressNoteID</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Allergy_Meds_Field_Spacing</name>
            <fieldText>&lt;p&gt;   &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reported_Active_Outpatient_Medications</name>
            <defaultValue>
                <stringValue>{!CT_Medications_Concat}</stringValue>
            </defaultValue>
            <fieldText>Reported Active Outpatient Medications</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>false</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Medications</name>
            <extensionName>c:vccMedicationList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>NewProgressNoteID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowRecordObjectApiName</name>
                <value>
                    <stringValue>VCC_Progress_Note__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Subjective</name>
            <fieldText>Subjective</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Vital_Signs_Problems_Allergies_Prescriptions_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Vital_Signs_Problems_Allergies_Prescriptions_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Temperature</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Progress_Note.VCC_Temperature__c</elementReference>
                    </defaultValue>
                    <fieldText>Temperature</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>Pulse</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Progress_Note.VCC_Pulse__c</elementReference>
                    </defaultValue>
                    <fieldText>Pulse</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Systolic_Blood_Pressure</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Progress_Note.VCC_Systolic_Blood_Pressure__c</elementReference>
                    </defaultValue>
                    <fieldText>Systolic Blood Pressure</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Diastolic_Blood_Pressure</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Progress_Note.VCC_Diastolic_Blood_Pressure__c</elementReference>
                    </defaultValue>
                    <fieldText>Diastolic Blood Pressure</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Vital_Signs_Problems_Allergies_Prescriptions_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Temperature_F_Method</name>
                    <choiceReferences>TemperatureMethod</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>forTemperatureFMethod</elementReference>
                    </defaultValue>
                    <fieldText>Temperature *F Method</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>PulseMethod</name>
                    <choiceReferences>cPulseMethod</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>forPulseMethod</elementReference>
                    </defaultValue>
                    <fieldText>Pulse Method</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Blood_Pressure_Method</name>
                    <choiceReferences>BloodPressureMethod</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>forBloodPressureMethod</elementReference>
                    </defaultValue>
                    <fieldText>Blood Pressure Method</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Vital_Signs_Problems_Allergies_Prescriptions_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_Time_Recorded_Temperature</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>forTemperatureTimeStamp</elementReference>
                    </defaultValue>
                    <fieldText>Date/Time Recorded</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Date_Time_Recorded_Pulse</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>forPulseTimeStamp</elementReference>
                    </defaultValue>
                    <fieldText>Date/Time Recorded</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Date_Time_Recorded_BloodPressure</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>forBloodPressureTimeStamp</elementReference>
                    </defaultValue>
                    <fieldText>Date/Time Recorded</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Respiratory_Rate_per_Minute</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Progress_Note.VCC_Respiratory_Rate__c</elementReference>
            </defaultValue>
            <fieldText>Respiratory Rate per Minute</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Vital_Signs_Problems_Allergies_Prescriptions_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Vital_Signs_Problems_Allergies_Prescriptions_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Pulse_Oximetry</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Progress_Note.VCC_Pulse_Oximetry__c</elementReference>
                    </defaultValue>
                    <fieldText>Pulse Oximetry</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Vital_Signs_Problems_Allergies_Prescriptions_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Pulse_Oximetry_Method</name>
                    <choiceReferences>PulseOximetryMethod</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>forPulseOximetryMethod</elementReference>
                    </defaultValue>
                    <fieldText>Pulse Oximetry Method</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Vital_Signs_Problems_Allergies_Prescriptions_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_Time_Recorded_PulseOximetry</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>forPulseOximetryTimeStamp</elementReference>
                    </defaultValue>
                    <fieldText>Date/Time Recorded</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Pain_Score</name>
            <choiceReferences>PainScore</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Progress_Note.VCC_Pain_Score__c</elementReference>
            </defaultValue>
            <fieldText>Pain Score</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Height</name>
            <choiceReferences>PatientHeight</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Progress_Note.VCC_Height__c</elementReference>
            </defaultValue>
            <fieldText>Height</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Vital_Signs_Problems_Allergies_Prescriptions_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Vital_Signs_Problems_Allergies_Prescriptions_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Weight</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Progress_Note.VCC_Weight__c</elementReference>
                    </defaultValue>
                    <fieldText>Weight (lbs)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Vital_Signs_Problems_Allergies_Prescriptions_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Weight_Method</name>
                    <choiceReferences>WeightMethod</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>forWeightMethod</elementReference>
                    </defaultValue>
                    <fieldText>Weight Method</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Vital_Signs_Problems_Allergies_Prescriptions_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_Time_Recorded_Weight</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>forWeightTimeStamp</elementReference>
                    </defaultValue>
                    <fieldText>Date/Time Recorded</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Vital_Comments</name>
            <fieldText>Vital Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>954</locationX>
        <locationY>27</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>This template uses the linebreak constants to create a double line space break so the format of the medications, problems, and allergies can be maintained</description>
        <name>linebreakTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!linebreak}
{!linebreak}</text>
    </textTemplates>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CallbackNumber_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Get Columbia Screening Record ID</description>
        <name>ColumbiaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConfirmedCurrentLocationAndPhone_Input</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CurrentEmail_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentLocation_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DischargedInstructions_Input</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>This text variable holds the No choice on the &quot;TUC_Has_patient_been_reached__c&quot; picklist to compare against inside the decision</description>
        <name>HasPatientBeenReachedTextVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>No, patient unable to be reached</stringValue>
        </value>
    </variables>
    <variables>
        <name>historyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MedicalReconciliationDone_Input</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>This variable holds the list of medications from the CT progress note, to be transferred to the Tele-EC RN Progress note</description>
        <name>Medications_Info</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewProgressNoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Objective_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OutcomeChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OutcomeDetailChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>holds the value of the outcome detail field to update the progress note</description>
        <name>OutcomeDetailToUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientVerbalizesUnderstanding_Input</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Phone_Consent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ProgressNoteRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>TUC Case Record ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RedirectType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SerumGlucose_Input</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TimeSpent_Input</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TriageTimeInterval_Downgraded_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TriageTimeInterval_Upgraded_Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to store the current project ID</description>
        <name>TUC_CurrentCaseRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </variables>
    <variables>
        <name>TUC_ProgressNoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>TUC Virtual Visit Record Type to create a Progress Note</description>
        <name>TUC_VirtualVisitRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varColumbiaScreeningResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable for the ID of the ProgressNote__History</description>
        <name>varHistoryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProgressNoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The variable will assign a Date/Time value for when Vitals Signs were registered. If a Triage tool was used the Date/Time value will be Triage Date, if not, the Clinical Triage Progress Note Created Date/Time.</description>
        <name>varTriage_or_PNDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Video_Consent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
