force-app/main/default/flows/TED_Re_Assign_to_Queue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_High_Acuity_Queue</name>
        <label>Assign High Acuity Queue</label>
        <locationX>516</locationX>
        <locationY>568</locationY>
        <assignmentItems>
            <assignToReference>varQueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TUC_Tele_Emergency_Care_0_2_Hours</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>useRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RT_for_High_Aq.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEDQueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High Acuity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>newTeleECHigh</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetGroup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Intermediate_Acuity_Queue</name>
        <label>Assign Intermediate Acuity Queue</label>
        <locationX>700</locationX>
        <locationY>553</locationY>
        <assignmentItems>
            <assignToReference>varQueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TUC_TeleUrgent_Care_2_8_hours</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>useRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RT_for_Int.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TEDQueueName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Intermediate Acuity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>newTeleECInter</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetGroup</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>TUC_or_TEC_Case</name>
        <label>TUC or TEC Case</label>
        <locationX>603</locationX>
        <locationY>454</locationY>
        <defaultConnector>
            <targetReference>Get_RT_for_Int</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TUC Case</defaultConnectorLabel>
        <rules>
            <name>TEC_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_the_Queue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High Acuity (0-2 hours RFI)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RT_for_High_Aq</targetReference>
            </connector>
            <label>TEC Case</label>
        </rules>
    </decisions>
    <description
    >8/2/22 Query to re assign a Case to a Queue and update it&apos;s status 7/28/22 - Making a status input variable that defaults to &apos;New&apos; and allows for selectable
        status</description>
    <dynamicChoiceSets>
        <name>CaseRecordTypes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Tele_</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Status</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Re-Assign to Queue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TED Re-Assign to Queue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Platform_Event</name>
        <label>Create Platform Event</label>
        <locationX>599</locationX>
        <locationY>1023</locationY>
        <connector>
            <targetReference>Case_Re_Assigned_to_Queue</targetReference>
        </connector>
        <inputAssignments>
            <field>VISN__c</field>
            <value>
                <elementReference>Get_this_Case.TUC_Assigned_VISN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>caseNum__c</field>
            <value>
                <elementReference>Get_this_Case.CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>eventType__c</field>
            <value>
                <elementReference>EventName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>message__c</field>
            <value>
                <stringValue>A new case has entered the {!TEDQueueName} queue</stringValue>
            </value>
        </inputAssignments>
        <object>TED_TeleECCase__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_RT_for_High_Aq</name>
        <label>Get RT for High Aq</label>
        <locationX>453</locationX>
        <locationY>454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_High_Acuity_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tele_Urgent_Care_0_2_Hours</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RT_for_Int</name>
        <label>Get RT for Int</label>
        <locationX>824</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Intermediate_Acuity_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tele_Urgent_Care_2_8_Hours_Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_this_Case</name>
        <label>Get this Case</label>
        <locationX>616</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Re_Assign_Case_to_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Queues from the Group Object</description>
        <name>GetGroup</name>
        <label>GetGroup</label>
        <locationX>599</locationX>
        <locationY>756</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Owner_and_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQueueName</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>QueueGroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Owner_and_Status</name>
        <label>Update Owner and Status</label>
        <locationX>599</locationX>
        <locationY>888</locationY>
        <connector>
            <targetReference>Create_Platform_Event</targetReference>
        </connector>
        <faultConnector>
            <targetReference>UpdateError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QueueGroupId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>useRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>destinationStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Case_Re_Assigned_to_Queue</name>
        <label>Case Re-Assigned to Queue</label>
        <locationX>599</locationX>
        <locationY>1145</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CaseReadyforConsultation</name>
            <fieldText
            >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 20px;&quot;&gt;Redirecting to &lt;/span&gt;&lt;/p&gt;&lt;p
                style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 20px;&quot;&gt;Available Cases&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SendOff</name>
            <extensionName>c:tucRedirectToRecord</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>SendToPage</name>
                <value>
                    <stringValue>Available_Cases</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Re_Assign_Case_to_Queue</name>
        <label>Re-Assign Case to Queue</label>
        <locationX>612</locationX>
        <locationY>322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>TUC_or_TEC_Case</targetReference>
        </connector>
        <fields>
            <name>Select_the_Queue</name>
            <choiceReferences>CaseRecordTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select the Queue</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UpdateError</name>
        <label>Update Error</label>
        <locationX>772</locationX>
        <locationY>879</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayUpdateError</name>
            <fieldText>&lt;h3 style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(228, 13, 13);&quot;&gt;Connection Error: An unexpected error has
                occurred.&lt;/span&gt;&lt;/h3&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please try again shortly. If the problem persists, please contact the Help
                Desk.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Error details&lt;/strong&gt;:
                {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_this_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Allows callouts to this flow to select desired destination status</description>
        <name>destinationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </variables>
    <variables>
        <name>EventName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QueueGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TEDQueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>useRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
