force-app/main/default/flows/TUC_Escalate_to_TED.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Uses a provided Location&apos;s VISN to retrieve Tele-EC Escalation Status for the intermediate acuity queue</description>
        <name>Get_Intermediate_Acuity_Status</name>
        <label>Get Intermediate Acuity Status</label>
        <locationX>578</locationX>
        <locationY>3230</locationY>
        <actionName>TUC_GetCurrentVISNStatusInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Location_VISN_Status</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Action_Get_Records_Update_Records_Element_Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>providedVISN</name>
            <value>
                <elementReference>Get_Facility_for_VISN_Check.VAF_VISN__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueType</name>
            <value>
                <stringValue>Intermediate Acuity</stringValue>
            </value>
        </inputParameters>
        <nameSegment>TUC_GetCurrentVISNStatusInvocable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>IntermediateAcuityStatus</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Uses a provided Location&apos;s VISN to retrieve Tele-EC Escalation Status for the high acuity queue</description>
        <name>Get_Status_for_High_Acuity</name>
        <label>Get Status for High Acuity</label>
        <locationX>578</locationX>
        <locationY>3122</locationY>
        <actionName>TUC_GetCurrentVISNStatusInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Intermediate_Acuity_Status</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Action_Get_Records_Update_Records_Element_Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>providedVISN</name>
            <value>
                <elementReference>Get_Facility_for_VISN_Check.VAF_VISN__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueType</name>
            <value>
                <stringValue>High Acuity</stringValue>
            </value>
        </inputParameters>
        <nameSegment>TUC_GetCurrentVISNStatusInvocable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>HighAcuityStatus</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Redirect a User with Medical Provider Permission to the New Case</description>
        <name>Redirect_to_New_Case</name>
        <label>Redirect to New Case</label>
        <locationX>50</locationX>
        <locationY>5618</locationY>
        <actionName>c:tucRedirectToNewRecord</actionName>
        <actionType>component</actionType>
        <faultConnector>
            <targetReference>Action_Get_Records_Update_Records_Element_Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varNewCase</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:tucRedirectToNewRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <description>Assign default Clinical Contact Center</description>
        <name>Assign_Case_Origin</name>
        <label>Assign Case Origin</label>
        <locationX>446</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>varCaseOrigin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Clinical Contact Center</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_TUC_Supported_Locations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>A Clinical triage CSSRS (Columbia Screening) was completed, this Variable assigns the CSSRS Result.</description>
        <name>Assign_CSSRS_Result</name>
        <label>Assign CSSRS Result</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varCT_CSSRS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forCT_CSSRS_Result</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_Record_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>When a Case is Escalated or Created and not accepted by the MP the Owner of the Case will be the Queue and the status will be New</description>
        <name>Assign_New_Status</name>
        <label>Assign New Status</label>
        <locationX>182</locationX>
        <locationY>4910</locationY>
        <assignmentItems>
            <assignToReference>varCaseStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_TED_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Owner to MP Permission</description>
        <name>Assign_Owner_to_MP_Permission</name>
        <label>Assign Owner to MP Permission</label>
        <locationX>974</locationX>
        <locationY>4910</locationY>
        <assignmentItems>
            <assignToReference>UseQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Owner_is_MP_or_Nurse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign to variable from the Progress Note that launched this flow</description>
        <name>Assign_Parent_Case</name>
        <label>Assign Parent Case</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>This_Progress_Note.VCC_Case__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>This_Progress_Note.TED_Escalated_to_Tele_EC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPopulatePatientEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>This_Progress_Note.VCC_Case__r.ContactEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Escalate_to_TED</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign to Variables in the flow from the Start From New Case screen</description>
        <name>Assign_Subject_and_Description</name>
        <label>Assign Subject and Description</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPopulatePatientEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentEmail.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Escalate_to_TED</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>When is a Tele-EC Case assign the selected value as the case origin</description>
        <name>Assign_TeleEC_Case_Origin</name>
        <label>Assign TeleEC Case Origin</label>
        <locationX>710</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>varCaseOrigin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Origin</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_TUC_Supported_Locations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Counts the number of facilities returned by the previous Loop</description>
        <name>Count_Child_Facility_IDs</name>
        <label>Count Child Facility IDs</label>
        <locationX>578</locationX>
        <locationY>2066</locationY>
        <assignmentItems>
            <assignToReference>Child_Facility_IDs_Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Child_facility_IDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetLocation_s_From_Child_Facilities_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the status MP Encounter when the Owner is an MP</description>
        <name>MPEncounter</name>
        <label>MP Encounter</label>
        <locationX>710</locationX>
        <locationY>5126</locationY>
        <assignmentItems>
            <assignToReference>varCaseStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TED MP Encounter</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_TED_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>No Clinical Triage CSSRS (Columbia Screening) was completed, varCT_CSSRS is blank.</description>
        <name>No_CSSRS_Results</name>
        <label>No CSSRS Results</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varCT_CSSRS</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Case_Record_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting Status variable to TED Nurse Encounter</description>
        <name>Nurse_Encounter</name>
        <label>Nurse Encounter</label>
        <locationX>974</locationX>
        <locationY>5126</locationY>
        <assignmentItems>
            <assignToReference>varCaseStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TED Nurse Encounter</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_TED_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Inside the loop storing child facility IDs inside a collection variable</description>
        <name>Store_child_facility_IDs_inside_collection</name>
        <label>Store child facility IDs inside collection</label>
        <locationX>666</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>Child_facility_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Get_TUC_Supported_Locations.Salesforce_Facility_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Get_TUC_Supported_Locations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the selected facility to a variable</description>
        <name>TUC_Assign_chosen_facility</name>
        <label>TUC Assign chosen facility</label>
        <locationX>578</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>FacilityLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Chosen_Location.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Facility_for_VISN_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Id of the record from the previous Get Records where it was only one facility into FacilityLocationId to be used later in the flow when creating the case</description>
        <name>TUC_Assign_exactly_one_facility</name>
        <label>TUC Assign exactly one facility</label>
        <locationX>50</locationX>
        <locationY>2498</locationY>
        <assignmentItems>
            <assignToReference>FacilityLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Single_Location_from_Facility_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Facility_for_VISN_Check</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ClinicalContactCenter</name>
        <choiceText>Clinical Contact Center</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Clinical Contact Center</stringValue>
        </value>
    </choices>
    <choices>
        <name>CommunityLivingCenterNursingFacility</name>
        <choiceText>Community Living Center/Nursing Facility</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Community Living Center/Nursing Facility</stringValue>
        </value>
    </choices>
    <choices>
        <name>High</name>
        <choiceText>High</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High</stringValue>
        </value>
    </choices>
    <choices>
        <name>Low</name>
        <choiceText>Low</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Low</stringValue>
        </value>
    </choices>
    <choices>
        <name>Medium</name>
        <choiceText>Medium</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medium</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>PACT</name>
        <choiceText>PACT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PACT</stringValue>
        </value>
    </choices>
    <choices>
        <name>VAHealthChat</name>
        <choiceText>VA Health Chat</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>VA Health Chat</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <description>Collection Filter for Common Name</description>
        <name>Common_Name_Collection</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Common Name Collection</label>
        <locationX>578</locationX>
        <locationY>2498</locationY>
        <assignNextValueToReference>currentItem_Common_Name_Collection</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetLocation_s_From_Child_Facilities_Collection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Common_Name_Collection.Common_Name__c</leftValueReference>
            <operator>IsBlank</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Display_child_locations</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <description>Collection Filter for the Location Name</description>
        <name>Location_Name_Collection</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Location Name Collection</label>
        <locationX>578</locationX>
        <locationY>2390</locationY>
        <assignNextValueToReference>currentItem_Location_Name_Collection</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetLocation_s_From_Child_Facilities_Collection</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Location_Name_Collection.Common_Name__c</leftValueReference>
            <operator>IsBlank</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Common_Name_Collection</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <description>When a CCRN escalates a case or the checkbox for &quot;assign to queue&quot; is checked, assign ownership to the Queue.</description>
        <name>Assign_Ownership</name>
        <label>Assign Ownership</label>
        <locationX>578</locationX>
        <locationY>4802</locationY>
        <defaultConnector>
            <targetReference>Assign_Owner_to_MP_Permission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Own Case</defaultConnectorLabel>
        <rules>
            <name>Assign_to_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assign_to_Available_Cases_Queue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Status</targetReference>
            </connector>
            <label>Assign to Queue</label>
        </rules>
        <rules>
            <name>Escalated_Assign_to_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_Not_Have_PN_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_New_Status</targetReference>
            </connector>
            <label>Escalated Assign to Queue</label>
        </rules>
    </decisions>
    <decisions>
        <description>If either one of the Acuity Queue&apos;s is paused, then the Location is Paused.</description>
        <name>Check_Location_VISN_Status</name>
        <label>Check Location VISN Status</label>
        <locationX>578</locationX>
        <locationY>3338</locationY>
        <defaultConnector>
            <targetReference>TeleEmergencyRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Location_VISN_is_Paused</name>
            <conditionLogic>( ((1 AND 2) OR (3 AND 4)) AND (5 AND 6) )</conditionLogic>
            <conditions>
                <leftValueReference>HighAcuityStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paused</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_Record_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High Acuity (0-2 hours RFI)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IntermediateAcuityStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paused</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case_Record_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intermediate Acuity (2-8 hours RFI)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.TED_Medical_Provider</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.TED_RN</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location_VISN_Paused_Screen</targetReference>
            </connector>
            <label>Location VISN is Paused</label>
        </rules>
    </decisions>
    <decisions>
        <description>checks for the forceCaseCreation boolean</description>
        <name>checkForForceCaseCreation</name>
        <label>checkForForceCaseCreation</label>
        <locationX>402</locationX>
        <locationY>3554</locationY>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>if_force_case_creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forceCaseCreation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TeleEmergencyRecordType</targetReference>
            </connector>
            <label>If force case creation</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determine which screen to show based on number of returned facilities from the previous queries</description>
        <name>Child_Facilities_Count_Decision</name>
        <label>Child Facilities Count Decision</label>
        <locationX>578</locationX>
        <locationY>2282</locationY>
        <defaultConnector>
            <targetReference>No_facilities_were_detected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Facilities</defaultConnectorLabel>
        <rules>
            <name>One_Facility</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Child_Facility_IDs_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Single_Location_from_Facility_Collection</targetReference>
            </connector>
            <label>One Facility</label>
        </rules>
        <rules>
            <name>Multiple_Facilities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Child_Facility_IDs_Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Location_Name_Collection</targetReference>
            </connector>
            <label>Multiple Facilities</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the Progress Note Detail Record has a completed CSSRS.</description>
        <name>Clinical_Triage_CSSRS_Completed</name>
        <label>Clinical Triage CSSRS Completed?</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>No_CSSRS_Results</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No CSSRS Completed</defaultConnectorLabel>
        <rules>
            <name>CSSSRS_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Progress_Note_Detail_Record.VCC_Is_CSSRS_Finished__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CSSRS_Result</targetReference>
            </connector>
            <label>CSSSRS Completed</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Case Origin is Null assign as Origin &quot;Clinical Contact Center&quot;</description>
        <name>DisplayCaseOrigin</name>
        <label>Display Case Origin</label>
        <locationX>578</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Assign_TeleEC_Case_Origin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Case Origin Null False</defaultConnectorLabel>
        <rules>
            <name>Case_Origin_Null_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Origin</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Origin</targetReference>
            </connector>
            <label>Case Origin Null True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if a Progress Note Detail Record exists.</description>
        <name>Found_Progress_Note_Detail_Record</name>
        <label>Found Progress Note Detail Record?</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>No_CSSRS_Results</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Detail Record Found</defaultConnectorLabel>
        <rules>
            <name>Detail_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Progress_Note_Detail_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Progress_Note_Detail_Record.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clinical_Triage_CSSRS_Completed</targetReference>
            </connector>
            <label>Detail Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if there is a recordId</description>
        <name>Has_a_PN_Id</name>
        <label>Has a PN Id</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>This_Progress_Note</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Does_Not_Have_PN_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue />
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Start_From_New_Case</targetReference>
            </connector>
            <label>Does Not Have PN Id</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decide if the User who accepted to be redirected to the Newly created Case is an MP or a Nurse</description>
        <name>Owner_is_MP_or_Nurse</name>
        <label>Owner is MP or Nurse</label>
        <locationX>974</locationX>
        <locationY>5018</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MP_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.TED_Medical_Provider</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MPEncounter</targetReference>
            </connector>
            <label>MP User</label>
        </rules>
        <rules>
            <name>Nurse_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.TED_RN</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nurse_Encounter</targetReference>
            </connector>
            <label>Nurse User</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking if Owner is MP or was Updated PN to Escalated</description>
        <name>Owner_is_TED_Medical_Provider</name>
        <label>Owner is TED Medical Provider</label>
        <locationX>578</locationX>
        <locationY>5510</locationY>
        <defaultConnector>
            <targetReference>New_Case_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_MP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UseQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Redirect_to_New_Case</targetReference>
            </connector>
            <label>Owner MP</label>
        </rules>
        <rules>
            <name>Update_PN_to_Escalated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Does_Not_Have_PN_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PN_Escalate_Checkbox</targetReference>
            </connector>
            <label>Update PN to Escalated</label>
        </rules>
    </decisions>
    <decisions>
        <description>Create a High or Intermediate Acuity Case</description>
        <name>TEC_or_TUC_Case</name>
        <label>High or Intermediate Acuity Case</label>
        <locationX>578</locationX>
        <locationY>4346</locationY>
        <defaultConnector>
            <targetReference>Get_TUC_Case_RecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Intermediate Accuity (2-8 hours RFI)</defaultConnectorLabel>
        <rules>
            <name>Tele_Emergency_Care_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Record_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High Acuity (0-2 hours RFI)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_TEC_Case_RecordType</targetReference>
            </connector>
            <label>High Acuity (0-2 hours RFI)</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is High or Intermediate Acuity?</description>
        <name>TeleEmergencyRecordType</name>
        <label>TeleEmergencyRecordType</label>
        <locationX>578</locationX>
        <locationY>3938</locationY>
        <defaultConnector>
            <targetReference>Current_Location_and_Callback_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tele_Emergency_Care</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Record_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High Acuity (0-2 hours RFI)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CasePriority</targetReference>
            </connector>
            <label>Tele-Emergency Care</label>
        </rules>
    </decisions>
    <description>Flow to create new Tele Emergency Care cases and escalate Clinical Triage Cases to Tele-EC.

7-3-2024: Edit to change around the VISN checks to run off a Facility VISN instead of User assigned VISN. V61 update.
1.14.0 Add Chief Complaint
1.16.0 CVT modality in Type of Visit
1.18.0 Updated multiple facilities filtering for Location name if Common Name is not present
1.18.1 bug 2986 fix for blank common name field not populating final created case
1.19.0 PTEMSTUC 2535 Columbia Screening banners
1.20.1 PTEMSTUC 3237 TECH: Update the Error Message Index Part 1</description>
    <dynamicChoiceSets>
        <name>All_Health_Facilities_Record_Choice</name>
        <dataType>String</dataType>
        <displayField>TED_Facility_ID_and_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VAF_Facility_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>va_health_facility</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentLocationId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <limit>200</limit>
        <object>Location</object>
        <outputAssignments>
            <assignToReference>FacilityLocationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>VAF_Facility_ID__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>TED_Facility_ID_and_Name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CallbackType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>TUC_Callback_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Case_Priority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseOrigin</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CaseRecordTypes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Tele_</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_set_Child_locations_no_Common_Name</name>
        <collectionReference>Location_Name_Collection</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Location</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_set_Child_locations_with_Common_Name</name>
        <collectionReference>Common_Name_Collection</collectionReference>
        <dataType>String</dataType>
        <displayField>Common_Name__c</displayField>
        <object>Location</object>
        <valueField>Common_Name__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Formula to capture the result of a Clinical Triage CSSRS (Columbia Screening) from the Progress Note VCC_CSSRS_ Plain_ Text_ Data custom field.</description>
        <name>forCT_CSSRS_Result</name>
        <dataType>String</dataType>
        <expression>&apos;Clinical Triage C-SSRS&apos; &amp;&quot; &quot;&amp; 
IF(
CONTAINS({!This_Progress_Note.VCC_CSSRS_PlainText_Data__c}, &quot;:&quot;),
MID({!This_Progress_Note.VCC_CSSRS_PlainText_Data__c}, FIND (&quot;:&quot;, {!This_Progress_Note.VCC_CSSRS_PlainText_Data__c}) + 1, 9),
&quot; &quot;
)</expression>
    </formulas>
    <formulas>
        <description>Determine which subject field to use.</description>
        <name>Which_Subject</name>
        <dataType>String</dataType>
        <expression>IF({!CaseSubject}!=NULL,{!CaseSubject},{!SubjectEscalate})</expression>
    </formulas>
    <interviewLabel>Escalate to TED {!$Flow.CurrentDateTime} ver 55</interviewLabel>
    <label>New Tele Emergency Care Case</label>
    <loops>
        <description>Loop through the result stored in Get_TUC_Supported_Locations</description>
        <name>Loop_through_Get_TUC_Supported_Locations</name>
        <label>Loop_through_ Get_TUC_Supported_Locations</label>
        <locationX>578</locationX>
        <locationY>1766</locationY>
        <collectionReference>Get_TUC_Supported_Locations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Store_child_facility_IDs_inside_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Count_Child_Facility_IDs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create TED Case</description>
        <name>Create_TED_Case</name>
        <label>Create TED Case</label>
        <locationX>578</locationX>
        <locationY>5402</locationY>
        <assignRecordIdToReference>varNewCase</assignRecordIdToReference>
        <connector>
            <targetReference>Owner_is_TED_Medical_Provider</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Action_Get_Records_Update_Records_Element_Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>thisAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nurse_s_Recommendation_When_from_PN__c</field>
            <value>
                <elementReference>This_Progress_Note.VCC_Logistical_Recommendation_WHEN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>varCaseOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>UseQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>SelectCasePriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>recordTypeForNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>varCaseStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Which_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_CSSRS_Screening_Result__c</field>
            <value>
                <elementReference>varCT_CSSRS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Chief_Complaint__c</field>
            <value>
                <elementReference>Which_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Contact_Current_Email__c</field>
            <value>
                <elementReference>varPopulatePatientEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Patient_Verbal_Consent_Obtained__c</field>
            <value>
                <elementReference>Video_Visit_Patient_verbal_consent_obtained</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Preferred_Call_Back_Time_Textbox__c</field>
            <value>
                <elementReference>Preferred_Call_Back_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TUC_Assigned_Facility__c</field>
            <value>
                <elementReference>FacilityLocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TUC_Callback_Number__c</field>
            <value>
                <elementReference>Callback_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TUC_Callback_Type__c</field>
            <value>
                <elementReference>Callback_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TUC_Current_Location__c</field>
            <value>
                <elementReference>CurrentLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TUC_System_WHEN_from_PN__c</field>
            <value>
                <elementReference>This_Progress_Note.VCC_System_RFI__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <description>Get the Case for this Progress Note</description>
        <name>Get_Case_Record_0</name>
        <label>Get Case Record</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Parent_Case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Action_Get_Records_Update_Records_Element_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>This_Progress_Note.VCC_Case__r.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>thisAccount</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Description</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentId</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Subject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentCaseFacilityId</assignToReference>
            <field>TUC_Assigned_Facility__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Chosen Location from screen Above</description>
        <name>Get_Chosen_Location</name>
        <label>Get Chosen Location</label>
        <locationX>578</locationX>
        <locationY>2714</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TUC_Assign_chosen_facility</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Action_Get_Records_Update_Records_Element_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>VAF_Facility_ID__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Child_facility_IDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>Common_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Location</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Location</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting Contact Id from the Account</description>
        <name>Get_Contact_Id_from_Account</name>
        <label>Get Contact Id from Account</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Subject_and_Description</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Action_Get_Records_Update_Records_Element_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>thisAccount</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>CurrentEmail.value</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Getting Location to check if the selected Location has its Queue&apos;s Paused</description>
        <name>Get_Facility_for_VISN_Check</name>
        <label>Get Facility for VISN Check</label>
        <locationX>578</locationX>
        <locationY>3014</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Status_for_High_Acuity</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Action_Get_Records_Update_Records_Element_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FacilityLocationId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the child Progress Note Detail for the Clinical Triage Progress Note</description>
        <name>Get_Progress_Note_Detail_Record</name>
        <label>Get Progress Note Detail Record</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Progress_Note_Detail_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Action_Get_Records_Update_Records_Element_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VCC_Progress_Note__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VCC_Progress_Note_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>If there was only one child facility, get that specific Location</description>
        <name>Get_Single_Location_from_Facility_Collection</name>
        <label>Get Single Location from Facility Collection</label>
        <locationX>50</locationX>
        <locationY>2390</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TUC_Assign_exactly_one_facility</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Action_Get_Records_Update_Records_Element_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VAF_Facility_ID__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Child_facility_IDs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the High Acuity Case Record Type</description>
        <name>Get_TEC_Case_RecordType</name>
        <label>Get High Acuity Case RecordType</label>
        <locationX>182</locationX>
        <locationY>4454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_TEC_Queue1</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Action_Get_Records_Update_Records_Element_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tele_Urgent_Care_0_2_Hours</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordTypeForNew</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get the High Acuity Group</description>
        <name>Get_TEC_Queue1</name>
        <label>Get High Acuity Queue</label>
        <locationX>182</locationX>
        <locationY>4562</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Ownership</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Action_Get_Records_Update_Records_Element_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TUC_Tele_Emergency_Care_0_2_Hours</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>UseQueue</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get the Intermediate Acuity Case Record Type</description>
        <name>Get_TUC_Case_RecordType</name>
        <label>Get Intermediate Acuity Case RecordType</label>
        <locationX>974</locationX>
        <locationY>4454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_TUC_Queue</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Action_Get_Records_Update_Records_Element_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tele_Urgent_Care_2_8_Hours_Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>recordTypeForNew</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get the Intermediate Acuity Queue Group</description>
        <name>Get_TUC_Queue</name>
        <label>Get Intermediate Acuity Queue</label>
        <locationX>974</locationX>
        <locationY>4562</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Ownership</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Action_Get_Records_Update_Records_Element_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TUC_TeleUrgent_Care_2_8_hours</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>UseQueue</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Query the Custom Metadata Type called &quot;TUC Supported Location By VISN&quot; to get the locations that the Tele-EC modules support</description>
        <name>Get_TUC_Supported_Locations</name>
        <label>Get_TUC_Supported_Locations</label>
        <locationX>578</locationX>
        <locationY>1658</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Get_TUC_Supported_Locations</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Action_Get_Records_Update_Records_Element_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MPI_Facility_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>facilityCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TUC_Supported_Location_By_VISN__mdt</object>
        <sortField>Salesforce_Facility_ID__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Using the Values from the previous collection, Query Location Records for Locations Collection and Display</description>
        <name>GetLocation_s_From_Child_Facilities_Collection</name>
        <label>GetLocation(s) From Child Facilities Collection</label>
        <locationX>578</locationX>
        <locationY>2174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Child_Facilities_Count_Decision</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Action_Get_Records_Update_Records_Element_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VAF_Facility_ID__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Child_facility_IDs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Location</object>
        <sortField>VAF_Facility_ID__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the progress note this flow is run from</description>
        <name>This_Progress_Note</name>
        <label>This Progress Note</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Progress_Note_Detail_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Action_Get_Records_Update_Records_Element_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VCC_Progress_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the Escalation to Tele-EC Checkbox to True</description>
        <name>Update_PN_Escalate_Checkbox</name>
        <label>Update PN Escalate Checkbox</label>
        <locationX>578</locationX>
        <locationY>5618</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Action_Get_Records_Update_Records_Element_Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>This_Progress_Note.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TED_Escalated_to_Tele_EC__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>VCC_Progress_Note__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <description>Default error message</description>
        <name>Action_Get_Records_Update_Records_Element_Error_Screen</name>
        <label>Action/Get Records/Update Records Element Error Screen</label>
        <locationX>314</locationX>
        <locationY>5726</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Action_Get_Records_Update_Records_Element_Error_ScreenText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;The requested action cannot be completed. Details on what went wrong are listed below.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Error details:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>For selecting Case Priority on a High Acuity Case</description>
        <name>CasePriority</name>
        <label>CasePriority</label>
        <locationX>446</locationX>
        <locationY>4046</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Current_Location_and_Callback_Number</targetReference>
        </connector>
        <fields>
            <name>SelectCasePriority</name>
            <choiceReferences>High</choiceReferences>
            <choiceReferences>Medium</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Case Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen for user to Select Current Location and Callback Number, as well as other choices</description>
        <name>Current_Location_and_Callback_Number</name>
        <label>Current Location and Callback Number</label>
        <locationX>578</locationX>
        <locationY>4238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>TEC_or_TUC_Case</targetReference>
        </connector>
        <fields>
            <name>CurrentLocation</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>This_Progress_Note.VCC_Case__r.VCC_Current_location__c</elementReference>
            </defaultValue>
            <fieldText>Current Location</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Callback_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>This_Progress_Note.VCC_Case__r.VCC_Call_back_phone_number__c</elementReference>
            </defaultValue>
            <fieldText>Callback Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EmailDisplay</name>
            <fieldText>&lt;p&gt;Email from Patient Record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CurrentEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>varPopulatePatientEmail</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Callback_Type</name>
            <choiceReferences>CallbackType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type of Visit</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Preferred_Call_Back_Time</name>
            <dataType>String</dataType>
            <fieldText>Preferred Call Back Time</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Please Enter Time in 12:30 AM/PM format.&lt;/p&gt;&lt;p&gt;Examples: 3:29 PM | 10:12 AM&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Preferred Call Back Time Must Be Less Than 9 Characters&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Preferred_Call_Back_Time})&lt;=9</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Tele_Emergency_Care</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Video_Visit_Patient_verbal_consent_obtained</name>
            <dataType>Boolean</dataType>
            <fieldText>Video Visit: Patient verbal consent obtained</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Assign_to_Available_Cases_Queue</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Assign to Available Cases Queue</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Uncheck to own the Case and be redirected to the Case Record.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Does_Not_Have_PN_Id</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>If there are multiple facilities found that have a matching Facility ID, gives choice to user to select which one they need</description>
        <name>Display_child_locations</name>
        <label>Display child locations</label>
        <locationX>578</locationX>
        <locationY>2606</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Chosen_Location</targetReference>
        </connector>
        <fields>
            <name>multifacility_header</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Multiple facilities have been found for Facility ID &lt;/strong&gt;&lt;strong style=&quot;font-size: 20px; background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;);&quot;&gt;{!facilityCode}. Please confirm the correct Facility. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Location</name>
            <choiceReferences>Choice_set_Child_locations_with_Common_Name</choiceReferences>
            <choiceReferences>Choice_set_Child_locations_no_Common_Name</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Location</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Screen to collect Chief Complaint, the Case Record Type, and the facility</description>
        <name>Escalate_to_TED</name>
        <label>Escalate to TED</label>
        <locationX>578</locationX>
        <locationY>1250</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DisplayCaseOrigin</targetReference>
        </connector>
        <fields>
            <name>SubjectEscalate</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Subject</elementReference>
            </defaultValue>
            <fieldText>Chief Complaint</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ParentId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Case_Record_Type</name>
            <choiceReferences>CaseRecordTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Record Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Origin</name>
            <fieldText>&lt;p&gt;Case Origin - Clinical Contact Center&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ParentId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Get_Facility</name>
            <extensionName>c:vccProgressNoteFacilitiesTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>progressNoteAccountId</name>
                <value>
                    <elementReference>thisAccount</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>facilityCode</assignToReference>
                <name>selectedFacilitySiteId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Warning screen for user to see that the VISN is paused</description>
        <name>Location_VISN_Paused_Screen</name>
        <label>Location VISN Paused Screen</label>
        <locationX>402</locationX>
        <locationY>3446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>checkForForceCaseCreation</targetReference>
        </connector>
        <fields>
            <name>warningCMP</name>
            <extensionName>c:tucWarningHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>New Case created screen</description>
        <name>New_Case_Created</name>
        <label>New Case Created</label>
        <locationX>1106</locationX>
        <locationY>5618</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Case_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;A new Tele Emergency Care Case has been created.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>No facilities were detected, here we need the user to choose among all facilities (backup option in case the first query returns 0 results)</description>
        <name>No_facilities_were_detected</name>
        <label>No facilities were detected</label>
        <locationX>1106</locationX>
        <locationY>2390</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Facility_for_VISN_Check</targetReference>
        </connector>
        <fields>
            <name>MultipleFacilitiesWarning2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;No VA Health Facility was found for Facility ID &lt;/strong&gt;&lt;strong style=&quot;font-size: 20px; background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;);&quot;&gt;{!facilityCode}. Please select the intended &lt;/strong&gt;&lt;strong style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;VA Health Facility.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirm_Correct_Facility2</name>
            <choiceReferences>All_Health_Facilities_Record_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Confirm Correct Facility</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Start_From_New_Case</name>
        <label>Start From New Case</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Contact_Id_from_Account</targetReference>
        </connector>
        <fields>
            <name>Remark</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Remark:&lt;/strong&gt; A contact&apos;s name must be selected prior to completing the Subject and Description fields. If a contact&apos;s name cannot be found, use the component below named &quot;Add Veteran to CRM&quot; to add the patient to CRM.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GetAccount</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact Name</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>thisAccount</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>CaseSubject</name>
            <dataType>String</dataType>
            <fieldText>Chief Complaint</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CaseDescription</name>
            <defaultValue>
                <stringValue>{!Description}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Case_Origin</name>
            <choiceReferences>ClinicalContactCenter</choiceReferences>
            <choiceReferences>CommunityLivingCenterNursingFacility</choiceReferences>
            <choiceReferences>VAHealthChat</choiceReferences>
            <choiceReferences>PACT</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Case Origin</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_a_PN_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Child_facility_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Child_Facility_IDs_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Retrieve a Patients Name and Last Name</description>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentItem_Common_Name_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>currentItem_Location_Name_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Location</objectType>
    </variables>
    <variables>
        <description>Details about a patient&apos;s main concern</description>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>facilityCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds Id from the Location object. I.E the Facility. Not the VAF_Facility_ID__c, the actual Id</description>
        <name>FacilityLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This boolean forces the flow to proceed with case creation regardless if the queue for a VISN is paused</description>
        <name>forceCaseCreation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>HighAcuityStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IntermediateAcuityStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <description>Holds size of Record Choice Set</description>
        <name>NumberOfFacilities</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ParentCaseFacilityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Parent Case for a TUC Case Escalation</description>
        <name>ParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProgressNote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VCC_Progress_Note__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue />
        </value>
    </variables>
    <variables>
        <description>stores the record type for new cases</description>
        <name>recordTypeForNew</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Used to hold the selected location record id.</description>
        <name>SelectedCorrectLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Patient&apos;s main complain</description>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thisAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thisContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UseQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserVISN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseOrigin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Assign a Clinical Triage CSSRS (Columbia Screening) result.</description>
        <name>varCT_CSSRS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Populate a patient&apos;s email from the Patient&apos;s Record</description>
        <name>varPopulatePatientEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VISNStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
