force-app/main/default/flows/VCC_SOT_Create_Assigned_Site_Based_on_SOT_User_Home_Site.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>VCC_Does_an_Assigned_Site_Equal_to_SOT_User_Home_Site_Exist</name>
        <label>Does an Assigned Site Equal to SOT User Home Site Already Exist for this Readiness Activity?</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Yes, the Assigned Site Already Exists</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assigned_Site_Records_for_the_Readiness_Activity.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VCC_Create_Assigned_Site_Equal_to_SOT_User_Home_Site</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>VCC_Does_the_Home_Site_Field_on_the_SOT_User_Record_Have_a_Value</name>
        <label>Does the Home Site Field on the SOT User Record Have a Value?</label>
        <locationX>611</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VCC_SOT_User__r.VCC_Home_Site__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Site_Record_Matching_Home_Site</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>VCC_Does_the_Home_Site_VISN_Map_to_the_Readiness_Activity_VISN</name>
        <label>Does the Home Site VISN Map to the Readiness Activity VISN?</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_HomeSiteMapsToReadinessVISN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VCC_VISN__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Site_Record_Matching_Home_Site.VCC_VISN__r.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assigned_Site_Records_for_the_Readiness_Activity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description
    >When a Readiness Activity is created or updated, if an Assigned Site that matches the SOT User&apos;s Home Site does not already exist, then one is created.</description>
    <environments>Default</environments>
    <interviewLabel>VCC SOT Create Assigned Site Based on SOT User Home Site {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VCC SOT Create Assigned Site Based on SOT User Home Site</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>VCC_Create_Assigned_Site_Equal_to_SOT_User_Home_Site</name>
        <label>Create Assigned Site Equal to SOT User Home Site</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>VCC_Readiness_Activity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_SOT_User__c</field>
            <value>
                <elementReference>$Record.VCC_SOT_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Site__c</field>
            <value>
                <elementReference>$Record.VCC_SOT_User__r.VCC_Home_Site__c</elementReference>
            </value>
        </inputAssignments>
        <object>VCC_Assigned_Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Assigned_Site_Records_for_the_Readiness_Activity</name>
        <label>Get Assigned Site Records for the Readiness Activity</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VCC_Does_an_Assigned_Site_Equal_to_SOT_User_Home_Site_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VCC_Site__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.VCC_SOT_User__r.VCC_Home_Site__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>VCC_Readiness_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VCC_Assigned_Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Site_Record_Matching_Home_Site</name>
        <label>Get Site Record Matching Home Site</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VCC_Does_the_Home_Site_VISN_Map_to_the_Readiness_Activity_VISN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.VCC_SOT_User__r.VCC_Home_Site__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VCC_Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>VCC_Does_the_Home_Site_Field_on_the_SOT_User_Record_Have_a_Value</targetReference>
        </connector>
        <object>VCC_Readiness_Activity__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VCC_VISN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
