force-app/main/default/flows/VCC_COVID_Test_to_Treat_Subflow_Paxlovid.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Contraindications</name>
        <label>Assign Contraindications</label>
        <locationX>2140</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>pax_Contraindications_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Output_Text.VCC_Display_Text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Output_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient_and_or_Caregiver_Consents_to_Paxlovid_Use</name>
        <label>Assign Patient and or Caregiver Consents to Paxlovid Use</label>
        <locationX>2404</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>pax_Patient_and_or_Caregiver_Consents_to_Paxlovid_Use_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Output_Text.VCC_Display_Text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Output_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient_enrolled_in_follow_up_Covid_19_Treatment</name>
        <label>Assign Patient enrolled in follow-up Covid-19 Treatment</label>
        <locationX>2668</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>paxPatient_enrolled_in_followup_Covid19_Treatment_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Output_Text.VCC_Display_Text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Output_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_paxConsentVar</name>
        <label>Assign paxConsentVar</label>
        <locationX>820</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>paxConsentVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Output_Text.VCC_Display_Text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Output_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_paxLimitationOfEUA</name>
        <label>Assign paxLimitationOfEUA</label>
        <locationX>1084</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>paxLimitationOfEUA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Output_Text.VCC_Display_Text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Output_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_paxNotConsidered</name>
        <label>Assign paxNotConsidered</label>
        <locationX>1612</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>paxNotConsidered</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Output_Text.VCC_Display_Text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Output_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_paxPatientCounseledVar</name>
        <label>Assign paxPatientCounseledVar</label>
        <locationX>1348</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>paxPatientCounseledVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Output_Text.VCC_Display_Text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Output_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Possible_Field_Updates_Add_to_Note</name>
        <label>Assign Possible Field Updates Add to Note</label>
        <locationX>864</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>VCC_T2T_Allergy_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flowOutputVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgressNoteRecord.VCC_Allergies__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flowOutputVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>vcc_Decision_Hypersensitivity_Choice_Outcome</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This assignment is used to identify the values that will be displayed on next/previous and ultimately what will be written to the progress note. This assignment is being controlled from the LWC JS controller, please refer to the logic there.</description>
        <name>Assign_Possible_Field_Updates_Delete</name>
        <label>Assign Possible Field Updates Delete</label>
        <locationX>1128</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>VCC_T2T_Allergy_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VCC_T2T_NULL_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgressNoteRecord.VCC_Allergies__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VCC_T2T_NULL_Value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>vcc_Decision_Hypersensitivity_Choice_Outcome</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This assignment is used to identify the values that will be displayed on next/previous and ultimately what will be written to the progress note. This assignment is being controlled from the LWC JS controller, please refer to the logic there.</description>
        <name>Assign_Possible_Field_Updates_Freetext</name>
        <label>Assign Possible Field Updates Freetext</label>
        <locationX>1392</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>VCC_T2T_Allergy_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flowOutputVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgressNoteRecord.VCC_Allergies__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flowOutputVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>vcc_Decision_Hypersensitivity_Choice_Outcome</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This assignment is used to identify the values that will be displayed on next/previous and ultimately what will be written to the progress note. This assignment is being controlled from the LWC JS controller, please refer to the logic there.</description>
        <name>Assign_Possible_Field_Updates_Prescriptions_Delete</name>
        <label>Assign Possible Field Updates Prescriptions Delete</label>
        <locationX>710</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>VCC_T2T_Medication_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VCC_T2T_NULL_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgressNoteRecord.VCC_Medications__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VCC_T2T_NULL_Value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VCC_Interaction_Drug_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Review_Completed</name>
        <label>Assign Review Completed</label>
        <locationX>1876</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>paxReviewCompleted_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Output_Text.VCC_Display_Text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Output_Text</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Possible_Field_Updates_Add_to_Note</name>
        <label>Copy 1 of Assign Possible Field Updates Add to Note</label>
        <locationX>446</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>VCC_T2T_Medication_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flowOutputVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgressNoteRecord.VCC_Medications__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flowOutputVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VCC_Interaction_Drug_Decision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_VCC_Assign_Dose</name>
        <label>Copy 1 of VCC_Assign_Dose</label>
        <locationX>314</locationX>
        <locationY>3278</locationY>
        <assignmentItems>
            <assignToReference>VCC_T2T_Dosage_Answer</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>eGFR &gt;/= 30 to &lt; 60mL/min (150 mg Nirmatrelvir AND 100 mg Ritonavir) PO twice daily x 5 days</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VCC_Patient_has_met_all_the_criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_VCC_T2T_Assign_Collection</name>
        <label>Copy Into Collections</label>
        <locationX>820</locationX>
        <locationY>5528</locationY>
        <assignmentItems>
            <assignToReference>VCC_T2T_Labels_Temp_Pax</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VCC_T2T_Data_Label_String</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VCC_T2T_Pax_Key</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VCC_T2T_Data_Extract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VCC_T2T_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_VCC_T2T_Assign_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Reset Loop and end</description>
        <name>Copy_1_of_VCC_T2T_Clear</name>
        <label>Clear Temporary List</label>
        <locationX>1084</locationX>
        <locationY>5528</locationY>
        <assignmentItems>
            <assignToReference>VCC_T2T_Pax_Labels</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VCC_T2T_Labels_Temp_Pax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VCC_T2T_Labels_Temp_Pax</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VCC_T2T_Null</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_VCC_T2T_Assign_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_VCC_T2T_Drug_Int_Assign</name>
        <label>Copy 1 of VCC_T2T_Drug_Int_Assign</label>
        <locationX>842</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>VCC_T2T_Drug_Interaction_Answer</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A drug-drug interaction was identified by the patient but they are able to safely hold or modify the interacting medication(s) for the duration of therapy with Paxlovid.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Paxlovid_Labs_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_VCC_Assign_Dose</name>
        <label>Copy 2 of VCC_Assign_Dose</label>
        <locationX>578</locationX>
        <locationY>3278</locationY>
        <assignmentItems>
            <assignToReference>VCC_T2T_Dosage_Answer</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VCC_Patient_has_met_all_the_criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_VCC_T2T_Drug_Int_Assign</name>
        <label>Copy 2 of VCC_T2T_Drug_Int_Assign</label>
        <locationX>1106</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>VCC_T2T_Drug_Interaction_Answer</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A drug-drug interaction was identified by the patient and they are unable to proceed with Paxlovid.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VCC_T2T_Assign_Stage6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VCC_Assign_Dose</name>
        <label>VCC_Assign_Dose</label>
        <locationX>50</locationX>
        <locationY>3278</locationY>
        <assignmentItems>
            <assignToReference>VCC_T2T_Dosage_Answer</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>eGFR &gt;/= 60mL/min (300 mg Nirmatrelvir AND 100 mg Ritonavir) PO twice daily x 5 days</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VCC_Patient_has_met_all_the_criteria</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VCC_T2T_Assign_Collection</name>
        <label>Copy Into Collection</label>
        <locationX>270</locationX>
        <locationY>4010</locationY>
        <assignmentItems>
            <assignToReference>VCC_T2T_Labels_Temp_Pax</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VCC_T2T_Data_Label_String</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VCC_T2T_Pax_Key</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VCC_T2T_Data_Extract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VCC_T2T_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VCC_T2T_Assign_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VCC_T2T_Assign_Stage1</name>
        <label>Assign Stage</label>
        <locationX>732</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VCC_T2T_Flow_Stage3_G</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reason_for_Choosing_Paxlovid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VCC_T2T_Assign_Stage2</name>
        <label>Assign Stage</label>
        <locationX>1128</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VCC_T2T_Flow_Stage4_G</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Paxlovid_Patient_Allergies</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VCC_T2T_Assign_Stage3</name>
        <label>Assign Stage</label>
        <locationX>710</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VCC_T2T_Flow_Stage5_G</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Paxlovid_Medication_Reconciliation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VCC_T2T_Assign_Stage4</name>
        <label>Assign Stage</label>
        <locationX>314</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VCC_T2T_Flow_Stage6_G</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Paxlovid_Labs_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VCC_T2T_Assign_Stage5</name>
        <label>Assign Stage</label>
        <locationX>182</locationX>
        <locationY>3578</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VCC_T2T_Flow_Stage7_G</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pax_Disposition_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VCC_T2T_Assign_Stage6</name>
        <label>Assign Stage</label>
        <locationX>1128</locationX>
        <locationY>4754</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VCC_T2T_Flow_Stage8_G</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Denial_Disposition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VCC_T2T_AssignFlowRecord</name>
        <label>Flow Initialization</label>
        <locationX>732</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetOutputText</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Reset Loop and end</description>
        <name>VCC_T2T_Clear</name>
        <label>Clear Temporary List</label>
        <locationX>534</locationX>
        <locationY>4010</locationY>
        <assignmentItems>
            <assignToReference>VCC_T2T_Pax_Labels</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VCC_T2T_Labels_Temp_Pax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VCC_T2T_Labels_Temp_Pax</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VCC_T2T_Null</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VCC_T2T_Assign_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VCC_T2T_Drug_Int_Assign</name>
        <label>VCC_T2T_Drug_Int_Assign</label>
        <locationX>314</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>VCC_T2T_Drug_Interaction_Answer</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No drug-drug interactions were identified, and the patient is able to proceed with Paxlovid treatment as ordered.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VCC_T2T_Assign_Stage4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VCC_T2T_Labs_Assign</name>
        <label>VCC_T2T_Labs_Assign</label>
        <locationX>314</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>VCC_T2T_Labs_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flowOutputVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VCC_T2T_Dosage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the input to the collection</description>
        <name>VCC_T2T_Presciptions_Assign_Freetext</name>
        <label>VCC_T2T_Presciptions_Assign Freetext</label>
        <locationX>974</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>VCC_T2T_Medication_Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flowOutputVariable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProgressNoteRecord.VCC_Medications__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flowOutputVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VCC_Interaction_Drug_Decision</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>consentToPaxlovidChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>True</stringValue>
        </value>
    </choices>
    <choices>
        <name>considerationToMono</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>noConsentToPaxlovid</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>False</stringValue>
        </value>
    </choices>
    <choices>
        <name>noConsiderationToMono</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>patientandcaregiverconsenting</name>
        <choiceText>{!pax_Patient_and_or_Caregiver_Consents_to_Paxlovid_Use_var}</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>PatientsenrolledinCOVID19followuptreatmentprogram</name>
        <choiceText>{!paxPatient_enrolled_in_followup_Covid19_Treatment_var}</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>vcc_No_Hypersensitivity_Choice</name>
        <choiceText>&lt;strong&gt;Patient does NOT have any known hypersensitivity to Nirmatrelvir or Ritonavir&lt;/strong&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>VCC_T2T_Criteria_Choice_No</name>
        <choiceText>&lt;strong&gt;No&lt;/strong&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>VCC_T2T_Criteria_Choice_Yes</name>
        <choiceText>&lt;strong&gt;Yes&lt;/strong&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>VCC_T2T_Dosage_EGFR60less</name>
        <choiceText>&lt;strong&gt;eGFR &amp;gt;/= 30 to &amp;lt; 60mL/min&lt;/strong&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;(150 mg Nirmatrelvir AND 100 mg Ritonavir) PO twice daily x 5 days&lt;/strong&gt;&lt;/p&gt;</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>VCC_T2T_Dosage_EGFR60plus</name>
        <choiceText>&lt;strong&gt;eGFR &amp;gt;/= 60mL/min&lt;/strong&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;(300 mg Nirmatrelvir AND 100 mg Ritonavir) PO twice daily x 5 days&lt;/strong&gt;&lt;/p&gt;</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>VCC_T2T_Drug_Interaction_Alternative</name>
        <choiceText>&lt;strong&gt;A drug-drug interaction was identified by the patient but they are able to safely hold or modify the interacting medication(s) for the duration of therapy with Paxlovid.&lt;/strong&gt;</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>VCC_T2T_Drug_Interaction_None_Choice</name>
        <choiceText>&lt;strong&gt;No drug-drug interactions were identified, and the patient is able to proceed with Paxlovid treatment as ordered.&lt;/strong&gt;</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>VCC_T2T_Drug_Interaction_Yes</name>
        <choiceText>&lt;strong&gt;A drug-drug interaction was identified by the patient and they are unable to proceed with Paxlovid.&lt;/strong&gt;</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>VCC_T2T_Drug_Interactions_Alternative</name>
        <choiceText>&lt;strong&gt;A drug-drug interaction was identified by the patient and they are unable to proceed with Paxlovid.&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes, interactions, alternative</stringValue>
        </value>
    </choices>
    <choices>
        <name>VCC_T2T_Drug_Interations</name>
        <choiceText>&lt;strong&gt;A drug-drug interaction was identified by the patient but they are able to safely hold or modify the interacting medication(s) for the duration of therapy with Paxlovid.&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes, interactions, modifications</stringValue>
        </value>
    </choices>
    <choices>
        <description>Indicates that there are no know drug interactions from the medication list with the paxlovid treatment</description>
        <name>VCC_T2T_No_Drug_Interactions</name>
        <choiceText>&lt;strong&gt;No drug-drug interactions were identified, and the patient is able to proceed with Paxlovid treatment as ordered.&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No, interactions, original</stringValue>
        </value>
    </choices>
    <choices>
        <name>vcc_Yes_Hypersensitivity_Choice</name>
        <choiceText>&lt;strong&gt;Patient does have a known hypersensitivity to Nirmatrelvir or Ritonavir&lt;/strong&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <name>VCC_T2T_NULL_Value</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>considerMono</name>
        <label>considerMono</label>
        <locationX>1128</locationX>
        <locationY>4970</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>VCC_T2T_Assign_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YestoMono</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_consider_Molnupiravir_disposition</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>considerationToMono</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_VCC_T2T_Assign_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Continue_with_Pax_or_Mono</name>
        <label>Continue with Pax or Mono</label>
        <locationX>732</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>VCC_T2T_Assign_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Continue_with_Mono</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pickedMono</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_VCC_T2T_Assign_Loop</targetReference>
            </connector>
            <label>Continue with Mono</label>
        </rules>
        <rules>
            <name>Continue_with_Pax</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>pickedMono</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>paxNotConsideredCheckbox</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProgressNoteRecord</targetReference>
            </connector>
            <label>Continue with Pax</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_VCC_Loop_Gap1</name>
        <label>Condition Stopper</label>
        <locationX>952</locationX>
        <locationY>5420</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_VCC_T2T_Clear</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VCC_T2T_Count</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_VCC_T2T_Assign_Collection</targetReference>
            </connector>
            <label>Copy 1 of Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_VCC_Null_Safe</name>
        <label>Copy 1 of VCC_Null_Safe</label>
        <locationX>710</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>VCC_T2T_Presciptions_Assign_Freetext</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prescriptions_Null_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VCC_CheckIfNull</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddtoNote_Listener_Medications</targetReference>
            </connector>
            <label>Prescriptions Null Value</label>
        </rules>
        <rules>
            <name>Delete_Value_Prescritions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowOutputVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Possible_Field_Updates_Prescriptions_Delete</targetReference>
            </connector>
            <label>Delete_Value Prescritions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Key</name>
        <label>Decision Key</label>
        <locationX>1876</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Output_Text</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Paxlovid_Consent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Output_Text.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paxlovid Consent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_paxConsentVar</targetReference>
            </connector>
            <label>Paxlovid Consent</label>
        </rules>
        <rules>
            <name>PaxlovidLimitationofEUA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Output_Text.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paxlovid Limitation of EUA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_paxLimitationOfEUA</targetReference>
            </connector>
            <label>Paxlovid Limitation of EUA</label>
        </rules>
        <rules>
            <name>PaxlovidPatientCounseled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Output_Text.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paxlovid Patient Counseled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_paxPatientCounseledVar</targetReference>
            </connector>
            <label>Paxlovid Patient Counseled</label>
        </rules>
        <rules>
            <name>Paxlovid_Not_Considered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Output_Text.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paxlovid and or Molnupiravir Not Considered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_paxNotConsidered</targetReference>
            </connector>
            <label>Paxlovid Not Considered</label>
        </rules>
        <rules>
            <name>Paxlovid_Review_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Output_Text.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paxlovid Review Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Review_Completed</targetReference>
            </connector>
            <label>Paxlovid Review Completed</label>
        </rules>
        <rules>
            <name>Paxlovid_Contraindications</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Output_Text.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paxlovid Contraindications</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contraindications</targetReference>
            </connector>
            <label>Paxlovid Contraindications</label>
        </rules>
        <rules>
            <name>Patient_and_or_Caregiver_Consents_to_Paxlovid_Use</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Output_Text.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patient and or Caregiver Consents to Paxlovid Use</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Patient_and_or_Caregiver_Consents_to_Paxlovid_Use</targetReference>
            </connector>
            <label>Patient and or Caregiver Consents to Paxlovid Use</label>
        </rules>
        <rules>
            <name>Patient_enrolled_in_follow_up_Covid_19_Treatment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Output_Text.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patient enrolled in follow-up Covid-19 Treatment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Patient_enrolled_in_follow_up_Covid_19_Treatment</targetReference>
            </connector>
            <label>Patient enrolled in follow-up Covid-19 Treatment</label>
        </rules>
    </decisions>
    <decisions>
        <name>vcc_Decision_Hypersensitivity_Choice_Outcome</name>
        <label>Hypersensitivity Choice Outcome</label>
        <locationX>1128</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>VCC_T2T_Assign_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>vcc_Decision_No_Hypersensitivity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vcc_No_Hypersensitivity_Choice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VCC_T2T_Assign_Stage3</targetReference>
            </connector>
            <label>No Known Hypersensitivity</label>
        </rules>
        <rules>
            <name>vcc_Decision_Yes_Hypersensitivity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vcc_Yes_Hypersensitivity_Choice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VCC_T2T_Assign_Stage6</targetReference>
            </connector>
            <label>Known Hypersensitivity</label>
        </rules>
    </decisions>
    <decisions>
        <description>This is used to check the radio options that were selected in the previous screen and where to proceed</description>
        <name>VCC_Interaction_Drug_Decision</name>
        <label>VCC_Interaction_Drug_Decision</label>
        <locationX>710</locationX>
        <locationY>2630</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_VCC_T2T_Drug_Int_Assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Drug-Drug Interaction Unable to Proceed</defaultConnectorLabel>
        <rules>
            <name>No_Drug_Drug_Interaction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VCC_T2T_Drug_Interaction_None_Choice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VCC_T2T_Drug_Int_Assign</targetReference>
            </connector>
            <label>No Drug-Drug Interaction</label>
        </rules>
        <rules>
            <name>Drug_Drug_Interaction_Alternative</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VCC_T2T_Drug_Interaction_Alternative</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_VCC_T2T_Drug_Int_Assign</targetReference>
            </connector>
            <label>Alt Drug-Drug Interaction Alternative</label>
        </rules>
    </decisions>
    <decisions>
        <name>VCC_Loop_Gap1</name>
        <label>Condition Stopper</label>
        <locationX>402</locationX>
        <locationY>3902</locationY>
        <defaultConnector>
            <targetReference>VCC_T2T_Clear</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VCC_T2T_Count</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VCC_T2T_Assign_Collection</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>VCC_Null_Safe</name>
        <label>VCC_Null_Safe</label>
        <locationX>1128</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Assign_Possible_Field_Updates_Freetext</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VCC_CheckIfNull</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddtoNote_Listener_Allergies</targetReference>
            </connector>
            <label>Null Value</label>
        </rules>
        <rules>
            <name>Delete_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flowOutputVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Possible_Field_Updates_Delete</targetReference>
            </connector>
            <label>Delete_Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>VCC_Patient_has_met_all_the_criteria</name>
        <label>VCC_Patient_has_met_all_the_criteria</label>
        <locationX>314</locationX>
        <locationY>3470</locationY>
        <defaultConnector>
            <targetReference>VCC_T2T_Assign_Stage6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VCC_T2T_Criteria_Choice_Picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VCC_T2T_Criteria_Choice_Picklist</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VCC_T2T_Assign_Stage5</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>VCC_T2T_Dosage</name>
        <label>VCC_T2T_Dosage</label>
        <locationX>314</locationX>
        <locationY>3170</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_VCC_Assign_Dose</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>eGFR_60mL_min</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VCC_T2T_Dosage_EGFR60plus</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VCC_Assign_Dose</targetReference>
            </connector>
            <label>eGFR &gt;/= 60mL/min</label>
        </rules>
        <rules>
            <name>eGFR_30_to_60mL_min</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VCC_T2T_Dosage_EGFR60less</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_VCC_Assign_Dose</targetReference>
            </connector>
            <label>eGFR &gt;/= 30 to &lt; 60mL/min</label>
        </rules>
    </decisions>
    <description>refactor cccm-24000</description>
    <environments>Default</environments>
    <formulas>
        <name>pickedMono</name>
        <dataType>String</dataType>
        <expression>IF({!Would_you_like_to_consider_Molnupiravir}=={!considerationToMono}, &apos;yes&apos;, &apos;no&apos;)</expression>
    </formulas>
    <formulas>
        <name>VCC_CheckIfNull</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!flowOutputVariable})</expression>
    </formulas>
    <formulas>
        <description>CCCM-9888  ii.&lt;&lt; If &apos;Changes needed&apos; or &apos;Other&apos; is chosen for Medication Reconciliation Discrepancies field, then display and make required the Medication Discrepancy Additional Info field.&gt;&gt;</description>
        <name>VCC_T2T_Check_Medication_Discrepancy</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISPICKVAL
({!ProgressNoteRecord.VCC_Medication_Reconciliation_Options_Rn__c}, &apos;Changes needed&apos;) &amp;&amp;
ISBLANK({!VCC_T2T_Medication_Discrepancies_Additional_Info}), True, False) 
|| 
IF(ISPICKVAL
({!ProgressNoteRecord.VCC_Medication_Reconciliation_Options_Rn__c}, &apos;Other&apos;) &amp;&amp; ISBLANK({!VCC_T2T_Medication_Discrepancies_Additional_Info}), True, False)</expression>
    </formulas>
    <formulas>
        <description>This formula checks what was selected on this field and returns an error if the &apos;No, specify other reason&apos; is selected for Medication Education</description>
        <name>VCC_T2T_Check_Medication_Education</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISPICKVAL({!ProgressNoteRecord.VCC_Medication_Education__c}, &apos;No. Specify other reason&apos;)  &amp;&amp; ISBLANK({!VCC_T2T_Medication_Education_Additional_Info}), True, False)</expression>
    </formulas>
    <formulas>
        <description>Formula used to convert date variables into string for storage</description>
        <name>VCC_T2T_Convert_Date</name>
        <dataType>String</dataType>
        <expression>IF(
  NOT(ISBLANK({!VCC_T2T_originalDate})),
  IF(
    {!VCC_T2T_Count} = 0,
    &quot;VCC_T2T_Home_Test_Date: &quot; + TEXT(MONTH({!VCC_T2T_originalDate})) + &quot;-&quot; + TEXT(DAY({!VCC_T2T_originalDate})) + &quot;-&quot; + TEXT(YEAR({!VCC_T2T_originalDate})),
    &quot;VCC_T2T_Symptom_Date: &quot; + TEXT(MONTH({!VCC_T2T_originalDate})) + &quot;-&quot; + TEXT(DAY({!VCC_T2T_originalDate})) + &quot;-&quot; + TEXT(YEAR({!VCC_T2T_originalDate}))
  ),
  IF(
    {!VCC_T2T_Count} = 0,
    &quot;VCC_T2T_Home_Test_Date: N/A&quot;,
    &quot;VCC_T2T_Symptom_Date: N/A&quot;
  )
)</expression>
    </formulas>
    <formulas>
        <description>Designed to be paired with JS to extract data only containing values on index</description>
        <name>VCC_T2T_Data_Extract</name>
        <dataType>String</dataType>
        <expression>CASE({!VCC_T2T_Count},
  0,  ({!patientInterestedInPaxlovid}),
  1, IF({!paxConsentCheckbox}, &quot;True&quot;, &quot;False&quot;),
  2, IF({!paxCounseledCheckbox}, &quot;True&quot;, &quot;False&quot;),
  3,IF({!paxNotConsideredCheckbox}, &quot;False&quot;, &quot;True&quot;),
  4, ({!Would_you_like_to_consider_Molnupiravir}),
  5, IF({!paxNotConsideredCheckbox}, &quot;True&quot;, &quot;False&quot;),
  6, IF({!paxNotConsideredCheckbox}, &quot;False&quot;, &quot;True&quot;),
  7, {!VCC_T2T_Allergy_Value},
  8, IF({!vcc_Hypersensitivity_Choice_Radio}, &quot;True&quot;, &quot;False&quot;),
  9, {!VCC_T2T_Medication_Value},
  10, TEXT({!ProgressNoteRecord.VCC_Medication_Reconciliation_Options__c}),
  11, TEXT({!ProgressNoteRecord.VCC_Medication_Reconciliation_Options_Rn__c}),
  12,  {!VCC_T2T_Medication_Discrepancies_Additional_Info},
  13,  IF({!VCC_Prescription_Review}, &quot;True&quot;, &quot;False&quot;),
  14, IF({!VCC_Prescription_Review}, &quot;True&quot;, &quot;False&quot;),
  15,  ({!VCC_T2T_Drug_Interaction_Answer}),
  16, TEXT({!ProgressNoteRecord.VCC_Medication_Education__c}),
  17,  {!VCC_T2T_Medication_Education_Additional_Info},
  18,  {!VCC_T2T_Labs_Value},
  19, TEXT(MONTH({!VCC_T2T_Home_Test_Date})) + &quot;-&quot; + TEXT(DAY({!VCC_T2T_Home_Test_Date})) + &quot;-&quot; + TEXT(YEAR({!VCC_T2T_Home_Test_Date})),
  20,  IF({!VCC_T2T_Criteria_Choice_Picklist}, &quot;True&quot;, &quot;False&quot;),
  21, TEXT(MONTH({!VCC_T2T_Symptom_Date})) + &quot;-&quot; + TEXT(DAY({!VCC_T2T_Symptom_Date})) + &quot;-&quot; + TEXT(YEAR({!VCC_T2T_Symptom_Date})),
  22,  ({!VCC_T2T_Symptom_Details_Long}),
  23, IF({!VCC_T2T_Criteria_Choice_Picklist}, &quot;True&quot;, &quot;False&quot;),
  24, IF({!VCC_T2T_Criteria_Choice_Picklist}, &quot;True&quot;, &quot;False&quot;),
  25, ({!VCC_T2T_Dosage_Answer}),
  26, IF({!PatientandorCaregiverConsentstoPaxlovidUseCheckBox}, &quot;True&quot;, &quot;False&quot;),
  27, IF({!patientenrolledinCOVID19followupTreatmentCheckBox}, &quot;True&quot;,&quot;False&quot;),
  28,  ({!Medication_adjustments_needed_as_follows}),
  29,  ({!Patient_is_denied_due_to_the_following}),
  30,  ({!Would_you_like_to_consider_Molnupiravir_disposition}),
null
)</expression>
    </formulas>
    <formulas>
        <name>VCC_T2T_Data_Label_String</name>
        <dataType>String</dataType>
        <expression>CASE({!VCC_T2T_Count},
  0, &quot;Based on medical history and medications taken, is patient interested in Paxlovid treatment?&quot;,
  1, {!paxConsentVar},
  2, {!paxPatientCounseledVar},
  3, {!paxLimitationOfEUA},
  4, &quot;Would you like to consider Molnupiravir?&quot;,
  5, {!paxNotConsidered},
  6, {!Paxlovid_Message},
  7, &quot;Allergies&quot;,
  8, &quot;Hypersensitivity to Paxlovid&quot;,
  9, &quot;Prescriptions&quot;,
  10, &quot;Medication Reconcilliation&quot;,
  11, &quot;Medication Reconciliation Discrepancies&quot;,
  12, &quot;Medication Discrepancies Additional Info&quot;,
  13, {!paxReviewCompleted_var},
  14, {!pax_Contraindications_var},
  15, &quot;Select what applies&quot;,
  16, &quot;Medication Education&quot;,
  17, &quot;Medication Education Additional Info&quot;,
  18, &quot;Labs&quot;,
  19, {!VCC_T2T_Test_Confirmed_Text},
  20, {!VCC_T2T_No_Hospitalization_Text},
  21, {!VCC_T2T_Symptom_Onset_Text},
  22, &quot;Symptom Details&quot;,
  23, {!VCC_T2T_Blurb_Medical_text},
  24, &quot;Patient has met ALL of the above criteria&quot;,
  25, &quot;Select appropriate dosage&quot;,
  26, {!pax_Patient_and_or_Caregiver_Consents_to_Paxlovid_Use_var},
  27, {!paxPatient_enrolled_in_followup_Covid19_Treatment_var},
  28, &quot;Medication adjustments needed, as follows&quot;,
  29, &quot;Patient is denied due to the following&quot;,
  30, &quot;Would you like to consider Molnupiravir?&quot;,
null
)</expression>
    </formulas>
    <formulas>
        <name>VCC_T2T_Navigation_Helper</name>
        <dataType>Number</dataType>
        <expression>CASE({!$Flow.CurrentStage}, 
     &quot;3&quot;, IF({!Would_you_like_to_consider_Molnupiravir}= &quot;Yes&quot;, 1, 0),
     &quot;4&quot;, IF({!vcc_Hypersensitivity_Choice_Radio},1,0),
     &quot;5&quot;, IF({!VCC_T2T_Drug_Interactions_Picklist},1,0),
     &quot;6&quot;, IF({!vcc_Hypersensitivity_Choice_Radio}, 1, 0),
     &quot;7&quot;, IF({!PatientandorCaregiverConsentstoPaxlovidUseCheckBox}, 1,0),
     &quot;8&quot;, IF({!Would_you_like_to_consider_Molnupiravir_disposition}=&quot;Yes&quot;,1,0),
     null)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>VCC COVID Test to Treat Subflow: Paxlovid {!$Flow.CurrentDateTime} {!recordId}</interviewLabel>
    <label>VCC COVID Test to Treat Subflow: Paxlovid</label>
    <loops>
        <name>Copy_1_of_VCC_T2T_Assign_Loop</name>
        <label>Answer Collection</label>
        <locationX>732</locationX>
        <locationY>5312</locationY>
        <collectionReference>VCC_T2T_Labels_Temp_Pax</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_VCC_Loop_Gap1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Molnupiravir_Sub</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Output_Text</name>
        <label>Loop Through Output Text</label>
        <locationX>732</locationX>
        <locationY>350</locationY>
        <collectionReference>GetOutputText</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_Key</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>VCC_T2T_Assign_Stage1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>VCC_T2T_Assign_Loop</name>
        <label>Answer Collection</label>
        <locationX>182</locationX>
        <locationY>3794</locationY>
        <collectionReference>VCC_T2T_Labels_Temp_Pax</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>VCC_Loop_Gap1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Preview_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>AddtoNote_Listener_Allergies</name>
        <label>AddtoNote Listener Allergies</label>
        <locationX>864</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Possible_Field_Updates_Add_to_Note</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>VCC_Progress_Note__c</object>
        <outputAssignments>
            <assignToReference>flowOutputVariable</assignToReference>
            <field>VCC_Allergies__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>AddtoNote_Listener_Medications</name>
        <label>AddtoNote Listener Medications</label>
        <locationX>446</locationX>
        <locationY>2330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_Possible_Field_Updates_Add_to_Note</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>VCC_Progress_Note__c</object>
        <outputAssignments>
            <assignToReference>flowOutputVariable</assignToReference>
            <field>VCC_Medications__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetOutputText</name>
        <label>getOutputText</label>
        <locationX>732</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Output_Text</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VCC_Treatment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paxlovid</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>VCC_Output_Text__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ProgressNoteRecord</name>
        <label>ProgressNoteRecord</label>
        <locationX>1128</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VCC_T2T_Assign_Stage2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VCC_Progress_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Denial_Disposition</name>
        <label>Denial Disposition</label>
        <locationX>1128</locationX>
        <locationY>4862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>considerMono</targetReference>
        </connector>
        <fields>
            <name>DenialDispositionDisplayTxt</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Disposition&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Patient_is_denied_due_to_the_following</name>
            <fieldText>&lt;b&gt; Patient is denied due to the following &lt;/b&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Would_you_like_to_consider_Molnupiravir_disposition</name>
            <choiceReferences>considerationToMono</choiceReferences>
            <choiceReferences>noConsiderationToMono</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>N/A</stringValue>
            </defaultValue>
            <fieldText>&lt;b&gt;Would you like to consider Molnupiravir? &lt;/b&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>VCC_T2T_Next1</name>
            <extensionName>c:vccFlowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flowStage</name>
                <value>
                    <numberValue>8.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>switchLogic</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Would_you_like_to_consider_Molnupiravir_disposition</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>noConsiderationToMono</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VCC_T2T_Final1</name>
            <extensionName>c:vccFlowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flowStage</name>
                <value>
                    <numberValue>8.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>switchLogic</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Would_you_like_to_consider_Molnupiravir_disposition</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>noConsiderationToMono</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pax_Disposition_Screen</name>
        <label>Pax Disposition Screen</label>
        <locationX>182</locationX>
        <locationY>3686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VCC_T2T_Assign_Loop</targetReference>
        </connector>
        <fields>
            <name>DispositionDisplayTxt</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Disposition&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pax_Disposition_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pax_Disposition_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PatientandorCaregiverConsentstoPaxlovidUseCheckBox</name>
                    <dataType>Boolean</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(253, 2, 2);&quot;&gt;*Required&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!PatientandorCaregiverConsentstoPaxlovidUseCheckBox} = TRUE</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pax_Disposition_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PatientandorCaregiverConsentstoPaxlovidUseDisplayTxt</name>
                    <fieldText>&lt;p&gt;{!pax_Patient_and_or_Caregiver_Consents_to_Paxlovid_Use_var}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Pax_Disposition_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pax_Disposition_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>patientenrolledinCOVID19followupTreatmentCheckBox</name>
                    <dataType>Boolean</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(253, 2, 2);&quot;&gt;*Required&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!patientenrolledinCOVID19followupTreatmentCheckBox} =TRUE</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pax_Disposition_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>patientenrolledinCOVID19followupTreatmentDisplayTxt</name>
                    <fieldText>&lt;p&gt;{!paxPatient_enrolled_in_followup_Covid19_Treatment_var}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Medication_adjustments_needed_as_follows</name>
            <fieldText>Medication adjustments needed, as follows:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Paxlovid_Labs_Screen</name>
        <label>Paxlovid Labs Screen</label>
        <locationX>314</locationX>
        <locationY>2954</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VCC_T2T_Labs_Assign</targetReference>
        </connector>
        <fields>
            <name>VCCAllergyT2TLabs</name>
            <extensionName>c:vccAllergyTestToTreat</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowStageTest2Treat</name>
                <value>
                    <numberValue>3.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>newString</name>
                <value>
                    <elementReference>VCC_T2T_State_Tracker</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VCC_T2T_State_Tracker</assignToReference>
                <name>newString</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>flowOutputVariable</assignToReference>
                <name>lwcOutput</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Paxlovid_Labs_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Paxlovid_Labs_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>VCC_T2T_Test_Confirmed_Text</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Patient has a Home Test -confirmed mild to moderate COVID-19.&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Paxlovid_Labs_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>VCC_T2T_Home_Test_Date</name>
                    <dataType>Date</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Paxlovid_Labs_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Paxlovid_Labs_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Paxlovid_Labs_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>VCC_T2T_No_Hospitalization_Text</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Provider believes the patient does not require hospitalization due to severe or critical COVID-19. &lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Paxlovid_Labs_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>VCC_Blank_Text</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Paxlovid_Labs_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Paxlovid_Labs_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Paxlovid_Labs_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>VCC_T2T_Symptom_Onset_Text</name>
                    <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Patient is within 5 days of symptom onset.&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Paxlovid_Labs_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>VCC_T2T_Symptom_Date</name>
                    <dataType>Date</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Paxlovid_Labs_Screen_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>VCC_T2T_Symptom_Details_Long</name>
            <fieldText>&lt;b&gt;Symptom Details&lt;/b&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>VCC_T2T_Blurb_Medical_text</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Patient does NOT have severe renal impairment (eGFR &amp;lt; 30 mL/min) OR severe hepatic impairment (Child-Pugh Class C) and has laboratory work completed within 6 month time period based on provider judgement.&amp;nbsp;If Patient has a renal or hepatic diagnosis laboratory work completed within 30 days based on provider judgement.&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Patient falls into high-risk for progression to severe disease (including hospitalization and death) as defined by the CDC&amp;nbsp;&lt;/strong&gt;&lt;a href=&quot;https://www.cdc.gov/coronavirus/2019-ncov/need-extra-precautions/people-with-medical-conditions.html&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(0, 82, 204);&quot;&gt;&lt;strong&gt;People with Certain Medical Conditions - CDC)&lt;/strong&gt;&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(23, 43, 77);&quot;&gt;Other medical conditions or factors (for example, race or ethnicity) may also place individual at high risk for progression to severe COVID-19 and authorization is not limited to the medical conditions or factors as defined by the CDC People with Certain Medical Conditions list.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Paxlovid_Labs_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Paxlovid_Labs_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>VCC_T2T_Criteria_Choice_Picklist</name>
                    <choiceReferences>VCC_T2T_Criteria_Choice_Yes</choiceReferences>
                    <choiceReferences>VCC_T2T_Criteria_Choice_No</choiceReferences>
                    <dataType>Boolean</dataType>
                    <fieldText>&lt;b&gt;Patient has met ALL of the above criteria&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Paxlovid_Labs_Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>VCC_T2T_Dosage_Radio</name>
            <choiceReferences>VCC_T2T_Dosage_EGFR60plus</choiceReferences>
            <choiceReferences>VCC_T2T_Dosage_EGFR60less</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Select appropriate dosage:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VCC_T2T_Criteria_Choice_Yes</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>VCC_T2T_Drug_Interaction_None_Choice</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VCC_T2T_Dosage_Alternative_Radio</name>
            <choiceReferences>VCC_T2T_Dosage_EGFR60less</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Select appropriate dosage:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VCC_T2T_Criteria_Choice_Yes</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>VCC_T2T_Drug_Interaction_Alternative</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Paxlovid_Medication_Reconciliation</name>
        <label>Paxlovid Medication Reconciliation</label>
        <locationX>710</locationX>
        <locationY>2114</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_1_of_VCC_Null_Safe</targetReference>
        </connector>
        <fields>
            <name>vcc_CovidTest2Treat_Prescriptions</name>
            <extensionName>c:vccAllergyTestToTreat</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowStageTest2Treat</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>newString</name>
                <value>
                    <elementReference>VCC_T2T_State_Tracker</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>flowOutputVariable</assignToReference>
                <name>lwcOutput</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>VCC_T2T_State_Tracker</assignToReference>
                <name>newString</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Paxlovid_Medication_Reconciliation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Paxlovid_Medication_Reconciliation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ProgressNoteRecord.VCC_Medication_Reconciliation_Options__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ProgressNoteRecord.VCC_Medication_Reconciliation_Options_Rn__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ProgressNoteRecord.VCC_Medication_Reconciliation_Options__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Discrepancies found</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Paxlovid_Medication_Reconciliation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>VCC_T2T_Medication_Discrepancies_Additional_Info</name>
            <dataType>String</dataType>
            <fieldText>Medication Discrepancies Additional Info</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>ProgressNoteRecord.VCC_Medication_Reconciliation_Options_Rn__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ProgressNoteRecord.VCC_Medication_Reconciliation_Options_Rn__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Changes needed</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Paxlovid_Medication_Reconciliation_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Paxlovid_Medication_Reconciliation_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>VCC_Prescription_Review</name>
                    <dataType>Boolean</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Paxlovid_Medication_Reconciliation_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>VCC_Display_Text_Choice</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;{!paxReviewCompleted_var}&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://online.lexi.com/lco/action/home&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 82, 204); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Lexicomp&lt;/a&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>VCC_T2T_Contraindications</name>
            <fieldText>Contraindications</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>VCC_T2T_Contraindications_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>VCC_T2T_Contraindications_Display</name>
                    <fieldText>&lt;p&gt;{!pax_Contraindications_var}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>VCC_T2T_Drug_Interactions_Picklist</name>
            <choiceReferences>VCC_T2T_Drug_Interaction_None_Choice</choiceReferences>
            <choiceReferences>VCC_T2T_Drug_Interaction_Alternative</choiceReferences>
            <choiceReferences>VCC_T2T_Drug_Interaction_Yes</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>&lt;b&gt;Select what applies&lt;/b&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VCC_Prescription_Review</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Paxlovid_Medication_Reconciliation_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Paxlovid_Medication_Reconciliation_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ProgressNoteRecord.VCC_Medication_Education__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Paxlovid_Medication_Reconciliation_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>VCC_T2T_Medication_Education_Additional_Info</name>
            <dataType>String</dataType>
            <fieldText>Medication Education Additional Info</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ProgressNoteRecord.VCC_Medication_Education__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No. Specify other reason</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Paxlovid_Patient_Allergies</name>
        <label>Paxlovid Patient Allergies</label>
        <locationX>1128</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VCC_Null_Safe</targetReference>
        </connector>
        <fields>
            <name>Paxlovid_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Paxlovid is contraindicated in patients with a history of clinically significant hypersensitivity reactions (e.g., toxic epidermal necrolysis (TEN) or Stevens-Johnson syndrome) to its active ingredients (Nirmatrelvir or Ritonavir) or any other components of the product.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>vccAllergyTestToTreat</name>
            <extensionName>c:vccAllergyTestToTreat</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowStageTest2Treat</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>newString</name>
                <value>
                    <elementReference>VCC_T2T_State_Tracker</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>flowOutputVariable</assignToReference>
                <name>lwcOutput</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>VCC_T2T_State_Tracker</assignToReference>
                <name>newString</name>
            </outputParameters>
        </fields>
        <fields>
            <name>vcc_Hypersensitivity_Choice_Radio</name>
            <choiceReferences>vcc_No_Hypersensitivity_Choice</choiceReferences>
            <choiceReferences>vcc_Yes_Hypersensitivity_Choice</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>&lt;b style=&quot;color:red;&quot;&gt;Populating this field from the Allergies sidebar component will overwrite the value of this field&lt;/b&gt;</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <helpText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(231, 93, 12);&quot;&gt;Populating this field from the Allergies side bar component will overwrite the value of this field&lt;/strong&gt;&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Reason_for_Choosing_Paxlovid</name>
        <label>Reason for Choosing Paxlovid</label>
        <locationX>732</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Continue_with_Pax_or_Mono</targetReference>
        </connector>
        <fields>
            <name>patientInterestedInPaxlovid</name>
            <choiceReferences>consentToPaxlovidChoice</choiceReferences>
            <choiceReferences>noConsentToPaxlovid</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Based on medical history and medications taken, is patient interested in Paxlovid treatment?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reason_for_Choosing_Paxlovid_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Reason_for_Choosing_Paxlovid_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>paxConsentCheckbox</name>
                    <dataType>Boolean</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;*Required&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!paxConsentCheckbox} = TRUE</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Reason_for_Choosing_Paxlovid_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>paxConsentDisplayText</name>
                    <fieldText>&lt;p&gt;{!paxConsentVar}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;https://www.fda.gov/media/155051/download&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(0, 82, 204);&quot;&gt;FDA EUA Fact Sheet - Paxlovid&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>patientInterestedInPaxlovid</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>consentToPaxlovidChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Reason_for_Choosing_Paxlovid_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Reason_for_Choosing_Paxlovid_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>paxCounseledCheckbox</name>
                    <dataType>Boolean</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;*Required&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!paxCounseledCheckbox} = TRUE</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Reason_for_Choosing_Paxlovid_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>paxCounseledDisplayText</name>
                    <fieldText>&lt;p&gt;{!paxPatientCounseledVar}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>patientInterestedInPaxlovid</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>noConsentToPaxlovid</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LIMITATIONS_OF_EUA</name>
            <fieldText>LIMITATIONS OF EUA</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>LIMITATIONS_OF_EUA_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>limitationofEUADisplayText</name>
                    <fieldText>&lt;p&gt;{!paxLimitationOfEUA}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>patientInterestedInPaxlovid</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>consentToPaxlovidChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Would_you_like_to_consider_Molnupiravir</name>
            <choiceReferences>considerationToMono</choiceReferences>
            <choiceReferences>noConsiderationToMono</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>N/A</stringValue>
            </defaultValue>
            <fieldText>Would you like to consider Molnupiravir?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>patientInterestedInPaxlovid</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>noConsentToPaxlovid</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Reason_for_Choosing_Paxlovid_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Reason_for_Choosing_Paxlovid_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>paxNotConsideredCheckbox</name>
                    <dataType>Boolean</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;*Required&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!paxNotConsideredCheckbox} = TRUE</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Reason_for_Choosing_Paxlovid_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>paxNotConsideredDisplayText</name>
                    <fieldText>&lt;p&gt;{!paxNotConsidered}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Would_you_like_to_consider_Molnupiravir</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>noConsiderationToMono</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VCC_T2T_Next</name>
            <extensionName>c:vccFlowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flowStage</name>
                <value>
                    <numberValue>3.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>switchLogic</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Would_you_like_to_consider_Molnupiravir</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>noConsiderationToMono</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VCC_T2T_Final</name>
            <extensionName>c:vccFlowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flowStage</name>
                <value>
                    <numberValue>3.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>switchLogic</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Would_you_like_to_consider_Molnupiravir</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>noConsiderationToMono</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>VCC_T2T_Flow_Stage3_G</name>
        <isActive>true</isActive>
        <label>VCC_T2T_Flow_Stage3_G</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>VCC_T2T_Flow_Stage4_G</name>
        <isActive>false</isActive>
        <label>VCC_T2T_Flow_Stage4_G</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>VCC_T2T_Flow_Stage5_G</name>
        <isActive>false</isActive>
        <label>VCC_T2T_Flow_Stage5_G</label>
        <stageOrder>5</stageOrder>
    </stages>
    <stages>
        <name>VCC_T2T_Flow_Stage6_G</name>
        <isActive>false</isActive>
        <label>VCC_T2T_Flow_Stage6_G</label>
        <stageOrder>6</stageOrder>
    </stages>
    <stages>
        <name>VCC_T2T_Flow_Stage7_G</name>
        <isActive>false</isActive>
        <label>VCC_T2T_Flow_Stage7_G</label>
        <stageOrder>7</stageOrder>
    </stages>
    <stages>
        <name>VCC_T2T_Flow_Stage8_G</name>
        <isActive>false</isActive>
        <label>VCC_T2T_Flow_Stage8_G</label>
        <stageOrder>8</stageOrder>
    </stages>
    <start>
        <locationX>606</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>VCC_T2T_AssignFlowRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Molnupiravir_Sub</name>
        <label>Molnupiravir Sub</label>
        <locationX>732</locationX>
        <locationY>5804</locationY>
        <flowName>VCC_COVID_Test_to_Treat_Subflow_Molnupiravir</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VCC_T2T_Labels_Temp_Mol</name>
            <value>
                <elementReference>VCC_T2T_Pax_Labels</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VCC_T2T_Main_Key</name>
            <value>
                <elementReference>VCC_T2T_Main_Key</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VCC_T2T_Pax_Key</name>
            <value>
                <elementReference>VCC_T2T_Pax_Key</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VCC_T2T_State_Tracker</name>
            <value>
                <elementReference>VCC_T2T_State_Tracker</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Preview_Screen</name>
        <label>Preview Screen</label>
        <locationX>182</locationX>
        <locationY>4286</locationY>
        <flowName>VCC_COVID_Test_to_Treat_Subflow_Preview</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VCC_T2T_Labels</name>
            <value>
                <elementReference>VCC_T2T_Pax_Labels</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VCC_T2T_Main_Key</name>
            <value>
                <elementReference>VCC_T2T_Main_Key</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VCC_T2T_Mol_Key</name>
            <value>
                <elementReference>VCC_T2T_Mol_Key</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VCC_T2T_Pax_Key</name>
            <value>
                <elementReference>VCC_T2T_Pax_Key</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VCC_T2T_State_Tracker</name>
            <value>
                <elementReference>VCC_T2T_State_Tracker</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>flowOutputVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>pax_Contraindications_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pax_Patient_and_or_Caregiver_Consents_to_Paxlovid_Use_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paxConsentLinkVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paxConsentVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paxLimitationOfEUA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paxNotConsidered</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paxPatient_enrolled_in_followup_Covid19_Treatment_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paxPatientCounseledVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>paxReviewCompleted_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>a1a3S000000IUcRQAW</stringValue>
        </value>
    </variables>
    <variables>
        <name>VCC_T2T_Allergy_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Used for iteration logic</description>
        <name>VCC_T2T_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VCC_T2T_Dosage_Answer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VCC_T2T_Drug_Interaction_Answer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Used to track dynamically created labels in the flow</description>
        <name>VCC_T2T_Labels_Temp_Pax</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VCC_T2T_Labs_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VCC_T2T_Main_Key</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VCC_T2T_Medication_Value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VCC_T2T_Mol_Key</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VCC_T2T_Null</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>variable to hold dates for conversion to string</description>
        <name>VCC_T2T_originalDate</name>
        <dataType>Date</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VCC_T2T_Pax_Key</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Resource used to keep track of the sanitized labels in the flow (dynamic)</description>
        <name>VCC_T2T_Pax_Labels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Used to track the state of the flow/lwc</description>
        <name>VCC_T2T_State_Tracker</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
