force-app/main/default/flows/VCC_Default_Vital_Methods.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Blood_Pressure</name>
        <label>Blood Pressure</label>
        <locationX>832</locationX>
        <locationY>625</locationY>
        <defaultConnector>
            <targetReference>HeartRateBPM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VCC_Blood_Pressure_Method__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Observed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VCC_Blood_Pressure__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.VCC_Blood_Pressure_Method__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Reported</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VCC_Blood_Pressure__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_BP_Method</targetReference>
            </connector>
            <label>BPProvided</label>
        </rules>
        <rules>
            <name>BPDeleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VCC_Blood_Pressure__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VCC_Blood_Pressure__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_BP_Method_to_blank</targetReference>
            </connector>
            <label>BPDeleted</label>
        </rules>
    </decisions>
    <decisions>
        <name>HeartRateBPM</name>
        <label>HeartRateBPM</label>
        <locationX>1075</locationX>
        <locationY>773</locationY>
        <defaultConnector>
            <targetReference>Pulseoximeter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HBPMProvided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VCC_Heart_Rate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VCC_Heart_Rate_BPM_Method__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Observed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.VCC_Heart_Rate_BPM_Method__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Reported</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VCC_Heart_Rate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateHeartRateMethod</targetReference>
            </connector>
            <label>HBPMProvided</label>
        </rules>
        <rules>
            <name>HeartRateDeleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VCC_Heart_Rate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VCC_Heart_Rate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>resetHeartRateMethod</targetReference>
            </connector>
            <label>HeartRateDeleted</label>
        </rules>
    </decisions>
    <decisions>
        <name>isItVCVPN</name>
        <label>isItVCVPN</label>
        <locationX>289</locationX>
        <locationY>555</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VCV_PN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRecordTypeID.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RecordType.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blood_Pressure</targetReference>
            </connector>
            <label>VCV PN</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pulseoximeter</name>
        <label>Pulse oximeter</label>
        <locationX>1417</locationX>
        <locationY>765</locationY>
        <defaultConnector>
            <targetReference>Temperature</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>POProvided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VCC_Pulse_Oximeter__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VCC_Pulse_Oximeter_Method__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Observed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.VCC_Pulse_Oximeter_Method__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Reported</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VCC_Pulse_Oximeter__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updatePOMethod</targetReference>
            </connector>
            <label>POProvided</label>
        </rules>
        <rules>
            <name>PODeleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VCC_Pulse_Oximeter__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VCC_Pulse_Oximeter__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>resetPOMethod</targetReference>
            </connector>
            <label>PODeleted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Temperature</name>
        <label>Temperature</label>
        <locationX>1581</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Weight</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TemperatureProvided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VCC_Temperature__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VCC_Temperature_F_Method__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Observed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.VCC_Temperature_F_Method__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Reported</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VCC_Temperature__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Temperature_Method</targetReference>
            </connector>
            <label>TemperatureProvided</label>
        </rules>
        <rules>
            <name>TemperatureDeleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VCC_Temperature__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VCC_Temperature__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>resetTemperature</targetReference>
            </connector>
            <label>TemperatureDeleted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Weight</name>
        <label>Weight</label>
        <locationX>2014</locationX>
        <locationY>413</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WeightProvided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VCC_Weight__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VCC_Weight_Method__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Observed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.VCC_Weight_Method__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Reported</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VCC_Weight__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Weight_Method</targetReference>
            </connector>
            <label>WeightProvided</label>
        </rules>
        <rules>
            <name>Weight_Deleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VCC_Weight__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VCC_Weight__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>resetWeightMethod</targetReference>
            </connector>
            <label>Weight Deleted</label>
        </rules>
    </decisions>
    <description>Update API Version to v55 for 1.1.0</description>
    <environments>Default</environments>
    <interviewLabel>VCC Default Vital Methods {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VCC Default Vital Methods</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getRecordTypeID</name>
        <label>getRecordTypeID</label>
        <locationX>157</locationX>
        <locationY>353</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isItVCVPN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCC_Virtual_Visit_Progress_Note</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCC_Progress_Note__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>resetHeartRateMethod</name>
        <label>resetHeartRateMethod</label>
        <locationX>1196</locationX>
        <locationY>568</locationY>
        <connector>
            <targetReference>Pulseoximeter</targetReference>
        </connector>
        <inputAssignments>
            <field>VCC_Heart_Rate_BPM_Method__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>resetPOMethod</name>
        <label>resetPOMethod</label>
        <locationX>1401</locationX>
        <locationY>490</locationY>
        <connector>
            <targetReference>Temperature</targetReference>
        </connector>
        <inputAssignments>
            <field>VCC_Pulse_Oximeter_Method__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>resetTemperature</name>
        <label>resetTemperature</label>
        <locationX>1728</locationX>
        <locationY>245</locationY>
        <connector>
            <targetReference>Weight</targetReference>
        </connector>
        <inputAssignments>
            <field>VCC_Temperature_F_Method__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>resetWeightMethod</name>
        <label>resetWeightMethod</label>
        <locationX>2079</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>VCC_Weight_Method__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BP_Method</name>
        <label>Update BP Method</label>
        <locationX>735</locationX>
        <locationY>843</locationY>
        <connector>
            <targetReference>HeartRateBPM</targetReference>
        </connector>
        <inputAssignments>
            <field>VCC_Blood_Pressure_Method__c</field>
            <value>
                <stringValue>Reported</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BP_Method_to_blank</name>
        <label>Update BP Method to blank</label>
        <locationX>1133</locationX>
        <locationY>375</locationY>
        <connector>
            <targetReference>HeartRateBPM</targetReference>
        </connector>
        <inputAssignments>
            <field>VCC_Blood_Pressure_Method__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Temperature_Method</name>
        <label>Update Temperature Method</label>
        <locationX>1751</locationX>
        <locationY>643</locationY>
        <connector>
            <targetReference>Weight</targetReference>
        </connector>
        <inputAssignments>
            <field>VCC_Temperature_F_Method__c</field>
            <value>
                <stringValue>Reported</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Weight_Method</name>
        <label>update Weight Method</label>
        <locationX>2167</locationX>
        <locationY>356</locationY>
        <inputAssignments>
            <field>VCC_Weight_Method__c</field>
            <value>
                <stringValue>Reported</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateHeartRateMethod</name>
        <label>updateHeartRateMethod</label>
        <locationX>1148</locationX>
        <locationY>920</locationY>
        <connector>
            <targetReference>Pulseoximeter</targetReference>
        </connector>
        <inputAssignments>
            <field>VCC_Heart_Rate_BPM_Method__c</field>
            <value>
                <stringValue>Reported</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updatePOMethod</name>
        <label>updatePOMethod</label>
        <locationX>1508</locationX>
        <locationY>918</locationY>
        <connector>
            <targetReference>Temperature</targetReference>
        </connector>
        <inputAssignments>
            <field>VCC_Pulse_Oximeter_Method__c</field>
            <value>
                <stringValue>Reported</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getRecordTypeID</targetReference>
        </connector>
        <filterLogic>1 OR 2 OR 3 OR 4 OR 5</filterLogic>
        <filters>
            <field>VCC_Heart_Rate__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VCC_Blood_Pressure__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VCC_Pulse_Oximeter__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VCC_Temperature__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VCC_Weight__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>VCC_Progress_Note__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
