force-app/main/default/flows/VCC_New_Appointment_Subflow_Confirmation_v1_0.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Log entry for the fault paths</description>
        <name>Error_Log</name>
        <label>Error Log</label>
        <locationX>1634</locationX>
        <locationY>806</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Error_Display</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>VCC_New_Appointment_Subflow_Confirmation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <description>Checks if the scheduling case is owned by a Queue, owned by different user, or owned by running user</description>
        <name>Who_Owns_the_Scheduling_Case</name>
        <label>Who Owns the Scheduling Case?</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Update_Scheduling_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>UserisOwner</defaultConnectorLabel>
        <rules>
            <name>Not_assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checksIfCaseisNotAssigned</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Scheduling_Case_Owner</targetReference>
            </connector>
            <label>Not assigned</label>
        </rules>
        <rules>
            <name>OwnedByaDifferentUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRelatedSchedulingCase.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>userId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VCC_Assign_Case_to_Me</targetReference>
            </connector>
            <label>OwnedByaDifferentUser</label>
        </rules>
    </decisions>
    <description>Subflow used to update the related cases and display confirmation screen.
This is the original VCC_New_Appointment_Subflow_Confirmation without any of the dark changes
See VCC New Appointment Subflow: Confirmation v2.0 that includes the changes that are dark
Once everything with Scheduling and VCV are live, this flow can be deprecated.</description>
    <environments>Default</environments>
    <formulas>
        <description>Checks if scheduling case is not assigned to a user</description>
        <name>checksIfCaseisNotAssigned</name>
        <dataType>Boolean</dataType>
        <expression>BEGINS({!getRelatedSchedulingCase.OwnerId}, &apos;00G&apos;)</expression>
    </formulas>
    <formulas>
        <description>Converts the User.Id to 18 characters to compare it to the Case.OwnerId</description>
        <name>userId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>VCC New Appointment Subflow: Confirmation v1.0 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VCC New Appointment Subflow: Confirmation v1.0</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getRelatedSchedulingCase</name>
        <label>getRelatedSchedulingCase</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Who_Owns_the_Scheduling_Case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>relatedSchedulingCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updated the related scheduling Case</description>
        <name>Update_Related_Scheduling_Case</name>
        <label>Update Related Scheduling Case</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Update_Related_VCV_Case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>relatedSchedulingCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed - Resolved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Case_Outcome_Multi__c</field>
            <value>
                <stringValue>Completed Scheduling Action</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Case_Reason_Multi__c</field>
            <value>
                <stringValue>Schedule Appointment</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the Scheduling case fields + Owner</description>
        <name>Update_Related_Scheduling_Case_Owner</name>
        <label>Update Related Scheduling Case &amp; Owner</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Update_Related_VCV_Case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>relatedSchedulingCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed - Resolved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Case_Outcome_Multi__c</field>
            <value>
                <stringValue>Completed Scheduling Action</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Case_Reason_Multi__c</field>
            <value>
                <stringValue>Schedule Appointment</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates the related VCV Case</description>
        <name>Update_Related_VCV_Case</name>
        <label>Update Related VCV Case</label>
        <locationX>578</locationX>
        <locationY>698</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceAppointment</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>relatedSchedulingCase.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Scheduling_Case</name>
        <label>Update Scheduling Case</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Update_Related_VCV_Case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>relatedSchedulingCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed - Resolved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Case_Outcome_Multi__c</field>
            <value>
                <stringValue>Completed Scheduling Action</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Case_Reason_Multi__c</field>
            <value>
                <stringValue>Schedule Appointment</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>578</locationX>
        <locationY>806</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Notification_Screen</targetReference>
        </connector>
        <fields>
            <name>flowConfirm</name>
            <extensionName>runtime_appointmentbooking:flowConfirm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isCancel</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays the fault message to user</description>
        <name>Error_Display</name>
        <label>Error Display</label>
        <locationX>1634</locationX>
        <locationY>914</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>showError</name>
            <extensionName>c:vccErrorDisplay</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>system</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Notification_Screen</name>
        <label>Notification Screen</label>
        <locationX>578</locationX>
        <locationY>914</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>showFlowNotification</name>
            <extensionName>c:vccFlowNotification</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Related Scheduling Case {!getRelatedSchedulingCase.CaseNumber}  has been Closed </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>getRelatedSchedulingCase.CaseNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>triggerNavigationNextEvent</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>urlLabel</name>
                <value>
                    <elementReference>getRelatedSchedulingCase.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRelatedSchedulingCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Assigns the Related Scheduling Case to Current MSA</description>
        <name>VCC_Assign_Case_to_Me</name>
        <label>VCC Assign Case to Me</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Update_Related_Scheduling_Case</targetReference>
        </connector>
        <flowName>VCC_Assign_Case_to_Me</flowName>
        <inputAssignments>
            <name>fromApptConfirmationFlow</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>getRelatedSchedulingCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNewOwnerID</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Used to hold the related Scheduling Case Record</description>
        <name>relatedSchedulingCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Holds the ID of the service appointment</description>
        <name>serviceAppointment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
