force-app/main/default/flows/VCC_Get_Site_Integration_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Output</name>
        <label>Assign Output</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Site_Integration_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Site_Specific_Configuration.VCC_VistA_Integration__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Input a VistA Site ID (983, 984, 541, etc) and this flow will find return either &apos;DAS&apos; or &apos;VDIF&apos; depending on how the
        VCC_Site_Specific_Configuration__mdt is configured.</description>
    <environments>Default</environments>
    <interviewLabel>Get Site Integration Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Site Integration Type</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Org_Settings</name>
        <label>Get Org Settings</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Site_Specific_Configuration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>vccOrgId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Organization.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VCC_Org_Settings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Site_Specific_Configuration</name>
        <label>Get Site Specific Configuration</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Output</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VCC_SiteID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SiteId</elementReference>
            </value>
        </filters>
        <filters>
            <field>VCC_VistA_Environment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Org_Settings.vccType__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VCC_Site_Specific_Configuration__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Org_Settings</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Site_Integration_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SiteId</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
