force-app/main/default/flows/VCC_Create_Related_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Redirect_New_Case</name>
        <label>Redirect to New Case</label>
        <locationX>1634</locationX>
        <locationY>2420</locationY>
        <actionName>c:vccRedirectComponent</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recId</name>
            <value>
                <elementReference>Create_Case</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:vccRedirectComponent</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Redirect_New_Case_0_0_0</name>
        <label>Redirect to New Case</label>
        <locationX>752</locationX>
        <locationY>516</locationY>
        <actionName>c:vccRedirectComponent</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recId</name>
            <value>
                <elementReference>varNewCaseId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:vccRedirectComponent</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Redirect_New_Case_0_0_0_0</name>
        <label>Redirect to New Case</label>
        <locationX>1317</locationX>
        <locationY>545</locationY>
        <actionName>c:vccRedirectComponent</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recId</name>
            <value>
                <elementReference>varNewCaseId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:vccRedirectComponent</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Redirect_to_New_Case</name>
        <label>Redirect to New Case</label>
        <locationX>314</locationX>
        <locationY>2336</locationY>
        <actionName>c:vccRedirectComponent</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recId</name>
            <value>
                <elementReference>varNewCaseId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:vccRedirectComponent</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>RedirecttoAdminCase</name>
        <label>Redirect to Admin Case</label>
        <locationX>1106</locationX>
        <locationY>2420</locationY>
        <actionName>c:vccRedirectComponent</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recId</name>
            <value>
                <elementReference>Create_Admin_Case1</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:vccRedirectComponent</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_To_Available_Record_Types</name>
        <label>Add To Available Record Types</label>
        <locationX>2294</locationX>
        <locationY>722</locationY>
        <assignmentItems>
            <assignToReference>available_record_types_for_persona</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Available_Record_Types</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Available_Record_Types</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Since the Caller Relation field is  using an Inactive picklist value, this is assigning the Caller Relation to &apos;Other&apos; and using the inactive picklist value in the Relation Type Other field.</description>
        <name>Assign_Invalid_Picklist_to_Relation_Type_Other_Field</name>
        <label>Assign Invalid Picklist to Relation Type Other Field</label>
        <locationX>1238</locationX>
        <locationY>1904</locationY>
        <assignmentItems>
            <assignToReference>varCaller_Relation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRelationTypeOther</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Case.VCC_Caller_Relation__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_this_Administrative_Case1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_Caller_Relation_Variable</name>
        <label>Assigning Caller Relation Variable</label>
        <locationX>1502</locationX>
        <locationY>1904</locationY>
        <assignmentItems>
            <assignToReference>varCaller_Relation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Case.VCC_Caller_Relation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRelationTypeOther</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Case.VCC_Relation_Type_Other__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_this_Administrative_Case1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_any_choices_available</name>
        <label>Are there any choices available?</label>
        <locationX>1766</locationX>
        <locationY>1148</locationY>
        <defaultConnector>
            <targetReference>No_Available_Record_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>❌</defaultConnectorLabel>
        <rules>
            <name>Yes_there_are_some</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>available_record_types_for_persona</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type_Selection</targetReference>
            </connector>
            <label>✔️</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_there_available_record_types_for_this_users_VISN</name>
        <label>Are there available record types for this users VISN?</label>
        <locationX>2604</locationX>
        <locationY>349</locationY>
        <defaultConnector>
            <targetReference>No_Queues_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>❌</defaultConnectorLabel>
        <rules>
            <name>Yes_we_got_some</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Available_Case_Record_Types.RECORD_TYPES</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Running_Users_Personas</targetReference>
            </connector>
            <label>✔️</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Persona</name>
        <label>Check Persona</label>
        <locationX>1687</locationX>
        <locationY>208</locationY>
        <defaultConnector>
            <targetReference>Get_Available_Case_Record_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pharmacy_User</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.VCC_Pharmacy_Tier_I</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.VCC_Pharmacy_Tier_II</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.VCC_Pharmacy_Tier_III</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pharm_Record_Type</targetReference>
            </connector>
            <label>Pharmacy User</label>
        </rules>
        <rules>
            <name>MP_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.VCC_Medical_Provider</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_VCV_Record_Type</targetReference>
            </connector>
            <label>MP User</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking to see if the Caller Relation field contains an inactive picklist value.</description>
        <name>Does_the_Caller_Relation_Field_Include_an_Inactive_Picklist_Value</name>
        <label>Does the Caller Relation Field Include an Inactive Picklist Value</label>
        <locationX>1370</locationX>
        <locationY>1796</locationY>
        <defaultConnector>
            <targetReference>Assigning_Caller_Relation_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Case.VCC_Caller_Relation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Relative</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Case.VCC_Caller_Relation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Anonymous</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Case.VCC_Caller_Relation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aunt</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Case.VCC_Caller_Relation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Daughter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Case.VCC_Caller_Relation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Father</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Case.VCC_Caller_Relation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home Health</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Case.VCC_Caller_Relation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mother</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Case.VCC_Caller_Relation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Neighbor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Case.VCC_Caller_Relation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Psychiatrist</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Case.VCC_Caller_Relation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sibling</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Case.VCC_Caller_Relation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Son</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Case.VCC_Caller_Relation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spouse</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Current_Case.VCC_Caller_Relation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Uncle</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Invalid_Picklist_to_Relation_Type_Other_Field</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>If case is clinical triage, initiate E911 LWC</description>
        <name>Is_Clinical_Triage</name>
        <label>Is Clinical Triage?</label>
        <locationX>917</locationX>
        <locationY>1365</locationY>
        <defaultConnector>
            <targetReference>Get_Case_RecordType_for_Admin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clinical_Triage_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Clinical_Triage_RecordType_Id.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MP_Record_Type_Selection</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_e911_Enabled</targetReference>
            </connector>
            <label>Clinical Triage Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Current_Record_Type_VCV</name>
        <label>Is Current Record Type VCV?</label>
        <locationX>1977</locationX>
        <locationY>630</locationY>
        <defaultConnector>
            <targetReference>Add_To_Available_Record_Types</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>❌</defaultConnectorLabel>
        <rules>
            <name>Yes_it_s_vcv</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Available_Record_Types.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VCC_Vitrual_Clinic_Visit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Available_Record_Types</targetReference>
            </connector>
            <label>✔️</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks the VAHC_E911_Settings to see if e911_Enabled__c is true or not to either allow for e911 screen component to display or bypass instead</description>
        <name>Is_e911_Enabled</name>
        <label>Is e911 Enabled</label>
        <locationX>1326</locationX>
        <locationY>1426</locationY>
        <defaultConnector>
            <targetReference>Get_Case_RecordType_for_Admin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>e911_is_enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.VAHC_E911_Settings__c.e911_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>E911_Confirm_Location</targetReference>
            </connector>
            <label>e911 is enabled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_Administrative_Case</name>
        <label>Is this Administrative Case</label>
        <locationX>314</locationX>
        <locationY>1796</locationY>
        <defaultConnector>
            <targetReference>Create_New_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No it&apos;s not Administrative Case</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is_Administrative_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_RecordType_for_Admin.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MP_Record_Type_Selection</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Administrative_Case</targetReference>
            </connector>
            <label>Yes it is Administrative Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_Administrative_Case1</name>
        <label>Is this Administrative Case</label>
        <locationX>1370</locationX>
        <locationY>2096</locationY>
        <defaultConnector>
            <targetReference>Get_Queue_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No it&apos;s  not Administrative Case</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is_Administrative_Case1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_RecordType_for_Admin.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MP_Record_Type_Selection</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Admin_Queue_Id</targetReference>
            </connector>
            <label>Yes it is Administrative Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Case_or_Create_Related_Case</name>
        <label>New Case or Create Related Case?</label>
        <locationX>842</locationX>
        <locationY>1580</locationY>
        <defaultConnector>
            <targetReference>Get_Case_RecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_new_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_this_Administrative_Case</targetReference>
            </connector>
            <label>Is new case</label>
        </rules>
    </decisions>
    <description>Allows users to create a related case
Redirecting to related case - edit mode
--------
Removed edit mode from this version since it still needs to be approved by IVC
--------
Added check for invalid picklist values on the Caller Relation field
--------
04/16/24 : Adding E911 Confirm Location LWC if record type is clinical triage</description>
    <dynamicChoiceSets>
        <name>All_Record_Types</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>VCC</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>All_Record_Types_Except_VCV</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>VCC</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>VCC_Vitrual_Clinic_Visit</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_set_from_available_record_types_for_persona</name>
        <collectionReference>available_record_types_for_persona</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Is the user a Medical Provider</description>
        <name>varIsMP</name>
        <dataType>Boolean</dataType>
        <expression>{!$Permission.VCC_Medical_Provider}</expression>
    </formulas>
    <interviewLabel>VCC Create Related Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VCC Create Related Case</label>
    <loops>
        <name>Loop_Available_Record_Types</name>
        <label>Loop Available Record Types</label>
        <locationX>1766</locationX>
        <locationY>506</locationY>
        <collectionReference>Get_Available_Case_Record_Types.RECORD_TYPES</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Current_Record_Type_VCV</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_there_any_choices_available</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Admin_Case1</name>
        <label>Create Admin Case</label>
        <locationX>1106</locationX>
        <locationY>2312</locationY>
        <connector>
            <targetReference>RedirecttoAdminCase</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_On_Admin_Case_Create</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Current_Case.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Get_Current_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>MP_Record_Type_Selection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Caller_Name__c</field>
            <value>
                <elementReference>Get_Current_Case.VCC_Caller_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Caller_Relation__c</field>
            <value>
                <elementReference>varCaller_Relation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Case_Sub_Type__c</field>
            <value>
                <stringValue>Administrative and Scheduling</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Date_Patient_Verified__c</field>
            <value>
                <elementReference>Get_Current_Case.VCC_Date_Patient_Verified__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Relation_Type_Other__c</field>
            <value>
                <elementReference>varRelationTypeOther</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>1635</locationX>
        <locationY>2312</locationY>
        <connector>
            <targetReference>Redirect_New_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_On_Create</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Current_Case.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Get_Current_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>MP_Record_Type_Selection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Caller_Name__c</field>
            <value>
                <elementReference>Get_Current_Case.VCC_Caller_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Caller_Relation__c</field>
            <value>
                <elementReference>varCaller_Relation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Date_Patient_Verified__c</field>
            <value>
                <elementReference>Get_Current_Case.VCC_Date_Patient_Verified__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Relation_Type_Other__c</field>
            <value>
                <elementReference>varRelationTypeOther</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Administrative_Case</name>
        <label>Create New Administrative Case</label>
        <locationX>50</locationX>
        <locationY>1904</locationY>
        <assignRecordIdToReference>varNewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Redirect_to_New_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Fault_On_Create</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Current_Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>MP_Record_Type_Selection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Call_back_phone_number__c</field>
            <value>
                <elementReference>Get_Current_Account.VCC_Call_Back_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Case_Sub_Type__c</field>
            <value>
                <stringValue>Administrative and Scheduling</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Current_location__c</field>
            <value>
                <elementReference>Get_Current_Account.VCC_Current_Location__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Case</name>
        <label>Create New Case</label>
        <locationX>578</locationX>
        <locationY>1904</locationY>
        <assignRecordIdToReference>varNewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Redirect_to_New_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_On_Create_NewCase</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Current_Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>MP_Record_Type_Selection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Call_back_phone_number__c</field>
            <value>
                <elementReference>Get_Current_Account.VCC_Call_Back_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Current_location__c</field>
            <value>
                <elementReference>Get_Current_Account.VCC_Current_Location__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Pharm_Case</name>
        <label>Create New Pharm Case</label>
        <locationX>1316</locationX>
        <locationY>422</locationY>
        <assignRecordIdToReference>varNewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Redirect_New_Case_0_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_On_Create_0_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Current_Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Pharm_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Call_back_phone_number__c</field>
            <value>
                <elementReference>Get_Current_Account.VCC_Call_Back_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Current_location__c</field>
            <value>
                <elementReference>Get_Current_Account.VCC_Current_Location__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_VCV_Case</name>
        <label>Create New VCV Case</label>
        <locationX>751</locationX>
        <locationY>393</locationY>
        <assignRecordIdToReference>varNewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Redirect_New_Case_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_On_Create_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Current_Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_VCV_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Call_back_phone_number__c</field>
            <value>
                <elementReference>Get_Current_Account.VCC_Call_Back_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Current_location__c</field>
            <value>
                <elementReference>Get_Current_Account.VCC_Current_Location__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_RecordType</name>
        <label>Get Case RecordType</label>
        <locationX>1370</locationX>
        <locationY>1688</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_the_Caller_Relation_Field_Include_an_Inactive_Picklist_Value</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_On_Get</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Case.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_RecordType_for_Admin</name>
        <label>Get Case RecordType for Admin</label>
        <locationX>697</locationX>
        <locationY>1432</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Case_or_Create_Related_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCC_Administrative</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Clinical_Triage_RecordType_Id</name>
        <label>Get Clinical Triage RecordType Id</label>
        <locationX>684</locationX>
        <locationY>1262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Clinical_Triage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_On_Retrieve</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCC_Clinical_Triage</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Account</name>
        <label>Get Current Account</label>
        <locationX>1899</locationX>
        <locationY>90</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Persona</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Case</name>
        <label>Get Current Case</label>
        <locationX>2061</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_On_Get</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pharm_Record_Type</name>
        <label>Get Pharm Record Type</label>
        <locationX>1321</locationX>
        <locationY>296</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Pharm_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCC_Pharmacy</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_VCV_Record_Type</name>
        <label>Get VCV Record Type</label>
        <locationX>755</locationX>
        <locationY>267</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_VCV_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCC_Vitrual_Clinic_Visit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Copy_1_of_Fault_On_Create</name>
        <label>Copy 1 of Fault On Create</label>
        <locationX>314</locationX>
        <locationY>2012</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Fault_On_Create_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_Fault_On_Create_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Fault_On_Create_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Copy_1_of_flowfaultoncreate</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_Fault_On_Create_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>E911_Confirm_Location</name>
        <label>E911 Confirm Location</label>
        <locationX>1328</locationX>
        <locationY>1557</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Case_RecordType_for_Admin</targetReference>
        </connector>
        <fields>
            <name>VCCE911ConfirmLocation</name>
            <extensionName>c:vccE911ConfirmLocation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Current_Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_On_Admin_Case_Create</name>
        <label>Fault On Admin Case Create</label>
        <locationX>1370</locationX>
        <locationY>2420</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fault_On_Admin_Case_Create_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fault_On_Admin_Case_Create_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fault_On_Admin_Case_Create_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_2_of_flowfaultoncreate</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fault_On_Admin_Case_Create_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_On_Create</name>
        <label>Fault On Create</label>
        <locationX>1898</locationX>
        <locationY>2420</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fault_On_Create_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fault_On_Create_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fault_On_Create_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>flowfaultoncreate</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fault_On_Create_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_On_Create_0_0_0</name>
        <label>Fault On Create</label>
        <locationX>1015</locationX>
        <locationY>516</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fault_On_Create_0_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fault_On_Create_0_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fault_On_Create_0_0_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>flowfaultoncreate_0_0_0</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fault_On_Create_0_0_0_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_On_Create_0_0_0_0</name>
        <label>Fault On Create</label>
        <locationX>1581</locationX>
        <locationY>545</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fault_On_Create_0_0_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fault_On_Create_0_0_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fault_On_Create_0_0_0_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>flowfaultoncreate_0_0_0_0</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fault_On_Create_0_0_0_0_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_On_Create_NewCase</name>
        <label>Fault On Create</label>
        <locationX>842</locationX>
        <locationY>2012</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fault_On_Create_NewCase_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fault_On_Create_NewCase_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fault_On_Create_NewCase_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_flowfaultoncreate</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fault_On_Create_NewCase_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_On_Get</name>
        <label>Fault On Get</label>
        <locationX>2426</locationX>
        <locationY>1472</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fault_On_Get_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fault_On_Get_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fault_On_Get_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>faultongetmessage</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fault_On_Get_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fault_On_Retrieve</name>
        <label>Fault On Retrieve</label>
        <locationX>456</locationX>
        <locationY>1264</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fault_On_Retrieve_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fault_On_Retrieve_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fault_On_Retrieve_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>retrievedErrorMessage</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Fault_On_Retrieve_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Available_Record_Types</name>
        <label>No Available Record Types</label>
        <locationX>2690</locationX>
        <locationY>1256</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoAvailableRecordTypesMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;There are no available case types to choose from. If you believe this is an error, contact the help desk.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Queues_Available</name>
        <label>No Queues Available</label>
        <locationX>2954</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoQueuesAvailableMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;There are no case queues available for your VISN. If you believe this is an error, contact the help desk.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>select record type</description>
        <name>Record_Type_Selection</name>
        <label>Record Type Selection</label>
        <locationX>842</locationX>
        <locationY>1256</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Clinical_Triage_RecordType_Id</targetReference>
        </connector>
        <fields>
            <name>MP_Record_Type_Selection</name>
            <choiceReferences>choice_set_from_available_record_types_for_persona</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Case Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2234</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Current_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Admin_Queue_Id</name>
        <label>Get Admin Queue Id</label>
        <locationX>1106</locationX>
        <locationY>2204</locationY>
        <connector>
            <targetReference>Create_Admin_Case1</targetReference>
        </connector>
        <flowName>VCC_Case_Flow_Get_Queue_For_Record_Type_Developer_Name</flowName>
        <inputAssignments>
            <name>CASE_RECORD_TYPE_DEVELOPER_NAME</name>
            <value>
                <elementReference>Get_Case_RecordType_for_Admin.DeveloperName</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Available_Case_Record_Types</name>
        <label>Get Available Case Record Types</label>
        <locationX>2428</locationX>
        <locationY>258</locationY>
        <connector>
            <targetReference>Are_there_available_record_types_for_this_users_VISN</targetReference>
        </connector>
        <flowName>VCC_Case_Flow_Get_Available_Record_Types</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Queue_Id</name>
        <label>Get Queue Id</label>
        <locationX>1634</locationX>
        <locationY>2204</locationY>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <flowName>VCC_Case_Flow_Get_Queue_For_Record_Type_Developer_Name</flowName>
        <inputAssignments>
            <name>CASE_RECORD_TYPE_DEVELOPER_NAME</name>
            <value>
                <elementReference>Get_Case_RecordType.DeveloperName</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Running_Users_Personas</name>
        <label>Get Running Users Personas</label>
        <locationX>1766</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Loop_Available_Record_Types</targetReference>
        </connector>
        <flowName>VCC_User_Flow_Get_Personas</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>available_record_types_for_persona</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>Case_Edit_Url</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Caller_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaller_Relation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCallerVerified</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseRecordTYpe</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDatePatientVerified</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varParentCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRelationTypeOther</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
