force-app/main/default/flows/VCC_Case_Subflow_Update_Appt.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Error</name>
        <label>Log Error</label>
        <locationX>1106</locationX>
        <locationY>1238</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>VCC_Case_Subflow_Update_Appt</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NoShowApptNotification</name>
        <label>NoShowApptNotification</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Update_Appt_Status</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Notification_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>NotificationRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>NotificationTitle_NoShow</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBody_NoShow</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Get_Appointment_Id.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_MSA_Recipient</name>
        <label>Assign MSA Recipient</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>NotificationRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Appointment_Id.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NoShowApptNotification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Completed_Status</name>
        <label>Completed Status</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ApptStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Appt_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Show_Status</name>
        <label>No Show Status</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ApptStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Patient was No Show</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_MSA_Recipient</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Closed</name>
        <label>Case Closed-Resolved?</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>DEACTIVATE_Service_Appointment_Bypass_Validation_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_Resolved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.VCC_Case_Outcome__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Patient was No Show (No Welfare check)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.VCC_Case_Outcome__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Patient was No Show (Welfare check requested)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.VCC_Case_Outcome__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>VCV Appointment Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Completed_Status</targetReference>
            </connector>
            <label>Closed-Resolved</label>
        </rules>
        <rules>
            <name>No_Show</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>caseRecord.VCC_Case_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patient was No Show (No Welfare check)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.VCC_Case_Outcome__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patient was No Show (Welfare check requested)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Show_Status</targetReference>
            </connector>
            <label>No Show</label>
        </rules>
    </decisions>
    <description>This Sub-flow is created to improve efficiency and improve the quality of the ADM application by refactoring&quot; VCC Case - Update Appt&quot; and the case flows

1.17.0 - Added elements to update the Service Appointment bypass validation flag</description>
    <environments>Default</environments>
    <formulas>
        <name>NotificationBody_NoShow</name>
        <dataType>String</dataType>
        <expression>&apos;VCV Service Appointment has been updated as a no-show. Please update the associated appointment in your scheduling system (VSE, TMP, etc.) as a no-show.&apos;</expression>
    </formulas>
    <formulas>
        <name>NotificationTitle_NoShow</name>
        <dataType>String</dataType>
        <expression>&apos;No Show VCV Appointment - &apos; + {!Get_Appointment_Id.AppointmentNumber}</expression>
    </formulas>
    <interviewLabel>VCC Case Subflow - Update Appt {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VCC Case Subflow - Update Appt</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Appointment_Id</name>
        <label>Get Appointment Id</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ACTIVATE_Service_Appointment_Bypass_Validation_Flag</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecord.Service_Appointment__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>AppointmentNumber</queriedFields>
        <queriedFields>CreatedById</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Notification_Id</name>
        <label>Get Notification Id</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Closed</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCV_Appointment_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Used to activate the flag to bypass the status validation</description>
        <name>ACTIVATE_Service_Appointment_Bypass_Validation_Flag</name>
        <label>ACTIVATE- Service Appointment - Bypass Validation Flag</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Get_Notification_Id</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Appointment_Id.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VCC_Bypass_Validation__c</field>
            <value>
                <stringValue>YES</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <description>Used to deactivate the bypass validation flag</description>
        <name>DEACTIVATE_Service_Appointment_Bypass_Validation_Flag</name>
        <label>DEACTIVATE- Service Appointment - Bypass Validation Flag</label>
        <locationX>446</locationX>
        <locationY>1130</locationY>
        <faultConnector>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Appointment_Id.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VCC_Bypass_Validation__c</field>
            <value>
                <stringValue>NO</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Appt_Status</name>
        <label>Update Appt Status</label>
        <locationX>446</locationX>
        <locationY>1022</locationY>
        <connector>
            <targetReference>DEACTIVATE_Service_Appointment_Bypass_Validation_Flag</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Appointment_Id.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>ApptStatus</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Appointment_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApptStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>NotificationRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiveapptRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
