force-app/main/default/flows/VCC_Modify_Appointment_Same_Provider_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Add_Log_Entry_for_Error</name>
        <label>Add Log Entry for Error</label>
        <locationX>869</locationX>
        <locationY>2378</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Error_Log</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>VCC_Modify_Appointment_Same_Provider_Subflow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <elementReference>LoggingLevel_Error_TextValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Save_Appointment</name>
        <label>Save Appointment</label>
        <locationX>561</locationX>
        <locationY>1838</locationY>
        <actionName>saveAppointment</actionName>
        <actionType>saveAppointment</actionType>
        <connector>
            <targetReference>getRelatedEvent</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SetReviewStage</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>serviceResources</name>
            <value>
                <elementReference>serviceResources</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>optionalServiceResourceId</name>
            <value>
                <elementReference>optionalAttendees</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedTimezone</name>
            <value>
                <elementReference>selectedTimezone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceAppointmentFields</name>
            <value>
                <elementReference>serviceAppointmentFields</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WorkType</name>
            <value>
                <elementReference>workType</elementReference>
            </value>
        </inputParameters>
        <nameSegment>saveAppointment</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ServiceAppointmentId</assignToReference>
            <name>serviceAppointmentId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Save_Error_Log</name>
        <label>Save Error Log</label>
        <locationX>869</locationX>
        <locationY>2486</locationY>
        <actionName>Logger</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ErrorScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>Logger</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Assign Start Date Time to a text variable</description>
        <name>Assign_Start_Date_Time</name>
        <label>Assign Start Date Time</label>
        <locationX>561</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>eventStartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRelatedEvent.StartDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignEventSubject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignEventSubject</name>
        <label>assignEventSubject</label>
        <locationX>561</locationX>
        <locationY>2162</locationY>
        <assignmentItems>
            <assignToReference>getRelatedEvent.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>eventTitle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateRelatedEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Final_Values</name>
        <label>Set Final Values</label>
        <locationX>561</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>serviceAppointmentFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>appointmentFields</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Time_Slot_Stage</name>
        <label>Set Time Slot Stage</label>
        <locationX>363</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimeSlotStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TimeSlotScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Var_for_Overlap_Error</name>
        <label>Set Var for Overlap Error to True</label>
        <locationX>165</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Show_Overlapping_Booking_Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>TimeSlotScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetConfirmationStage</name>
        <label>Set Confirmation Stage</label>
        <locationX>561</locationX>
        <locationY>2378</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConfirmationStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ConfirmationScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetReviewStage</name>
        <label>Set Review Stage</label>
        <locationX>363</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReviewStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getMPServiceResource</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>FIND_RESOURCE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>findResource</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Appointment_Status_Category</name>
        <label>Check Appointment Status Category</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Work_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CanceledAppointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmationScreen</targetReference>
            </connector>
            <label>Canceled Appointment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_VVS_Link</name>
        <label>Get VVS Link?</label>
        <locationX>561</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Set_Final_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Get_Link</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_Video_Link</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Video_Link_Apex</targetReference>
            </connector>
            <label>Yes - Get Link</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_an_overlapping_booking</name>
        <label>Is there an overlapping booking?</label>
        <locationX>363</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>ReviewScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Continue</defaultConnectorLabel>
        <rules>
            <name>Overlapping_Booking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MPs_Duplicate_Booking</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Var_for_Overlap_Error</targetReference>
            </connector>
            <label>Overlapping Booking</label>
        </rules>
    </decisions>
    <description>A Subflow for Modify appointment that will let the MSA keep the same provider while modifying the appointment
1.18.0 - Feature CCCM-38380 - Generate VVS Link for Video Appointment; pass in VVS feature flag variable
1.16.0  Adding overlapping checks and error message</description>
    <dynamicChoiceSets>
        <name>Appointment_Type_picklist_values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>AppointmentType</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>appointmentFields</name>
        <dataType>String</dataType>
        <expression>&apos;{&quot;Description&quot;:&quot;&apos; &amp;{!ServiceAppointment.Description}&amp; 
&apos;&quot;,&apos;&amp; &apos;&quot;SchedStartTime&quot;:&quot;&apos; &amp; substitute(substitute(text({!ServiceAppointment.SchedStartTime}),&apos; &apos;,&apos;T&apos;),&apos;Z&apos;,&apos;.000Z&apos;)&amp;
&apos;&quot;,&apos;&amp; &apos;&quot;SchedEndTime&quot;:&quot;&apos; &amp; substitute(substitute(text({!ServiceAppointment.SchedEndTime}),&apos; &apos;,&apos;T&apos;),&apos;Z&apos;,&apos;.000Z&apos;)&amp;
&apos;&quot;,&apos;&amp; &apos;&quot;Subject&quot;:&quot;&apos; &amp; {!ServiceAppointment.Subject}&amp;
&apos;&quot;,&apos;&amp; &apos;&quot;AdditionalInformation&quot;:&quot;&apos; &amp; {!ServiceAppointment.AdditionalInformation}&amp;
&apos;&quot;,&apos;&amp; &apos;&quot;AppointmentType&quot;:&quot;&apos; &amp; text({!ServiceAppointment.AppointmentType})&amp;
&apos;&quot;,&apos;&amp; &apos;&quot;Comments&quot;:&quot;&apos; &amp; {!ServiceAppointment.Comments}&amp;
&apos;&quot;,&apos;&amp; &apos;&quot;ParentRecordId&quot;:&quot;&apos; &amp; {!ServiceAppointment.ParentRecordId}&amp;
&apos;&quot;,&apos;&amp; &apos;&quot;Street&quot;:&quot;&apos; &amp; {!ServiceAppointment.Street}&amp;
&apos;&quot;,&apos;&amp; &apos;&quot;City&quot;:&quot;&apos; &amp; {!ServiceAppointment.City}&amp;
&apos;&quot;,&apos;&amp; &apos;&quot;State&quot;:&quot;&apos; &amp; {!ServiceAppointment.State}&amp;
&apos;&quot;,&apos;&amp; &apos;&quot;PostalCode&quot;:&quot;&apos; &amp; {!ServiceAppointment.PostalCode}&amp;
&apos;&quot;,&apos;&amp; &apos;&quot;Country&quot;:&quot;&apos; &amp; {!ServiceAppointment.Country}&amp;
&apos;&quot;,&apos;&amp; &apos;&quot;WorkTypeId&quot;:&quot;&apos; &amp; {!workType.Id}&amp;
&apos;&quot;,&apos;&amp; &apos;&quot;ServiceTerritoryId&quot;:&quot;&apos; &amp; {!ServiceAppointment.ServiceTerritoryId}&amp;
&apos;&quot;,&apos;&amp; &apos;&quot;ServiceResourceId&quot;:&quot;&apos; &amp; {!serviceResourceId}&amp;
&apos;&quot;,&apos;&amp; &apos;&quot;Phone&quot;:&quot;&apos; &amp; {!VCV_Phone.value}&amp;
&apos;&quot;,&apos;&amp; &apos;&quot;Email&quot;:&quot;&apos; &amp; if(ISBLANK({!VCV_Email.value}), {!ServiceAppointment.Email}, {!VCV_Email.value})&amp;
&apos;&quot;,&apos;&amp; &apos;&quot;isSlotChanged&quot;:&quot;&apos; &amp; &quot;True&quot;&amp;
&apos;&quot;,&apos;&amp; &apos;&quot;VCC_Link__c&quot;:&quot;&apos; &amp; {!formula_VVS_Field_Value} &amp;
&apos;&quot;,&apos;&amp;&apos;&quot;Id&quot;:&quot;&apos; &amp;{!ServiceAppointmentId}&amp;
&apos;&quot;,&apos;&amp; &apos;&quot;VCC_VISN_for_Appointment__c&quot;:&quot;&apos; &amp; {!VISN_Facility_Dependencies.topValue}&amp;
&apos;&quot;,&apos;&amp; &apos;&quot;VCC_Facility_for_Appointment__c&quot;:&quot;&apos; &amp; {!VISN_Facility_Dependencies.middleValue}&amp;
&apos;&quot;,}&apos;</expression>
    </formulas>
    <formulas>
        <description>The naming convention for the Event&apos;s Subject field.</description>
        <name>eventTitle</name>
        <dataType>String</dataType>
        <expression>&apos;VCV Appointment for &apos; + {!eventStartDateTime}</expression>
    </formulas>
    <formulas>
        <description>When VVS feature flag is true and user checks Generate Video Link checkbox on screen, it will be the URL returned from the callout
When VVS feature flag is false or user does not check video link checkbox, it will be the field value from user input.
Generate Video Link checkbox is only displayed when feature flag is True.</description>
        <name>formula_VVS_Field_Value</name>
        <dataType>String</dataType>
        <expression>IF({!Generate_Video_Link}, {!varVVSLinkURL}, {!vvcLinkUrl.value})</expression>
    </formulas>
    <formulas>
        <description>Format start time in UTC for the VVS link callout</description>
        <name>formulaStartTimeUTC</name>
        <dataType>String</dataType>
        <expression>substitute(substitute(text({!ServiceAppointment.SchedStartTime}),&apos; &apos;,&apos;T&apos;),&apos;Z&apos;,&apos;.000Z&apos;)</expression>
    </formulas>
    <formulas>
        <name>oneHourAfterStartTime</name>
        <dataType>DateTime</dataType>
        <expression>{!ServiceAppointment.SchedStartTime} + (1/24)</expression>
    </formulas>
    <formulas>
        <description>Get&apos;s the time one hours before the selected start time for the service appointment</description>
        <name>oneHourBeforeStartTime</name>
        <dataType>DateTime</dataType>
        <expression>{!ServiceAppointment.SchedStartTime} - (1/24)</expression>
    </formulas>
    <interviewLabel>VCC Modify Appointment Same Provider Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VCC Modify Appointment Same Provider Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <recordLookups>
        <name>Get_MPs_Duplicate_Booking</name>
        <label>Get Patient Overlapping Bookings</label>
        <locationX>363</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_an_overlapping_booking</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Log_Entry_for_Error</targetReference>
        </faultConnector>
        <filterLogic>(1 AND 2 AND 3 AND (4 OR 5) AND 6)</filterLogic>
        <filters>
            <field>SchedStartTime</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>oneHourAfterStartTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>SchedStartTime</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>oneHourBeforeStartTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPersonAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StatusCategory</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>StatusCategory</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InProgress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SchedStartTime</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Type</name>
        <label>Get Work Type</label>
        <locationX>363</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPersonAccount</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Log_Entry_for_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.WorkTypeId</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputReference>workType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>BlockTimeBeforeAppointment</queriedFields>
        <queriedFields>BlockTimeAfterAppointment</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getMPServiceResource</name>
        <label>getMPServiceResource</label>
        <locationX>363</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getVISNName</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Log_Entry_for_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceResourceId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPersonAccount</name>
        <label>getPersonAccount</label>
        <locationX>363</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Time_Slot_Stage</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Log_Entry_for_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.ParentRecordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>varPersonAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>VCC_MVI_External_Id__pc</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Query the Event related to the Appointment</description>
        <name>getRelatedEvent</name>
        <label>getRelatedEvent</label>
        <locationX>561</locationX>
        <locationY>1946</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Start_Date_Time</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Log_Entry_for_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>StartDateTime</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getVISNName</name>
        <label>getVISNName</label>
        <locationX>363</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MPs_Duplicate_Booking</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Log_Entry_for_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <outputAssignments>
            <assignToReference>visnNAme</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Service_Appointment</name>
        <label>Service Appointment</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Appointment_Status_Category</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Log_Entry_for_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <queriedFields>AdditionalInformation</queriedFields>
        <queriedFields>AppointmentType</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>Comments</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>Country</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>State</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>SchedEndTime</queriedFields>
        <queriedFields>SchedStartTime</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Address</queriedFields>
        <queriedFields>StatusCategory</queriedFields>
        <queriedFields>VCC_Link__c</queriedFields>
        <queriedFields>VCC_VISN_for_Appointment__c</queriedFields>
        <queriedFields>VCC_Facility_for_Appointment__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>AppointmentComments__c</queriedFields>
        <queriedFields>AppointmentNumber</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Update the related event with the correct naming convention.</description>
        <name>updateRelatedEvent</name>
        <label>updateRelatedEvent</label>
        <locationX>561</locationX>
        <locationY>2270</locationY>
        <connector>
            <targetReference>SetConfirmationStage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Add_Log_Entry_for_Error</targetReference>
        </faultConnector>
        <inputReference>getRelatedEvent</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ConfirmationScreen</name>
        <label>Confirmation Screen</label>
        <locationX>176</locationX>
        <locationY>3002</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>flowConfirm</name>
            <extensionName>runtime_appointmentbooking:flowConfirm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>category</name>
                <value>
                    <elementReference>ServiceAppointment.StatusCategory</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>869</locationX>
        <locationY>2594</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errorDisplay</name>
            <extensionName>c:vccErrorDisplay</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>userFriendly</name>
                <value>
                    <stringValue>Error Modifying Appointment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>system</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ReviewScreen</name>
        <label>Review Screen</label>
        <locationX>561</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_VVS_Link</targetReference>
        </connector>
        <fields>
            <name>Patient_Information</name>
            <fieldText>Patient Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Patient_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>patientName</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Patient:&lt;/strong&gt; {!varPersonAccount.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>VCV_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>ServiceAppointment.Phone</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Verified_patient_phone_number_and_email</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Verified patient contact information</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;You must verify the patient&apos;s phone and email for this VCV appointment&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF({!Verified_patient_phone_number_and_email}=TRUE,TRUE,FALSE)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Patient_Information_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Medical_Provider</name>
            <fieldText>Medical Provider</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Medical_Provider_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>resoruceName</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Medical Provider &lt;/strong&gt;{!getMPServiceResource.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Medical_Provider_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>resourceVISN</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Service Territory:&lt;/strong&gt; {!visnNAme}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Appointment_Details</name>
            <fieldText>Appointment Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Appointment_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>scheduledStartTime</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Scheduled Start: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!ServiceAppointment.SchedStartTime}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Appointment_Type</name>
                    <choiceReferences>Appointment_Type_picklist_values</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ServiceAppointment.AppointmentType</elementReference>
                    </defaultValue>
                    <fieldText>Appointment Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>VCV_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>ServiceAppointment.Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Appointment_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Video</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Generate_Video_Link</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Generate Video Link</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Appointment_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Video</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>var_FeatureFlagMdtVVS</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ServiceAppointment.Subject</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Appointment_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>scheduledEndTime</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Scheduled End: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!ServiceAppointment.SchedEndTime}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>vvcLinkUrl</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>VVC Link</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>ServiceAppointment.VCC_Link__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ServiceAppointment.Description</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>VISN</name>
            <fieldText>Service Territory</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>VISN_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>VISN_Facility_Dependencies</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>VCC_VISN_for_Appointment__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>VCC_Facility_for_Appointment__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>ServiceAppointment</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>VISN for Appointment</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>ServiceAppointment.VCC_VISN_for_Appointment__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Facility</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleValue</name>
                        <value>
                            <elementReference>ServiceAppointment.VCC_Facility_for_Appointment__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>apptFaultMessage</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(247, 1, 1);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TimeSlotScreen</name>
        <label>Time Slot Screen</label>
        <locationX>363</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SetReviewStage</targetReference>
        </connector>
        <fields>
            <name>OverlapErrorText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(234, 0, 30); background-color: rgb(255, 255, 255);&quot;&gt;ERROR: VCV Appointment cannot be scheduled for patient within an hour of a previously scheduled VCV appointment.&amp;nbsp;Please select another time.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Show_Overlapping_Booking_Error</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>flowTimeslot</name>
            <extensionName>runtime_appointmentbooking:flowTimeslot</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showTimeZonePicklist</name>
                <value>
                    <elementReference>showTimeZonePicklist</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResources</name>
                <value>
                    <elementReference>serviceResources</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceAppointmentId</name>
                <value>
                    <elementReference>ServiceAppointmentId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSlotChanged</name>
                <value>
                    <elementReference>isSlotChanged</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isInbound</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isHideSkip</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceResourceId</name>
                <value>
                    <elementReference>serviceResourceId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serviceTerritoryId</name>
                <value>
                    <elementReference>ServiceAppointment.ServiceTerritoryId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currStartDate</name>
                <value>
                    <elementReference>startDate</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>validationErrors</name>
                <value>
                    <elementReference>validationErrors</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workType</name>
                <value>
                    <elementReference>workType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedEndTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedEndTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedStartTime</name>
                <value>
                    <elementReference>ServiceAppointment.SchedStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>schedulingPolicyName</name>
                <value>
                    <elementReference>SchedulingPolicyName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preselectedTimezone</name>
                <value>
                    <elementReference>DefaultTimeZone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedTimezone</name>
                <value>
                    <elementReference>selectedTimezone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>correlationId</name>
                <value>
                    <elementReference>correlationId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cacheMultiplier</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>workTypeGroupId</name>
                <value>
                    <elementReference>workTypeGroupId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentRecordId</name>
                <value>
                    <elementReference>ServiceAppointment.ParentRecordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedStartTime</assignToReference>
                <name>selectedStartTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ServiceAppointment.SchedEndTime</assignToReference>
                <name>selectedEndTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>validationErrors</assignToReference>
                <name>validationErrors</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>startDate</assignToReference>
                <name>currStartDate</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>isSlotChanged</assignToReference>
                <name>isSlotChanged</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serviceResources</assignToReference>
                <name>serviceResources</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>serviceResourceId</assignToReference>
                <name>serviceResourceId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedTimezone</assignToReference>
                <name>selectedTimezone</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>runtime_appointmentbooking__Out_Modify</sourceTemplate>
    <stages>
        <name>ConfirmationStage</name>
        <isActive>true</isActive>
        <label>Confirmation</label>
        <stageOrder>70</stageOrder>
    </stages>
    <stages>
        <name>ReviewStage</name>
        <isActive>true</isActive>
        <label>Review</label>
        <stageOrder>60</stageOrder>
    </stages>
    <stages>
        <name>TimeSlotStage</name>
        <isActive>true</isActive>
        <label>Select Time Slot</label>
        <stageOrder>50</stageOrder>
    </stages>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Service_Appointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Generate_Video_Link_Apex</name>
        <label>Generate Video Link</label>
        <locationX>429</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>Set_Final_Values</targetReference>
        </connector>
        <flowName>VCC_Appointment_Subflow_GetVVSLink</flowName>
        <inputAssignments>
            <name>var_PatientLastName</name>
            <value>
                <elementReference>varPersonAccount.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>var_SchedStartTime</name>
            <value>
                <elementReference>formulaStartTimeUTC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPatientEmail</name>
            <value>
                <elementReference>VCV_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPatientFirstName</name>
            <value>
                <elementReference>varPersonAccount.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPatientICN</name>
            <value>
                <elementReference>varPersonAccount.VCC_MVI_External_Id__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPatientPhone</name>
            <value>
                <elementReference>VCV_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varProviderEmail</name>
            <value>
                <elementReference>getMPServiceResource.RelatedRecord.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varProviderUserId</name>
            <value>
                <elementReference>getMPServiceResource.RelatedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSelectedFacility</name>
            <value>
                <elementReference>VISN_Facility_Dependencies.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSelectedTimeZone</name>
            <value>
                <elementReference>selectedTimezone</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varVVSLinkURL</assignToReference>
            <name>varVVSLinkURL</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>assignedResourceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>correlationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Specify a default time zone for Lightning Scheduler appointments.</description>
        <name>DefaultTimeZone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Start Date Time of the related Event.</description>
        <name>eventStartDateTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isSlotChanged</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LoggingLevel_Error_TextValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ERROR</stringValue>
        </value>
    </variables>
    <variables>
        <name>optionalAttendees</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Overlapping_ServiceAppointment_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the API name of the scheduling policy you want to associate with the flow.</description>
        <name>SchedulingPolicyName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedTimezone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>serviceAppointmentFields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResourceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceResources</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Show_Overlapping_Booking_Error</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>showServiceResource</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>showTimeZonePicklist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>startDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>validationErrors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Value of VCC_SCD_Automation_Configuration__mdt.Generate_VVS_Link__c feature flag, passed in from VCC_Modify_Appointment parent flow</description>
        <name>var_FeatureFlagMdtVVS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varPersonAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Returned URL from VVS callout</description>
        <name>varVVSLinkURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>visnNAme</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkType</objectType>
    </variables>
    <variables>
        <name>workTypeGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
