force-app/main/default/flows/VCC_Columbia_Protocol.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <description>Copy data from get record (containing all fields user can see) into progressNoteDetail variable.</description>
        <name>assign_progressNoteDetail</name>
        <label>assign progressNoteDetail</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>progressNoteDetail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_child_PN_Detail_for_current_PN</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_CSSRS_been_Completed_for_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Convert the Booleans from the Question screen components into text types so that they could be more easily manipulated in formulas to build plain-text CSSRS results for PN record.</description>
        <name>convert_responses_to_strings</name>
        <label>convert responses to strings</label>
        <locationX>842</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>varQ3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>question3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQ4</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>question4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQ5</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>question_5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQ6</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>question6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQ7</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>question7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQ8</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>question8</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>save_answers_to_progressNote_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Save plain text CSSRS results to PN, and set up PN for update.</description>
        <name>save_answers_to_progressNote_record</name>
        <label>save answers to progressNote record</label>
        <locationX>842</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>progressNote.VCC_CSSRS_PlainText_Data__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ColumbiaProtocolAnswersforDetailPage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progressNote.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_progressNote_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Capture JSON (from text template) in VCC_CSSRS_Data__c field. Set VCC_Is_CSSRS_Finished__c to true.</description>
        <name>save_answers_to_progressNoteDetail_record</name>
        <label>save answers to progressNoteDetail record</label>
        <locationX>842</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>progressNoteDetail.VCC_CSSRS_Data__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ColumbiaProtocolAnswersJSON</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progressNoteDetail.VCC_Is_CSSRS_Finished__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_progressNoteDetail_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Initialize the new PN Detail record, setting parent lookup to current recordId</description>
        <name>set_up_new_progressNoteDetail_record</name>
        <label>set up new progressNoteDetail record</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>progressNoteDetail.VCC_Progress_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progressNoteDetail.VCC_Is_CSSRS_Finished__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>insert_progressNoteDetail_record</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>a choice labeled as &quot;No&quot; with a value of false</description>
        <name>choiceNo</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <description>a choice labeled as &quot;Yes&quot; with a value of true</description>
        <name>choiceYes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <name>CSSRSQ1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Over the past month, have you wished you were dead or wished you could go to sleep and not wake up?</stringValue>
        </value>
    </constants>
    <constants>
        <name>CSSRSQ2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Over the past month, have you had any actual thoughts of killing yourself?</stringValue>
        </value>
    </constants>
    <constants>
        <name>CSSRSQ3</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Over the past month, have you been thinking about how you might do this? </stringValue>
        </value>
    </constants>
    <constants>
        <name>CSSRSQ4</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Over the past month, have you had these thoughts and had some intention of acting on them?</stringValue>
        </value>
    </constants>
    <constants>
        <name>CSSRSQ5</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Over the past month, have you started to work out or worked out the details of how to kill yourself?</stringValue>
        </value>
    </constants>
    <constants>
        <name>CSSRSQ6</name>
        <dataType>String</dataType>
        <value>
            <stringValue>At any time in the past month did you intend to carry out this plan?</stringValue>
        </value>
    </constants>
    <constants>
        <name>CSSRSQ7</name>
        <dataType>String</dataType>
        <value>
            <stringValue>In your lifetime, have you ever done anything, started to do anything, or prepared to do anything to end your life (for example, collected pills, obtained a gun, gave away valuables, went to the roof but didn’t jump)?</stringValue>
        </value>
    </constants>
    <constants>
        <name>CSSRSQ8</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Was this within the past 3 months? </stringValue>
        </value>
    </constants>
    <constants>
        <name>EmptyString</name>
        <dataType>String</dataType>
        <value>
            <stringValue />
        </value>
    </constants>
    <constants>
        <name>TITLELWC_ICONBACKGROUNDCOLOR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>red</stringValue>
        </value>
    </constants>
    <constants>
        <description>CSS classes for icon on vccFlowTitle LWCs</description>
        <name>TITLELWC_ICONCSS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>slds-var-m-right_small</stringValue>
        </value>
    </constants>
    <constants>
        <name>TITLELWC_ICONFOREGROUNDCOLOR</name>
        <dataType>String</dataType>
        <value>
            <stringValue>white</stringValue>
        </value>
    </constants>
    <constants>
        <description>SLDS icon name for vccFlowTitle LWCs</description>
        <name>TITLELWC_ICONNAME</name>
        <dataType>String</dataType>
        <value>
            <stringValue>utility:priority</stringValue>
        </value>
    </constants>
    <constants>
        <name>TITLELWC_ICONSIZE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>small</stringValue>
        </value>
    </constants>
    <constants>
        <name>TITLELWC_ICONVARIANT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>error</stringValue>
        </value>
    </constants>
    <constants>
        <description>title value for vccFlowTitle LWCs</description>
        <name>TITLELWC_TITLE</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Columbia Protocol - Suicide Risk Screening Tool</stringValue>
        </value>
    </constants>
    <constants>
        <description>CSS classes for title on vccFlowTitle LWCs</description>
        <name>TITLELWC_TITLECSS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>slds-text-heading_small slds-text-title_bold</stringValue>
        </value>
    </constants>
    <constants>
        <description>CSS classes for layout of vccFlowTitle LWCs</description>
        <name>TITLELWC_WRAPPERCSS</name>
        <dataType>String</dataType>
        <value>
            <stringValue>slds-var-m-bottom_medium slds-var-m-top_small</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Checks if prev get record element found anything.
If no, non-owners are directed to dead-end screen (don&apos;t create new PN Detail record).
If no, but note is signed, owner is directed to dead-end screen (don&apos;t create new PN Detail record).
If no, owner flows through inserting new PN Detail and performing screening.
If yes, capture that PN Detail records data in progressNoteDetail variable</description>
        <name>Found_Progress_Note_Detail_Record</name>
        <label>Found Progress Note Detail Record?</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>assign_progressNoteDetail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_but_current_user_cannot_create_PN_Detail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_child_PN_Detail_for_current_PN</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fxUserOwnsCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>dead_end_screen</targetReference>
            </connector>
            <label>No, non-owner</label>
        </rules>
        <rules>
            <name>No_PN_already_signed_do_not_make_new_PN_Detail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_child_PN_Detail_for_current_PN</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fxProgressNoteIsSigned</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>dead_end_screen</targetReference>
            </connector>
            <label>No, but PN already signed</label>
        </rules>
        <rules>
            <name>No_can_create_new_progress_note_detail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_child_PN_Detail_for_current_PN</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_up_new_progressNoteDetail_record</targetReference>
            </connector>
            <label>No, make one</label>
        </rules>
    </decisions>
    <decisions>
        <description>Read value of PND.VCC_Is_CSSRS_Finished__c checkbox to determine if screening has been completed
If not, non-owner is directed to dead-end screen.
Or, if not, but PN is signed, direct owner to dead-end screen.
Or, if not, and PN isn&apos;t signed, direct owner to perform actual Screening.
If yes, direct (any) user to results screen.</description>
        <name>Has_CSSRS_been_Completed_for_Record</name>
        <label>Has CSSRS been Completed for Record?</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Columbia_Protocol</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, can run</defaultConnectorLabel>
        <rules>
            <name>Yes_go_to_results_screen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>progressNoteDetail.VCC_Is_CSSRS_Finished__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Result_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_but_current_user_is_not_owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>progressNoteDetail.VCC_Is_CSSRS_Finished__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fxUserOwnsCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>dead_end_screen</targetReference>
            </connector>
            <label>No, non-owner</label>
        </rules>
        <rules>
            <name>No_PN_already_signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>progressNoteDetail.VCC_Is_CSSRS_Finished__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fxProgressNoteIsSigned</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>dead_end_screen</targetReference>
            </connector>
            <label>No, but PN already signed</label>
        </rules>
    </decisions>
    <description>The Columbia Protocol asks the veteran a series of questions about suicidality. The outputs are saved to the Progress Note Detail object. The outcome and any questions answered are written back to CPRS

1.18: Added logic to display message to non-owners viewing the Progress Note record, when the screening has not yet been run. Also streamlined variables, labels, and layout of flow.</description>
    <environments>Default</environments>
    <formulas>
        <name>fxCSSRSJudgement</name>
        <dataType>Boolean</dataType>
        <expression>OR({!question3} = True, {!question4} = True, {!question_5} = True, {!question8} = True)</expression>
    </formulas>
    <formulas>
        <name>fxCSSRSJudgementConversion</name>
        <dataType>String</dataType>
        <expression>IF(
{!fxCSSRSJudgement}, &quot;POSITIVE&quot;, &quot;NEGATIVE&quot;
)</expression>
    </formulas>
    <formulas>
        <name>fxCSSRSJudgementStatement</name>
        <dataType>String</dataType>
        <expression>IF(
{!fxCSSRSJudgement}, 
&quot;This is a POSITIVE screen.&quot;,
&quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <description>returns owner Id from Case (which is grandparent record of the PN record)</description>
        <name>fxOwnerId</name>
        <dataType>String</dataType>
        <expression>{!get_current_PN.VCC_Case__r.OwnerId}</expression>
    </formulas>
    <formulas>
        <description>returns first 15 chars of fxOwnerId, for comparing 15-digit Ids</description>
        <name>fxOwnerId15</name>
        <dataType>String</dataType>
        <expression>LEFT({!fxOwnerId}, 15)</expression>
    </formulas>
    <formulas>
        <name>fxProgressNoteIsSigned</name>
        <dataType>Boolean</dataType>
        <expression>{!get_current_PN.VCC_Signed__c}</expression>
    </formulas>
    <formulas>
        <name>fxQ1YesNoConversion</name>
        <dataType>String</dataType>
        <expression>IF(
{!question1}, &quot;YES&quot;, &quot;NO&quot;
)</expression>
    </formulas>
    <formulas>
        <name>fxQ2YesNoConversion</name>
        <dataType>String</dataType>
        <expression>IF(
{!question2}, &quot;YES&quot;, &quot;NO&quot;
)</expression>
    </formulas>
    <formulas>
        <name>fxQ3YesNoConversion</name>
        <dataType>String</dataType>
        <expression>IF(
{!varQ3} = NULL, 
&quot;&quot;, 
IF({!question3}, {!LineBreak} + {!CSSRSQ3} + {!LineBreak} + &quot;YES&quot;,{!LineBreak} + {!CSSRSQ3} + {!LineBreak} + &quot;NO&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>fxQ4YesNoConversion</name>
        <dataType>String</dataType>
        <expression>IF(
{!varQ4} = NULL, 
&quot;&quot;, 
IF({!question4}, {!LineBreak} + {!CSSRSQ4} +{!LineBreak} + &quot;YES&quot;,{!LineBreak} + {!CSSRSQ4} +{!LineBreak} + &quot;NO&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>fxQ5YesNoConversion</name>
        <dataType>String</dataType>
        <expression>IF(
{!varQ5} = NULL, 
&quot;&quot;, 
IF({!question_5}, {!LineBreak} + {!CSSRSQ5} +{!LineBreak} + &quot;YES&quot;, {!LineBreak} + {!CSSRSQ5} +{!LineBreak} + &quot;NO&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>fxQ6YesNoConversion</name>
        <dataType>String</dataType>
        <expression>IF(
{!varQ6} = NULL, 
&quot;&quot;, 
IF({!question6}, {!LineBreak} + {!CSSRSQ6} +{!LineBreak} + &quot;YES&quot;, {!LineBreak} + {!CSSRSQ6} +{!LineBreak} + &quot;NO&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>fxQ7YesNoConversion</name>
        <dataType>String</dataType>
        <expression>IF(
{!varQ7} = NULL,
&quot;&quot;,
IF({!question7}, {!LineBreak} +{!CSSRSQ7} + {!LineBreak} + &quot;YES&quot;, {!LineBreak} + {!CSSRSQ7} + {!LineBreak} + &quot;NO&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>fxQ8YesNoConversion</name>
        <dataType>String</dataType>
        <expression>IF(
{!varQ8} = NULL,
&quot;&quot;,
IF({!question8},{!LineBreak} + {!CSSRSQ8} +{!LineBreak} + &quot;YES&quot;,{!LineBreak} + {!CSSRSQ8} +{!LineBreak} + &quot;NO&quot;)
)</expression>
    </formulas>
    <formulas>
        <description>evaluates if Running User owns the Case that is the grand parent of the Progress Note Detail record being manipulated in this flow.</description>
        <name>fxUserOwnsCase</name>
        <dataType>Boolean</dataType>
        <expression>{!$User.Id}={!fxOwnerId} || {!$User.Id}={!fxOwnerId15}</expression>
    </formulas>
    <interviewLabel>VCC Columbia Protocol {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VCC Columbia Protocol</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Insert the PN Detail record (with empty screening data)</description>
        <name>insert_progressNoteDetail_record</name>
        <label>insert progressNoteDetail record</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Has_CSSRS_been_Completed_for_Record</targetReference>
        </connector>
        <inputReference>progressNoteDetail</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get the progress note detail for the record that triggered the screen flow.</description>
        <name>get_child_PN_Detail_for_current_PN</name>
        <label>get child PN Detail for current PN</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Progress_Note_Detail_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VCC_Progress_Note__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VCC_Progress_Note_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get current Progress Note, so we can read Case__r.OwnerId.</description>
        <name>get_current_PN</name>
        <label>get current PN</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_child_PN_Detail_for_current_PN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VCC_Progress_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_progressNote_record</name>
        <label>update progressNote record</label>
        <locationX>842</locationX>
        <locationY>1406</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Result_Screen</targetReference>
        </connector>
        <inputReference>progressNote</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update the PN detail record with collected answers</description>
        <name>update_progressNoteDetail_record</name>
        <label>update progressNoteDetail record</label>
        <locationX>842</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>convert_responses_to_strings</targetReference>
        </connector>
        <inputReference>progressNoteDetail</inputReference>
    </recordUpdates>
    <screens>
        <description>Contains actual screening questions. Only reachable by Case owner when screening has not already been completed.</description>
        <name>Columbia_Protocol</name>
        <label>Columbia Protocol</label>
        <locationX>842</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>save_answers_to_progressNoteDetail_record</targetReference>
        </connector>
        <fields>
            <name>screeningTitleLWC</name>
            <extensionName>c:vccFlowTitle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <elementReference>TITLELWC_ICONSIZE</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <elementReference>TITLELWC_ICONNAME</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>TITLELWC_TITLE</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleCssClass</name>
                <value>
                    <elementReference>TITLELWC_TITLECSS</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>wrapperCssClass</name>
                <value>
                    <elementReference>TITLELWC_WRAPPERCSS</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconCssClass</name>
                <value>
                    <elementReference>TITLELWC_ICONCSS</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconBackgroundColor</name>
                <value>
                    <elementReference>TITLELWC_ICONBACKGROUNDCOLOR</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconForegroundColor</name>
                <value>
                    <elementReference>TITLELWC_ICONFOREGROUNDCOLOR</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>emptyTextforSpace</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>emptyText3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Columbia_Protocol_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Columbia_Protocol_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayText1</name>
                    <fieldText>&lt;p&gt;{!CSSRSQ1}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>question1</name>
                    <choiceReferences>choiceYes</choiceReferences>
                    <choiceReferences>choiceNo</choiceReferences>
                    <dataType>Boolean</dataType>
                    <fieldText>Answer</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Columbia_Protocol_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Columbia_Protocol_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayText2</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;{!CSSRSQ2}&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>question2</name>
                    <choiceReferences>choiceYes</choiceReferences>
                    <choiceReferences>choiceNo</choiceReferences>
                    <dataType>Boolean</dataType>
                    <fieldText>Answer</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Columbia_Protocol_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Columbia_Protocol_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayText3</name>
                    <fieldText>&lt;p&gt;{!CSSRSQ3}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>question3</name>
                    <choiceReferences>choiceYes</choiceReferences>
                    <choiceReferences>choiceNo</choiceReferences>
                    <dataType>Boolean</dataType>
                    <fieldText>Answer</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>question2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Columbia_Protocol_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Columbia_Protocol_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayText4</name>
                    <fieldText>&lt;p&gt;{!CSSRSQ4}&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, &amp;quot;system-ui&amp;quot;, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>question4</name>
                    <choiceReferences>choiceYes</choiceReferences>
                    <choiceReferences>choiceNo</choiceReferences>
                    <dataType>Boolean</dataType>
                    <fieldText>Answer</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>question3</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceNo</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>question3</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceYes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Columbia_Protocol_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Columbia_Protocol_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayText5</name>
                    <fieldText>&lt;p&gt;{!CSSRSQ5}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>question_5</name>
                    <choiceReferences>choiceYes</choiceReferences>
                    <choiceReferences>choiceNo</choiceReferences>
                    <dataType>Boolean</dataType>
                    <fieldText>Answer</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>question4</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceNo</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>question4</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceYes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Columbia_Protocol_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Columbia_Protocol_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayText6</name>
                    <fieldText>&lt;p&gt;{!CSSRSQ6}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>question6</name>
                    <choiceReferences>choiceYes</choiceReferences>
                    <choiceReferences>choiceNo</choiceReferences>
                    <dataType>Boolean</dataType>
                    <fieldText>Answer</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>question_5</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceYes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Columbia_Protocol_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Columbia_Protocol_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayText7</name>
                    <fieldText>&lt;p&gt;{!CSSRSQ7}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>question7</name>
                    <choiceReferences>choiceYes</choiceReferences>
                    <choiceReferences>choiceNo</choiceReferences>
                    <dataType>Boolean</dataType>
                    <fieldText>Answer</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>question2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceNo</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>question_5</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceNo</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>question6</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceNo</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>question6</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceYes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Columbia_Protocol_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Columbia_Protocol_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayText8</name>
                    <fieldText>&lt;p&gt;{!CSSRSQ8}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>question8</name>
                    <choiceReferences>choiceYes</choiceReferences>
                    <choiceReferences>choiceNo</choiceReferences>
                    <dataType>Boolean</dataType>
                    <fieldText>Answer</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>question7</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choiceYes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays message to any user that doesn&apos;t own the PN&apos;s parent Case record, when Columbia Screening has not been completed.

Can also show message for all users who attempt to run screening after PN has already been signed</description>
        <name>dead_end_screen</name>
        <label>dead end screen</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>deadEndTitleLWC</name>
            <extensionName>c:vccFlowTitle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <elementReference>TITLELWC_ICONNAME</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>TITLELWC_TITLE</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleCssClass</name>
                <value>
                    <elementReference>TITLELWC_TITLECSS</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>wrapperCssClass</name>
                <value>
                    <elementReference>TITLELWC_WRAPPERCSS</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <elementReference>TITLELWC_ICONSIZE</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconCssClass</name>
                <value>
                    <elementReference>TITLELWC_ICONCSS</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconBackgroundColor</name>
                <value>
                    <elementReference>TITLELWC_ICONBACKGROUNDCOLOR</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconForegroundColor</name>
                <value>
                    <elementReference>TITLELWC_ICONFOREGROUNDCOLOR</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dead_end_screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>dead_end_screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>notRunMessage</name>
                    <fieldText>&lt;p&gt;The CSSRS Suicide Risk screening has not been run.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>fxUserOwnsCase</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>noteSignedMessage</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;IMPORTANT! The Progress Note has been signed. You cannot execute the Columbia screening /CSSRS on a signed Progress Note.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>fxProgressNoteIsSigned</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>fxUserOwnsCase</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Displays screening results in the vccColumbiaProtocol LWC</description>
        <name>Result_Screen</name>
        <label>Result Screen</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>resultTitleLWC</name>
            <extensionName>c:vccFlowTitle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <elementReference>TITLELWC_ICONSIZE</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <elementReference>TITLELWC_ICONNAME</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>TITLELWC_TITLE</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>titleCssClass</name>
                <value>
                    <elementReference>TITLELWC_TITLECSS</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>wrapperCssClass</name>
                <value>
                    <elementReference>TITLELWC_WRAPPERCSS</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconCssClass</name>
                <value>
                    <elementReference>TITLELWC_ICONCSS</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconBackgroundColor</name>
                <value>
                    <elementReference>TITLELWC_ICONBACKGROUNDCOLOR</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconForegroundColor</name>
                <value>
                    <elementReference>TITLELWC_ICONFOREGROUNDCOLOR</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dt3</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dt4</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>resultBodyLWC</name>
            <extensionName>c:vccColumbiaProtocol</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>response</name>
                <value>
                    <elementReference>progressNoteDetail.VCC_CSSRS_Data__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_current_PN</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ColumbiaProtocolAnswersforDetailPage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>CSSRS Screen Scoring: {!fxCSSRSJudgementConversion}

{!fxCSSRSJudgementStatement}

{!CSSRSQ1}
{!fxQ1YesNoConversion}
{!CSSRSQ2}
{!fxQ2YesNoConversion} {!fxQ3YesNoConversion} {!fxQ4YesNoConversion} {!fxQ5YesNoConversion} {!fxQ6YesNoConversion} {!fxQ7YesNoConversion} {!fxQ8YesNoConversion}</text>
    </textTemplates>
    <textTemplates>
        <description>builds JSON representation of Columbia screening answers for consumption by vccColumbiaProtocol LWC</description>
        <name>ColumbiaProtocolAnswersJSON</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{&quot;ColumbiaQ1&quot;:&quot;{!question1}&quot;, &quot;ColumbiaQ2&quot;:&quot;{!question2}&quot;, &quot;ColumbiaQ3&quot;:&quot;{!question3}&quot;, &quot;ColumbiaQ4&quot;:&quot;{!question4}&quot;, &quot;ColumbiaQ5&quot;:&quot;{!question_5}&quot;, &quot;ColumbiaQ6&quot;:&quot;{!question6}&quot;, &quot;ColumbiaQ7&quot;:&quot;{!question7}&quot;,&quot;ColumbiaQ8&quot;:&quot;{!question8}&quot;}</text>
    </textTemplates>
    <textTemplates>
        <name>LineBreak</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!EmptyString}
{!EmptyString}</text>
    </textTemplates>
    <variables>
        <name>CSSRSJudgement</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>the VCC_Progress_Note__c record manipulated in this flow</description>
        <name>progressNote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VCC_Progress_Note__c</objectType>
    </variables>
    <variables>
        <description>the VCC_Progress_Note_Detail__c record manipulated in this flow</description>
        <name>progressNoteDetail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VCC_Progress_Note_Detail__c</objectType>
    </variables>
    <variables>
        <description>The record Id of the progress note that triggered the screen flow</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varQ3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQ4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQ5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQ6</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQ7</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varQ8</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
