force-app/main/default/flows/VCC_Onboarding_Activity_Creation_by_Record_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Readiness_Records_to_Collection</name>
        <label>Add Readiness Records to Collection</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>readinessActivityCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>readinessActivityRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Readiness_Records_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Readiness_Record</name>
        <label>Create Readiness Record</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>readinessActivityRecord.VCC_SOT_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Readiness_Records_Loop.VCC_SOT_User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>readinessActivityRecord.VCC_Onboarding_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>readinessActivityRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!Create_Readiness_Records_Loop.VCC_SOT_User__r.Name} {!$Record.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Readiness_Records_to_Collection</targetReference>
        </connector>
    </assignments>
    <description
    >When an Onboarding Activity is created or updated, this flow creates and assigns readiness activities to the SOT Users who have a Service User Assignment associated with
        the CRM Service VISN Assignment on which the Onboarding Activity exists.</description>
    <environments>Default</environments>
    <interviewLabel>VCC` Onboarding Activity Creation by Record Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VCC SOT Onboarding Activity Creation by Record Type</label>
    <loops>
        <name>Create_Readiness_Records_Loop</name>
        <label>Create Readiness Records Loop</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Service_VISN_Service_User_Assignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Readiness_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Readiness_Activity_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Readiness_Activity_Records</name>
        <label>Create Readiness Activity Records</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <inputReference>readinessActivityCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Service_VISN_Service_User_Assignments</name>
        <label>Service VISN Service User Assignments</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Readiness_Records_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VCC_CRM_VISN_Service_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.VCC_CRM_VISN_Service_Assignment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>VCC_Service_User_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Service_VISN_Service_User_Assignments</targetReference>
        </connector>
        <object>VCC_Onboarding_Activity__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1500</triggerOrder>
    <variables>
        <name>contactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>readinessActivityCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VCC_Readiness_Activity__c</objectType>
    </variables>
    <variables>
        <name>readinessActivityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VCC_Readiness_Activity__c</objectType>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>trainingActivityCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VCC_Training_Activity__c</objectType>
    </variables>
    <variables>
        <name>trainingActivityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VCC_Training_Activity__c</objectType>
    </variables>
</Flow>
