force-app/main/default/flows/VCC_Admin_Case_Unsigned_Notes_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_For_Required_Case_Fields</name>
        <label>Check For Required Case Fields</label>
        <locationX>506</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>CloseAdminCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Required_Fields_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.VCC_Case_Reason_Multi__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.VCC_Case_Outcome_Multi__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Subject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.VCC_Case_Sub_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_To_Closed</targetReference>
            </connector>
            <label>Required Fields Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Unsigned_Notes</name>
        <label>Check For Unsigned Notes</label>
        <locationX>273</locationX>
        <locationY>404</locationY>
        <defaultConnector>
            <targetReference>Check_For_Required_Case_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Unsigned Notes</defaultConnectorLabel>
        <rules>
            <name>Any_Unsigned_progress_Notes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.VCC_Progress_Notes_Count__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Case_Record.VCC_Electronic_Signature_Count__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Unsigned_PNs</targetReference>
            </connector>
            <label>Any Unsigned progress Notes?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>605</locationX>
        <locationY>326</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Admin_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VCC_Administrative</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_For_Unsigned_Notes</targetReference>
            </connector>
            <label>Admin Record Type?</label>
        </rules>
    </decisions>
    <description>Subflow that checks for unsigned progress notes. If there are unsigned progress notes, the user is redirected to that progress note record. If no progress notes exist,
        then the case is updated to closed Release 1.10.1 - Removed Finish button CCCM-31198
1.20.0 CCCM-42393 Add Get Records to pass unsigned PNs to subflow</description>
    <environments>Default</environments>
    <interviewLabel>Admin Case Unsigned Notes Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Admin Case Unsigned Notes Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>605</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get unsigned PNs to pass into subflow</description>
        <name>Get_Unsigned_PNs</name>
        <label>Get Unsigned PNs</label>
        <locationX>30</locationX>
        <locationY>404</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Redirect_to_Unsigned_Progress_Note</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VCC_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>VCC_Signed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>VCC_Progress_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_To_Closed</name>
        <label>Update Case To Closed</label>
        <locationX>374</locationX>
        <locationY>686</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed - Resolved</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <description>This screen will close a Admin Case</description>
        <name>CloseAdminCase</name>
        <label>CloseAdminCase</label>
        <locationX>719</locationX>
        <locationY>689</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>baseErrorMessage</name>
            <extensionName>c:baseErrorMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>You are about to close your case. Did you complete all steps of your workflow?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>important</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AdminCloseCase</name>
            <extensionName>c:vccCloseCaseV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>caseId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>479</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Redirect_to_Unsigned_Progress_Note</name>
        <label>Redirect to Unsigned Progress Note</label>
        <locationX>31</locationX>
        <locationY>591</locationY>
        <flowName>VCC_Check_Case_ProgressNote_SubFlow</flowName>
        <inputAssignments>
            <name>newProgressNoteList</name>
            <value>
                <elementReference>Get_Unsigned_PNs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
