force-app/main/default/flows/VCC_Create_Progress_Note_Subflow_VCV_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Log_Flow_Error</name>
        <label>Log_Flow_Error</label>
        <locationX>704</locationX>
        <locationY>998</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Flow_Error</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>VCC_Create_Progress_Note_Subflow_VCV_Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>MPI_Callout_Action</name>
        <label>MPI Callout Action</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <actionName>VCC_MPIFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Verify_Emergency_Contact</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Flow_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>getRelatedAccountFields.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VCC_MPIFlowAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>branchOfService</assignToReference>
            <name>branchOfService</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>militaryServiceNumber</assignToReference>
            <name>militaryServiceNumber</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>serviceDate</assignToReference>
            <name>serviceDates</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>spouseName</assignToReference>
            <name>spouseName</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <choices>
        <name>Patient_Video_Consent_Obtained_Visit_conducted_by_synchronous_telehealth_Veteran</name>
        <choiceText>Patient Video Consent Obtained: Visit conducted by synchronous telehealth.  Veteran verbal consent obtained. Location/emergency number confirmed.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Patient Video Consent Obtained: Visit conducted by synchronous telehealth.  Veteran verbal consent obtained. Location/emergency number confirmed.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Phone</name>
        <choiceText>Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Telephone Virtual Visit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Video</name>
        <choiceText>Video</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Video Virtual Visit</stringValue>
        </value>
    </choices>
    <description>This subflow is used to display VCV specific screen when creating a progress note. 

Release 1.17.0 CCCM-40717: Virtual Visit Type Checkboxes visibility and validation fix. 

Release 1.15.0 CCCM-35068 Added Preferred Name and Pronoun to the verify screen. 

Release 1.14.0 CCCM-35079 Added update element to get the case subtype in sync with the Progress Note Virtual Visit type selection

Release 1.14.0 CCCM-34035 Added caseMetrics to hold the case metrics recordId and added it to create progress note element

Release 1.12.0 - Adding current appointment facility to the Patient Verification Screen

Release 1.10.0: 
Added CAPSLOCK and Patient Declined Location ID on verify emergency contact screen. Also added reference in the create element to transfer the checkbox value to corresponding fields on the Progress Note.

Release 1.11.0 - 
Added Apex Action for MPI Callout - Ronald

Added picklist field for Virtual Visit Type on the verify emergency contact screen, added duplicate checkboxes of CAPSLOCK, Patient Declined Location ID and Patient Video Consent Obtained for the Video option, edited conditional visibility and added validation inputs for these checkboxes. Edited mapping to the corresponding fields on the Create Progress Note element to reflect these changes.

Added additional read-only fields to the Patient Verification Screen

Updates for 1.11.0 CCCM-32494 - Removed VA Identity. Retrieved Place of Birth - City, Place of Birth - State and Mother&apos;s Maiden Name from Account. Updated formBlankPlaceOfBirthCityAndState as well as Mother&apos;s Maiden Name on the screen component.</description>
    <dynamicChoiceSets>
        <description>Caller/Recipient Relation to Patient Picklist Choice Set</description>
        <name>Caller_Recipient_Relation_to_Patient_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>VCC_Relative_Type__c</picklistField>
        <picklistObject>VCC_Progress_Note__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>acknowledgeCheckBox_Formula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!acknowledgeCheckBox},true,false)</expression>
    </formulas>
    <formulas>
        <description>Converts the service appointment facility to a string</description>
        <name>appointmentFacilityText</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Service_Appointment.VCC_Facility_for_Appointment__c})</expression>
    </formulas>
    <formulas>
        <name>formBlankAddress</name>
        <dataType>String</dataType>
        <expression>/*This formula inserts a line break if there&apos;s no data returned for the Address field. This maintains the formatting for the patient verification screen. */

IF(
    ISBLANK({!getRelatedAccountFields.BillingStreet}) &amp;&amp;
    ISBLANK({!getRelatedAccountFields.BillingCity}) &amp;&amp;
    ISBLANK({!getRelatedAccountFields.BillingState}) &amp;&amp;
    ISBLANK({!getRelatedAccountFields.BillingPostalCode}),
    BR(),
    {!getRelatedAccountFields.BillingStreet} &amp; BR() &amp;
    {!getRelatedAccountFields.BillingCity} &amp; &quot;, &quot; &amp;
    {!getRelatedAccountFields.BillingState} &amp; &quot; &quot; &amp;
    {!getRelatedAccountFields.BillingPostalCode}
)</expression>
    </formulas>
    <formulas>
        <name>formBlankBranchOfService</name>
        <dataType>String</dataType>
        <expression>/*This formula inserts a line break if there&apos;s no data returned for the Branch of Service field. This maintains the formatting for the patient verification screen. */

IF(
ISBLANK({!branchOfService}), 
BR(),
{!branchOfService}
)</expression>
    </formulas>
    <formulas>
        <name>formBlankDateOfBirth</name>
        <dataType>String</dataType>
        <expression>/*This formula inserts a line break if there&apos;s no data returned for the Date of Birth field. This maintains the formatting for the patient verification screen. */
IF(ISBLANK( {!getRelatedAccountFields.HealthCloudGA__BirthDate__pc}),
BR(),
 {!getRelatedAccountFields.HealthCloudGA__BirthDate__pc}
)</expression>
    </formulas>
    <formulas>
        <name>formBlankMilitaryServiceNumber</name>
        <dataType>String</dataType>
        <expression>/*This formula inserts a line break if there&apos;s no data returned for the Military Service Number (aka ICN). This maintains the formatting for the patient verification screen. */

IF(ISBLANK({!militaryServiceNumber}),
BR(), 
{!militaryServiceNumber}
)</expression>
    </formulas>
    <formulas>
        <name>formBlankMobilePhone</name>
        <dataType>String</dataType>
        <expression>/*This formula inserts a line break if there&apos;s no data returned for the Mobile Phone field. This maintains the formatting for the patient verification screen. */
IF(ISBLANK({!getRelatedAccountFields.PersonMobilePhone}),
BR(),
{!getRelatedAccountFields.PersonMobilePhone}
)</expression>
    </formulas>
    <formulas>
        <description>This formula returns null if the city and state fields are blank.</description>
        <name>formBlankPlaceOfBirthCityAndState</name>
        <dataType>String</dataType>
        <expression>/*This formula inserts a line break if there&apos;s no data returned for the Place of Birth field. This maintains the formatting for the patient verification screen. */

IF(
ISBLANK({!getRelatedAccountFields.Place_of_Birth_City__pc}) &amp;&amp; ISBLANK({!getRelatedAccountFields.Place_of_Birth_State__pc}), 
BR(),  
{!getRelatedAccountFields.Place_of_Birth_City__pc} &amp; &quot;, &quot; &amp; {!getRelatedAccountFields.Place_of_Birth_State__pc}
)</expression>
    </formulas>
    <formulas>
        <name>formBlankPrimaryPhone</name>
        <dataType>String</dataType>
        <expression>/*This formula inserts a line break if there&apos;s no data returned for the Primary Phone field. This maintains the formatting for the patient verification screen. */
IF(ISBLANK( {!getRelatedAccountFields.Phone}),
BR(),
{!getRelatedAccountFields.Phone}
)</expression>
    </formulas>
    <formulas>
        <name>formBlankServiceDates</name>
        <dataType>String</dataType>
        <expression>/*This formula inserts a line break if there&apos;s no data returned for the Dates of Service field. This maintains the formatting for the patient verification screen. */

IF(ISBLANK({!serviceDate}),
BR(), 
{!serviceDate}
)</expression>
    </formulas>
    <formulas>
        <name>formBlankSSN</name>
        <dataType>String</dataType>
        <expression>/*This formula inserts a line break if there&apos;s no data returned for the SSN field. This maintains the formatting for the patient verification screen. */
IF(ISBLANK( {!getRelatedAccountFields.HealthCloudGA__TaxId__c}),
BR(),
{!getRelatedAccountFields.HealthCloudGA__TaxId__c}
)</expression>
    </formulas>
    <formulas>
        <name>formCAPSLOCK</name>
        <dataType>Boolean</dataType>
        <expression>IF({!formCAPSPhone}, {!formCAPSPhone}, {!formCAPSVideo})</expression>
    </formulas>
    <formulas>
        <name>formCAPSPhone</name>
        <dataType>Boolean</dataType>
        <expression>IF({!CAPS_lock}, true, false)</expression>
    </formulas>
    <formulas>
        <name>formCAPSVideo</name>
        <dataType>Boolean</dataType>
        <expression>IF({!CAPS_lock}, true, false)</expression>
    </formulas>
    <formulas>
        <name>formPtDeclinedLocId</name>
        <dataType>Boolean</dataType>
        <expression>IF({!formPtDeclinedLocIdPhone}, {!formPtDeclinedLocIdPhone}, {!formPtDeclinedLocIdVideo})</expression>
    </formulas>
    <formulas>
        <name>formPtDeclinedLocIdPhone</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Patient_Declined_Location_ID}, true, false)</expression>
    </formulas>
    <formulas>
        <name>formPtDeclinedLocIdVideo</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Patient_Declined_Location_ID}, true, false)</expression>
    </formulas>
    <formulas>
        <name>formPtVidConsent</name>
        <dataType>Boolean</dataType>
        <expression>IF({!formPtVidConsentPhone}, {!formPtVidConsentPhone}, {!formPtVidConsentVideo})</expression>
    </formulas>
    <formulas>
        <name>formPtVidConsentPhone</name>
        <dataType>Boolean</dataType>
        <expression>IF( {!Patient_Video_Consent_Obtained}, true, false)</expression>
    </formulas>
    <formulas>
        <name>formPtVidConsentVideo</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Patient_Video_Consent_Obtained}, true, false)</expression>
    </formulas>
    <formulas>
        <name>Patient_Video_Consent_Obtained_Formula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Patient_Video_Consent_Obtained},true,false)</expression>
    </formulas>
    <formulas>
        <name>PatientIdentifierCheckbox_Formula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!PatientIdentifierCheckbox},true,false)</expression>
    </formulas>
    <interviewLabel>VCC Create Progress Note Subflow : VCV Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VCC Create Progress Note Subflow : VCV Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Progress_Note</name>
        <label>Create Progress Note</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <assignRecordIdToReference>varProgressNoteID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Related_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Flow_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Virtual_Visit_Progress_Note_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_CAPSLOCK__c</field>
            <value>
                <elementReference>formCAPSLOCK</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Caller_Name_Text__c</field>
            <value>
                <elementReference>Caller_Recipient_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Caller_Recipient_Verified__c</field>
            <value>
                <elementReference>acknowledgeCheckBox_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Caregiver_Name__c</field>
            <value>
                <elementReference>Caller_Recipient_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Case_Metrics__c</field>
            <value>
                <elementReference>caseMetrics</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Case__c</field>
            <value>
                <elementReference>caseRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Current_Address_Phone_Verified__c</field>
            <value>
                <elementReference>acknowledgeCheckBox_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Current_Address__c</field>
            <value>
                <elementReference>Current_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Current_Patient_Care_Facility__c</field>
            <value>
                <elementReference>appointmentFacilityText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Current_Phone__c</field>
            <value>
                <elementReference>Current_Phone1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Emergency_Contact1__c</field>
            <value>
                <elementReference>emergencyContactText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Emergency_Contact_Info_Verified__c</field>
            <value>
                <elementReference>acknowledgeCheckBox_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Emergency_Contact_Phone1__c</field>
            <value>
                <elementReference>emergencyContactPhoneText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_HasPatientDeclinedLocationId__c</field>
            <value>
                <elementReference>formPtDeclinedLocId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_If_Other_Describe_Relation_Patient__c</field>
            <value>
                <elementReference>If_Other_Describe_Relation_to_Patient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Patient_Primary_Phone1__c</field>
            <value>
                <elementReference>getRelatedAccountFields.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Patient_Video_Consent_Obtained__c</field>
            <value>
                <elementReference>formPtVidConsent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Relative_Type__c</field>
            <value>
                <elementReference>Caller_Recipient_Relation_to_Patient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Verified_Patient_Identifiers__c</field>
            <value>
                <elementReference>PatientIdentifierCheckbox_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Virtual_Visit_Type2__c</field>
            <value>
                <elementReference>Virtual_Visit_Type</elementReference>
            </value>
        </inputAssignments>
        <object>VCC_Progress_Note__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MPI_Callout_Action</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>HomePhone</queriedFields>
        <queriedFields>VCC_Emergency_Contact_Phone__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Case_Field</name>
        <label>Get Related Case Field</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Appointment</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>VCC_Case_Sub_Type__c</queriedFields>
        <queriedFields>Service_Appointment__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the service appointment associated with the case and the facility field.</description>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Case_Field.Service_Appointment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>VCC_Facility_for_Appointment__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Virtual_Visit_Progress_Note_Record_Type</name>
        <label>Get Virtual Visit Progress Note Record Type</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Case_Field</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCC_Progress_Note__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCC_Virtual_Visit_Progress_Note</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelatedAccountFields</name>
        <label>getRelatedAccountFields</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Virtual_Visit_Progress_Note_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>relatedAccountID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>VCC_Emergency_Contact__pc</queriedFields>
        <queriedFields>VCC_Emergency_Contact_Phone__pc</queriedFields>
        <queriedFields>PersonHomePhone</queriedFields>
        <queriedFields>BillingAddress</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>PersonMobilePhone</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>HealthCloudGA__BirthDate__pc</queriedFields>
        <queriedFields>HealthCloudGA__TaxId__c</queriedFields>
        <queriedFields>VCC_Current_Location__c</queriedFields>
        <queriedFields>VCC_Call_Back_Number__c</queriedFields>
        <queriedFields>VCC_Primary_Facility__c</queriedFields>
        <queriedFields>VCC_Next_of_Kin__pc</queriedFields>
        <queriedFields>MVI_External_Id__pc</queriedFields>
        <queriedFields>Mother_s_Maiden_Name__pc</queriedFields>
        <queriedFields>Place_of_Birth_City__pc</queriedFields>
        <queriedFields>Place_of_Birth_State__pc</queriedFields>
        <queriedFields>Pronoun__pc</queriedFields>
        <queriedFields>HealthCloudGA__PreferredName__pc</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Used to update the Case Subtype if changed in the flow</description>
        <name>Update_Related_Case</name>
        <label>Update Related Case</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Case_Field.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>VCC_Case_Sub_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Virtual_Visit_Type</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VCC_Case_Sub_Type__c</field>
            <value>
                <elementReference>Virtual_Visit_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Verify_Emergency_Contact</name>
        <label>Verify Emergency Contact</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Progress_Note</targetReference>
        </connector>
        <fields>
            <name>VerifyEmergencyContactPhoneandAddress</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Verify Caller/Recipient Relation to Patient, Emergency Contact, Current Location and Call Back Number&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Verify_Emergency_Contact_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Verify_Emergency_Contact_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayPatientName</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Patient Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!getRelatedAccountFields.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Emergency_Contact_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayPatientSSN</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;SSN&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!formBlankSSN}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Emergency_Contact_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayBlank1</name>
                    <fieldText>&lt;p&gt; &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Verify_Emergency_Contact_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Verify_Emergency_Contact_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayPreferredName</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Preferred Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!getRelatedAccountFields.HealthCloudGA__PreferredName__pc}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Emergency_Contact_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayPronoun</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Pronoun&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!getRelatedAccountFields.Pronoun__pc}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Emergency_Contact_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Verify_Emergency_Contact_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Verify_Emergency_Contact_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayPatientDOB</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Patient Date of Birth&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!formBlankDateOfBirth}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Emergency_Contact_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayPatientPlaceOfBirth</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Patient Place of Birth&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!formBlankPlaceOfBirthCityAndState}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Emergency_Contact_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayPatientCareFacility</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Current Patient Care Facility&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!appointmentFacilityText}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Verify_Emergency_Contact_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Verify_Emergency_Contact_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayPatientAddress</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Patient Primary Address                          &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!formBlankAddress}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Emergency_Contact_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayPatientPrimaryPhone</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Patient Primary Phone&lt;/strong&gt;&lt;strong&gt; &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!formBlankPrimaryPhone}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Emergency_Contact_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayPatientMobilePhone</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Patient Primary Mobile Phone&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!formBlankMobilePhone}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Verify_Emergency_Contact_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Verify_Emergency_Contact_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayPatientBranchOfService</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Branch of Service&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!formBlankBranchOfService}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Emergency_Contact_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayPatientServiceDate</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Service Dates&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!formBlankServiceDates}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Emergency_Contact_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayPatientMilitaryServiceNumber</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Military Service Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!formBlankMilitaryServiceNumber}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Verify_Emergency_Contact_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Verify_Emergency_Contact_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayPatientMaidenName</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Mother&apos;s Maiden Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!getRelatedAccountFields.Mother_s_Maiden_Name__pc}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Emergency_Contact_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayPatientSpouseName</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Spouse&apos;s &lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!spouseName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Emergency_Contact_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayPatientNextOfKin</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Next of Kin&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!getRelatedAccountFields.VCC_Next_of_Kin__pc}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Caller_Recipient_Relation_to_Patient</name>
            <choiceReferences>Caller_Recipient_Relation_to_Patient_Picklist_Choice_Set</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Caller/Recipient Relation to Patient</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>If_Other_Describe_Relation_to_Patient</name>
            <dataType>String</dataType>
            <fieldText>If Other Describe Relation to Patient</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 2, 2); background-color: rgb(255, 255, 255);&quot;&gt;Text for If Other Describe Relation to Patient is too long. Please limit the text to 80 characters or less.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!If_Other_Describe_Relation_to_Patient}) &lt;= 80</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Caller_Recipient_Relation_to_Patient</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Caller_Recipient_Name</name>
            <dataType>String</dataType>
            <fieldText>Caller/Recipient Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(247, 2, 2);&quot;&gt;Text for Caller/Recipient Name is too long. Please limit the text to 50 characters or less.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Caller_Recipient_Name}) &lt;= 50</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Caller_Recipient_Relation_to_Patient</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Self</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Caller_Recipient_Relation_to_Patient</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Not Applicable</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Caller_Recipient_Relation_to_Patient</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Internal Review Only</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>emergencyContactText</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getRelatedAccountFields.VCC_Emergency_Contact__pc</elementReference>
            </defaultValue>
            <fieldText>Emergency Contact</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 2, 2);&quot;&gt;Text is too long for Emergency Contact. Please limit text to 254 characters or less. &lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!emergencyContactText}) &lt;= 254</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>emergencyContactPhoneText</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getRelatedAccountFields.VCC_Emergency_Contact_Phone__pc</elementReference>
            </defaultValue>
            <fieldText>Emergency Contact Phone</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 2, 2);&quot;&gt;The Emergency Contact Phone Number is too long. Please limit phone number to 40 digits or less.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!emergencyContactPhoneText}) &lt;= 40</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Verify_Emergency_Contact_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Verify_Emergency_Contact_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Current_Address</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRelatedAccountFields.VCC_Current_Location__c</elementReference>
                    </defaultValue>
                    <fieldText>Current Location</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Current location of patient, if different from Primary Address&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Current_Phone1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getRelatedAccountFields.VCC_Call_Back_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Call Back Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Best callback number for the patient, if different from the Primary Phone&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(247, 2, 2);&quot;&gt;The Call Back Number is too long. Please limit phone number to 40 digits or less.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Current_Phone1}) &lt;= 40</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Virtual_Visit_Type</name>
                    <choiceReferences>Phone</choiceReferences>
                    <choiceReferences>Video</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Related_Case_Field.VCC_Case_Sub_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Virtual Visit Type&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>acknowledgeCheckBox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>I acknowledge that I have verified the Caller/Recipient Relation to Patient, Emergency Contact Information, Current Location and Call Back Number.</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PatientIdentifierCheckbox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Two patient identifiers have been stated by the patient/contact.</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Patient must be verified with their full name and at least two of the following: SSN, military service number, branch of service, service dates, date of birth, place of birth, home address, spouses name, mother&apos;s maiden name, or next of kin.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CAPS_lock</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>CAPSLOCK: Environment surveyed and all participants identified. Virtual conference room locked.</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(244, 3, 3);&quot;&gt;CAPSLOCK is required for Video Visit Type.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>!({!Virtual_Visit_Type} = {!Video} &amp;&amp;{!CAPS_lock} = False)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Virtual_Visit_Type</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Patient_Video_Consent_Obtained</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Patient Video Consent Obtained: Visit conducted by synchronous telehealth.  Veteran verbal consent obtained. Location/emergency number confirmed.</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(253, 6, 6);&quot;&gt;Please select at least one of these checkboxes before proceeding.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>!(AND({!Patient_Video_Consent_Obtained}=false, {!Patient_Declined_Location_ID}=false,
{!Virtual_Visit_Type} = {!Video}))</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Virtual_Visit_Type</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Patient_Declined_Location_ID</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Patient Declined Location ID: The patient does not wish to provide their location or emergency contact information. The risk of delayed emergency support was given to the Veteran and they still agreed to continue with the visit.</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(247, 3, 3);&quot;&gt;Please select at least one of these checkboxes before proceeding.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>!(AND({!Patient_Video_Consent_Obtained}=false, {!Patient_Declined_Location_ID}=false,
{!Virtual_Visit_Type} = {!Video}))</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Virtual_Visit_Type</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>vccDirectives</name>
            <extensionName>c:vccDirectives</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>getRelatedAccountFields.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRelatedAccountFields</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Flow_Error</name>
        <label>Flow Error</label>
        <locationX>704</locationX>
        <locationY>1106</locationY>
        <flowName>VCC_Flow_Error_Display</flowName>
        <inputAssignments>
            <name>SYSTEM_ERROR</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>branchOfService</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Used to store the Case Metrics Record Id</description>
        <name>caseMetrics</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>militaryServiceNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>serviceDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>spouseName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCAPSLOCK</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProgressNoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varVAIdentityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varVCVType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
