force-app/main/default/flows/VCC_COVID_Test_to_Treat_Subflow_Preview.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Record_Variables</name>
        <label>Set Variables</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>VCC_T2T_PND_Record.VCC_Progress_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VCC_T2T_PND_Record.VCC_T2T_Data__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flowOutputVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Progress_Note_Detail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Update</name>
        <label>Set Variables</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>VCC_T2T_PND_Record.VCC_T2T_Data__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flowOutputVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populate global variable</description>
        <name>VCC_T2T_Init</name>
        <label>Flow Initialization</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VCC_T2T_Get_Progress_Note</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Previous_Records</name>
        <label>Check for Previous Records</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assign_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Record</defaultConnectorLabel>
        <rules>
            <name>Create_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VCC_T2T_PND_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Record_Variables</targetReference>
            </connector>
            <label>Create Record</label>
        </rules>
    </decisions>
    <description>Refactor to improve readability CCCM-24000</description>
    <environments>Default</environments>
    <interviewLabel>VCC_COVID_Test_to_Treat {!$Flow.CurrentDateTime} {!recordId}</interviewLabel>
    <label>VCC_COVID_Test_to_Treat_Subflow_Preview</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Progress_Note_Detail</name>
        <label>createProgressNoteDetail</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>VCC_Update_Progress_Note</targetReference>
        </connector>
        <inputReference>VCC_T2T_PND_Record</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Progress_Note_Detail</name>
        <label>getProgressNoteDetail</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Previous_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VCC_Progress_Note__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>VCC_Progress_Note_Detail__c</object>
        <outputReference>VCC_T2T_PND_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>VCC_Progress_Note_Record_Type__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>VCC_Progress_Note_Visit_Type__c</queriedFields>
        <queriedFields>VCC_Progress_Note__c</queriedFields>
        <queriedFields>VCC_T2T_Demographics__c</queriedFields>
        <queriedFields>VCC_T2T_Data__c</queriedFields>
        <queriedFields>VCC_T2T_Labs__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>VCC_T2T_Get_Progress_Note</name>
        <label>getProgressNote</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VCC_T2T_Preview</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VCC_Progress_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record</name>
        <label>updateProgressNoteDetail</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>VCC_Update_Progress_Note</targetReference>
        </connector>
        <inputReference>VCC_T2T_PND_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This is to trigger the refresh in the lwc</description>
        <name>VCC_Update_Progress_Note</name>
        <label>updateProgressNote</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VCC_T2T_Assessment_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>VCC_Progress_Note__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Asynchronous actions happening here</description>
        <name>VCC_T2T_Preview</name>
        <label>Loading Screen</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Progress_Note_Detail</targetReference>
        </connector>
        <fields>
            <name>VCC_T2T_Preview_Screen</name>
            <extensionName>c:vccAllergyTestToTreat</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowStageTest2Treat</name>
                <value>
                    <numberValue>4.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>newString</name>
                <value>
                    <elementReference>VCC_T2T_State_Tracker</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mainKey</name>
                <value>
                    <elementReference>VCC_T2T_Main_Key</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>molKey</name>
                <value>
                    <elementReference>VCC_T2T_Mol_Key</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paxKey</name>
                <value>
                    <elementReference>VCC_T2T_Pax_Key</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allLabels</name>
                <value>
                    <elementReference>VCC_T2T_Labels</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>flowOutputVariable</assignToReference>
                <name>lwcOutput</name>
            </outputParameters>
        </fields>
        <fields>
            <name>VCC_T2T_NavigationHelperAsynch</name>
            <extensionName>c:vccFlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>maxTime</name>
                <value>
                    <stringValue>0:0:10:0</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>VCC_T2T_Init</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>flowOutputVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VCC_T2T_Labels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VCC_T2T_Labs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VCC_T2T_Main_Key</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VCC_T2T_Mol_Key</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VCC_T2T_Pax_Key</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VCC_T2T_PND_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>VCC_Progress_Note_Detail__c</objectType>
    </variables>
    <variables>
        <name>VCC_T2T_progressNoteJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VCC_T2T_Responses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>keeps track of state of the flow</description>
        <name>VCC_T2T_State_Tracker</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
