force-app/main/default/flows/VCC_Create_Progress_Note_Imcomplete_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Case_Values_To_PN</name>
        <label>Assign Case Values To PN</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>newProgressNote.VCC_Cannot_Complete_SCD_Action_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>existingCaseRecord.VCC_Cannot_Comp_Scheduling_Action_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newProgressNote.VCC_Requested_Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>existingCaseRecord.VCC_Requested_Services_Multi__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newProgressNote.VCC_Specialty_Community_Care_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>existingCaseRecord.VCC_Specialty_Community_Care_Requested__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newProgressNote.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type_Scheduling_PN.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Self_Referred_Out_Of_Cycle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Request_Consult_Referral</name>
        <label>Request Consult / Referral</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>newProgressNote.VCC_Scheduling_Note_Reason2__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Veteran is Requesting Consult/ Referral</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cannot_Complete_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cannot_Complete_Appointment</name>
        <label>Set Cannot Complete Appointment</label>
        <locationX>50</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>newProgressNote.VCC_Scheduling_Note_Reason2__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Cannot Complete Appointment Request</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Follow_Up_Appointment</name>
        <label>Set Follow Up Appointment</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>newProgressNote.VCC_Scheduling_Note_Reason2__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Patient is Requesting Follow Up Appointment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Consult_Referral_Does_Not_Exist</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cannot_Complete_Appointment</name>
        <label>Cannot Complete Appointment?</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Cannot_Complete_Appointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingCaseRecord.VCC_Cannot_Comp_Scheduling_Action_Reason__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>No Appointment Available</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Cannot_Complete_Appointment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Record_Is_Available</name>
        <label>Case Record Is Available?</label>
        <locationX>336</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Case_Record_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingCaseRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type_Scheduling_PN</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Consult_Referral_Does_Not_Exist</name>
        <label>Consult / Referral Does Not Exist?</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Cannot_Complete_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Consult_Referral_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingCaseRecord.VCC_Cannot_Comp_Scheduling_Action_Reason__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Consult/Referral Does Not Exist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Consult_Referral</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Self_Referred_Out_Of_Cycle</name>
        <label>Self Referred / Out Of Cycle?</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Consult_Referral_Does_Not_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Self_Referred_Out_Cycle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingCaseRecord.VCC_Cannot_Comp_Scheduling_Action_Reason__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Self-Referred/ Out-of-Cycle Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Follow_Up_Appointment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>CCCM-18425 Creating Progress Note for Incomplete Actions CCCM-18432</description>
    <environments>Default</environments>
    <interviewLabel>VCC Create Progress Note Imcomplete Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VCC Create Progress Note Imcomplete Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Record_Type_Scheduling_PN</name>
        <label>Get Record Type Scheduling PN</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Values_To_PN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduling Progress Note</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_Record_Is_Available</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>existingCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>newProgressNote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>VCC_Progress_Note__c</objectType>
    </variables>
</Flow>
