force-app/main/default/flows/VCC_Assign_Case_to_RN.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_PreventQueueFromTakingCase_Var_to_True</name>
        <label>Assign PreventQueueFromTakingCase Var to True</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>PreventQueueFromTakingCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prevent_Queue_Flow_Error_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_RN_0</name>
        <label>Assign to RN</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>caseRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rnQueue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Owner_0</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>rnQueueDevName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>CCC_V8_RN</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Assign_to_RN_Queue_Validation</name>
        <label>Assign to RN Queue Validation</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_RN_Queue_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_is_already_Closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>caseRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Transferred</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_is_Closed</targetReference>
            </connector>
            <label>Case is Closed</label>
        </rules>
        <rules>
            <name>Check_owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseRecord.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>current_user</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_owner</targetReference>
            </connector>
            <label>Check owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRNQueueName</name>
        <label>CheckRNQueueName</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_to_RN_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsRNQueueAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rnQueue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QueueNotAvailable</targetReference>
            </connector>
            <label>IsRNQueueAvailable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Fault_because_Case_should_not_belong_in_Queue</name>
        <label>Was Fault because Case should not belong in Queue?</label>
        <locationX>1238</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Flow_Error_Display</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Other Issue</defaultConnectorLabel>
        <rules>
            <name>Yes_Case_Should_Not_Be_In_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>This Queue cannot accept non</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PreventQueueFromTakingCase_Var_to_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Assign Case to RN Queue</description>
    <environments>Default</environments>
    <formulas>
        <name>CalcRNQueue</name>
        <dataType>String</dataType>
        <expression>&quot;CCC_V&quot; + mid({!$User.Division},6,2) + &quot;_RN&quot;</expression>
    </formulas>
    <formulas>
        <name>current_user</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <formulas>
        <description>Gets the 18 digit User ID</description>
        <name>varUserIdFormula</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <formulas>
        <name>varUserIdFormula1</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>VCC Assign Case to RN {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VCC Assign Case to RN</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_RN_Queue_Id</name>
        <label>Get RN Queue Id</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckRNQueueName</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CalcRNQueue</elementReference>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>rnQueue</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_This_Case</name>
        <label>Get This Case</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_RN_Queue_Validation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>caseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Owner_0</name>
        <label>Update Owner</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Owner_Updated_Successfully_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Was_Fault_because_Case_should_not_belong_in_Queue</targetReference>
        </faultConnector>
        <inputReference>caseRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Case_is_Closed</name>
        <label>Case is Closed</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Case_not_closed</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;You cannot change ownership of this Case because it is
                Closed.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Change_owner</name>
        <label>Change owner</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Change_Owner1</name>
            <fieldText>&lt;p&gt;Only the case owner is allowed to change ownership&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Owner_Updated_Successfully_0</name>
        <label>Owner Updated Successfully</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Owner_was_Updated_Successfully_0</name>
            <fieldText>&lt;p&gt;The owner has been updated successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Prevent_Queue_Flow_Error_Screen</name>
        <label>Prevent_Queue Flow Error Screen</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Prevent_Queue_From_Taking_Case_Err_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(234, 0, 30);&quot;&gt;ERROR: This Queue does not accept this type of Case&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>QueueNotAvailable</name>
        <label>QueueNotAvailable</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RN_Queue_Error_Message</name>
            <fieldText>&lt;p&gt;This queue does not exist.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_This_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Flow_Error_Display</name>
        <label>Flow Error Display</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <flowName>VCC_Flow_Error_Display</flowName>
        <inputAssignments>
            <name>SYSTEM_ERROR</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>PreventQueueFromTakingCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RN_Queue_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>rnQueue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>varCurrentOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>varCurrentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
</Flow>
