force-app/main/default/flows/VCC_Caller_Recipient_Relation_to_Patient_Input_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Caller_Field_Values_to_Case</name>
        <label>Assign Caller Field Values to Case</label>
        <locationX>1757</locationX>
        <locationY>484</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.VCC_Caller_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCallerName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.VCC_Relation_Type_Other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Relation_Type_if_Other</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Caller_Field_Values_to_Progress_Note_and_Case</name>
        <label>Assign Caller Field Values to Progress Note and Case</label>
        <locationX>1917</locationX>
        <locationY>255</locationY>
        <assignmentItems>
            <assignToReference>progressNoteRecord.VCC_Caller_Name_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Caller_Name_PN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Progress_Note_s_Case.VCC_Caller_Relation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>progressNoteRecord.VCC_Relative_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Progress_Note_s_Case.VCC_Caller_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Caller_Name_PN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progressNoteRecord.VCC_If_Other_Describe_Relation_Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>If_Other_Describe_Relation_to_Patient_PN</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Progress_Note</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Update_Error_Occured</name>
        <label>Case Update Error Occured</label>
        <locationX>2332</locationX>
        <locationY>438</locationY>
        <assignmentItems>
            <assignToReference>Case_Update_Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Update_Error_Occured_0</name>
        <label>Case Update Error Occured</label>
        <locationX>1924</locationX>
        <locationY>649</locationY>
        <assignmentItems>
            <assignToReference>Case_Update_Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_PN_Error_Occured</name>
        <label>Update PN Error Occured</label>
        <locationX>2186</locationX>
        <locationY>436</locationY>
        <assignmentItems>
            <assignToReference>PN_Update_Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Progress_Note_or_Case</name>
        <label>Progress Note or Case</label>
        <locationX>1029</locationX>
        <locationY>374</locationY>
        <defaultConnectorLabel>Default outcome</defaultConnectorLabel>
        <rules>
            <name>Progress_Note</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>progressNoteRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Caller_Relation_Screen_PN</targetReference>
            </connector>
            <label>Progress Note</label>
        </rules>
        <rules>
            <name>Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case</targetReference>
            </connector>
            <label>Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Field_Left_blank_PN</name>
        <label>Was Field Left blank?</label>
        <locationX>1479</locationX>
        <locationY>255</locationY>
        <defaultConnector>
            <targetReference>Get_Progress_Note_s_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Field_Left_Blank_PN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>progressNoteRecord.VCC_Relative_Type__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Caller_Relation_Screen_PN</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Not_Applicable_Selected_or_Field_left_blank</name>
        <label>Was Not Applicable Selected or Field left blank?</label>
        <locationX>1589</locationX>
        <locationY>489</locationY>
        <defaultConnector>
            <targetReference>Assign_Caller_Field_Values_to_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Not_Applicable_Selected_Or_Blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.VCC_Caller_Relation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Applicable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.VCC_Caller_Relation__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Caller_Relation_Screen_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>If the Caller/Recipient Relation to Patient field is blank on the Cases or Progress Note record, the subflow will initiate to allow end-user to fill in and update the field value.

Utilized in the Create Progress Note Flow and Sign Note Flow

1/27/25 : CCCM-42304
- added formula field that is the concatenation of the Account First and Last Name
- assign the value of the Case.VCC_Caller_Name__c field to be equal to the formula field value</description>
    <environments>Default</environments>
    <formulas>
        <description>This formula is a concatenation of the Account First and Last Name</description>
        <name>varCallerName</name>
        <dataType>String</dataType>
        <expression>{!Get_Case.Account.FirstName} &amp; &apos; &apos; &amp; {!Get_Case.Account.LastName}</expression>
    </formulas>
    <interviewLabel>Caller/Recipient Relation to Patient Input Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VCC Caller/Recipient Relation to Patient Input</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>1225</locationX>
        <locationY>486</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Caller_Relation_Screen_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>VCC_Caller_Relation__c</queriedFields>
        <queriedFields>VCC_Relation_Type_Other__c</queriedFields>
        <queriedFields>VCC_Caller_Name__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Progress_Note_s_Case</name>
        <label>Get Progress Note&apos;s Case</label>
        <locationX>1676</locationX>
        <locationY>255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Caller_Field_Values_to_Progress_Note_and_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>progressNoteRecord.VCC_Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>VCC_Caller_Relation__c</queriedFields>
        <queriedFields>VCC_Caller_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>2326</locationX>
        <locationY>255</locationY>
        <faultConnector>
            <targetReference>Case_Update_Error_Occured</targetReference>
        </faultConnector>
        <inputReference>Get_Progress_Note_s_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_2</name>
        <label>Update Case</label>
        <locationX>1921</locationX>
        <locationY>484</locationY>
        <faultConnector>
            <targetReference>Case_Update_Error_Occured_0</targetReference>
        </faultConnector>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Progress_Note</name>
        <label>Update Progress Note</label>
        <locationX>2185</locationX>
        <locationY>255</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_PN_Error_Occured</targetReference>
        </faultConnector>
        <inputReference>progressNoteRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Caller_Relation_Screen_Case</name>
        <label>Case Caller Relation Screen</label>
        <locationX>1402</locationX>
        <locationY>486</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Was_Not_Applicable_Selected_or_Field_left_blank</targetReference>
        </connector>
        <fields>
            <name>Caller_Relation_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(250, 8, 8);&quot;&gt;Important! You may not create a Progress Note with a blank value, or a selection of &apos;Not Applicable&apos; in the &apos;Caller/Recipient Relation to Patient&apos; field.&amp;nbsp;Please update your selection to proceed.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Case.VCC_Caller_Relation__c</objectFieldReference>
        </fields>
        <fields>
            <name>Relation_Type_if_Other</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Case.VCC_Relation_Type_Other__c</elementReference>
            </defaultValue>
            <fieldText>Relation Type (if Other)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;If Caller Relation to Veteran is Other, describe caller relation to Veteran.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(247, 2, 2);&quot;&gt;Text for Relation Type (if Other) is too long. Please limit the text to 80 characters or less.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Relation_Type_if_Other}) &lt;= 80</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Case.VCC_Caller_Relation__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Caller_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Case.VCC_Caller_Name__c</elementReference>
            </defaultValue>
            <fieldText>Caller Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(247, 2, 2);&quot;&gt;The caller name specified is too long. Please limit the caller name to 50 characters or less.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Caller_Name}) &lt;= 50</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Case.VCC_Caller_Relation__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Caregiver</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Case.VCC_Caller_Relation__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Power of Attorney</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Case.VCC_Caller_Relation__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Caller_Relation_Screen_PN</name>
        <label>Progress Note Caller Relation Screen</label>
        <locationX>1233</locationX>
        <locationY>252</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Was_Field_Left_blank_PN</targetReference>
        </connector>
        <fields>
            <name>Caller_Relation_Text_PN</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(250, 8, 8); font-size: 16px; background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif;&quot;&gt;Important! You may not sign a Progress Note with a blank value in the &apos;Caller Recipient/Relation to Patient&apos; field.&amp;nbsp;Please update your selection to proceed.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>progressNoteRecord.VCC_Relative_Type__c</objectFieldReference>
        </fields>
        <fields>
            <name>Caller_Name_PN</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>progressNoteRecord.VCC_Caller_Name_Text__c</elementReference>
            </defaultValue>
            <fieldText>Caller Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(247, 2, 2);&quot;&gt;The caller name specified is too long. Please limit the caller name to 50 characters or less.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Caller_Name_PN}) &lt;= 50</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
                <conditions>
                    <leftValueReference>progressNoteRecord.VCC_Relative_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Caregiver</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>progressNoteRecord.VCC_Relative_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Power of Attorney</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>progressNoteRecord.VCC_Relative_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>progressNoteRecord.RecordType.DeveloperName</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>VCC_Virtual_Visit_Progress_Note</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>If_Other_Describe_Relation_to_Patient_PN</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>progressNoteRecord.VCC_If_Other_Describe_Relation_Patient__c</elementReference>
            </defaultValue>
            <fieldText>If Other Describe Relation to Patient</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(247, 2, 2);&quot;&gt;Text for If Other Describe Relation to Patient is too long. Please limit the text to 80 characters or less.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!If_Other_Describe_Relation_to_Patient_PN}) &lt;= 80</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>progressNoteRecord.VCC_Relative_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Message_Screen</name>
        <label>Error Message Screen</label>
        <locationX>2258</locationX>
        <locationY>648</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message_Text_PN</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(228, 28, 28);&quot;&gt;Important! An error occurred when updating the Progress Note&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PN_Update_Error</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Error_Message_Text_Case</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(228, 28, 28); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Important! An error occurred when updating the Case&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Case_Update_Error</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>646</locationX>
        <locationY>354</locationY>
        <connector>
            <targetReference>Progress_Note_or_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Case_Update_Error</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PN_Update_Error</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>progressNoteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>VCC_Progress_Note__c</objectType>
    </variables>
</Flow>
