force-app/main/default/flows/VCC_COVID_Test_to_Treat_Subflow_Molnupiravir.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Mol_Consent_Display_Txt</name>
        <label>Assign Mol Consent Display Txt</label>
        <locationX>336</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>MolConsentDisplayTxtVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Mol_Output_Texts.VCC_Display_Text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>molConsentLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Mol_Output_Texts.VCC_Link__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Mol_Output_Texts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Mol_Criteria_Display_Text</name>
        <label>Assign Mol Criteria Display Text</label>
        <locationX>864</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>molCriteriaDisplayTxtVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Mol_Output_Texts.VCC_Display_Text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>molCriteriaLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Mol_Output_Texts.VCC_Link__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Mol_Output_Texts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Mol_Limitation_EUA</name>
        <label>Assign Mol Limitation of EUA Display Txt</label>
        <locationX>600</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>MolLimitationDisplayTxtVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Mol_Output_Texts.VCC_Display_Text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Mol_Output_Texts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Molnupiravir_Dosage_and_Administration</name>
        <label>Assign Molnupiravir Dosage and Administration</label>
        <locationX>2712</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>molnupiravirDosageandAdministrationDisplayTxtVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Mol_Output_Texts.VCC_Display_Text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Mol_Output_Texts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Molnupiravir_Patient_Adverse_Reaction_Report_Awareness</name>
        <label>Assign Molnupiravir Patient Adverse Reaction Report Awareness</label>
        <locationX>3504</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>molnupiravirPatientAdverseReactionReportAwarenessDisplayTxtVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Mol_Output_Texts.VCC_Display_Text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Mol_Output_Texts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Molnupiravir_Treatment_Enrollment</name>
        <label>Assign Molnupiravir Treatment Enrollment</label>
        <locationX>3240</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>molnupiravirTreatmentEnrollmentDisplayTxtVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Mol_Output_Texts.VCC_Display_Text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Mol_Output_Texts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Molnupiravir_User_Consent_Disposition</name>
        <label>Assign Molnupiravir User Consent Disposition</label>
        <locationX>2976</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>molnupiravirUserConsentDispositionDisplayTxtVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Mol_Output_Texts.VCC_Display_Text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Mol_Output_Texts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient_Agrees_to_Participate_in_Pregnancy_Surveillance_Program</name>
        <label>Assign Patient Agrees to Participate in Pregnancy Surveillance Program</label>
        <locationX>1656</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>patientAgreestoParticipateinPregnancySurveillanceProgramDisplayTxtVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Mol_Output_Texts.VCC_Display_Text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>patientAgreestoParticipateinPregnancySurveillanceProgramLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Mol_Output_Texts.VCC_Link__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Mol_Output_Texts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient_Agrees_To_Participate_in_PSP_If_Become_Pregnant</name>
        <label>Assign Patient Agrees To Participate in PSP If Become Pregnant</label>
        <locationX>2184</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>patientAgreesToParticipateinPSPIfBecomePregnantDisplayTxtVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Mol_Output_Texts.VCC_Display_Text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Mol_Output_Texts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Potential_Risk_and_Benefits_During_Pregnancy</name>
        <label>Assign Potential Risk and Benefits During Pregnancy</label>
        <locationX>1128</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>potentialRiskandBenefitDisplayTxtVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Mol_Output_Texts.VCC_Display_Text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Mol_Output_Texts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pregnancy_Surveillance_Program_Awareness</name>
        <label>Assign Pregnancy Surveillance Program Awareness</label>
        <locationX>1392</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>pregnancySurveillanceProgramAwarenessDisplayTxtVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Mol_Output_Texts.VCC_Display_Text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Mol_Output_Texts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pregnancy_Surveillance_Program_Awareness_If_Become_Pregnant</name>
        <label>Assign Pregnancy Surveillance Program Awareness If Become Pregnant</label>
        <locationX>1920</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>PSPAwarenessIfBecomePregnantDisplayTxtVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Mol_Output_Texts.VCC_Display_Text__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Mol_Output_Texts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reviewed_Contraception_Requirements_per_Molnupiravir_Providers_Fact_Sheet</name>
        <label>Assign Reviewed Contraception Requirements per Molnupiravir Providers Fact Sheet</label>
        <locationX>2448</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>reviewedContraceptionRequirementspeMolnupiravirProvidersFactSheetDisplayTxtVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Mol_Output_Texts.VCC_Display_Text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>reviewedContraceptionRequirementsperMolnupiravirProvidersFactSheetLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Mol_Output_Texts.VCC_Link__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Mol_Output_Texts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VCC_T2T_Assign_Clear</name>
        <label>Clear Temporary List</label>
        <locationX>600</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>VCC_T2T_Mol_Labels</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VCC_T2T_Labels_Temp_Mol</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VCC_T2T_Labels_Temp_Mol</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VCC_T2T_Nulll</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VCC_T2T_Loop_Collection1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VCC_T2T_Assign_Collection1</name>
        <label>Copy Into Collections</label>
        <locationX>336</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>VCC_T2T_Labels_Temp_Mol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VCC_T2T_Data_Parse_Label_Mol</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VCC_T2T_Labels_Temp_Mol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VCC_T2T_Data_Parse_Label_Mol2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VCC_T2T_Mol_Key</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VCC_T2T_Data_Extract1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VCC_T2T_Mol_Key</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VCC_T2T_Data_Extract2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VCC_T2T_Count_Mopulnavir</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VCC_T2T_Loop_Collection1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VCC_T2T_Assign_FlowRecordRelation</name>
        <label>Flow Initialization</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getMolOutputText</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NoChoice</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>False</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesChoice</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>True</stringValue>
        </value>
    </choices>
    <constants>
        <name>VCC_T2T_RecordId_Molnupiravir</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>Female_at_Birth</name>
        <label>Female at Birth?</label>
        <locationX>446</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Dosage_and_Disposition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Male</defaultConnectorLabel>
        <rules>
            <name>Female</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Patient_has_met_ALL_the_above_criteria</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YesChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Was_patient_male_at_birth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Child_Bearing_Individuals_Screen</targetReference>
            </connector>
            <label>Female</label>
        </rules>
    </decisions>
    <decisions>
        <name>Met_all_the_Criteria</name>
        <label>Met all the Criteria?</label>
        <locationX>248</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Female_at_Birth</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Patient_has_met_ALL_the_above_criteria</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Disposition</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Output_Text_Decision</name>
        <label>Output Text Decision</label>
        <locationX>2052</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Mol_Output_Texts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Molnupiravir_Consent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Mol_Output_Texts.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Molnupiravir Consent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Mol_Consent_Display_Txt</targetReference>
            </connector>
            <label>Molnupiravir Consent</label>
        </rules>
        <rules>
            <name>Molnupiravir_Limitation_of_EUA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Mol_Output_Texts.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Molnupiravir Limitation of EUA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Mol_Limitation_EUA</targetReference>
            </connector>
            <label>Molnupiravir Limitation of EUA</label>
        </rules>
        <rules>
            <name>Molnupiravir_Treatment_Criteria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Mol_Output_Texts.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Molnupiravir Treatment Criteria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Mol_Criteria_Display_Text</targetReference>
            </connector>
            <label>Molnupiravir Treatment Criteria</label>
        </rules>
        <rules>
            <name>Mol_potential_risks_and_benefits_during_pregnancy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Mol_Output_Texts.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Molnupiravir Use Benefits and Risks During Pregnancy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Potential_Risk_and_Benefits_During_Pregnancy</targetReference>
            </connector>
            <label>Mol potential risks and benefits during pregnancy</label>
        </rules>
        <rules>
            <name>Pregnancy_Surveillance_Program_Awareness</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Mol_Output_Texts.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pregnancy Surveillance Program Awareness</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pregnancy_Surveillance_Program_Awareness</targetReference>
            </connector>
            <label>Pregnancy Surveillance Program Awareness</label>
        </rules>
        <rules>
            <name>Patient_Agrees_to_Participate_in_Pregnancy_Surveillance_Program</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Mol_Output_Texts.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patient Agrees to Participate in Pregnancy Surveillance Program</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Patient_Agrees_to_Participate_in_Pregnancy_Surveillance_Program</targetReference>
            </connector>
            <label>Patient Agrees to Participate in Pregnancy Surveillance Program</label>
        </rules>
        <rules>
            <name>Pregnancy_Surveillance_Program_Awareness_If_Become_Pregnant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Mol_Output_Texts.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pregnancy Surveillance Program Awareness If Become Pregnant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pregnancy_Surveillance_Program_Awareness_If_Become_Pregnant</targetReference>
            </connector>
            <label>Pregnancy Surveillance Program Awareness If Become Pregnant</label>
        </rules>
        <rules>
            <name>Patient_Agrees_To_Participate_in_PSP_If_Become_Pregnant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Mol_Output_Texts.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patient Agrees To Participate in PSP If Become Pregnant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Patient_Agrees_To_Participate_in_PSP_If_Become_Pregnant</targetReference>
            </connector>
            <label>Patient Agrees To Participate in PSP If Become Pregnant</label>
        </rules>
        <rules>
            <name>Reviewed_Contraception_Requirements_per_Molnupiravir_Providers_Fact_Sheet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Mol_Output_Texts.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reviewed Contraception Requirements per Molnupiravir Providers Fact Sheet</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Reviewed_Contraception_Requirements_per_Molnupiravir_Providers_Fact_Sheet</targetReference>
            </connector>
            <label>Reviewed Contraception Requirements per Molnupiravir Providers Fact Sheet</label>
        </rules>
        <rules>
            <name>Molnupiravir_Dosage_and_Administration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Mol_Output_Texts.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Molnupiravir Dosage and Administration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Molnupiravir_Dosage_and_Administration</targetReference>
            </connector>
            <label>Molnupiravir Dosage and Administration</label>
        </rules>
        <rules>
            <name>Molnupiravir_User_Consent_Disposition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Mol_Output_Texts.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Molnupiravir User Consent Disposition</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Molnupiravir_User_Consent_Disposition</targetReference>
            </connector>
            <label>Molnupiravir User Consent Disposition</label>
        </rules>
        <rules>
            <name>Molnupiravir_Treatment_Enrollment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Mol_Output_Texts.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Molnupiravir Treatment Enrollment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Molnupiravir_Treatment_Enrollment</targetReference>
            </connector>
            <label>Molnupiravir Treatment Enrollment</label>
        </rules>
        <rules>
            <name>Molnupiravir_Patient_Adverse_Reaction_Report_Awareness</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Mol_Output_Texts.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Molnupiravir Patient Adverse Reaction Report Awareness</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Molnupiravir_Patient_Adverse_Reaction_Report_Awareness</targetReference>
            </connector>
            <label>Molnupiravir Patient Adverse Reaction Report Awareness</label>
        </rules>
    </decisions>
    <decisions>
        <name>VCC_T2T_Loop_Gap1</name>
        <label>Condition Stopper</label>
        <locationX>468</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>VCC_T2T_Assign_Clear</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VCC_T2T_Count_Mopulnavir</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VCC_T2T_Assign_Collection1</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <description>Refactored Flow for CCCM-24000, simplified and cleaned</description>
    <environments>Default</environments>
    <formulas>
        <description>Designed to be paired with JS to extract data only containing values on index</description>
        <name>VCC_T2T_Data_Extract1</name>
        <dataType>String</dataType>
        <expression>CASE({!VCC_T2T_Count_Mopulnavir},
0, IF({!Patient_has_a_drug_drug_interaction_that_preclude_Paxlovid_use}, &quot;True&quot;, &quot;False&quot;),
1, IF({!Patient_has_encountered_side_effects_that_preclude_continued_Paxlovid_use}, &quot;True&quot;, &quot;False&quot;),
2, IF({!Patient_has_contraindications_for_Paxlovid_use}, &quot;True&quot;, &quot;False&quot;),
3, IF({!Patient_declines_Paxlovid}, &quot;True&quot;,&quot;False&quot;),
4, IF({!molConsentCheckbox}, &quot;True&quot;, &quot;False&quot;),
5, TEXT(MONTH({!Positive_SARS_CoV_2_test})) + &quot;-&quot; + TEXT(DAY({!Positive_SARS_CoV_2_test})) + &quot;-&quot; + TEXT(YEAR({!Positive_SARS_CoV_2_test})),
6, {!Symptom_Details},
7, {!Patient_has_met_ALL_the_above_criteria},
8, TEXT(MONTH({!Report_of_last_menstrual_period})) + &quot;-&quot; + TEXT(DAY({!Report_of_last_menstrual_period})) + &quot;-&quot; + TEXT(YEAR({!Report_of_last_menstrual_period})),
9, {!Pregnant_Patients},
10, IF({!pregnancySurveillaceProgramAwarnessCheckBox}, &quot;True&quot;, &quot;False&quot;),
11, IF({!PSPAwarenessifBecomePregnantCheckBox}, &quot;True&quot;, &quot;False&quot;),
12, IF({!reviewedContraceptionRequirementsPerMolFactSheetCheckBox}, &quot;True&quot;, &quot;False&quot;),
13, IF({!molnupiravirUserConsentDispositionCheckBox}, &quot;True&quot;, &quot;False&quot;),
14, IF({!molnupiravirPatientAdverseReactionReportAwarenessCheckBox}, &quot;True&quot;, &quot;False&quot;),
15, IF({!Patient_does_not_qualify_currently_for_either_Paxlovid_or_Molnupiravir}, &quot;True&quot;, &quot;False&quot;),
null
)</expression>
    </formulas>
    <formulas>
        <description>Designed to be paired with JS to extract data only containing values on index</description>
        <name>VCC_T2T_Data_Extract2</name>
        <dataType>String</dataType>
        <expression>CASE({!VCC_T2T_Count_Mopulnavir},
0, {!d_dInteractionPrecludePaxUseReasonText},
1, {!encounteredSideEffectsPrecludePaxlovidUseReasonText},
2, {!contradicationsPaxlovidUseReasonText},
3, {!declinesPaxlovidReasonText},
4, IF(
    OR(
        {!Patient_has_met_ALL_the_above_criteria} = &apos;Yes&apos;,
        {!Patient_has_met_ALL_the_above_criteria} = &apos;No&apos;
    ),
    &apos;Reviewed&apos;,
    &apos;&apos;
),
5, TEXT(MONTH({!Symptoms_onset_within_5_days})) + &quot;-&quot; + TEXT(DAY({!Symptoms_onset_within_5_days})) + &quot;-&quot; + TEXT(YEAR({!Symptoms_onset_within_5_days})),
6,  IF(
    OR(
        {!Patient_has_met_ALL_the_above_criteria} = &apos;Yes&apos;,
        {!Patient_has_met_ALL_the_above_criteria} = &apos;No&apos;
    ),
    &apos;Reviewed&apos;,
    &apos;&apos;
),
7,  {!Was_patient_male_at_birth},
8,  TEXT(MONTH({!Negative_pregnancy_test})) + &quot;-&quot; + TEXT(DAY({!Negative_pregnancy_test})) + &quot;-&quot; + TEXT(YEAR({!Negative_pregnancy_test})),
9,  IF({!pregnancyBenefitandRisksCheckBox}, &quot;True&quot;, &quot;False&quot;),
10, IF({!PatientAgreestoParticipateinPregnancySurveillanceCheckbox}, &quot;True&quot;, &quot;False&quot;),
11, IF({!patientAgreestoParticipateInPSPifPregnantCheckBox}, &quot;True&quot;, &quot;False&quot;),
12, {!dosageandAdministrationDisplayText},
13, IF({!molnupiravirTreatmentEnrollmentCheckBox}, &quot;True&quot;, &quot;False&quot;),
14, {!Request_denied_due_to_the_following},
15, &quot;End of Mopulnavir Subflow&quot;,
null
)</expression>
    </formulas>
    <formulas>
        <description>Data parsing for fields and labels in the flow, preparation to move into string collection &gt;&gt;&gt; VCV_Subflow_Assign_Collection</description>
        <name>VCC_T2T_Data_Parse_Label_Mol</name>
        <dataType>String</dataType>
        <expression>CASE({!VCC_T2T_Count_Mopulnavir},
0, &quot;Patient has a drug-drug interaction that preclude Paxlovid use&quot;,
1, &quot;Patient has encountered side effects that preclude continued Paxlovid use&quot;,
2, &quot;Patient has contraindications for Paxlovid use&quot;,
3, &quot;Patient declines Paxlovid&quot;,
4, {!MolConsentDisplayTxtVar},
5, &quot;Positive SARS-CoV-2 test&quot;,
6, &quot;Symptom Details&quot;,
7, &quot;Patient has met ALL the above criteria&quot;,
8, &quot;Report of last menstrual period&quot;,
9, &quot;Is the Patient Pregnant?&quot;,
10, {!pregnancySurveillanceProgramAwarenessDisplayTxtVar},
11, {!PSPAwarenessIfBecomePregnantDisplayTxtVar},
12, {!reviewedContraceptionRequirementspeMolnupiravirProvidersFactSheetDisplayTxtVar},
13, {!molnupiravirUserConsentDispositionDisplayTxtVar},
14, {!molnupiravirPatientAdverseReactionReportAwarenessDisplayTxtVar},
15, &quot;Patient does not qualify currently for either Paxlovid or Molnupiravir&quot;,
null
)</expression>
    </formulas>
    <formulas>
        <description>Formula that runs the other half of the original formula in parallel in order to exceed the formula word limitation</description>
        <name>VCC_T2T_Data_Parse_Label_Mol2</name>
        <dataType>String</dataType>
        <expression>CASE({!VCC_T2T_Count_Mopulnavir},
0, &quot;Please provide comment&quot;,
1, &quot;Please provide comment&quot;,
2, &quot;Please provide comment&quot;,
3, &quot;Please provide comment&quot;,
4, {!MolLimitationDisplayTxtVar},
5, &quot;Symptoms onset within 5 days&quot;,
6, {!molCriteriaDisplayTxtVar},
7, &quot;Was patient male at birth?&quot;,
8, &quot;Negative pregnancy test&quot;,
9, {!potentialRiskandBenefitDisplayTxtVar},
10, {!patientAgreestoParticipateinPregnancySurveillanceProgramDisplayTxtVar},
11, {!patientAgreesToParticipateinPSPIfBecomePregnantDisplayTxtVar},
12, &quot;Dosage&quot;,
13, {!molnupiravirTreatmentEnrollmentDisplayTxtVar},
14, &quot;Request denied due to the following&quot;,
15, &quot;End of Mopulnavir Subflow&quot; &amp; &quot; : &quot; &amp; &quot;End&quot;,
null
)</expression>
    </formulas>
    <interviewLabel>VCC COVID Test to Treat Subflow: Molnupiravir {!$Flow.CurrentDateTime} {!recordId}</interviewLabel>
    <label>VCC COVID Test to Treat Subflow: Molnupiravir</label>
    <loops>
        <name>Loop_Through_Mol_Output_Texts</name>
        <label>Loop Through Mol Output Texts</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <collectionReference>getMolOutputText</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Output_Text_Decision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Reason_For_Choosing_Molnupiravir</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>VCC_T2T_Loop_Collection1</name>
        <label>Anwer Collection</label>
        <locationX>248</locationX>
        <locationY>1658</locationY>
        <collectionReference>VCC_T2T_Labels_Temp_Mol</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>VCC_T2T_Loop_Gap1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Preview_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getMolOutputText</name>
        <label>getMolOutputText</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Mol_Output_Texts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VCC_Treatment__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Molnupiravir</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>VCC_Output_Text__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Child_Bearing_Individuals_Screen</name>
        <label>Child Bearing Individuals Screen</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Dosage_and_Disposition</targetReference>
        </connector>
        <fields>
            <name>allPotentialChildBearingIndivDiplayTxt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;All potential childbearing individuals&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Child_Bearing_Individuals_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Child_Bearing_Individuals_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Report_of_last_menstrual_period</name>
                    <dataType>Date</dataType>
                    <fieldText>Report of last menstrual period</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;In an individual who has regular menstrual cycles, uses a reliable method of contraception correctly and consistently or has had a negative pregnancy test.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Negative_pregnancy_test</name>
                    <dataType>Date</dataType>
                    <fieldText>Negative pregnancy test</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Recommended but not required if other criteria are not met.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Pregnant_Patients</name>
                    <choiceReferences>YesChoice</choiceReferences>
                    <choiceReferences>NoChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is the Patient Pregnant?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Child_Bearing_Individuals_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>pregnantPatients</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Pregnant Patients  &lt;em&gt; &lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Pregnant_Patients</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>YesChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Child_Bearing_Individuals_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Child_Bearing_Individuals_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>pregnancyBenefitandRisksCheckBox</name>
                    <dataType>Boolean</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 0, 0);&quot;&gt;*Required&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!pregnancyBenefitandRisksCheckBox}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Child_Bearing_Individuals_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>pregnancyBeneftandRisksDisplayTxt</name>
                    <fieldText>&lt;p&gt;{!potentialRiskandBenefitDisplayTxtVar}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Pregnant_Patients</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>YesChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Child_Bearing_Individuals_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Child_Bearing_Individuals_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>pregnancySurveillaceProgramAwarnessCheckBox</name>
                    <dataType>Boolean</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Child_Bearing_Individuals_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>pregnancySurveillanceProgramDisplayTxt</name>
                    <fieldText>&lt;p&gt;{!pregnancySurveillanceProgramAwarenessDisplayTxtVar}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Pregnant_Patients</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>YesChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Child_Bearing_Individuals_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Child_Bearing_Individuals_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PatientAgreestoParticipateinPregnancySurveillanceCheckbox</name>
                    <dataType>Boolean</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Child_Bearing_Individuals_Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PatientAgreestoParticipateinPregnancySurveillanceDisplayTxt</name>
                    <fieldText>&lt;p&gt;{!patientAgreestoParticipateinPregnancySurveillanceProgramDisplayTxtVar}&lt;a href=&quot;{!patientAgreestoParticipateinPregnancySurveillanceProgramLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!patientAgreestoParticipateinPregnancySurveillanceProgramLink}&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Pregnant_Patients</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>YesChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Child_Bearing_Individuals_Screen_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Child_Bearing_Individuals_Screen_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>nonPregnantPatients</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Non-Pregnant Patients  &lt;/strong&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&lt;em&gt; &lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Pregnant_Patients</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>NoChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Child_Bearing_Individuals_Screen_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Child_Bearing_Individuals_Screen_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PSPAwarenessifBecomePregnantCheckBox</name>
                    <dataType>Boolean</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Child_Bearing_Individuals_Screen_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PSPAwarenessifBecomePregnantDisplayTxt</name>
                    <fieldText>&lt;p&gt;{!PSPAwarenessIfBecomePregnantDisplayTxtVar}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Pregnant_Patients</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>NoChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Child_Bearing_Individuals_Screen_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Child_Bearing_Individuals_Screen_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>patientAgreestoParticipateInPSPifPregnantCheckBox</name>
                    <dataType>Boolean</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Child_Bearing_Individuals_Screen_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>patientAgreestoParticipateInPSPifPregnantDisplayTxt</name>
                    <fieldText>&lt;p&gt;{!patientAgreesToParticipateinPSPIfBecomePregnantDisplayTxtVar}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Pregnant_Patients</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>NoChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Child_Bearing_Individuals_Screen_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Child_Bearing_Individuals_Screen_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>reviewedContraceptionRequirementsPerMolFactSheetCheckBox</name>
                    <dataType>Boolean</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;*Required&lt;/span&gt;&lt;span style=&quot;color: rgb(247, 0, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!reviewedContraceptionRequirementsPerMolFactSheetCheckBox} = TRUE</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Child_Bearing_Individuals_Screen_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>reviewedContraceptionRequirementsPerMolFactSheetDisplayTxt</name>
                    <fieldText>&lt;p&gt;{!reviewedContraceptionRequirementspeMolnupiravirProvidersFactSheetDisplayTxtVar} &lt;a href=&quot;{!reviewedContraceptionRequirementsperMolnupiravirProvidersFactSheetLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!reviewedContraceptionRequirementsperMolnupiravirProvidersFactSheetLink}&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Pregnant_Patients</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>NoChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Disposition</name>
        <label>Disposition</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VCC_T2T_Loop_Collection1</targetReference>
        </connector>
        <fields>
            <name>dispositionDisplayTxt</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Disposition:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Request_denied_due_to_the_following</name>
            <fieldText>Request denied due to the following</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Patient_does_not_qualify_currently_for_either_Paxlovid_or_Molnupiravir</name>
            <dataType>Boolean</dataType>
            <fieldText>Patient does not qualify currently for either Paxlovid or Molnupiravir</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Required*&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Patient_does_not_qualify_currently_for_either_Paxlovid_or_Molnupiravir} == TRUE</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dosage_and_Disposition</name>
        <label>Dosage and Disposition</label>
        <locationX>446</locationX>
        <locationY>1466</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VCC_T2T_Loop_Collection1</targetReference>
        </connector>
        <fields>
            <name>dosageandAdministrationDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Dosage and Administration&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!molnupiravirDosageandAdministrationDisplayTxtVar}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dispositionDisplayTxt2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Disposition&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Dosage_and_Disposition_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dosage_and_Disposition_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>molnupiravirUserConsentDispositionCheckBox</name>
                    <dataType>Boolean</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 0, 0);&quot;&gt;*Required&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!molnupiravirUserConsentDispositionCheckBox} = TRUE</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dosage_and_Disposition_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>molnupiravirUserConsentDispositionDisplayTxt</name>
                    <fieldText>&lt;p&gt;{!molnupiravirUserConsentDispositionDisplayTxtVar}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Dosage_and_Disposition_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dosage_and_Disposition_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>molnupiravirTreatmentEnrollmentCheckBox</name>
                    <dataType>Boolean</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;*Required&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!molnupiravirTreatmentEnrollmentCheckBox} = TRUE</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dosage_and_Disposition_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>molnupiravirTreatmentEnrollmentDisplayTxt</name>
                    <fieldText>&lt;p&gt;{!molnupiravirTreatmentEnrollmentDisplayTxtVar}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Dosage_and_Disposition_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dosage_and_Disposition_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>molnupiravirPatientAdverseReactionReportAwarenessCheckBox</name>
                    <dataType>Boolean</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(240, 0, 0);&quot;&gt;*Required&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!molnupiravirPatientAdverseReactionReportAwarenessCheckBox} = TRUE</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dosage_and_Disposition_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>molnupiravirPatientAdverseReactionReportAwarenessDisplayTxt</name>
                    <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;{!molnupiravirPatientAdverseReactionReportAwarenessDisplayTxtVar}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Molnupiravir_Assessment</name>
        <label>Molnupiravir Assessment</label>
        <locationX>248</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Met_all_the_Criteria</targetReference>
        </connector>
        <fields>
            <name>Molnupiravir_Assessment_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Molnupiravir_Assessment_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>molConsentCheckbox</name>
                    <dataType>Boolean</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;*Required&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!molConsentCheckbox} = TRUE</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Molnupiravir_Assessment_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>molConsentDisplayTxt</name>
                    <fieldText>&lt;p&gt;{!MolConsentDisplayTxtVar}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!molConsentLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;FDA Emergency Use Authorization (EUA) Fact Sheet for Molnupiravir&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>LIMITATIONS_OF_EUA</name>
            <fieldText>Limitations of Emergency Use Authorization (EUA)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>LIMITATIONS_OF_EUA_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>limitationofEUADisplayTxt</name>
                    <fieldText>&lt;p&gt;{!MolLimitationDisplayTxtVar}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Molnupiravir_Assessment_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Molnupiravir_Assessment_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Positive_SARS_CoV_2_test</name>
                    <dataType>Date</dataType>
                    <fieldText>Positive SARS-CoV-2 test</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Molnupiravir_Assessment_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Molnupiravir_Assessment_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Molnupiravir_Assessment_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Symptoms_onset_within_5_days</name>
                    <dataType>Date</dataType>
                    <fieldText>Symptoms onset within 5 days</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Molnupiravir_Assessment_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Symptom_Details</name>
            <fieldText>Symptom Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>consentDisplayText</name>
            <fieldText>&lt;p&gt;{!molCriteriaDisplayTxtVar}&lt;span style=&quot;color: rgb(0, 158, 219);&quot;&gt; &lt;/span&gt;&lt;a href=&quot;{!molCriteriaLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(1, 118, 211); background-color: rgb(255, 255, 255);&quot;&gt;(&lt;/a&gt;&lt;a href=&quot;{!molCriteriaLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(1, 118, 211); background-color: rgb(255, 255, 255); font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; font-size: 12px;&quot;&gt;People with certain medical conditions - CDC&lt;/a&gt;&lt;a href=&quot;{!molCriteriaLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(1, 118, 211); background-color: rgb(255, 255, 255);&quot;&gt;)&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Molnupiravir_Assessment_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Molnupiravir_Assessment_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Patient_has_met_ALL_the_above_criteria</name>
                    <choiceReferences>YesChoice</choiceReferences>
                    <choiceReferences>NoChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Patient has met ALL the above criteria</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Was_patient_male_at_birth</name>
                    <choiceReferences>YesChoice</choiceReferences>
                    <choiceReferences>NoChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Was patient male at birth?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Patient_has_met_ALL_the_above_criteria</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>YesChoice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Molnupiravir_Assessment_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Reason_For_Choosing_Molnupiravir</name>
        <label>Reason For Choosing Molnupiravir</label>
        <locationX>248</locationX>
        <locationY>842</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Molnupiravir_Assessment</targetReference>
        </connector>
        <fields>
            <name>reasonForMolnupiravirDisplayText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Select the reason for choosing Molnupiravir: &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Patient_has_a_drug_drug_interaction_that_preclude_Paxlovid_use</name>
            <dataType>Boolean</dataType>
            <fieldText>Patient has a drug-drug interaction that preclude Paxlovid use</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt; &lt;/p&gt;</errorMessage>
                <formulaExpression>OR ( {!Patient_declines_Paxlovid} = TRUE, {!Patient_has_contraindications_for_Paxlovid_use} = TRUE , {!Patient_has_a_drug_drug_interaction_that_preclude_Paxlovid_use} = TRUE , {!Patient_has_encountered_side_effects_that_preclude_continued_Paxlovid_use} = TRUE )</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>d_dInteractionPrecludePaxUseReasonText</name>
            <fieldText>Please provide comment:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Patient_has_a_drug_drug_interaction_that_preclude_Paxlovid_use</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Patient_has_encountered_side_effects_that_preclude_continued_Paxlovid_use</name>
            <dataType>Boolean</dataType>
            <fieldText>Patient has encountered side effects that preclude continued Paxlovid use</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt; &lt;/p&gt;</errorMessage>
                <formulaExpression>OR ( {!Patient_declines_Paxlovid} = TRUE, {!Patient_has_contraindications_for_Paxlovid_use} = TRUE , {!Patient_has_a_drug_drug_interaction_that_preclude_Paxlovid_use} = TRUE , {!Patient_has_encountered_side_effects_that_preclude_continued_Paxlovid_use} = TRUE )</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>encounteredSideEffectsPrecludePaxlovidUseReasonText</name>
            <fieldText>Please provide comment:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Patient_has_encountered_side_effects_that_preclude_continued_Paxlovid_use</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Patient_has_contraindications_for_Paxlovid_use</name>
            <dataType>Boolean</dataType>
            <fieldText>Patient has contraindications for Paxlovid use</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt; &lt;/p&gt;</errorMessage>
                <formulaExpression>OR ( {!Patient_declines_Paxlovid} = TRUE, {!Patient_has_contraindications_for_Paxlovid_use} = TRUE , {!Patient_has_a_drug_drug_interaction_that_preclude_Paxlovid_use} = TRUE , {!Patient_has_encountered_side_effects_that_preclude_continued_Paxlovid_use} = TRUE )</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>contradicationsPaxlovidUseReasonText</name>
            <fieldText>Please provide comment:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Patient_has_contraindications_for_Paxlovid_use</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Patient_declines_Paxlovid</name>
            <dataType>Boolean</dataType>
            <fieldText>Patient declines Paxlovid</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(247, 3, 3);&quot;&gt;Please provide at least one reason for choosing Molnupiravir&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>OR ( {!Patient_declines_Paxlovid} = TRUE, {!Patient_has_contraindications_for_Paxlovid_use} = TRUE , {!Patient_has_a_drug_drug_interaction_that_preclude_Paxlovid_use} = TRUE , {!Patient_has_encountered_side_effects_that_preclude_continued_Paxlovid_use} = TRUE )</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>declinesPaxlovidReasonText</name>
            <fieldText>Please provide comment:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Patient_declines_Paxlovid</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>VCC_T2T_Assign_FlowRecordRelation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Preview_Screen</name>
        <label>Preview Screen</label>
        <locationX>248</locationX>
        <locationY>2150</locationY>
        <flowName>VCC_COVID_Test_to_Treat_Subflow_Preview</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VCC_T2T_Labels</name>
            <value>
                <elementReference>VCC_T2T_Mol_Labels</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VCC_T2T_Main_Key</name>
            <value>
                <elementReference>VCC_T2T_Main_Key</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VCC_T2T_Mol_Key</name>
            <value>
                <elementReference>VCC_T2T_Mol_Key</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VCC_T2T_Pax_Key</name>
            <value>
                <elementReference>VCC_T2T_Pax_Key</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VCC_T2T_State_Tracker</name>
            <value>
                <elementReference>VCC_T2T_State_Tracker</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>MolConsentDisplayTxtVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>molConsentLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>molCriteriaDisplayTxtVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>molCriteriaLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MolLimitationDisplayTxtVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>molnupiravirDosageandAdministrationDisplayTxtVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>molnupiravirPatientAdverseReactionReportAwarenessDisplayTxtVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>molnupiravirTreatmentEnrollmentDisplayTxtVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>molnupiravirUserConsentDispositionDisplayTxtVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patientAgreestoParticipateinPregnancySurveillanceProgramDisplayTxtVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patientAgreestoParticipateinPregnancySurveillanceProgramLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>patientAgreesToParticipateinPSPIfBecomePregnantDisplayTxtVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>postiveCovidTestDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>potentialRiskandBenefitDisplayTxtVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pregnancySurveillanceProgramAwarenessDisplayTxtVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PSPAwarenessIfBecomePregnantDisplayTxtVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>reviewedContraceptionRequirementspeMolnupiravirProvidersFactSheetDisplayTxtVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>reviewedContraceptionRequirementsperMolnupiravirProvidersFactSheetLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Used for iteration logic</description>
        <name>VCC_T2T_Count_Mopulnavir</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Collection variable used to carry the progress of the previous flow to this one</description>
        <name>VCC_T2T_Labels_Temp_Mol</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VCC_T2T_Main_Key</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VCC_T2T_Mol_Key</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VCC_T2T_Mol_Labels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>used to reset loop with null value</description>
        <name>VCC_T2T_Nulll</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VCC_T2T_Pax_Key</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VCC_T2T_State_Tracker</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
