force-app/main/default/flows/VCC_Cancel_Service_Appointment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Add error log if there are issues getting the Custom Metadata</description>
        <name>Add_Error_Log</name>
        <label>Add Error Log</label>
        <locationX>3394</locationX>
        <locationY>242</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Error_Log_Custom_Metadata</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>VCC_Cancel_Service_Appointment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Add_Log_Entry_for_Error</name>
        <label>Add Log Entry for Error</label>
        <locationX>2030</locationX>
        <locationY>1514</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Error_Log</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>VCC_Cancel_Service_Appointment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <elementReference>LoggingLevel_Error_TextValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Cancel_Appointment_Action</name>
        <label>Cancel Appointment Action</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <actionName>cancelAppointment</actionName>
        <actionType>cancelAppointment</actionType>
        <connector>
            <targetReference>Update_Service_Appt_Cancellation</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Log_Entry_for_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cancelStatus</name>
            <value>
                <elementReference>Cancellation_Statusx2choices</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cancellationReason</name>
            <value>
                <elementReference>formulaCancellationReason</elementReference>
            </value>
        </inputParameters>
        <nameSegment>cancelAppointment</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ErrorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Save_Error_Log</name>
        <label>Save Error Log</label>
        <locationX>2030</locationX>
        <locationY>1622</locationY>
        <actionName>Logger</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Flow_FaultMessage</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>Logger</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Save Nebula Log</description>
        <name>Save_Error_Log_Custom_Metadata</name>
        <label>Save Error Log</label>
        <locationX>3394</locationX>
        <locationY>350</locationY>
        <actionName>Logger</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_RecordId</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>Logger</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Flow_FaultMessage</name>
        <label>Assign Flow FaultMessage</label>
        <locationX>2030</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>varFaultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Cancel_Appointment1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Notification_Recipient</name>
        <label>Assign Notification Recipient</label>
        <locationX>842</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>NotificationRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RecordId</name>
        <label>Assign RecordId to ServiceAppointmentID</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Appointment</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Canceled_by_Clinic</name>
        <choiceText>Canceled by Clinic</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canceled by Clinic</stringValue>
        </value>
    </choices>
    <choices>
        <name>Canceled_by_Patient</name>
        <choiceText>Canceled by Patient</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canceled</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Patient_being_seen_elsewhere</name>
        <choiceText>Patient being seen elsewhere</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Patient being seen elsewhere</stringValue>
        </value>
    </choices>
    <choices>
        <name>Patient_declined_care</name>
        <choiceText>Patient declined care</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Patient declined care</stringValue>
        </value>
    </choices>
    <choices>
        <name>Patient_will_call_back_to_reschedule</name>
        <choiceText>Patient will call back to reschedule</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Patient will call back to reschedule</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unexpected_Provider_Absence</name>
        <choiceText>Unexpected Provider Absence</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unexpected Provider Absence</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Appointment_Status_Category</name>
        <label>Check Appointment Status Category</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>PN_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CanceledAppointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.StatusCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation_Screen</targetReference>
            </connector>
            <label>Canceled Appointment</label>
        </rules>
    </decisions>
    <decisions>
        <description>When Metadata is TRUE - use the new scheduling automation
When Metadata is FALSE - use original functionality, no dark functionality</description>
        <name>Check_Feature_Flag_Config</name>
        <label>Check Feature Flag Config</label>
        <locationX>1370</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Confirmation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True_FeatureFlag</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Feature_Flag_Config.VCV_Case_and_PN__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_and_Create_PN</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <description>From a Service Appointment Record page, we will redirect the user to the new Progress Note in the sub flow
That doesn&apos;t work from the Visualforce page, so we display a confirmation screen with link and go back to List View.</description>
        <name>Go_to_List_View</name>
        <label>Go to List View?</label>
        <locationX>1106</locationX>
        <locationY>1430</locationY>
        <defaultConnectorLabel>No - sub flow redirects to PN</defaultConnectorLabel>
        <rules>
            <name>Yes_List_View</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFromListView</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_New_Progress_Note</targetReference>
            </connector>
            <label>Yes - List View</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_from_List_View_or_Record_Page</name>
        <label>Is this from List View or Record Page</label>
        <locationX>446</locationX>
        <locationY>2372</locationY>
        <defaultConnectorLabel>From Record Page</defaultConnectorLabel>
        <rules>
            <name>From_List_View</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varFromListView</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Redirect_Page</targetReference>
            </connector>
            <label>From List View</label>
        </rules>
    </decisions>
    <decisions>
        <name>PN_Exists</name>
        <label>PN Exists</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Case__r.VCC_Progress_Note__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Progress_Note</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Turn_Off_Bypass_Validation</name>
        <label>Turn Off Bypass Validation?</label>
        <locationX>2030</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Add_Log_Entry_for_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesBypassValOn</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.VCC_Bypass_Validation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>YES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Appointment_Bypass_Validation_Flag_OFF</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Release 1.17.0 - Add Custom Metadata feature flag check for dark functionality, run in System Mode
Release 1.17.0 - Enhancing the bypass field flagging logic to make sure it is covered in every scenario. 
Release 1.16.0 - Added update elements to activate the bypass field flag on the service appointment 
The flow cancels a service appointment when its record type is &quot;Virtual Clinic Visit&quot;
Added sub flow to find scheduling case, create Progress Note
Redirects to new PN or back to List View</description>
    <dynamicChoiceSets>
        <name>varCancellationStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Status</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>varReasonForCancellationPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Reason_for_Cancellation__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formulaCancellationReason</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Cancellation_ReasonwithValidation}) ) , {!Cancellation_ReasonwithValidation}, {!Cancellation_ReasonNotReq})</expression>
    </formulas>
    <formulas>
        <name>formulaReasonForCancellation</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK ({!Reason_for_CancellationClinic}) ), {!Reason_for_CancellationClinic}, {!Reason_for_CancellationPatient})</expression>
    </formulas>
    <formulas>
        <name>NotificationTitle</name>
        <dataType>String</dataType>
        <expression>&apos;New Progress Note Created &apos; + {!Get_New_Progress_Note.Name}</expression>
    </formulas>
    <formulas>
        <name>varDateTimeCancelled</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <description>If FromListView is TRUE, then it will redirect back to List View
And therefore will NOT redirect to Progress Note page</description>
        <name>varPNRedirect</name>
        <dataType>Boolean</dataType>
        <expression>IF({!varFromListView} = &apos;TRUE&apos;, FALSE, TRUE)</expression>
    </formulas>
    <interviewLabel>VCC Cancel Service Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VCC Cancel Service Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Appointments</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cancel_Appointment1_0</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Log_Entry_for_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Custom Metadata config for dark functionality</description>
        <name>Get_Feature_Flag_Config</name>
        <label>Get Feature Flag Config</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_RecordId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Add_Error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduling_Features_Config</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VCC_SCD_Automation_Configuration__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Records so that we can display Progress Note Name in notification or confirmation msg</description>
        <name>Get_New_Progress_Note</name>
        <label>Get New Progress Note</label>
        <locationX>842</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Notification_Recipient</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Log_Entry_for_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_and_Create_PN.schedulingProgressNote_var.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VCC_Progress_Note__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Progress_Note</name>
        <label>Get Progress Note</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Progress_Note_Exists</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Log_Entry_for_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VCC_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VCC_Progress_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Service_Appointment</name>
        <label>Service Appointment</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Appointment_Status_Category</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Log_Entry_for_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StatusCategory</queriedFields>
        <queriedFields>Case__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <queriedFields>ServiceTerritoryId</queriedFields>
        <queriedFields>SchedStartTime</queriedFields>
        <queriedFields>SchedEndTime</queriedFields>
        <queriedFields>Cancelled_By__c</queriedFields>
        <queriedFields>Cancelled_Date__c</queriedFields>
        <queriedFields>VCC_Facility_for_Appointment__c</queriedFields>
        <queriedFields>AppointmentComments__c</queriedFields>
        <queriedFields>AppointmentNumber</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Used to activate the flag to bypass the status validation</description>
        <name>Service_Appointment_Bypass_Validation_Flag</name>
        <label>Service Appointment - Bypass Validation Flag</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Cancel_Appointment_Action</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Log_Entry_for_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VCC_Bypass_Validation__c</field>
            <value>
                <stringValue>YES</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <description>It turns off the bypass validation</description>
        <name>Service_Appointment_Bypass_Validation_Flag_OFF</name>
        <label>Service Appointment - Bypass Validation Flag OFF</label>
        <locationX>1898</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Add_Log_Entry_for_Error</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VCC_Bypass_Validation__c</field>
            <value>
                <stringValue>NO</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Service_Appt_Cancellation</name>
        <label>Update Service Appt Cancellation</label>
        <locationX>1370</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Check_Feature_Flag_Config</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Turn_Off_Bypass_Validation</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cancelled_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancelled_Date__c</field>
            <value>
                <elementReference>varDateTimeCancelled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Cancellation__c</field>
            <value>
                <elementReference>formulaReasonForCancellation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Bypass_Validation__c</field>
            <value>
                <stringValue>NO</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Cancel_Appointment1_0</name>
        <label>Cancel Service Appointment</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Service_Appointment_Bypass_Validation_Flag</targetReference>
        </connector>
        <fields>
            <name>errormsg</name>
            <extensionName>c:baseErrorMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>varFaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varFaultMessage</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ReviewSADetails_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Review your service appointment details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cancel_Appointment1_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Cancel_Appointment1_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayAcct_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Account ID:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>displayPatient_0</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Patient&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;:&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>displaySrvcApptTemplate_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Service Appointment Template:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>displayTerritoryID_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Territory ID:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>dispSchedStart_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Scheduled Start:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>dispSchedEnd_0</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Scheduled End:&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Cancel_Appointment1_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>varAcctId_0</name>
                    <fieldText>&lt;p&gt;{!Get_Account.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>PatientName_0</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://va-vet--vahccodey.sandbox.lightning.force.com/%7B!Get_Account.Id%7D&quot; rel=&quot;noopener noreferrer&quot;target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Account.FirstName} {!Get_Account.LastName}&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>varSATemplate_0</name>
                    <fieldText>&lt;p&gt;{!ServiceAppointment.WorkType.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>varTerritoryID_0</name>
                    <fieldText>&lt;p&gt;{!ServiceAppointment.ServiceTerritory.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>varSchedStart_0</name>
                    <fieldText>&lt;p&gt;{!ServiceAppointment.SchedStartTime}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>varSchedEnd_0</name>
                    <fieldText>&lt;p&gt;{!ServiceAppointment.SchedEndTime}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Cancel_Appointment1_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Cancel_Appointment1_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cancellation_Statusx2choices</name>
                    <choiceReferences>Canceled_by_Patient</choiceReferences>
                    <choiceReferences>Canceled_by_Clinic</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>&lt;b&gt;Cancellation Status&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Reason_for_CancellationPatient</name>
                    <choiceReferences>Patient_declined_care</choiceReferences>
                    <choiceReferences>Patient_being_seen_elsewhere</choiceReferences>
                    <choiceReferences>Patient_will_call_back_to_reschedule</choiceReferences>
                    <choiceReferences>Other</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>&lt;b&gt;Reason for Cancellation&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;If patient seen in primary care, emergency department, mental health, specialty care, or community care, select &apos;Patient Being Seen Elsewhere&apos; for Reason for Cancellation&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Cancellation_Statusx2choices</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Canceled_by_Patient</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Reason_for_CancellationClinic</name>
            <choiceReferences>Unexpected_Provider_Absence</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;b&gt;Reason for Cancellation&lt;/b&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;If patient seen in primary care, emergency department, mental health, specialty care, or community care, select &apos;Patient Being Seen Elsewhere&apos; for Reason for Cancellation&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Cancellation_Statusx2choices</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Canceled_by_Clinic</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Cancellation_ReasonwithValidation</name>
            <dataType>String</dataType>
            <fieldText>&lt;b&gt;Cancellation Reason&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Reason_for_CancellationClinic</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Other</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Reason_for_CancellationPatient</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Other</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Cancellation_ReasonNotReq</name>
            <dataType>String</dataType>
            <fieldText>&lt;b&gt;Cancellation Reason&lt;/b&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Reason_for_CancellationClinic</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Other</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Reason_for_CancellationPatient</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Other</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Cancellation_Statusx2choices</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VCC_Cancel_Service_Appt</name>
            <extensionName>c:vccFlowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flowStage</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>switchLogic</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>varPageRedirect</name>
                <value>
                    <elementReference>varFromListView</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Confirmation screen before redirecting back to list view and custom notification about new Progress Note.
In Footer, using &apos;Finish&apos; in place of &apos;Next&apos; and final screen is just auto redirect back to list view</description>
        <name>Confirmation_FromListView</name>
        <label>Confirmation_FromListView</label>
        <locationX>842</locationX>
        <locationY>1862</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Redirect_Page</targetReference>
        </connector>
        <fields>
            <name>CancellationConfirmation_FromListView</name>
            <extensionName>runtime_appointmentbooking:flowConfirm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isCancel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_this_from_List_View_or_Record_Page</targetReference>
        </connector>
        <fields>
            <name>Confirmation</name>
            <extensionName>runtime_appointmentbooking:flowConfirm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isCancel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>category</name>
                <value>
                    <elementReference>ServiceAppointment.StatusCategory</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Error</description>
        <name>Progress_Note_Exists</name>
        <label>Progress Note Exists</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_this_from_List_View_or_Record_Page</targetReference>
        </connector>
        <fields>
            <name>errorDsplayTxt</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(230, 0, 30);&quot;&gt;Error&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PN_Error_Display_Text</name>
            <fieldText>&lt;p&gt;The Service Appointment cannot be canceled as there is an attached progress note &lt;a href=&quot;/{!Get_Progress_Note.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_Progress_Note.Name}&lt;/a&gt;. The Progress note must be deleted for cancellation to be completed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Redirect_Page</name>
        <label>Redirect Page</label>
        <locationX>314</locationX>
        <locationY>2480</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RedirectBack</name>
            <extensionName>c:baseBack</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <sourceTemplate>runtime_appointmentbooking__In_Cancel</sourceTemplate>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Feature_Flag_Config</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Find existing case or create new Case
Create new Progress Note
From Serv Appt record: redirect to PN</description>
        <name>Get_Case_and_Create_PN</name>
        <label>Get Case and Create PN</label>
        <locationX>1106</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Go_to_List_View</targetReference>
        </connector>
        <flowName>VCC_Appointment_Subflow_CreateAndGoToPN</flowName>
        <inputAssignments>
            <name>action_var</name>
            <value>
                <stringValue>Cancel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RedirectToNewProgressNote_var</name>
            <value>
                <elementReference>varPNRedirect</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceAppointmentId</name>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>842</locationX>
        <locationY>1754</locationY>
        <connector>
            <targetReference>Confirmation_FromListView</targetReference>
        </connector>
        <flowName>VCC_SendCustomNotification_Subflow</flowName>
        <inputAssignments>
            <name>NotificationBody</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTargetId</name>
            <value>
                <elementReference>Get_New_Progress_Note.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTitle</name>
            <value>
                <elementReference>NotificationTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NotificationTypeName</name>
            <value>
                <stringValue>VCV_Appointment_Notification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecipientID</name>
            <value>
                <elementReference>NotificationRecipients</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CancellationReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue />
        </value>
    </variables>
    <variables>
        <name>CancellationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CustomNotificationTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue />
        </value>
    </variables>
    <variables>
        <name>LoggingLevel_Error_TextValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ERROR</stringValue>
        </value>
    </variables>
    <variables>
        <name>NotificationBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Go to Progress Note to finish documenting the appointment cancellation. </stringValue>
        </value>
    </variables>
    <variables>
        <name>NotificationRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>dependent picklist for cancellation either by patient or clinic</description>
        <name>reasonforcancellation1</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue />
        </value>
    </variables>
    <variables>
        <name>varFaultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Set to true if started from a List View</description>
        <name>varFromListView</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varReasonForCancellation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varServiceAppointmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <description>Message for when the Cancellation Reason is null</description>
        <name>varValidationRuleMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
