force-app/main/default/flows/VCC_Case_Subflow_Update_Progress_Note.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Case_Values_to_PN</name>
        <label>Assign Case Values to PN</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>progressNoteRecord.VCC_Cannot_Complete_SCD_Action_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseRecord.VCC_Cannot_Comp_Scheduling_Action_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progressNoteRecord.VCC_Requested_Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseRecord.VCC_Requested_Services_Multi__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progressNoteRecord.VCC_Specialty_Community_Care_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseRecord.VCC_Specialty_Community_Care_Requested__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progressNoteRecord.VCC_Scheduling_Note_Reason2__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Is_Self_Referred_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cannot_Complete_Appointment_Request</name>
        <label>Cannot Complete Appointment Request</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>progressNoteRecord.VCC_Scheduling_Note_Reason2__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Cannot Complete Appointment Request</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Date_Time_Set_For_Patient_Requests_Appt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Patient_Requests_Appt</name>
        <label>Clear Patient Requests Appt</label>
        <locationX>50</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>progressNoteRecord.VCC_Patient_Requests_Appt_date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progressNoteRecord.VCC_Time_Preference__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Progress_Note</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Patient_is_Requesting_Consult_Referral</name>
        <label>Patient is Requesting Consult/ Referral</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>progressNoteRecord.VCC_Scheduling_Note_Reason2__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Patient is Requesting Consult/ Referral</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_Other_Values_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Patient_is_Requesting_Follow_Up</name>
        <label>Patient is Requesting Follow Up</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>progressNoteRecord.VCC_Scheduling_Note_Reason2__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Patient is Requesting Follow Up Appointment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Consult_Referall_Does_Not_Exist_Populated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_Other_Values_Populated</name>
        <label>Are Other Values Populated?</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Is_Date_Time_Set_For_Patient_Requests_Appt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Other</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>progressNoteRecord.VCC_Cannot_Complete_SCD_Action_Reason__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Consult Review Required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>progressNoteRecord.VCC_Cannot_Complete_SCD_Action_Reason__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Restricted / Unavailable Clinic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>progressNoteRecord.VCC_Cannot_Complete_SCD_Action_Reason__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>No Appointment Available</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>progressNoteRecord.VCC_Cannot_Complete_SCD_Action_Reason__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Not Authorized in Service Line Agreement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Complete_Appointment_Request</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Record_Type</name>
        <label>Case Record Type?</label>
        <locationX>809</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ADM_SCD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VCC_Administrative</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_Previously_Filled_in_Scheduling_Progress_Note_Found</targetReference>
            </connector>
            <label>ADM/SCD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Consult_Referall_Does_Not_Exist_Populated</name>
        <label>Is Consult/Referall Does Not Exist Populated?</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Are_Other_Values_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Consult</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>progressNoteRecord.VCC_Cannot_Complete_SCD_Action_Reason__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Consult/Referral Does Not Exist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Patient_is_Requesting_Consult_Referral</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Date_Time_Set_For_Patient_Requests_Appt</name>
        <label>Is Date Time Set For Patient Requests Appt?</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Update_Progress_Note</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Date</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4) OR ((1 OR 2) AND (3 OR 4))</conditionLogic>
            <conditions>
                <leftValueReference>progressNoteRecord.VCC_Cannot_Complete_SCD_Action_Reason__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Consult Review Required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>progressNoteRecord.VCC_Cannot_Complete_SCD_Action_Reason__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Not Authorized in Service Line Agreement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>progressNoteRecord.VCC_Patient_Requests_Appt_date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>progressNoteRecord.VCC_Time_Preference__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Patient_Requests_Appt</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Self_Referred_Populated</name>
        <label>Is Self-Referred Populated?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Is_Consult_Referall_Does_Not_Exist_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Self</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>progressNoteRecord.VCC_Cannot_Complete_SCD_Action_Reason__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Self-Referred/ Out-of-Cycle Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Patient_is_Requesting_Follow_Up</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Previously_Filled_in_Scheduling_Progress_Note_Found</name>
        <label>Was Previously Filled in Scheduling Progress Note Found?</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>progressNoteRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>progressNoteRecord.VCC_Signed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Values_to_PN</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Subflow Called by the VCC Case Flow - After Upsert Flow, for updating progress note records attached to a Case.
Release 1.11.0 - removed pathway for VCV (in relation to the flow edits made to VCC_Create_Progress_Note_Subflow_VCV_Case which assigns values to the Virtual Visit Type).</description>
    <environments>Default</environments>
    <formulas>
        <name>Clear_Date_Time</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>VCC Case Subflow - Update Progress Note {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VCC Case Subflow - Update Progress Note</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Progress_Note</name>
        <label>Update Progress Note</label>
        <locationX>182</locationX>
        <locationY>1658</locationY>
        <inputReference>progressNoteRecord</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>683</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>progressNoteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>VCC_Progress_Note__c</objectType>
    </variables>
</Flow>
