force-app/main/default/flows/VCC_Case_Flow_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex_Refresh_Meds</name>
        <label>Apex Refresh Meds</label>
        <locationX>642</locationX>
        <locationY>584</locationY>
        <actionName>VCC_UpdateMeds_Invocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Admin_Record_TypeID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <description>Inserts a debug log record if insert fails.</description>
        <name>Log_Error_if_Create_Fails</name>
        <label>Log Error if Create Fails</label>
        <locationX>780</locationX>
        <locationY>1609</locationY>
        <actionName>Log</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Error in Create Scheduling Follow Up Case Flow - follow up case insert failed.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Reminder_to_Create_Appt_in_24_72_hrs</name>
        <label>Reminder to Create Appt in 24-72 hrs</label>
        <locationX>33</locationX>
        <locationY>1608</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_ID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>x2472HrsNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Reminder: </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varNotificationRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Reminder_to_Create_Appt_in_24_HRs</name>
        <label>Reminder to Create Appt in 24 HRs</label>
        <locationX>341</locationX>
        <locationY>1538</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_ID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>x24HrNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Reminder:</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varNotificationRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Case_Notification</name>
        <label>Send Case Notification</label>
        <locationX>802</locationX>
        <locationY>1014</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_ID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>NotificationBodyFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Reminder:</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varNotificationRecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>add2472HoursReminderRecipient</name>
        <label>add2472HoursReminderRecipient</label>
        <locationX>33</locationX>
        <locationY>1423</locationY>
        <assignmentItems>
            <assignToReference>varNotificationRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reminder_to_Create_Appt_in_24_72_hrs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add24hrReminderRecipients</name>
        <label>add24hrReminderRecipients</label>
        <locationX>341</locationX>
        <locationY>1371</locationY>
        <assignmentItems>
            <assignToReference>varNotificationRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetCase2.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reminder_to_Create_Appt_in_24_HRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Recipients</name>
        <label>Assign Recipients</label>
        <locationX>659</locationX>
        <locationY>1014</locationY>
        <assignmentItems>
            <assignToReference>varNotificationRecipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Case_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Division_Variable</name>
        <label>Assign User Division Variable</label>
        <locationX>233</locationX>
        <locationY>581</locationY>
        <assignmentItems>
            <assignToReference>varUserDivision</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Division</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Custom_Metadata</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>AdminCase</name>
        <dataType>String</dataType>
        <value>
            <stringValue>VCC_Administrative</stringValue>
        </value>
    </constants>
    <constants>
        <name>Description24Hrs</name>
        <dataType>String</dataType>
        <value>
            <stringValue>A follow up appointment is needed for this patient within 24hrs.  Schedule with a virtual care provider &amp; reach out to patient with appointment information</stringValue>
        </value>
    </constants>
    <constants>
        <name>Description_24_72Hrs</name>
        <dataType>String</dataType>
        <value>
            <stringValue>A follow up appointment is needed for this patient within 24-72 Hrs.  Schedule with a virtual care provider &amp; reach out to patient with appointment information</stringValue>
        </value>
    </constants>
    <constants>
        <name>Subject24_72Hrs</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Follow Up Within 24-72 Hours</stringValue>
        </value>
    </constants>
    <constants>
        <description>Follow Up Within 24 Hours</description>
        <name>Subject24Hrs2</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Follow Up Within 24 Hours</stringValue>
        </value>
    </constants>
    <decisions>
        <name>MSA_Queue_Created</name>
        <label>MSA Queue Created</label>
        <locationX>390</locationX>
        <locationY>1196</locationY>
        <defaultConnector>
            <targetReference>Timeframe_for_MSA_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NO_MSA_Queue_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QueueID2.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Timeframe_for_Followup_Appt</targetReference>
            </connector>
            <label>NO MSA Queue ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Notifications</name>
        <label>Send Notifications</label>
        <locationX>387</locationX>
        <locationY>1019</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Follow_Up_Appt_Needed</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VCC_Follow_Up_Appt_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Within 24 Hrs</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VCC_Follow_Up_Appt_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Within 24-72 Hrs</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Error</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Transferred</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MSA_Queue_Created</targetReference>
            </connector>
            <label>Follow-Up Appt Needed</label>
        </rules>
        <rules>
            <name>Notify_Pharmacist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VCC_Pharmacy_Consultation_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Recipients</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Notify Pharmacist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Timeframe_for_Followup_Appt</name>
        <label>Timeframe for Followup Appt</label>
        <locationX>114</locationX>
        <locationY>1260</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Within_24_hrs_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VCC_Follow_Up_Appt_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Within 24 Hrs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add24hrReminderRecipients</targetReference>
            </connector>
            <label>Within 24 hrs</label>
        </rules>
        <rules>
            <name>X24_72_HRS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VCC_Follow_Up_Appt_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Within 24-72 Hrs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add2472HoursReminderRecipient</targetReference>
            </connector>
            <label>24-72 HRS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Timeframe_for_MSA_Case</name>
        <label>Timeframe for MSA Case</label>
        <locationX>783</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Within_24_Hrs_Decision2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VCC_Follow_Up_Appt_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Within 24 Hrs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AdminCase_0</targetReference>
            </connector>
            <label>Within 24 Hrs</label>
        </rules>
        <rules>
            <name>Appt_in_24_72_hrs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VCC_Follow_Up_Appt_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Within 24-72 Hrs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AdminCase_0_0</targetReference>
            </connector>
            <label>Appt in 24-72 hrs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Closed_or_Owner_Changed</name>
        <label>Was Closed or Owner Changed</label>
        <locationX>634</locationX>
        <locationY>365</locationY>
        <defaultConnector>
            <targetReference>Get_Admin_Record_TypeID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_closed_or_owner_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VCC_Other_Case_Reason__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apex_Refresh_Meds</targetReference>
            </connector>
            <label>Case closed or owner changed</label>
        </rules>
    </decisions>
    <description>When a follow-up is needed, a subsequent case is automatically created. When Pharmacy Consultation is needed, a notification is sent to the pharmacist.</description>
    <environments>Default</environments>
    <formulas>
        <name>FormulaCaseSubject</name>
        <dataType>String</dataType>
        <expression>Text({!GetCase2.VCC_Case_Sub_Type__c})&amp;&quot; &quot;&amp;TEXT({!GetCase2.VCC_Case_Reason__c})</expression>
    </formulas>
    <formulas>
        <description>Variable to show Notification Body</description>
        <name>NotificationBodyFormula</name>
        <dataType>String</dataType>
        <expression>&apos;Pharmacy Consultation Needed on Case &apos;+ &apos; &apos; + {!$Record.CaseNumber}</expression>
    </formulas>
    <formulas>
        <name>x2472HrsNotificationBody</name>
        <dataType>String</dataType>
        <expression>&apos;Alert an MSA to create an appointment in the next 24-72 hrs on Case &apos;+ &apos; &apos; + {!$Record.CaseNumber} + &apos; MSA Appt Case Queue is not active.&apos;</expression>
    </formulas>
    <formulas>
        <name>x24HrNotificationBody</name>
        <dataType>String</dataType>
        <expression>&apos;URGENT &apos;+
&apos;Alert an MSA to create an appointment in the next 24 hrs on Case &apos;+ &apos; &apos; + {!$Record.CaseNumber} + &apos; MSA Appt Case Queue is not active.&apos;</expression>
    </formulas>
    <interviewLabel>VCC Case Flow - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VCC Case Flow - After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>AdminCase_0</name>
        <label>AdminCase</label>
        <locationX>663</locationX>
        <locationY>1451</locationY>
        <faultConnector>
            <targetReference>Log_Error_if_Create_Fails</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Account.PersonContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description24Hrs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QueueID2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Admin_Record_TypeID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject24Hrs2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Case_Reason__c</field>
            <value>
                <stringValue>New Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Case_Sub_Type__c</field>
            <value>
                <stringValue>Scheduling</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Case_Type__c</field>
            <value>
                <stringValue>Administrative</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>AdminCase_0_0</name>
        <label>AdminCase</label>
        <locationX>908</locationX>
        <locationY>1446</locationY>
        <faultConnector>
            <targetReference>Log_Error_if_Create_Fails</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Account.PersonContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description_24_72Hrs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>QueueID2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Admin_Record_TypeID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject24_72Hrs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Case_Reason__c</field>
            <value>
                <stringValue>New Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Case_Sub_Type__c</field>
            <value>
                <stringValue>Scheduling</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Case_Type__c</field>
            <value>
                <stringValue>Administrative</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Admin_Record_TypeID</name>
        <label>Get Admin Record TypeID</label>
        <locationX>402</locationX>
        <locationY>495</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_User_Division_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCC_Administrative</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the VCC Queue Mapping Custom Metadata records</description>
        <name>Get_Custom_Metadata</name>
        <label>Get Custom Metadata</label>
        <locationX>396</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QueueID2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VCC_VISN_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserDivision</elementReference>
            </value>
        </filters>
        <filters>
            <field>VCC_Case_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Admin_Record_TypeID.DeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VCC_Queue_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification_ID</name>
        <label>Get Custom Notification ID</label>
        <locationX>397</locationX>
        <locationY>864</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Notifications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCC_Pharmacy_Consultation_Reminder</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCase2</name>
        <label>GetCase</label>
        <locationX>395</locationX>
        <locationY>378</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Closed_or_Owner_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>QueueID2</name>
        <label>QueueID2</label>
        <locationX>398</locationX>
        <locationY>760</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Notification_ID</targetReference>
        </connector>
        <filterLogic>(1 AND 2)</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Custom_Metadata.VCC_Queue_Developer_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>269</locationX>
        <locationY>37</locationY>
        <connector>
            <targetReference>GetCase2</targetReference>
        </connector>
        <filterFormula>(ISPICKVAL({!$Record.VCC_Follow_Up_Appt_Needed__c}, &quot;Within 24 Hrs&quot;) /*1*/
||
ISPICKVAL({!$Record.VCC_Follow_Up_Appt_Needed__c}, &quot;Within 24-72 Hrs&quot;) /*2*/
||
{!$Record.VCC_Pharmacy_Consultation_Needed__c} = TRUE /*3*/
||
ISCHANGED({!$Record.RecordType.Id}) = TRUE /*4*/
||
ISPICKVAL({!$Record.VCC_Case_Type__c}, &quot;Pharmacy&quot;) /*5*/
||
(ISNULL({!$Record.Subject}) = TRUE /*7*/ 
&amp;&amp;
(ISPICKVAL({!$Record.VCC_Case_Type__c}, &quot;Administrative&quot;) /*6*/
||
ISPICKVAL( {!$Record.VCC_Case_Type__c}, &quot;Symptom&quot;))) /*8*/
||
ISPICKVAL({!$Record.VCC_Case_Sub_Type__c}, &quot;Triage&quot;)) /*9*/
&amp;&amp;
!{!$Permission.DisableTriggersFlag} /*Not numbered because it wasn&apos;t in the original code*/

/*1 OR 2 OR 3 OR 4 OR 5 OR (7 AND (6 OR 8)) OR 9*/</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varApptReminderRecipient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GetCase2.OwnerId</elementReference>
        </value>
    </variables>
    <variables>
        <name>varNotificationRecipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the User.Division value for the logged in User</description>
        <name>varUserDivision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
