force-app/main/default/flows/VCC_PACT_Data_Table.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_requestJSON</name>
        <label>Generate requestJSON</label>
        <locationX>1018</locationX>
        <locationY>566</locationY>
        <actionName>VCC_PACTSerializeRequestToJSON</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>HttpRequest</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputSObject</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>HandleFault1</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>application_id</name>
            <value>
                <stringValue>MULE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>icn</name>
            <value>
                <elementReference>PersonAccount.MVI_External_Id__pc</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputSObject</name>
            <value>
                <elementReference>PersonAccount</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VCC_PACTSerializeRequestToJSON</nameSegment>
        <outputParameters>
            <assignToReference>requestJSON</assignToReference>
            <name>serializedSObjectString</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Handle_Fault_3</name>
        <label>Handle Fault 3</label>
        <locationX>754</locationX>
        <locationY>674</locationY>
        <actionName>Log</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>PACT_Datatable</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed Get Records: &quot;Training Data&quot;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Log</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>HandleFault0</name>
        <label>Handle Fault 0</label>
        <locationX>1810</locationX>
        <locationY>350</locationY>
        <actionName>Log</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed Get Records: &quot;Person Account&quot;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Log</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>HandleFault1</name>
        <label>Handle Fault 1</label>
        <locationX>1546</locationX>
        <locationY>674</locationY>
        <actionName>Log</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed Apex Action: &quot;requestJSON&quot;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Log</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>HandleFault2</name>
        <label>Handle Fault 2</label>
        <locationX>1282</locationX>
        <locationY>782</locationY>
        <actionName>Log</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Failed Apex Action: &quot;HttpRequest&quot;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Log</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>HttpRequest</name>
        <label>HttpRequest</label>
        <locationX>1018</locationX>
        <locationY>674</locationY>
        <actionName>VCC_HttpRequestAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>PACT_Datatable</targetReference>
        </connector>
        <faultConnector>
            <targetReference>HandleFault2</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>endPoint</name>
            <value>
                <stringValue>VCC_pcmm_pact_sys_api</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>path</name>
            <value>
                <stringValue>api/v1/patient/summary/get</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestJSON</name>
            <value>
                <elementReference>requestJSON</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VCC_HttpRequestAction</nameSegment>
        <outputParameters>
            <assignToReference>responseJSON</assignToReference>
            <name>responseJSON</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Training_Data</name>
        <label>Assign Training Data</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>responseJSON</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Training_Data.Data__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PACT_Datatable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Training_Data</name>
        <label>Check Training Data</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>PACT_Datatable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Training_Data</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Training_Data.Data__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Training_Data.Data__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Training_Data</targetReference>
            </connector>
            <label>Has Training Data</label>
        </rules>
    </decisions>
    <decisions>
        <name>MVI_External_Id_null</name>
        <label>MVI External Id</label>
        <locationX>391</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Test_Training_Mode</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isNull</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>PersonAccount.MVI_External_Id__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>$GlobalConstant.True</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PersonAccount.MVI_External_Id__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_PACT</targetReference>
            </connector>
            <label>isNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Test_Training_Mode</name>
        <label>Training Mode?</label>
        <locationX>732</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Generate_requestJSON</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.VCC_Enable_Training_Mode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Training_Data</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Release:1.18.0 CCCM-39386 Swaping  MPI External ID field
Replaced vccPact LWC with vccPactV2 lwc. Updated to Auto-Layout</description>
    <environments>Default</environments>
    <interviewLabel>VCC PACT Data Table {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VCC PACT Data Table</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Org_Settings_Mdt</name>
        <label>Org Settings Mdt</label>
        <locationX>391</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PersonAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PERF</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VCC_Org_Settings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PersonAccount</name>
        <label>PersonAccount</label>
        <locationX>391</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MVI_External_Id_null</targetReference>
        </connector>
        <faultConnector>
            <targetReference>HandleFault0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Training_Data</name>
        <label>Training Data</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Training_Data</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Fault_3</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PACT</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VCC_Training_Mode_Data__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Data__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>No_PACT</name>
        <label>No PACT</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_PACT_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>No_PACT_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>No_PACT_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayText</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;No information to display.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>No_PACT_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PACT_Datatable</name>
        <label>PACT Datatable</label>
        <locationX>732</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>vccPactV2</name>
            <extensionName>c:vccPactV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>enableAddSigners</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>responseJSON</name>
                <value>
                    <elementReference>responseJSON</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>265</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Org_Settings_Mdt</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ColumnTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requestJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{ &quot;icn&quot; : &quot;1013060957V646684&quot;, &quot;application_id&quot; : &quot;&quot; }</stringValue>
        </value>
    </variables>
    <variables>
        <name>responseJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
