sfdx-source/main/default/flows/PC_Create_Service_Resource.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <constants>
        <name>var_lineBreak</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;br&gt;&lt;/br&gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>DisableTriggers_Decision</name>
        <label>DisableTriggers - Decision</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.DisableTriggersFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>varScreen_Create_Service_Resource</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <name>match</name>
        <label>match?</label>
        <locationX>396</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Loop_through_all_SRs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>match_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_all_SRs.RelatedRecordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_Service_Resource_Lookup.recordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Unable_to_create_Service_Resource</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>var_ServiceResource_SpecialtyChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>PC_Assigned_Specialty__c</picklistField>
        <picklistObject>ServiceResource</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Provider Connect - Create Service Resource {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Provider Connect - Create Service Resource</label>
    <loops>
        <name>Loop_through_all_SRs</name>
        <label>Loop through all SRs</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <collectionReference>var_ListofAllServiceResources</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>varScreen_ConfirmServiceProvider</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>PC_Create_Service_Resource</name>
        <label>Create Service Resource</label>
        <locationX>176</locationX>
        <locationY>1430</locationY>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>var_NameTxt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Assigned_Specialty__c</field>
            <value>
                <elementReference>var_SpecialtyPicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>var_ServiceResourceRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>var_Service_Resource_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_all_Service_Resource_Records</name>
        <label>Get all Service Resource Records</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_Resource_Record_Type</targetReference>
        </connector>
        <object>ServiceResource</object>
        <outputReference>var_ListofAllServiceResources</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>RelatedRecordId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_all_Service_Resource_User_s_Assigned_Specialty</name>
        <label>Get all Service Resource User&apos;s Assigned Specialty</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_Service_Resource_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Service_Resource_Lookup.recordId</elementReference>
            </value>
        </filters>
        <object>ServiceResource</object>
        <outputReference>varCollection_ServiceResource</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PC_Assigned_Specialty__c</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>ResourceType</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource_Record_Type</name>
        <label>Get Service Resource Record Type</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_all_SRs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ServiceResource</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PC_Resource</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>var_ServiceResourceRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Copy_1_of_Unable_to_create_Service_Resource</name>
        <label>Copy 1 of Unable to create Service Resource</label>
        <locationX>264</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_var_ErrorDupe</name>
            <fieldText
            >&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;We are unable to create a Service Resource as there is already a record for &lt;/strong&gt;&lt;strong
                style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!var_Service_Resource_Lookup.recordName}&lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;. Please
                contact your administrator for further assistance.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>varScreen_ConfirmServiceProvider</name>
        <label>Confirm Service Provider</label>
        <locationX>176</locationX>
        <locationY>1310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>PC_Create_Service_Resource</targetReference>
        </connector>
        <fields>
            <name>var_ConfirmationScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;You are adding the specialty &lt;strong&gt;{!var_SpecialtyPicklist}&lt;/strong&gt; to
                &lt;strong&gt;{!var_Service_Resource_Lookup.recordName}&lt;/strong&gt;, please click &quot;Next&quot; to continue and complete this form.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>varScreen_Create_Service_Resource</name>
        <label>Create New Service Resource</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_all_Service_Resource_User_s_Assigned_Specialty</targetReference>
        </connector>
        <fields>
            <name>var_NameTxt</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>var_Service_Resource_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>RelatedRecordId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ServiceResource</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>var_SpecialtyPicklist</name>
            <choiceReferences>var_ServiceResource_SpecialtyChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Specialty</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>varScreen_Create_Service_Resource</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>var_finalListUserSpecialty</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!var_DisplayCurSpecialties}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>varTT_listOfServiceResourceUsers</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!var_lineBreak}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>var_AllServResourceUserID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_DisplayCurSpecialties</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ListofAllServiceResources</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>var_ServiceResourceRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_textt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCollection_ServiceResource</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
</Flow>
