sfdx-source/main/default/flows/PC_Case_Before_CreateUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <description>Check if the case was just created or if this is an update to an existing case</description>
        <name>Is_Case_New</name>
        <label>Is Case New?</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Get_FLP_s_PrC_User_detail_record_for_Current_Location_Existing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_FLP_s_PrC_User_detail_record</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <description>Holds trigger logic for the PrC Case object that should run in the Before context of Create and Update</description>
    <environments>Default</environments>
    <formulas>
        <description>Returns true if the record is new</description>
        <name>RecordIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>PrC Case Before CreateUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PrC Case Before CreateUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Grabs the PrC User detail record of the FLP who created the case. Pushes returned record&apos;s field values into variables so that if no PrC User detail record exists, the fields can just gracefully remain empty.</description>
        <name>Get_FLP_s_PrC_User_detail_record</name>
        <label>Get FLP&apos;s PrC User detail record for Current_Location</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Fields_on_New_Case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Fields_on_New_Case</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <object>PC_User__c</object>
        <outputAssignments>
            <assignToReference>FLP_Location_Id</assignToReference>
            <field>Current_Location__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Grabs the PrC User detail record of the FLP who created the case. Pushes returned record&apos;s field values into variables so that if no PrC User detail record exists, the fields can just gracefully remain empty.</description>
        <name>Get_FLP_s_PrC_User_detail_record_for_Current_Location_Existing</name>
        <label>Get FLP&apos;s PrC User detail record for Current_Location (Existing)</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Fields_on_Existing_Case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Fields_on_Existing_Case</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </filters>
        <object>PC_User__c</object>
        <outputAssignments>
            <assignToReference>FLP_Location_Id</assignToReference>
            <field>Current_Location__c</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <description>Applies all the field updates that should be performed on an existing PrC Case.</description>
        <name>Update_Fields_on_Existing_Case</name>
        <label>Update Fields on Existing Case</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>FLP_Location__c</field>
            <value>
                <elementReference>FLP_Location_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Specialist_Location__c</field>
            <value>
                <elementReference>$Record.Assigned_Specialist__r.PC_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Applies all the field updates that should be performed on a new PrC Case</description>
        <name>Update_Fields_on_New_Case</name>
        <label>Update Fields on New Case</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>FLP_Location__c</field>
            <value>
                <elementReference>FLP_Location_Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Case_New</targetReference>
        </connector>
        <filterFormula>NOT( {!$Permission.DisableTriggersFlag} )</filterFormula>
        <object>PC_Case__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>holds the FLP&apos;s location Id pulled from their respective PrC User detail record. We hold it in this variable so we can gracefully move forward in the scenario where the user has not yet created their PrC User detail record.</description>
        <name>FLP_Location_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.FLP_Location__c</elementReference>
        </value>
    </variables>
</Flow>
