sfdx-source/main/default/flows/PC_New_Specialist_Availability.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assignment_of_PS_Group_Id</name>
        <label>Assignment of PS Group Id</label>
        <locationX>732</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>psGroupIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_Permission_Set_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Permission_Set_Group</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Created</name>
        <label>Check for Created</label>
        <locationX>710</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Create_Specialist_Availability</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>createdId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_Record_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Created_1</name>
        <label>Check for Created 1</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Create_Specialist_Availability_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>createdId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_Record_Error1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Type</name>
        <label>Check User Type</label>
        <locationX>644</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Error_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permission_Set_Assignment.PermissionSetGroup.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PrC_Specialist_Manager_Users</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_PrC_Specialist_Availability_1</targetReference>
            </connector>
            <label>Manager</label>
        </rules>
        <rules>
            <name>Specialist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permission_Set_Assignment.PermissionSetGroup.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PrC_Specialist_Users</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Resource_Record</targetReference>
            </connector>
            <label>Specialist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>defaultEndTime</name>
        <dataType>DateTime</dataType>
        <expression>{!Start} + (1/3)</expression>
    </formulas>
    <formulas>
        <name>serviceAvailabilityName</name>
        <dataType>String</dataType>
        <expression>{!$User.LastName} &amp; &apos; &apos; &amp; {!$User.FirstName} &amp; &apos;_&apos; &amp; TEXT(DATEVALUE({!Start})) &amp; &apos;-&apos; &amp;
            TEXT(DATEVALUE({!End}))</expression>
    </formulas>
    <formulas>
        <name>serviceAvailabilityName2</name>
        <dataType>String</dataType>
        <expression>{!$User.LastName} &amp; &apos; &apos; &amp; {!$User.FirstName} &amp; &apos; &apos; &amp; TEXT({!week_End_Date})</expression>
    </formulas>
    <interviewLabel>PC New Specialist Availability {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PC New Specialist Availability</label>
    <loops>
        <name>Iterate_over_Permission_Set_Group</name>
        <label>Iterate over Permission Set Group</label>
        <locationX>644</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Permission_Set_Group</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_of_PS_Group_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Permission_Set_Assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Specialist_Availability</name>
        <label>Create Specialist Availability</label>
        <locationX>842</locationX>
        <locationY>1190</locationY>
        <assignRecordIdToReference>specialistAvailabilityId</assignRecordIdToReference>
        <connector>
            <targetReference>Record_Created_Message</targetReference>
        </connector>
        <inputAssignments>
            <field>PC_Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_End__c</field>
            <value>
                <elementReference>End</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Service_Resource__c</field>
            <value>
                <elementReference>serviceResource.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Specialist_Availability_Name__c</field>
            <value>
                <elementReference>serviceAvailabilityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Start__c</field>
            <value>
                <elementReference>Start</elementReference>
            </value>
        </inputAssignments>
        <object>PC_Specialist_Availability__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Specialist_Availability_2</name>
        <label>Create Specialist Availability 2</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <assignRecordIdToReference>specialistAvailabilityId</assignRecordIdToReference>
        <connector>
            <targetReference>Record_Created_Message</targetReference>
        </connector>
        <inputAssignments>
            <field>PC_Description__c</field>
            <value>
                <elementReference>Description1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Service_Resource__c</field>
            <value>
                <elementReference>serviceResource1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Specialist_Availability_Name__c</field>
            <value>
                <elementReference>serviceAvailabilityName2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PC_Week_Ending_Date__c</field>
            <value>
                <elementReference>week_End_Date</elementReference>
            </value>
        </inputAssignments>
        <object>PC_Specialist_Availability__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Permission_Set_Assignment</name>
        <label>Get Permission Set Assignment</label>
        <locationX>644</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetGroupId</field>
            <operator>In</operator>
            <value>
                <elementReference>psGroupIdCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set_Group</name>
        <label>Get Permission Set Group</label>
        <locationX>644</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_Permission_Set_Group</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PrC_Specialist_Manager_Users</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PrC_Specialist_Users</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSetGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource_Record</name>
        <label>Get Service Resource Record</label>
        <locationX>710</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_PrC_Specialist_Availability</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Specialist_Availability</name>
        <label>Get Specialist Availability</label>
        <locationX>710</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PC_Specialist_Availability_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceAvailabilityName</elementReference>
            </value>
        </filters>
        <object>PC_Specialist_Availability__c</object>
        <outputAssignments>
            <assignToReference>createdId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Specialist_Availability_1</name>
        <label>Get Specialist Availability 1</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Created_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PC_Specialist_Availability_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceAvailabilityName2</elementReference>
            </value>
        </filters>
        <object>PC_Specialist_Availability__c</object>
        <outputAssignments>
            <assignToReference>createdId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Created_Record_Error</name>
        <label>Created Record Error</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>New_PrC_Specialist_Availability</targetReference>
        </connector>
        <fields>
            <name>createdErrorMessage</name>
            <fieldText
            >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(211, 23, 23); font-size: 14px;&quot;&gt;PrC Specialist Availability record already
                created with name : &lt;/span&gt;&lt;span style=&quot;color: rgb(211, 23, 23);&quot;&gt;{!serviceAvailabilityName} &lt;/span&gt;&lt;span style=&quot;color: rgb(211,
                23, 23); font-size: 14px;&quot;&gt;!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Created_Record_Error1</name>
        <label>Created Record Error</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>New_PrC_Specialist_Availability_1</targetReference>
        </connector>
        <fields>
            <name>createdErrorMessage1</name>
            <fieldText
            >&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(211, 23, 23);&quot;&gt;PrC Specialist Availability record already
                created with name : &lt;/span&gt;&lt;span style=&quot;color: rgb(211, 23, 23);&quot;&gt;{!serviceAvailabilityName2}&lt;/span&gt;&lt;span style=&quot;font-size:
                14px; color: rgb(211, 23, 23);&quot;&gt;!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(234, 1, 1); font-size: 14px;&quot;&gt;ERROR: User not authorized to create New
                Specialist Availability!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;/lightning/o/PC_Specialist_Availability__c/list&quot;
                rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click Here&lt;/a&gt; to go back&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_PrC_Specialist_Availability</name>
        <label>New PrC Specialist Availability</label>
        <locationX>710</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Specialist_Availability</targetReference>
        </connector>
        <fields>
            <name>serviceResource</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>PC_Service_Resource__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Service Resource</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>PC_Specialist_Availability__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Service_Resource_Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description (Optional)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Give this availability a description that will help you remember why you created it. (e.g. My typical week.)&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_PrC_Specialist_Availability_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_PrC_Specialist_Availability_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Start</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Start</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_PrC_Specialist_Availability_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>End</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>defaultEndTime</elementReference>
                    </defaultValue>
                    <fieldText>End</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_PrC_Specialist_Availability_1</name>
        <label>New PrC Specialist Availability 1</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Specialist_Availability_1</targetReference>
        </connector>
        <fields>
            <name>serviceResource1</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>PC_Service_Resource__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Service Resource</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>PC_Specialist_Availability__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>week_End_Date</name>
            <dataType>Date</dataType>
            <fieldText>Week End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description1</name>
            <dataType>String</dataType>
            <fieldText>Description (Optional)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Give this availability a description that will help you remember why you created it. (e.g. My typical week.)&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Created_Message</name>
        <label>Record Created Message</label>
        <locationX>644</locationX>
        <locationY>1532</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>successMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(46, 186, 44);&quot;&gt;PrC Specialist Availability created
                successfully!&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a
                href=&quot;/lightning/r/ServiceResource/{!specialistAvailabilityId}/view&quot; rel=&quot;noopener noreferrer&quot;
                target=&quot;_blank&quot;&gt;{!specialistAvailabilityId}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Permission_Set_Group</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>createdId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>psGroupIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>specialistAvailabilityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
