sfdx-source/main/default/flows/PC_Scheduled_populate_location_VISN.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Adds logger in case of a failure to create a new VISN</description>
        <name>Failed_To_Create_New_VISN</name>
        <label>Failed To Create New VISN</label>
        <locationX>528</locationX>
        <locationY>576</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>Create_new_VISN</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Adds a fault log if there is a failure to get the VISN record</description>
        <name>Failed_To_Get_VISN_Record</name>
        <label>Failed To Get VISN Record</label>
        <locationX>1056</locationX>
        <locationY>360</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>Get_VISN_record.VISN_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Adds logger if there is a failure to set the VISN on a location record</description>
        <name>Failed_To_Set_VISN_on_Location_Record</name>
        <label>Failed To Set VISN on Location Record</label>
        <locationX>792</locationX>
        <locationY>1008</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>Set_VISN_on_location_record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>VISN_record_found</name>
        <label>VISN record found?</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Create_new_VISN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record was not found</defaultConnectorLabel>
        <rules>
            <name>Record_was_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_VISN_record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_VISN_on_location_record</targetReference>
            </connector>
            <label>Record was found</label>
        </rules>
    </decisions>
    <description>Populate the VISN on the Location. If the VISN is not in the system - create a new record.</description>
    <environments>Default</environments>
    <formulas>
        <name>genVisnName</name>
        <dataType>String</dataType>
        <expression>&quot;VISN &quot;&amp;TEXT({!$Record.VAF_VISN__c})</expression>
    </formulas>
    <formulas>
        <name>getVisnID</name>
        <dataType>String</dataType>
        <expression>IF(
ISNULL({!Get_VISN_record.Id}), {!newVisnID}, {!Get_VISN_record.Id})</expression>
    </formulas>
    <interviewLabel>PC Scheduled populate location VISN {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PC Scheduled populate location VISN</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a new VISN record</description>
        <name>Create_new_VISN</name>
        <label>Create new VISN</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignRecordIdToReference>newVisnID</assignRecordIdToReference>
        <connector>
            <targetReference>Set_VISN_on_location_record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failed_To_Create_New_VISN</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>genVisnName</elementReference>
            </value>
        </inputAssignments>
        <object>VISN__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_VISN_record</name>
        <label>Get VISN record</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VISN_record_found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failed_To_Get_VISN_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VISN_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.VAF_VISN__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VISN__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Sets the VISN on the location record</description>
        <name>Set_VISN_on_location_record</name>
        <label>Set VISN on location record</label>
        <locationX>176</locationX>
        <locationY>900</locationY>
        <faultConnector>
            <targetReference>Failed_To_Set_VISN_on_Location_Record</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>VISN_Lookup__c</field>
            <value>
                <elementReference>getVisnID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_VISN_record</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (2 AND 3)</filterLogic>
        <filters>
            <field>VISN_Lookup__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VAF_VISN__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Location_VISN_changed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Location</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-12-08</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>newVisnID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
