sfdx-source/main/default/flows/TUC_Case_Stage_Total_Time_Set.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Save_Total_Time_in_MP_Encounter</name>
        <label>Save Total Time in MP Encounter</label>
        <locationX>951</locationX>
        <locationY>618</locationY>
        <assignmentItems>
            <assignToReference>$Record.TED_Total_Time_in_MP_Encounter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.TED_Time_Spent_in_MP_Encounter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TUC_Status_Change_Time_Holder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Sets the Total time value by using the Time spent in new to finishing the counting</description>
        <name>Save_Total_Time_in_New</name>
        <label>Save Total Time in New</label>
        <locationX>373</locationX>
        <locationY>615</locationY>
        <assignmentItems>
            <assignToReference>$Record.TUC_Total_Time_in_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.TUC_Time_Spent_in_New__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TUC_Status_Change_Time_Holder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Save_Total_Time_in_Nurse_Encounter</name>
        <label>Save Total Time in Nurse Encounter</label>
        <locationX>594</locationX>
        <locationY>615</locationY>
        <assignmentItems>
            <assignToReference>$Record.TED_Total_Time_in_Nurse_Encounter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.TED_Time_Spent_in_Nurse_Encounter__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TUC_Status_Change_Time_Holder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SaveStatusTimeHolderforPCB</name>
        <label>SaveStatusTimeHolderforPCB</label>
        <locationX>491</locationX>
        <locationY>574</locationY>
        <assignmentItems>
            <assignToReference>$Record.TUC_Status_Change_Time_Holder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TUC_Total_Time_in_Patient_Call_Back__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.TUC_Time_Spent_in_Patient_Call_Back__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Stave_Total_Time_in_Ready_for_MP</name>
        <label>Stave Total Time in Ready for MP</label>
        <locationX>807</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>$Record.TED_Total_Time_in_Ready_for_MP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.TED_Time_Spent_in_Ready_for_MP__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TUC_Status_Change_Time_Holder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Which_Stage</name>
        <label>Which Stage</label>
        <locationX>694</locationX>
        <locationY>309</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WasNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Total_Time_in_New</targetReference>
            </connector>
            <label>WasNew</label>
        </rules>
        <rules>
            <name>WasNurseEncounter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TED Nurse Encounter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Total_Time_in_Nurse_Encounter</targetReference>
            </connector>
            <label>WasNurseEncounter</label>
        </rules>
        <rules>
            <name>WasReadyforMP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for MP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stave_Total_Time_in_Ready_for_MP</targetReference>
            </connector>
            <label>WasReadyforMP</label>
        </rules>
        <rules>
            <name>WasTotalTimeinMPEncounter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TED MP Encounter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Total_Time_in_MP_Encounter</targetReference>
            </connector>
            <label>WasTotalTimeinMPEncounter</label>
        </rules>
        <rules>
            <name>WasPatientCallBack</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Patient Call Back</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SaveStatusTimeHolderforPCB</targetReference>
            </connector>
            <label>WasPatientCallBack</label>
        </rules>
    </decisions>
    <description>Flow for Tracking Time Spent in the different status V.3 Change to Case Status &quot;Ready for MP&quot; V.4 update to ver 55</description>
    <environments>Default</environments>
    <interviewLabel>TUC Case Stage Total Time Set {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TUC Case Stage Total Time Set</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>575</locationX>
        <locationY>34</locationY>
        <connector>
            <targetReference>Which_Stage</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
