sfdx-source/main/default/flows/VCC_DAS_Sign_Integrate_VCC_Progress_Note_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Dummy apex action to force the DML operation to update the Progress Note record from the Write Note and Sign subflow so we can reference the updated field on the Progress Note.</description>
        <name>Dummy_Action</name>
        <label>Dummy Action</label>
        <locationX>286</locationX>
        <locationY>566</locationY>
        <actionName>VCC_CommitFlowTransaction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Updated_Progress_Note_for_DAS_Last_Error_Code_Field</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <nameSegment>VCC_CommitFlowTransaction</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <description>Assigns itemId in varNoteAndEncounterParameters to the value in the write note and sign apex action result.</description>
        <name>Assign_itemId_in_varNoteAndEncounterParameters</name>
        <label>Assign itemId in varNoteAndEncounterParameters</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>varNoteAndEncounterParameters.itemId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Write_Note_And_Sign.noteOrAddendumIen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Resume_Consolidated_Endpoint_After_Write_Note_And_Sign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigning a value to the variable from the Write Note and Sign results</description>
        <name>Assign_systemModifiedOutputToVista</name>
        <label>Assign systemModifiedOutputToVista</label>
        <locationX>286</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>systemModifiedOutputToVista</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Write_Note_And_Sign.systemModifiedOutputToVista</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>saveNoteEncounterSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Write_Note_And_Sign.saveNoteEncounterSuccess</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>encounterString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Write_Note_And_Sign.encounterString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_Write_Note_And_Sign_Successful</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set eSig in preparation for signing the note. Also, clear the signature code error.</description>
        <name>Assignment_After_Review_Sign</name>
        <label>Assignment After Review &amp; Sign</label>
        <locationX>1466</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varPatientAndProviderParameters.eSig</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Review_and_Sign.varSignatureCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSignatureCodeError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IntegrationStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting the signature code error variable</description>
        <name>Copy_1_of_Copy_1_of_Set_Signature_Code_Error</name>
        <label>Set Signature Code Error</label>
        <locationX>864</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>varSignatureCodeError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.VCC_Sign_Note_Flow_Invalid_eSig</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_saveNoteEncounterSuccess_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting the saveNoteEncounterSuccess variable.</description>
        <name>Set_saveNoteEncounterSuccess_Variable</name>
        <label>Set saveNoteEncounterSuccess Variable</label>
        <locationX>864</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>saveNoteEncounterSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>saveNoteEncounterSuccess</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>encounterString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>encounterString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Review_and_Sign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting the variables from the Code Set Assignment subflow</description>
        <name>Set_Variables_After_CodeSet_Assignment_Subflow</name>
        <label>Set Variables After CodeSet Assignment Subflow</label>
        <locationX>1128</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>varNoteAndEncounterParameters.primaryDiagnosis.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varUsePrimaryDiagnosisId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNoteAndEncounterParameters.secondaryDiagnosis.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varUseSecondaryDiagnosisId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNoteAndEncounterParameters.procedureCode.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varUseCPTCodeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Write_Note_And_Sign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting the variables to null prior to the code set assignment subflow</description>
        <name>Set_Variables_Before_CodeSet_Assignment_Subflow</name>
        <label>Set Variables Before CodeSet Assignment Subflow</label>
        <locationX>1128</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>varNoteAndEncounterParameters.primaryDiagnosis.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNoteAndEncounterParameters.secondaryDiagnosis.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNoteAndEncounterParameters.procedureCode.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNoteAndEncounterParameters.encounterString</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Code_Assignment_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Setting Signed to True since the signature was successful</description>
        <name>Set_VCC_Signed_c_to_true</name>
        <label>Set VCC_Signed__c to &apos;true&apos;</label>
        <locationX>1466</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>varProgressNoteRecord.VCC_Signed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_this_a_Pharmacy_PN</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checking if the Progress Note is partially integrated or not. If so, we will attempt to pick up from the prior failure with the Resume Consolidated endpoint subflow</description>
        <name>IntegrationStatus</name>
        <label>Integration Status?</label>
        <locationX>1466</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Resume_Consolidated_Endpoint_Partially_Integrated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Partially Integrated</defaultConnectorLabel>
        <rules>
            <name>Not_Integrated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProgressNoteRecord.VCC_itemId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProgressNoteRecord.VCC_itemId__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Write_Note_And_Sign</targetReference>
            </connector>
            <label>Not Integrated</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determining if this is a Pharmacy Progress Note</description>
        <name>Is_this_a_Pharmacy_PN</name>
        <label>Is this a Pharmacy PN?</label>
        <locationX>1466</locationX>
        <locationY>2846</locationY>
        <defaultConnector>
            <targetReference>Signed_Successfully_Progress_Note</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_this_a_Pharmacy_PN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProgressNoteRecord.RecordType.DeveloperName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>VCC_Tier_I</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProgressNoteRecord.VCC_Case__r.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Future Renewal Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VCC_Sign_Note_Subflow_FRR_Flow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determining how to handle the failure</description>
        <name>Resume_Partial_Integration_Error_Handle</name>
        <label>What now? (Resume Partially Integrated)</label>
        <locationX>3108</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Display_Error_Default_Outcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Revalidate_e_Signature_What_now_Partial_Integration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Resume_Consolidated_Endpoint_After_Write_Note_And_Sign.faultFlag_RevalidateEsig</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Copy_1_of_Copy_1_of_Set_Signature_Code_Error</targetReference>
            </connector>
            <label>Revalidate e-Signature</label>
        </rules>
        <rules>
            <name>Display_Error_What_now_Partial_Integration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Resume_Consolidated_Endpoint_After_Write_Note_And_Sign.faultFlag_DisplayFlowError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DisplayErrorPartialIntegration</targetReference>
            </connector>
            <label>Display Error</label>
        </rules>
        <rules>
            <name>Apex_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Resume_Consolidated_Endpoint_Partially_Integrated.faultMessage</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>An Apex error occurred</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Error_Apex_Error</targetReference>
            </connector>
            <label>Apex Error</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determining if the action was successful</description>
        <name>Was_Resume_Partial_Integration_Success</name>
        <label>Was Resume Partially Integrated A Success?</label>
        <locationX>2646</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Resume_Partial_Integration_Error_Handle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>👎</defaultConnectorLabel>
        <rules>
            <name>Outcome_Resume_Partial_Integration_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Resume_Consolidated_Endpoint_Partially_Integrated.faultOccurred</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Progress_Note_Partially_Integrated</targetReference>
            </connector>
            <label>👍</label>
        </rules>
    </decisions>
    <decisions>
        <description>Was Write Note And Sign A Success?</description>
        <name>Was_Write_Note_And_Sign_Successful</name>
        <label>Was Write Note And Sign Successful?</label>
        <locationX>286</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Write_Note_And_Sign_Error_Handle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>👎</defaultConnectorLabel>
        <rules>
            <name>Yes_Was_Write_Note_And_Sign_Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Write_Note_And_Sign.faultOccurred</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Progress_Note_created_in_CPRS</targetReference>
            </connector>
            <label>👍</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determining if the action was successful</description>
        <name>WasResumeAfterWriteSuccessful</name>
        <label>Was Resume After Write Successful?</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Progress_Note</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>👎</defaultConnectorLabel>
        <rules>
            <name>ResumeAfterWriteSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Resume_Consolidated_Endpoint_After_Write_Note_And_Sign.faultOccurred</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Progress_Note_created_in_CPRS</targetReference>
            </connector>
            <label>👍</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determining which error to display</description>
        <name>WhatNowResumeAfterWrite</name>
        <label>What Now? (Resume After Write)</label>
        <locationX>204</locationX>
        <locationY>1538</locationY>
        <defaultConnector>
            <targetReference>Display_Error_Default_Outcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Display_Error_What_was_the_result_of_Resume_Progress_Note</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Resume_Consolidated_Endpoint_After_Write_Note_And_Sign.faultFlag_DisplayFlowError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Resume_Error</targetReference>
            </connector>
            <label>Display Error</label>
        </rules>
    </decisions>
    <decisions>
        <description>Handle write note and sign flow error</description>
        <name>Write_Note_And_Sign_Error_Handle</name>
        <label>What now? (Write Note &amp; Sign)</label>
        <locationX>853</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Display_Error_Default_Outcome</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Resume_Consolidated_Endpoint_WriteNoteAndSign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Write_Note_And_Sign.faultFlag_ResumeConsolidatedEndpoint</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_itemId_in_varNoteAndEncounterParameters</targetReference>
            </connector>
            <label>Try Resuming</label>
        </rules>
        <rules>
            <name>Revalidate_e_Signature_WriteNoteAndSign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Write_Note_And_Sign.faultFlag_RevalidateEsig</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Set_Signature_Code_Error</targetReference>
            </connector>
            <label>Revalidate e-Signature</label>
        </rules>
        <rules>
            <name>Launch_Code_Assignment_Subflow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Write_Note_And_Sign.faultFlag_CodeAssignmentSubflow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Variables_Before_CodeSet_Assignment_Subflow</targetReference>
            </connector>
            <label>Launch Code Assignment Subflow</label>
        </rules>
        <rules>
            <name>Display_Error_WriteNoteAndSign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Write_Note_And_Sign.faultFlag_DisplayFlowError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Write_Note_And_Sign_Display_Error</targetReference>
            </connector>
            <label>Display Error</label>
        </rules>
    </decisions>
    <description>This flow integrates an Progress Note with VistA via the DAS API.

Release 1.16.0 - CCCM-31263
Release 1.17.1 - CCCM-41413 - Corrected Duplicate Encounters and Removed Retry Logic</description>
    <environments>Default</environments>
    <formulas>
        <description>Checks to see if user is a pharmacy user to control visibility for new progress note button</description>
        <name>formulaCheckForPharmUser</name>
        <dataType>Boolean</dataType>
        <expression>({!$Permission.VCC_Pharmacy_Tier_I} || {!$Permission.VCC_Pharmacy_Tier_II} || {!$Permission.VCC_Pharmacy_Tier_III})</expression>
    </formulas>
    <formulas>
        <description>Current User First and Last Name</description>
        <name>formulaCurrentUserName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} + &quot; &quot; + {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <description>Is true if the patient has duplicate records</description>
        <name>formulaHasDuplicateRecords</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISBLANK({!varVisnNumberWithDuplicates}) || ISNULL({!varVisnNumberWithDuplicates}), false, true)</expression>
    </formulas>
    <interviewLabel>VCC DAS Sign &amp; Integrate VCC_Progress_Note__c {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VCC DAS Sign &amp; Integrate VCC_Progress_Note__c</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Getting the DAS Last Error Code field value from the Progress Note.</description>
        <name>Get_Updated_Progress_Note_for_DAS_Last_Error_Code_Field</name>
        <label>Get Updated Progress Note for DAS Last Error Code Field</label>
        <locationX>286</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_systemModifiedOutputToVista</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VCC_Progress_Note__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>VCC_DasLastErrorCode__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updating the Progress Note Record</description>
        <name>Copy_1_of_Update_Progress_Note</name>
        <label>Copy 1 of Update Progress Note</label>
        <locationX>204</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>WhatNowResumeAfterWrite</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Display_Flow_Error_DML</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProgressNoteRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VCC_CRM_System_Modified_Output_To_VistA__c</field>
            <value>
                <elementReference>systemModifiedOutputToVista</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Primary_Diagnosis_Code__c</field>
            <value>
                <elementReference>varNoteAndEncounterParameters.primaryDiagnosis.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Procedure_Code__c</field>
            <value>
                <elementReference>varNoteAndEncounterParameters.procedureCode.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Progress_Note_Title_IEN__c</field>
            <value>
                <elementReference>varNoteAndEncounterParameters.noteAndEncounterNoteTitleIen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Secondary_Diagnosis_Code__c</field>
            <value>
                <elementReference>varNoteAndEncounterParameters.secondaryDiagnosis.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_encounterString__c</field>
            <value>
                <elementReference>Write_Note_And_Sign.encounterString</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_itemId__c</field>
            <value>
                <elementReference>Write_Note_And_Sign.noteOrAddendumIen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_localPid__c</field>
            <value>
                <elementReference>varPatientAndProviderParameters.patientLocalPid</elementReference>
            </value>
        </inputAssignments>
        <object>VCC_Progress_Note__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updating the Progress Note record</description>
        <name>Update_Progress_Note</name>
        <label>Update Progress Note</label>
        <locationX>286</locationX>
        <locationY>2306</locationY>
        <connector>
            <targetReference>Set_VCC_Signed_c_to_true</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Flow_Error_DML</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProgressNoteRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VCC_CRM_System_Modified_Output_To_VistA__c</field>
            <value>
                <elementReference>systemModifiedOutputToVista</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Electronic_Signature__c</field>
            <value>
                <elementReference>formulaCurrentUserName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Primary_Diagnosis_Code__c</field>
            <value>
                <elementReference>varNoteAndEncounterParameters.primaryDiagnosis.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Procedure_Code__c</field>
            <value>
                <elementReference>varNoteAndEncounterParameters.procedureCode.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Progress_Note_Title_IEN__c</field>
            <value>
                <elementReference>varNoteAndEncounterParameters.noteAndEncounterNoteTitleIen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Secondary_Diagnosis_Code__c</field>
            <value>
                <elementReference>varNoteAndEncounterParameters.secondaryDiagnosis.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Signature_Code__c</field>
            <value>
                <elementReference>Review_and_Sign.varSignatureCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Signed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Signing_Error_Message__c</field>
            <value>
                <stringValue />
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_encounterString__c</field>
            <value>
                <elementReference>Write_Note_And_Sign.encounterString</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_itemId__c</field>
            <value>
                <elementReference>Write_Note_And_Sign.noteOrAddendumIen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_localPid__c</field>
            <value>
                <elementReference>varPatientAndProviderParameters.patientLocalPid</elementReference>
            </value>
        </inputAssignments>
        <object>VCC_Progress_Note__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updating the Progress Note record</description>
        <name>Update_Progress_Note_Partially_Integrated</name>
        <label>Update Progress Note</label>
        <locationX>2184</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Set_VCC_Signed_c_to_true</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Display_Flow_Error_DML</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProgressNoteRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VCC_Electronic_Signature__c</field>
            <value>
                <elementReference>formulaCurrentUserName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Signature_Code__c</field>
            <value>
                <elementReference>Review_and_Sign.varSignatureCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Signed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Signing_Error_Message__c</field>
            <value>
                <stringValue />
            </value>
        </inputAssignments>
        <object>VCC_Progress_Note__c</object>
    </recordUpdates>
    <screens>
        <description>Signature successful screen</description>
        <name>Signed_Successfully_Progress_Note</name>
        <label>Signed Successfully</label>
        <locationX>1598</locationX>
        <locationY>2954</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Progress_Note_Signed_Successfully</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(2, 126, 70); background-color: rgb(255, 255, 255);&quot;&gt;Progress Note signed successfully!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Progress_Note_Signed_Screen_Text</name>
            <fieldText>&lt;p&gt;{!Progress_Note_Signature_Fields}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Progress_Note_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Do you want to add another Progress Note to the Case?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>formulaCheckForPharmUser</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Progress_Note_Button</name>
            <extensionName>c:vccNewProgressNoteButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varNewProgressNoteButtonPressed</assignToReference>
                <name>buttonPress</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>formulaCheckForPharmUser</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1340</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Review_and_Sign</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Invoke VCC Sign Note Subflow Code Assignment</description>
        <name>Code_Assignment_Subflow</name>
        <label>Code Assignment Subflow</label>
        <locationX>1128</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Set_Variables_After_CodeSet_Assignment_Subflow</targetReference>
        </connector>
        <flowName>VCC_Sign_Note_Subflow_Code_Assignment</flowName>
        <inputAssignments>
            <name>Diagnosis_Error_Display</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>progressnoteConfig</name>
            <value>
                <elementReference>varProgressNoteConfiguration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>progressNoteVar</name>
            <value>
                <elementReference>varProgressNoteRecord</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varPatientVideoConsent</assignToReference>
            <name>patientVideoConsent</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varUseCPTCodeId</assignToReference>
            <name>UseCPTCodeId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varUsePrimaryDiagnosisId</assignToReference>
            <name>usePrimaryDiagnosisId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varUseSecondaryDiagnosisId</assignToReference>
            <name>useSecondaryDiagnosisId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varVirtualVisitType</assignToReference>
            <name>virtualVisitType</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Displaying the Apex Error</description>
        <name>Display_Error_Apex_Error</name>
        <label>Display Error</label>
        <locationX>3240</locationX>
        <locationY>782</locationY>
        <flowName>VCC_Flow_Error_Display</flowName>
        <inputAssignments>
            <name>SYSTEM_ERROR</name>
            <value>
                <elementReference>Resume_Consolidated_Endpoint_Partially_Integrated.faultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Invoke VCC Flow Error Display</description>
        <name>Display_Error_Default_Outcome</name>
        <label>Display Error (Default Outcome)</label>
        <locationX>336</locationX>
        <locationY>1646</locationY>
        <flowName>VCC_Flow_Error_Display</flowName>
        <inputAssignments>
            <name>SYSTEM_ERROR</name>
            <value>
                <stringValue>Unhandled exception in flow &quot;VCC DAS Sign &amp; Integrate VCC_Progress_Note__c&quot;</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Invoke VCC Flow Error Display</description>
        <name>Display_Flow_Error_DML</name>
        <label>Display Flow Error (DML)</label>
        <locationX>1920</locationX>
        <locationY>2414</locationY>
        <flowName>VCC_Flow_Error_Display</flowName>
        <inputAssignments>
            <name>SYSTEM_ERROR</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Invoke VCC Flow Error Display</description>
        <name>Display_Resume_Error</name>
        <label>Display Error (Resume After Write)</label>
        <locationX>72</locationX>
        <locationY>1646</locationY>
        <flowName>VCC_Flow_Error_Display</flowName>
        <inputAssignments>
            <name>SYSTEM_ERROR</name>
            <value>
                <elementReference>Resume_Consolidated_Endpoint_After_Write_Note_And_Sign.faultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Invoke VCC Flow Error Display</description>
        <name>DisplayErrorPartialIntegration</name>
        <label>Display Error</label>
        <locationX>2976</locationX>
        <locationY>782</locationY>
        <flowName>VCC_Flow_Error_Display</flowName>
        <inputAssignments>
            <name>SYSTEM_ERROR</name>
            <value>
                <elementReference>Resume_Consolidated_Endpoint_After_Write_Note_And_Sign.faultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Invoke VCC Sign Note Subflow: Progress Note Created in CPRS</description>
        <name>Progress_Note_created_in_CPRS</name>
        <label>Progress Note created in CPRS?</label>
        <locationX>286</locationX>
        <locationY>2198</locationY>
        <connector>
            <targetReference>Update_Progress_Note</targetReference>
        </connector>
        <flowName>VCC_Sign_Note_Subflow_Progress_Note_Created_in_CPRS</flowName>
        <inputAssignments>
            <name>hasDuplicateRecord</name>
            <value>
                <elementReference>formulaHasDuplicateRecords</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>progressNoteCreatedInCprs</name>
            <value>
                <elementReference>Review_and_Sign.varCreatedInCPRS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Invoke VCC Sign Note Subflow: DAS Resume Consolidated Endpoint Failure</description>
        <name>Resume_Consolidated_Endpoint_After_Write_Note_And_Sign</name>
        <label>Resume Consolidated Endpoint (Write Note &amp; Sign)</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>WasResumeAfterWriteSuccessful</targetReference>
        </connector>
        <flowName>VCC_Sign_Note_Subflow_DAS_Resume_Consolidated_Endpoint_Failure</flowName>
        <inputAssignments>
            <name>errorCode</name>
            <value>
                <elementReference>Get_Updated_Progress_Note_for_DAS_Last_Error_Code_Field.VCC_DasLastErrorCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isValidEsig</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>noteAndEncounterParams</name>
            <value>
                <elementReference>varNoteAndEncounterParameters</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>patientAndProviderParams</name>
            <value>
                <elementReference>varPatientAndProviderParameters</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>varProgressNoteRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varProgressNoteRecord</name>
            <value>
                <elementReference>varProgressNoteRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Try to complete the integration from a previous attempt.</description>
        <name>Resume_Consolidated_Endpoint_Partially_Integrated</name>
        <label>Resume Consolidated Endpoint (Partially Integrated)</label>
        <locationX>2646</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Was_Resume_Partial_Integration_Success</targetReference>
        </connector>
        <flowName>VCC_Sign_Note_Subflow_DAS_Resume_Consolidated_Endpoint_Failure</flowName>
        <inputAssignments>
            <name>errorCode</name>
            <value>
                <elementReference>varProgressNoteRecord.VCC_DasLastErrorCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isValidEsig</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>noteAndEncounterParams</name>
            <value>
                <elementReference>varNoteAndEncounterParameters</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>patientAndProviderParams</name>
            <value>
                <elementReference>varPatientAndProviderParameters</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>varProgressNoteRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varProgressNoteRecord</name>
            <value>
                <elementReference>varProgressNoteRecord</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>User reviews and signs the progress note</description>
        <name>Review_and_Sign</name>
        <label>Review &amp; Sign</label>
        <locationX>1466</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Assignment_After_Review_Sign</targetReference>
        </connector>
        <flowName>VCC_Sign_Note_Subflow_Review_Sign_V3</flowName>
        <inputAssignments>
            <name>encounterString</name>
            <value>
                <elementReference>encounterString</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>saveNoteEncounterSuccess</name>
            <value>
                <elementReference>saveNoteEncounterSuccess</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordJson</name>
            <value>
                <elementReference>Review_and_Sign.varRecordJson</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSignatureCodeError</name>
            <value>
                <elementReference>varSignatureCodeError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varVisnNumberWithDuplicates</name>
            <value>
                <elementReference>varVisnNumberWithDuplicates</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Invoke VCC Sign Note Subflow FRR</description>
        <name>VCC_Sign_Note_Subflow_FRR_Flow</name>
        <label>VCC Sign Note Subflow FRR Flow</label>
        <locationX>1334</locationX>
        <locationY>2954</locationY>
        <flowName>VCC_Sign_Note_Subflow_FRR</flowName>
        <inputAssignments>
            <name>Progress_Note_Id</name>
            <value>
                <elementReference>varProgressNoteRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Invoke VCC Sign Note Subflow: DAS Write Note and Sign</description>
        <name>Write_Note_And_Sign</name>
        <label>Write Note &amp; Sign</label>
        <locationX>286</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Dummy_Action</targetReference>
        </connector>
        <flowName>VCC_Sign_Note_Subflow_DAS_Write_Note_And_Sign</flowName>
        <inputAssignments>
            <name>encounterString</name>
            <value>
                <elementReference>encounterString</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isEncounterable</name>
            <value>
                <elementReference>varIsEncounter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>noteAndEncounterParams</name>
            <value>
                <elementReference>varNoteAndEncounterParameters</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>patientAndProviderParams</name>
            <value>
                <elementReference>varPatientAndProviderParameters</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProgressNoteRecord_DAS</name>
            <value>
                <elementReference>varProgressNoteRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>varProgressNoteRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>saveNoteEncounterSuccess</name>
            <value>
                <elementReference>saveNoteEncounterSuccess</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Invoke VCC Flow Error Display</description>
        <name>Write_Note_And_Sign_Display_Error</name>
        <label>Display Error (Write Note And Sign)</label>
        <locationX>1392</locationX>
        <locationY>1106</locationY>
        <flowName>VCC_Flow_Error_Display</flowName>
        <inputAssignments>
            <name>SYSTEM_ERROR</name>
            <value>
                <elementReference>Write_Note_And_Sign.faultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <description>Display Signed and Electronic Signature fields</description>
        <name>Progress_Note_Signature_Fields</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Signed: {!varProgressNoteRecord.VCC_Signed__c}&lt;/p&gt;&lt;p&gt;Signed By: {!formulaCurrentUserName}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Saves the encounterString.</description>
        <name>encounterString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the error code, if any, that is returned from the DAS API call</description>
        <name>errorCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the error message.</description>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Is true if the Save Note and Encounter Apex Action from the Write Note and Sign subflow was a success.</description>
        <name>saveNoteEncounterSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Is true if user input was modified during the process of sending the note to VistA (via DIP/VDIF).</description>
        <name>systemModifiedOutputToVista</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Is true if the Progress Note is an encounterable one</description>
        <name>varIsEncounter</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Indicates whether the button was pressed on the lwc vccNewProgressNoteButton</description>
        <name>varNewProgressNoteButtonPressed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>The note and encounter parameters</description>
        <name>varNoteAndEncounterParameters</name>
        <apexClass>VCC_Vdif_NoteAndEncounterParams</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The patient and provider parameters</description>
        <name>varPatientAndProviderParameters</name>
        <apexClass>VCC_Vdif_PatientAndProviderParams</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Is true if the patient provided video consent</description>
        <name>varPatientVideoConsent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Stores the Progress Note Configuration record</description>
        <name>varProgressNoteConfiguration</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>VCC_Progress_Note_Configuration__mdt</objectType>
    </variables>
    <variables>
        <description>Stores the Progress Note record</description>
        <name>varProgressNoteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>VCC_Progress_Note__c</objectType>
    </variables>
    <variables>
        <description>Stores the record id</description>
        <name>varRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the signature code error</description>
        <name>varSignatureCodeError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the CPT Code Id</description>
        <name>varUseCPTCodeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Primary Diagnosis Id</description>
        <name>varUsePrimaryDiagnosisId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Secondary Diagnosis Id</description>
        <name>varUseSecondaryDiagnosisId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the type of the Virtual Visit</description>
        <name>varVirtualVisitType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The VISN number were the duplicate patient record exists</description>
        <name>varVisnNumberWithDuplicates</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue />
        </value>
    </variables>
</Flow>
