sfdx-source/main/default/flows/VCC_Transfer_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Count</name>
        <label>Add Count</label>
        <locationX>1752</locationX>
        <locationY>286</locationY>
        <assignmentItems>
            <assignToReference>CasesCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Cases.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adding progress notes to collection to check for unsigned Addendums.</description>
        <name>Add_Progress_Note_to_List</name>
        <label>Add Progress Note to List</label>
        <locationX>207</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>PnIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_PN.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_PN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_Id_PharmIII_PN</name>
        <label>Assign Case Id PharmIII PN</label>
        <locationX>1329</locationX>
        <locationY>73</locationY>
        <assignmentItems>
            <assignToReference>pharmIIICaseIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Pharm_III_Notes.VCC_Case__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Pharm_III_Notes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Case_Owner</name>
        <label>Assign New Case Owner</label>
        <locationX>980</locationX>
        <locationY>414</locationY>
        <assignmentItems>
            <assignToReference>Change_case_owners.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newEmployeeUser.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_case_owners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>check_Transferred_Note_on_Addendum</name>
        <label>check Transferred Note on Addendum</label>
        <locationX>324</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Addendum.VCC_Transferred_Addendum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddendumCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddendumIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Addendum.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Addendum.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newEmployeeUser.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>addendumUpdateListVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Addendum</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Addendum</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>check_Transferred_Note_on_PN</name>
        <label>check Transferred Note on PN</label>
        <locationX>50</locationX>
        <locationY>837</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_PN.VCC_Transferred_Note__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_PN.VCC_Additional_Notes_Information__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>“Writer of this note left VHA without completion and signing of this note. Signer was not writer of any information above this statement, signing for
                    documentation of above noted care to be documented in Veteran record.”</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PNCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pnUpdateListVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_PN</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Progress_Note_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Record_Count</name>
        <label>Reset Record Count</label>
        <locationX>1369</locationX>
        <locationY>289</locationY>
        <assignmentItems>
            <assignToReference>CasesCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Cases</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Cancel</name>
        <choiceText>Cancel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel</stringValue>
        </value>
    </choices>
    <choices>
        <name>Confirm</name>
        <choiceText>Confirm</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Confirm</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Addendum_Count</name>
        <label>Check Addendum Count</label>
        <locationX>392</locationX>
        <locationY>1064</locationY>
        <defaultConnector>
            <targetReference>CheckPNCount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckAddendumCount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddendumCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Addendum</targetReference>
            </connector>
            <label>CheckAddendumCount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Case_Count</name>
        <label>Check Case Count</label>
        <locationX>1176</locationX>
        <locationY>1074</locationY>
        <defaultConnector>
            <targetReference>successScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Count_Greater_Than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CasesCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_owner</targetReference>
            </connector>
            <label>Case Count Greater Than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckPNCount</name>
        <label>CheckPNCount</label>
        <locationX>654</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>Check_Case_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckPNCount1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PNCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PN</targetReference>
            </connector>
            <label>CheckPNCount1</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see if the progress note is signed before proceeding to the correct assignment.</description>
        <name>Is_Progress_Note_Signed</name>
        <label>Is Progress Note Signed?</label>
        <locationX>276</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>check_Transferred_Note_on_PN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_PN.VCC_Signed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Progress_Note_to_List</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Confirm_Selected</name>
        <label>Was Confirm Selected</label>
        <locationX>1519</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Transaction_Canceled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Confirm_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_Confirm_or_Cancel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Confirm</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_case_owners</targetReference>
            </connector>
            <label>Confirm Selected</label>
        </rules>
    </decisions>
    <description>Allows user with transfer work permission to reassign open cases to a new user ******** Queries and updated associated cases, progress notes, and addendums that were
        associated with the user that is being transferred from 2/15/2023: CCCM-30349 Changes CRM 1.10 - Transfer Work flow was updated to prevent Pharm III and VCV case/PN
        transfers.</description>
    <dynamicChoiceSets>
        <name>UserCollection</name>
        <collectionReference>Get_All_Users_in_VISN</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>users</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Division</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Division</elementReference>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>VCC_Transfer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transfer Work From Former VA Employee</label>
    <loops>
        <name>Change_case_owners</name>
        <label>Change case owners</label>
        <locationX>1203</locationX>
        <locationY>482</locationY>
        <collectionReference>Get_Open_Cases_by_UserId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Case_Owner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Progress_Note</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Addendum</name>
        <label>Loop Through Addendum</label>
        <locationX>586</locationX>
        <locationY>938</locationY>
        <collectionReference>Get_unsigned_Addendum</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_Transferred_Note_on_Addendum</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Addendum_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Cases</name>
        <label>Loop Through Cases</label>
        <locationX>1523</locationX>
        <locationY>287</locationY>
        <collectionReference>Get_Open_Cases_by_UserId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Transfer_Work_from_Former_VA_Employee2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Pharm_III_Notes</name>
        <label>Loop Through Pharm III Notes</label>
        <locationX>1120</locationX>
        <locationY>75</locationY>
        <collectionReference>pharmIIIProgressNoteList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Case_Id_PharmIII_PN</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Open_Cases_by_UserId</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_PN</name>
        <label>Loop Through PN</label>
        <locationX>505</locationX>
        <locationY>732</locationY>
        <collectionReference>Get_Progress_Note</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Progress_Note_Signed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_unsigned_Addendum</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Users_in_VISN</name>
        <label>Get All Users in VISN</label>
        <locationX>710</locationX>
        <locationY>482</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Original_User</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Division</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Division</elementReference>
            </value>
        </filters>
        <filters>
            <field>Profile_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VAVET Base Profile</stringValue>
            </value>
        </filters>
        <filters>
            <field>Profile_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Profile_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Owner_User_Record</name>
        <label>Get New Owner User Record</label>
        <locationX>1745</locationX>
        <locationY>482</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Former_Employee_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assign_Cases_to_New_Owner.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>newEmployeeUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Division</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Cases_by_UserId</name>
        <label>Get Open Cases by UserId</label>
        <locationX>1056</locationX>
        <locationY>285</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reset_Record_Count</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>(1 AND 2 AND 3) AND (4 OR 5 OR 6) AND NOT 7</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formerEmployeeUser.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>VCC_isMyVISN__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCC_Administrative</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCC_Pharmacy</stringValue>
            </value>
        </filters>
        <filters>
            <field>Case_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCC_Clinical_Triage</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>pharmIIICaseIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Case_Record_Type_Name__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Subject</queriedFields>
        <sortField>CaseNumber</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Original_User</name>
        <label>Get Original User</label>
        <locationX>892</locationX>
        <locationY>289</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pharm_III_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Former_Employee_Name.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>formerEmployeeUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Pharm_III_Progress_Notes</name>
        <label>Get Pharm III Progress Notes</label>
        <locationX>952</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Pharm_III_Notes</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VCC_Signed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Pharm_III_Record_Type.Id</elementReference>
            </value>
        </filters>
        <object>VCC_Progress_Note__c</object>
        <outputReference>pharmIIIProgressNoteList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>VCC_Case__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Pharm_III_Record_Type</name>
        <label>Get Pharm III Record Type</label>
        <locationX>800</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pharm_III_Progress_Notes</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCC_Tier_III_Progress_Note</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCC_Progress_Note__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get related unsigned Progress Note</description>
        <name>Get_Progress_Note</name>
        <label>Get Progress Note</label>
        <locationX>638</locationX>
        <locationY>613</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_PN</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VCC_Case__c</field>
            <operator>In</operator>
            <value>
                <elementReference>CaseIdList</elementReference>
            </value>
        </filters>
        <filters>
            <field>VCC_Transferred_Note__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>VCC_Progress_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get unsigned Addendum related to Progress Note and case</description>
        <name>Get_unsigned_Addendum</name>
        <label>Get unsigned Addendum</label>
        <locationX>717</locationX>
        <locationY>775</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Addendum</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VCC_Signed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VCC_Related_Note__c</field>
            <operator>In</operator>
            <value>
                <elementReference>PnIdList</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>VCC_Addendum__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Addendum</name>
        <label>Update Addendum</label>
        <locationX>394</locationX>
        <locationY>1262</locationY>
        <connector>
            <targetReference>CheckPNCount</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <inputReference>addendumUpdateListVariable</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_owner</name>
        <label>Update Case owner</label>
        <locationX>1465</locationX>
        <locationY>1067</locationY>
        <connector>
            <targetReference>successScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formerEmployeeUser.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Assign_Cases_to_New_Owner.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PN</name>
        <label>Update PN</label>
        <locationX>876</locationX>
        <locationY>1339</locationY>
        <connector>
            <targetReference>Check_Case_Count</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <inputReference>pnUpdateListVariable</inputReference>
    </recordUpdates>
    <screens>
        <name>Former_Employee_Id</name>
        <label>Former Employee Id</label>
        <locationX>1751</locationX>
        <locationY>605</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Transfer_Cases_To</targetReference>
        </connector>
        <fields>
            <name>warningMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(186, 5, 23); font-size: 14px;&quot;&gt;IMPORTANT! Is this the correct assignee/new
                owner?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Former_Employee_Id_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Former_Employee_Id_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>formerEmployeeName</name>
                    <fieldText>&lt;p&gt;Name: {!newEmployeeUser.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>formerEmployeeEmail</name>
                    <fieldText>&lt;p&gt;Email: {!newEmployeeUser.Email}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Former_Employee_Id_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>formerEmployeeVISN</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!newEmployeeUser.Division}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Original_User</name>
        <label>Select Original User</label>
        <locationX>708</locationX>
        <locationY>289</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Original_User</targetReference>
        </connector>
        <fields>
            <name>Former_Employee_Name</name>
            <choiceReferences>UserCollection</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Former Employee Name</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>successScreen</name>
        <label>successScreen</label>
        <locationX>1360</locationX>
        <locationY>1389</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Success!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>successDisplayText</name>
            <fieldText>&lt;p&gt;Cases and Progress Notes have successfully transferred to {!Assign_Cases_to_New_Owner.selectedChoiceLabels}!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transaction_Canceled</name>
        <label>Transaction Canceled</label>
        <locationX>1298</locationX>
        <locationY>723</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CancelledText</name>
            <fieldText>&lt;p&gt;The Transfer Work transaction has been cancelled&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transfer_Cases_To</name>
        <label>Transfer Cases To</label>
        <locationX>1750</locationX>
        <locationY>728</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Was_Confirm_Selected</targetReference>
        </connector>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(186, 5, 23);&quot;&gt;IMPORTANT! Are you sure you want to transfer the open Cases and associated Progress Notes from
                {!Former_Employee_Name.selectedChoiceLabels} ({!formerEmployeeUser.Email}) to {!Assign_Cases_to_New_Owner.selectedChoiceLabels} (&lt;/strong&gt;&lt;strong
                style=&quot;color: rgb(186, 5, 23); background-color: rgb(255, 255, 255);&quot;&gt;{!newEmployeeUser.Email}&lt;/strong&gt;&lt;strong style=&quot;color: rgb(186, 5,
                23);&quot;&gt;)? This action cannot be undone!﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_Confirm_or_Cancel</name>
            <choiceReferences>Confirm</choiceReferences>
            <choiceReferences>Cancel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please Confirm or Cancel</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transfer_Work_from_Former_VA_Employee2</name>
        <label>Transfer Work from Former VA Employee</label>
        <locationX>1531</locationX>
        <locationY>489</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_New_Owner_User_Record</targetReference>
        </connector>
        <fields>
            <name>Transfer_Work_from_Former_VA_Employee2_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Transfer_Work_from_Former_VA_Employee2_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>User_Name</name>
                    <fieldText>&lt;p&gt;Name: {!formerEmployeeUser.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>OpenCasesTitle</name>
                    <fieldText>&lt;p&gt;Open Cases: &lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68,
                        68);&quot;&gt;{!CasesCount}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Transfer_Work_from_Former_VA_Employee2_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>User_Email</name>
                    <fieldText>&lt;p&gt;Email: &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255,
                        255);&quot;&gt;{!formerEmployeeUser.Email}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>VISN</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!$User.Division}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Cases_Datatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Case</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Open Cases</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Open_Cases_by_UserId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;CaseNumber&quot;,&quot;guid&quot;:&quot;column-4805&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Case Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Subject&quot;,&quot;guid&quot;:&quot;column-dabf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Subject&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Case_Record_Type_Name__c&quot;,&quot;guid&quot;:&quot;column-cbe4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Case Record Type Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-f747&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Assign_Cases_to_New_Owner</name>
            <choiceReferences>UserCollection</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Assign Cases to New Owner</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transfer_Work_From_Former_VA_Employee_Screen</name>
        <label>Transfer Work From Former VA Employee Screen</label>
        <locationX>572</locationX>
        <locationY>481</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_All_Users_in_VISN</targetReference>
        </connector>
        <fields>
            <name>Transfer_Case_Welcome_Screen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;,
                &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif; font-size: 14px;&quot;&gt;Click Next to search for former
                employee.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>193</locationX>
        <locationY>466</locationY>
        <connector>
            <targetReference>Transfer_Work_From_Former_VA_Employee_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Flow_Error</name>
        <label>Flow Error</label>
        <locationX>1008</locationX>
        <locationY>931</locationY>
        <flowName>VCC_Flow_Error_Display</flowName>
        <inputAssignments>
            <name>SYSTEM_ERROR</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AddendumCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>AddendumIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>addendumUpdateListVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VCC_Addendum__c</objectType>
    </variables>
    <variables>
        <name>CaseIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Caserecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CasesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection_0_0_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VCC_Progress_Note__c</objectType>
    </variables>
    <variables>
        <name>formerEmployeeUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>newEmployeeUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>pharmIIICaseIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pharmIIIProgressNoteList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VCC_Progress_Note__c</objectType>
    </variables>
    <variables>
        <name>PNCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PnIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pnUpdateListVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VCC_Progress_Note__c</objectType>
    </variables>
    <variables>
        <name>ProgressNoteList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VCC_Progress_Note__c</objectType>
    </variables>
    <variables>
        <name>SignerCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>tranferredFromUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Unsigned_PN</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
