sfdx-source/main/default/flows/VCC_Case_Create_Administrative_Case_from_Rx_Refill.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assignCaseDescription</name>
        <label>Case Description</label>
        <locationX>402</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Case.Description</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fxRxName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>currentRxName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Refills</name>
        <label>Count Refills</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>numRefills</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>prescriptionNames</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>currentRxName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Explicit_Output_s</name>
        <label>Explicit Output(s)</label>
        <locationX>314</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>caseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>mapMsaCase</name>
        <label>Map MSA Case</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Default Inbound Call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.VCC_Case_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Administrative</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.VCC_Case_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Administrative</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.VCC_Case_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Med Refill/Renewal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.VCC_Other_Case_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.VCC_Case_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Refilled Medication</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.VCC_Other_Case_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Refill Medication</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxCaseStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record_Type_Admin.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>mapPharmacyCase</name>
        <label>Map Pharmacy Case</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>Case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inbound Call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.VCC_Case_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pharmacy</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.VCC_Case_Sub_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Refill Medication</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.VCC_Case_Reason__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.VCC_Other_Case_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.VCC_Case_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pharmacy Technician Resolved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.VCC_Other_Case_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Refill Medication</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxCaseStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.VCC_No_of_Refills__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fxNumRefills</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createCase</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Persona</name>
        <label>Persona =</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.VCC_MSA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Record_Type_Admin</targetReference>
            </connector>
            <label>MSA</label>
        </rules>
        <rules>
            <name>Pharmacy_User</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.VCC_Pharmacy_Tier_I</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.VCC_Pharmacy_Tier_II</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.VCC_Pharmacy_Tier_III</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>mapPharmacyCase</targetReference>
            </connector>
            <label>Pharmacy User</label>
        </rules>
    </decisions>
    <description>Flow that launches from apex class VCC_CaseController method &apos;createAdministrativeCase&apos;</description>
    <environments>Default</environments>
    <formulas>
        <name>fxCaseStatus</name>
        <dataType>String</dataType>
        <expression>IF( {!success} = TRUE, &quot;Closed - Resolved&quot;, &quot;Open&quot; )</expression>
    </formulas>
    <formulas>
        <name>fxFormattedRxName</name>
        <dataType>String</dataType>
        <expression>TRIM( LEFT( TRIM( RIGHT({!currentRxName}, (LEN({!currentRxName}) - 1) ) ), (LEN({!currentRxName}) - 3) ) )</expression>
    </formulas>
    <formulas>
        <name>fxNumRefills</name>
        <dataType>String</dataType>
        <expression>IF( {!numRefills} &lt; 10, TEXT({!numRefills}), &quot;&gt;10&quot; )</expression>
    </formulas>
    <formulas>
        <name>fxRxName</name>
        <dataType>String</dataType>
        <expression>{!fxFormattedRxName} &amp; &quot;,&quot; &amp; SUBSTITUTE({!LineBreakTextTemplate}, &quot;~&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Case : Create Administrative Case from Rx Refill {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case : Create Administrative Case from Rx Refill</label>
    <loops>
        <name>currentRxName</name>
        <label>Format Rx Names</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <collectionReference>prescriptionNames</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignCaseDescription</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Persona</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createCase</name>
        <label>Case</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Explicit_Output_s</targetReference>
        </connector>
        <inputReference>Case</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Account</name>
        <label>Account</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Refills</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>patientId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record_Type_Admin</name>
        <label>Get Case Record Type : Admin</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>mapMsaCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCC_Administrative</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>LineBreakTextTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>~ ~</text>
    </textTemplates>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>messages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>numRefills</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>patientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>prescriptionNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
