sfdx-source/main/default/flows/VCC_Document_Scheduling_Administrative_Actions_Subflow_Cancel_Apt.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_High_Risk_Suicide_Flag_Status</name>
        <label>Get High Risk Suicide Flag Status</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <actionName>VCC_FlagsController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Was_Mental_Health_Appt</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>AccoundId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VCC_FlagsController</nameSegment>
        <outputParameters>
            <assignToReference>PatientHighRisk</assignToReference>
            <name>isHighRiskForSuicide</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Canceled_Mental_Health_Progress_Note_To_List</name>
        <label>Add Canceled Mental Health Progress Note To List</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>newProgressNoteList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>canceledMentalProgressNote</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Mental_Health_Cancelled_Appt</name>
        <label>Assign Mental Health Cancelled Appt</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ExisitingCase.VCC_Case_Reason_Multi__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Cancel Appointment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExisitingCase.VCC_Case_Outcome_Multi__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Completed Scheduling Action</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExisitingCase.VCC_Mental_Health_Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Mental_Health_Cancelled_Appt_2</name>
        <label>Mental Health Cancelled Appt</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ExisitingCase.VCC_Case_Reason_Multi__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Cancel Appointment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExisitingCase.VCC_Case_Outcome_Multi__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Completed Scheduling Action</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExisitingCase.VCC_Mental_Health_Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Canceled_Mental_Progress_Note</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Mental_Health_Cancelled_Appt_3</name>
        <label>Assign Mental Health Cancelled Appt</label>
        <locationX>1238</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ExisitingCase.VCC_Case_Reason_Multi__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Cancel Appointment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExisitingCase.VCC_Case_Outcome_Multi__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Completed Scheduling Action</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExisitingCase.VCC_Mental_Health_Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Create_Canceled_Mental_Progress_Note</name>
        <label>Create Canceled Mental Progress Note</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>canceledMentalProgressNote.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SchedulingPNID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>canceledMentalProgressNote.VCC_Administrative_Note_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>canceledMentalProgressNote.VCC_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExisitingCase.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Canceled_Mental_Health_Progress_Note_To_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Cancel_Exists</name>
        <label>Check If Cancel Exists</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_Mental_Health_Cancelled_Appt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancel_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExisitingCase.VCC_Case_Reason_Multi__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Cancel Appointment</stringValue>
                </rightValue>
            </conditions>
            <label>Cancel Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Cancel_Exists_2</name>
        <label>Check If Cancel Exists</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_Mental_Health_Cancelled_Appt_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancel_Populated_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExisitingCase.VCC_Case_Reason_Multi__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Cancel Appointment</stringValue>
                </rightValue>
            </conditions>
            <label>Cancel Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Cancel_Exists_3</name>
        <label>Check If Cancel Exists</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_Mental_Health_Cancelled_Appt_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancel_Populated_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExisitingCase.VCC_Case_Reason_Multi__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Cancel Appointment</stringValue>
                </rightValue>
            </conditions>
            <label>Cancel Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Mental_Health_Appt</name>
        <label>Was Mental Health Appt</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Check_If_Cancel_Exists_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Low_Risk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WasMentalHealth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PatientHighRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Cancel_Exists</targetReference>
            </connector>
            <label>Yes Low Risk</label>
        </rules>
        <rules>
            <name>Yes_High_Risk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WasMentalHealth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PatientHighRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Cancel_Exists_2</targetReference>
            </connector>
            <label>Yes High Risk</label>
        </rules>
    </decisions>
    <description>Check if cancelled appointment was a mental health appointment for a patient with a High Risk for Suicide flag.</description>
    <environments>Default</environments>
    <interviewLabel>Document Scheduling &amp; Administrative Actions Subflow - Cancel Apt {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VCC Document Scheduling &amp; Administrative Actions Subflow - Cancel Apt</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_High_Risk_Suicide_Flag_Status</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Flow_Error</name>
        <label>Flow Error</label>
        <locationX>1502</locationX>
        <locationY>242</locationY>
        <flowName>VCC_Flow_Error_Display</flowName>
        <inputAssignments>
            <name>SYSTEM_ERROR</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AccoundId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>canceledMentalProgressNote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VCC_Progress_Note__c</objectType>
    </variables>
    <variables>
        <name>ExisitingCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>existingCaseRecordVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newProgressNoteList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>VCC_Progress_Note__c</objectType>
    </variables>
    <variables>
        <name>PatientHighRisk</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SchedulingPNID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WasMentalHealth</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
