sfdx-source/main/default/flows/VCC_Create_CT_Case_For_Queue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>CT_Create_Case_Error</name>
        <label>CT Create Case Error</label>
        <locationX>996</locationX>
        <locationY>986</locationY>
        <assignmentItems>
            <assignToReference>CT_Create_CT_Case_Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Screen_Component</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CT_Record_Type_Error</name>
        <label>CT Record Type Error</label>
        <locationX>689</locationX>
        <locationY>387</locationY>
        <assignmentItems>
            <assignToReference>CT_RT_Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Screen_Component</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CustomMetaData_Error_Assign</name>
        <label>CustomMetaData Error Assign</label>
        <locationX>689</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>CMDT_Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Screen_Component</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Occured_1</name>
        <label>Error Occured</label>
        <locationX>1314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>CT_Create_Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Queue_Error</name>
        <label>Queue Error</label>
        <locationX>996</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>Queue_Error_Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Screen_Component</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_CT_Create_Error_Var_to_False</name>
        <label>Set CT_Create_Error Var to False</label>
        <locationX>466</locationX>
        <locationY>1107</locationY>
        <assignmentItems>
            <assignToReference>CT_Create_Error</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Was_Custom_Metadata_Found</name>
        <label>Was Custom Metadata Found?</label>
        <locationX>454</locationX>
        <locationY>544</locationY>
        <defaultConnector>
            <targetReference>CustomMetaData_Error_Assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CMDT_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Custom_MetaData</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Queue_Found</name>
        <label>Was Queue Found?</label>
        <locationX>459</locationX>
        <locationY>828</locationY>
        <defaultConnector>
            <targetReference>Queue_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Queue_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Queue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CT_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_RecordType_Found</name>
        <label>Was RecordType Found?</label>
        <locationX>578</locationX>
        <locationY>196</locationY>
        <defaultConnector>
            <targetReference>CT_Record_Type_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RT_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_CT_Record_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_MetaData</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description
    >Utilized by the Document Scheduling &amp; Actions Flow. Creates a CT Case and Assigns to Queue based on CT Screening Selection. --- RH - Added Fault Path and Error Boolean
        Var for output use in Document SCD &amp; ADM Flow</description>
    <environments>Default</environments>
    <interviewLabel>VCC Create CT Case For Queue Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create CT Case For Queue Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_CT_Case</name>
        <label>Create CT Case</label>
        <locationX>467</locationX>
        <locationY>986</locationY>
        <connector>
            <targetReference>Set_CT_Create_Error_Var_to_False</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CT_Create_Case_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>PersonContactId_Var</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Case_CT_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Case_Type__c</field>
            <value>
                <stringValue>Symptom</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Patient_Stated_Symptoms__c</field>
            <value>
                <elementReference>Patient_Stated_Symptoms</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_CT_Record_Type</name>
        <label>Get Case CT Record Type</label>
        <locationX>456</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_RecordType_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCC_Clinical_Triage</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_MetaData</name>
        <label>Get Custom MetaData</label>
        <locationX>464</locationX>
        <locationY>385</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Custom_Metadata_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VCC_VISN_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Division</elementReference>
            </value>
        </filters>
        <filters>
            <field>VCC_Case_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_CT_Record_Type.DeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VCC_Queue_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>466</locationX>
        <locationY>701</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_Queue_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Custom_MetaData.VCC_Queue_Developer_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Error_Screen_Component</name>
        <label>Error Screen Component</label>
        <locationX>1177</locationX>
        <locationY>395</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Error_Occured_1</targetReference>
        </connector>
        <fields>
            <name>Copy_3_of_ErrorScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(231, 12, 12);&quot;&gt;An Error Has Occurred: Unable to Create Clinical Triage
                Case&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CT_RT_Error_Text</name>
            <fieldText
            >&lt;p&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Unable to get Case&apos;s Clinical Triage
                Record Type.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CT_RT_Error</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CustomMetaData_Error_Text</name>
            <fieldText
            >&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(21, 21, 21); background-color: rgb(255, 255, 255);&quot;&gt;Verify your User has a VISN filled in the
                Division Field.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CMDT_Error</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Queue_Error_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;Unable to get
                Queue.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Queue_Error_Var</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CT_Case_Creation_Error</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(21, 21, 21); background-color: rgb(255, 255, 255);&quot;&gt;Creation of CT Case
                failed.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CT_Create_CT_Case_Error</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Case_CT_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CMDT_Error</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CT_Create_CT_Case_Error</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CT_Create_Error</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CT_RT_Error</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Patient_Stated_Symptoms</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonContactId_Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Queue_Error_Var</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
