sfdx-source/main/default/flows/VCC_Sign_Note_Subflow_Custom_Settings.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Is_Addendum</name>
        <label>Is Addendum</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Get_Note_Title_IEN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Progress Note</defaultConnectorLabel>
        <rules>
            <name>YesIsAddendum</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isAddendum</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Addendum_IEN</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Mock_SSO_Enabled</name>
        <label>Is Mock SSO Enabled</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Author_DUZ</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Mock_SSO_Org_Setting.Enable_SSO_Mocking__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Author_DUZ_Mock_SSO</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Attempts to retrieve addendumIEN, authorDUZ, locationIEN, and noteTitleIEN.
Update API Version to v55 for 1.1.0</description>
    <environments>Default</environments>
    <interviewLabel>Get Progress Note Custom Settings {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VCC_Sign_Note_Subflow_Custom_Settings</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Addendum_IEN</name>
        <label>Get Addendum IEN</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Location_IEN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Site_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>siteCode</elementReference>
            </value>
        </filters>
        <object>VCC_Location_to_Addendum_IEN_Mapping__c</object>
        <outputAssignments>
            <assignToReference>noteTitleIEN</assignToReference>
            <field>Addendum_Title_IEN__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Author_DUZ</name>
        <label>Get DUZ</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Addendum</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND NOT(3)</filterLogic>
        <filters>
            <field>User_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </filters>
        <filters>
            <field>VistA_Instance__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>siteCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>mockSSO</stringValue>
            </value>
        </filters>
        <object>IAM_SSOi_Vista_Instance_to_User_DUZ__c</object>
        <outputAssignments>
            <assignToReference>authorDUZ</assignToReference>
            <field>DUZ__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Author_DUZ_Mock_SSO</name>
        <label>Get Mock DUZ</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Addendum</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>mockSSO</stringValue>
            </value>
        </filters>
        <filters>
            <field>User_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </filters>
        <object>IAM_SSOi_Vista_Instance_to_User_DUZ__c</object>
        <outputAssignments>
            <assignToReference>authorDUZ</assignToReference>
            <field>DUZ__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Location_IEN</name>
        <label>Get Location IEN</label>
        <locationX>182</locationX>
        <locationY>842</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>healthCareFacilityId</elementReference>
            </value>
        </filters>
        <object>HealthcareFacility</object>
        <outputAssignments>
            <assignToReference>locationIEN</assignToReference>
            <field>VCC_Location_IEN__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Mock_SSO_Org_Setting</name>
        <label>Get Mock SSO Org Setting</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Mock_SSO_Enabled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>vccOrgId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Organization.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VCC_Org_Settings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Note_Title_IEN</name>
        <label>Get Note Title IEN</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Location_IEN</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Site_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>siteCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Progress_Note_Title_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_configuration.VCC_VistA_Note_Title__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Progress_Note_Title_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>txtPRCPersona</elementReference>
            </value>
        </filters>
        <object>Location_to_Note_IEN_Mapping__c</object>
        <outputAssignments>
            <assignToReference>noteTitleIEN</assignToReference>
            <field>Note_Tittle_IEN__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Mock_SSO_Org_Setting</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>authorDUZ</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Configuration</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>VCC_Progress_Note_Configuration__mdt</objectType>
    </variables>
    <variables>
        <name>CustomSections</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>VCC_Progress_Note_Custom_Section__mdt</objectType>
    </variables>
    <variables>
        <name>healthCareFacilityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_configuration</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>VCC_Progress_Note_Configuration__mdt</objectType>
    </variables>
    <variables>
        <name>isAddendum</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>locationIEN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>noteTitleIEN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>siteCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Provider Connect Persona from the main sign note flow</description>
        <name>txtPRCPersona</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
