sfdx-source/main/default/flows/VCC_Assign_Existing_Onboarding_Activities_to_New_Contacts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Create_Readiness_Record</name>
        <label>Create Readiness Record</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>ReadinessActivityRecord.VCC_SOT_User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VCC_SOT_User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReadinessActivityRecord.VCC_Onboarding_Activity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Onboarding_Activities_to_Create.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReadinessActivityRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue> {!$Record.VCC_SOT_User__r.Name} {!Onboarding_Activities_to_Create.Name}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Onboarding_Activities_to_Create</targetReference>
        </connector>
    </assignments>
    <description
    >When a new Service User Assignment is added to a CRM Service VISN Assignment, this flow will assign all existing Onboarding Activities to the SOT User for which the
        Service User Assignment exists.</description>
    <environments>Default</environments>
    <interviewLabel>VCC Assign Existing Onboarding Activities to New Contacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VCC SOT Assign Existing Onboarding Activities to New Contacts</label>
    <loops>
        <name>Onboarding_Activities_to_Create</name>
        <label>Onboarding Activities to Create</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Onboarding_Activities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Readiness_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Readiness_Activity_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Readiness_Activity_Records</name>
        <label>Create Readiness Activity Records</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <inputReference>ReadinessActivityRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Onboarding_Activities</name>
        <label>Onboarding Activities</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Onboarding_Activities_to_Create</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VCC_CRM_VISN_Service_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.VCC_CRM_VISN_Service_Assignment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>VCC_Onboarding_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Onboarding_Activities</targetReference>
        </connector>
        <object>VCC_Service_User_Assignment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ReadinessActivityCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VCC_Readiness_Activity__c</objectType>
    </variables>
    <variables>
        <name>ReadinessActivityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VCC_Readiness_Activity__c</objectType>
    </variables>
    <variables>
        <name>ReadinessRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Training_Activity_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VCC_Training_Activity__c</objectType>
    </variables>
    <variables>
        <name>TrainingActivityCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VCC_Training_Activity__c</objectType>
    </variables>
</Flow>
