sfdx-source/main/default/flows/VCC_Document_Scheduling_Admin_actions1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Log errors with Nebula Logger, logging level ERROR because it&apos;s from fault paths</description>
        <name>Add_Error_Log_Entry</name>
        <label>Add Error Log Entry</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Error_Log</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>VCC_Document_Scheduling_Admin_actions1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <elementReference>LoggingLevel_Error_TextValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Insert log entry records to log the error from fault path</description>
        <name>Save_Error_Log</name>
        <label>Save Error Log</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <actionName>Logger</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Flow_Error</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>Logger</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Other_Progress_Note_To_List</name>
        <label>Add Other Progress Note To List</label>
        <locationX>490</locationX>
        <locationY>4070</locationY>
        <assignmentItems>
            <assignToReference>newProgressNoteList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>otherProgressNote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Other_Reason</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_To_Running_User</name>
        <label>Assign Case To Running User</label>
        <locationX>567</locationX>
        <locationY>5138</locationY>
        <assignmentItems>
            <assignToReference>existingCaseRecordVariable.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Other_Outcome_Subflow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_To_False</name>
        <label>Assign Error To False</label>
        <locationX>699</locationX>
        <locationY>2522</locationY>
        <assignmentItems>
            <assignToReference>showErrorVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Subject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_To_True</name>
        <label>Assign Error To True</label>
        <locationX>2195</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>showErrorVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Document_Scheduling_Actions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Other_Outcome_to_Existing_Case1</name>
        <label>Assign Other Reason to Existing Case</label>
        <locationX>611</locationX>
        <locationY>4646</locationY>
        <assignmentItems>
            <assignToReference>existingCaseRecordVariable.VCC_Case_Reason_Multi__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Other_Reason_to_Existing_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Other_Reason_to_Existing_Case</name>
        <label>Assign Other Reason to Existing Case</label>
        <locationX>523</locationX>
        <locationY>4838</locationY>
        <assignmentItems>
            <assignToReference>existingCaseRecordVariable.VCC_Other_Case_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OtherReasonWithLineBreak</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Case_Is_Owned_By_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Subject_to_Case</name>
        <label>Assign Subject to Case</label>
        <locationX>567</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>existingCaseRecordVariable.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scheduling &amp; Administrative Actions</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Document_Scheduling_Administrative_Actions_Scheduling</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Other_Progress_Note</name>
        <label>Create Other Progress Note</label>
        <locationX>490</locationX>
        <locationY>3962</locationY>
        <assignmentItems>
            <assignToReference>otherProgressNote.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Scheduling_Progress_Note_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>otherProgressNote.VCC_Administrative_Note_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>otherProgressNote.VCC_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>existingCaseRecordVariable.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Other_Progress_Note_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Incomplete_Values</name>
        <label>Reset Incomplete Values</label>
        <locationX>1491</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Incomplete_Action_Scheduled_Appointment</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Incomplete_Action_Cancelled_Appointment</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Incomplete_Action_Verify_Appointment</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Reason_Consult_Review_Required</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Reason_No_Appointment_Available</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Reason_Not_Authorized_Service_Line</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Reason_Restricted_Unavailable_Clinic</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Reason_SelfReferred_Out_Of_Cycle</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Community_Care</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Mental_Health</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Primary_Care</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Specialty_Care</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Virtual_Clinic_Visit</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Service_Requested</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_A_Selection_Was_Made</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_errorTestingPermSet_to_True</name>
        <label>Set errorTestingPermSet to True</label>
        <locationX>1359</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>errorTestingPermissionCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Document_Scheduling_Actions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_to_Closed_Resolved</name>
        <label>Set Status to Closed - Resolved</label>
        <locationX>831</locationX>
        <locationY>6002</locationY>
        <assignmentItems>
            <assignToReference>existingCaseRecordVariable.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed - Resolved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_to_Open</name>
        <label>Set Status to Open</label>
        <locationX>567</locationX>
        <locationY>6002</locationY>
        <assignmentItems>
            <assignToReference>existingCaseRecordVariable.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Toast_Message_Assignment</name>
        <label>Toast Message Assignment</label>
        <locationX>1667</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>existingCaseRecordVariable.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CT_Case_Record_Doc.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CT_Case_Record_Doc.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>SuccessScreen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AdminOther</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>AssignToRN</name>
        <choiceText>Assign To RN</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assign To RN</stringValue>
        </value>
    </choices>
    <choices>
        <name>BenefitsEnrollmentChoice</name>
        <choiceText>Benefits and Enrollment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Benefits &amp; Enrollment</stringValue>
        </value>
    </choices>
    <choices>
        <name>CancelledAppointment</name>
        <choiceText>Cancelled Appointment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancelled Appointment</stringValue>
        </value>
    </choices>
    <choices>
        <name>CancelledAppointmentChoice</name>
        <choiceText>Cancelled Appointment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancelled Appointment</stringValue>
        </value>
    </choices>
    <choices>
        <name>CancelledHighRiskMentalHealthVisit</name>
        <choiceText>Cancelled High Risk Mental Health Visit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancelled High Risk Mental Health Visit</stringValue>
        </value>
    </choices>
    <choices>
        <name>ClinicalTriageScreeningChoice</name>
        <choiceText>Clinical Triage Screening</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Clinical Triage Screening</stringValue>
        </value>
    </choices>
    <choices>
        <name>CommunityCareMissionActChoice</name>
        <choiceText>Community Care/ Mission Act</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Community Care/ Mission Act</stringValue>
        </value>
    </choices>
    <choices>
        <name>DeathNotificationChoice</name>
        <choiceText>Death Notification</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Death Notification</stringValue>
        </value>
    </choices>
    <choices>
        <name>DroppedCallChoice</name>
        <choiceText>Dropped Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dropped Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>HomeHealthNursingHomeChoice</name>
        <choiceText>Home Health / Nursing Home</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Home Health / Nursing Home</stringValue>
        </value>
    </choices>
    <choices>
        <name>LabImagingResultChoice</name>
        <choiceText>Lab/ Imaging Result</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lab/ Imaging Result</stringValue>
        </value>
    </choices>
    <choices>
        <name>Medical_Equipment_Request</name>
        <choiceText>Medical Equipment Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medical Equipment Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>MedicalEquipmentRequestChoice</name>
        <choiceText>Medical Equipment Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medical Equipment Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>MedicationRenewalChoice</name>
        <choiceText>Medication Renewal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medication Renewal</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Create_Administrative_Other_Progress_Note</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Create_CT_Screening_Progress_Note</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Create_Dropped_Call</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>No</elementReference>
        </value>
    </choices>
    <choices>
        <name>No_Create_Returned_Call_Progress_Note</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>OtherChoice</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>OutsideCarePerformedChoice</name>
        <choiceText>Outside Care Performed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Outside Care Performed</stringValue>
        </value>
    </choices>
    <choices>
        <name>PaperworkRequestChoice</name>
        <choiceText>Paperwork Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Paperwork Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>ReturnedCallChoice</name>
        <choiceText>Returned Call</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Returned Call</stringValue>
        </value>
    </choices>
    <choices>
        <name>RNScreening</name>
        <choiceText>RN Screening</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RN Screening</stringValue>
        </value>
    </choices>
    <choices>
        <name>ScheduledAppointment</name>
        <choiceText>Scheduled Appointment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Scheduled Appointment</stringValue>
        </value>
    </choices>
    <choices>
        <name>ScheduledAppointmentChoice</name>
        <choiceText>Scheduled Appointment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Scheduled Appointment</stringValue>
        </value>
    </choices>
    <choices>
        <name>SchedulingOther</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>UnabletoCompleteSchedulingActionChoice</name>
        <choiceText>Unable to Complete Scheduling Action</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unable to Complete Scheduling Action</stringValue>
        </value>
    </choices>
    <choices>
        <name>UnsuccessfulAction</name>
        <choiceText>Unsuccessful Action</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unsuccessful Action</stringValue>
        </value>
    </choices>
    <choices>
        <name>UpdatedDemographicsChoice</name>
        <choiceText>Updated Demographics</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Updated Demographics</stringValue>
        </value>
    </choices>
    <choices>
        <name>VerifiedAppointmentChoice</name>
        <choiceText>Verified Appointment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Verified Appointment</stringValue>
        </value>
    </choices>
    <choices>
        <name>VerifyAppointment</name>
        <choiceText>Verify Appointment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Verify Appointment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Create_Administrative_Other_Progress_Note</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Create_CT_Screening_Progress_Note</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Create_Dropped_Call</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Yes</elementReference>
        </value>
    </choices>
    <choices>
        <name>Yes_Create_Returned_Call_Progress_Note</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Administrative_Actions_Selected</name>
        <label>Administrative Actions Selected?</label>
        <locationX>699</locationX>
        <locationY>3038</locationY>
        <defaultConnector>
            <targetReference>Was_Returned_or_Dropped_Call_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Administrative_Actions_Selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>BenefitsEnrollmentChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>UpdatedDemographicsChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>CommunityCareMissionActChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>DeathNotificationChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>HomeHealthNursingHomeChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LabImagingResultChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>MedicalEquipmentRequestChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>OutsideCarePerformedChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>PaperworkRequestChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VCC_Document_Scheduling_Administrative_Actions_Subflow_Administrative</targetReference>
            </connector>
            <label>Yes Administrative Actions Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Administrative_Other_Check</name>
        <label>Administrative Other Check</label>
        <locationX>699</locationX>
        <locationY>3638</locationY>
        <defaultConnector>
            <targetReference>Check_For_Other_Reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Was_Administrative_Other_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>OtherChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Other_Already_Exist</targetReference>
            </connector>
            <label>Was Administrative Other Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Other_Reason</name>
        <label>Check For Other Reason</label>
        <locationX>699</locationX>
        <locationY>4430</locationY>
        <defaultConnector>
            <targetReference>Check_if_Case_Is_Owned_By_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Did_user_enter_other_Reason</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Other_Reason</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Other_Reason_Exists</targetReference>
            </connector>
            <label>Did user enter other Reason?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_A_Selection_Was_Made</name>
        <label>Check If A Selection Was Made</label>
        <locationX>1491</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Assign_Error_To_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Was_A_Selection_Made</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Scheduling_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>VerifiedAppointmentChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Scheduling_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>UnabletoCompleteSchedulingActionChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>BenefitsEnrollmentChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>CommunityCareMissionActChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>DeathNotificationChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>HomeHealthNursingHomeChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LabImagingResultChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>MedicalEquipmentRequestChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>OutsideCarePerformedChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>PaperworkRequestChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>OtherChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>UpdatedDemographicsChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>MedicationRenewalChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>ReturnedCallChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>DroppedCallChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>ClinicalTriageScreeningChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Error_Testing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_Error_Testing_Selected</targetReference>
            </connector>
            <label>Was A Selection Made?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Case_Is_Owned_By_User</name>
        <label>Check if Case Is Owned By User</label>
        <locationX>699</locationX>
        <locationY>5030</locationY>
        <defaultConnector>
            <targetReference>Check_For_Other_Outcome_Subflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assign_Case_To_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingCaseRecordVariable.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_To_Running_User</targetReference>
            </connector>
            <label>Assign Case To User?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Other_Already_Exist</name>
        <label>Check If Other Already Exist</label>
        <locationX>468</locationX>
        <locationY>3746</locationY>
        <defaultConnector>
            <targetReference>Was_Scheduling_Administrative_progress_note_option_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_Has_Been_Populated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>existingCaseRecordVariable.VCC_Case_Reason_Multi__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_For_Other_Reason</targetReference>
            </connector>
            <label>Other Has Been Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Other_Reason_Exists</name>
        <label>Check If Other Reason Exists</label>
        <locationX>523</locationX>
        <locationY>4538</locationY>
        <defaultConnector>
            <targetReference>Assign_Other_Outcome_to_Existing_Case1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_Reason_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingCaseRecordVariable.VCC_Case_Reason_Multi__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Other_Reason_to_Existing_Case</targetReference>
            </connector>
            <label>Other Reason Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Subject</name>
        <label>Check If Subject Is Blank</label>
        <locationX>699</locationX>
        <locationY>2630</locationY>
        <defaultConnector>
            <targetReference>Document_Scheduling_Administrative_Actions_Scheduling</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Subject_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingCaseRecordVariable.Subject</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Subject_to_Case</targetReference>
            </connector>
            <label>Is Subject Blank?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_New_Progress_Note_List_Size</name>
        <label>Check New Progress Note List Size</label>
        <locationX>699</locationX>
        <locationY>5438</locationY>
        <defaultConnector>
            <targetReference>Check_For_Unsigned_Progress_Notes_existing_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Progress Notes in List</defaultConnectorLabel>
        <rules>
            <name>List_Greater_Than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newProgressNoteList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Progress_Notes</targetReference>
            </connector>
            <label>List Greater Than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Existing_Case_Have_Unsigned_Progress_Notes</name>
        <label>Does Existing Case Have Unsigned Progress Notes?</label>
        <locationX>699</locationX>
        <locationY>5894</locationY>
        <defaultConnector>
            <targetReference>Set_Status_to_Closed_Resolved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Update Status to Closed-Resolved</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Status_to_Open_existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>found_Unsigned_PN</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_to_Open</targetReference>
            </connector>
            <label>Yes, Update Status to Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_User_Have_VAHC_Error_Testing_Permission_Set</name>
        <label>Does User Have VAHC Error Testing Permission Set?</label>
        <locationX>1491</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Document_Scheduling_Actions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_VAHC_Error_Testing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.VAHC_Error_Testing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_errorTestingPermSet_to_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Debug_Mode</name>
        <label>Is Debug Mode?</label>
        <locationX>699</locationX>
        <locationY>6302</locationY>
        <defaultConnector>
            <targetReference>Check_Progress_Note_exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Debug_mode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>debug_mode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SuccessScreen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Progress_Note_Choice_Check</name>
        <label>Progress Note Choice Check</label>
        <locationX>699</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>Unable_To_Complete_Scheduling_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Progress_Note_Choice_Check_for_Actions</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>DroppedCallChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>ReturnedCallChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>OtherChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Progress_Note_Choice</targetReference>
            </connector>
            <label>Progress Note Choice Check for Actions</label>
        </rules>
    </decisions>
    <decisions>
        <description>Was existing case an Open SCD case or Closed from same transaction?</description>
        <name>Status_of_Existing_Case</name>
        <label>Status of Existing Case?</label>
        <locationX>699</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>Re_open_Existing_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Closed</defaultConnectorLabel>
        <rules>
            <name>Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingCaseRecordVariable.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Error_To_False</targetReference>
            </connector>
            <label>Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unable_To_Complete_Scheduling_Decision</name>
        <label>Unable To Complete Scheduling?</label>
        <locationX>699</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>Find_or_insert_Scheduling_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Unable_To_Complete_Scheduling_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Scheduling_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>UnabletoCompleteSchedulingActionChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Incomplete_Actions_Existing</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_a_selection_other_than_CT_Screening_made</name>
        <label>Was a selection other than CT Screening made?</label>
        <locationX>1117</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Was_there_an_Error_in_CT_Case_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Selection_Other_Than_CT</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Scheduling_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>VerifiedAppointmentChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Scheduling_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>UnabletoCompleteSchedulingActionChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>BenefitsEnrollmentChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>CommunityCareMissionActChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>DeathNotificationChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>HomeHealthNursingHomeChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LabImagingResultChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>MedicalEquipmentRequestChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>OutsideCarePerformedChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>PaperworkRequestChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>OtherChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>UpdatedDemographicsChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>MedicationRenewalChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>ReturnedCallChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>DroppedCallChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Progress_Note_Choice_Check</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_CT_Screening_Selected</name>
        <label>Was CT Screening Selected?</label>
        <locationX>1524</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Progress_Note_Choice_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>ClinicalTriageScreeningChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CT_Case_Subflow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Error_Testing_Selected</name>
        <label>Was Error Testing Selected?</label>
        <locationX>787</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Was_CT_Screening_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Error_Testing_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Error_Testing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Error_Log_Entry</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Returned_or_Dropped_Call_Selected</name>
        <label>Was Returned or Dropped Call Selected</label>
        <locationX>699</locationX>
        <locationY>3338</locationY>
        <defaultConnector>
            <targetReference>Administrative_Other_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Call_Was_Selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>DroppedCallChoice</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Administrative_Actions_Group</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>ReturnedCallChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Dropped_or_Returned_Call_Subflow</targetReference>
            </connector>
            <label>Yes Call Was Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Scheduling_Administrative_progress_note_option_Selected</name>
        <label>Was Scheduling &amp; Administrative progress note option Selected</label>
        <locationX>622</locationX>
        <locationY>3854</locationY>
        <defaultConnector>
            <targetReference>Check_For_Other_Reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Scheduling_Administrative_progress_note_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes_Create_Administrative_Other_Progress_Note</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Other_Progress_Note</targetReference>
            </connector>
            <label>Yes Scheduling &amp; Administrative progress note Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_there_an_Error_in_CT_Case_Creation</name>
        <label>Was there an Error in CT Case Creation?</label>
        <locationX>1535</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>Toast_Message_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CT_Error_Occurred</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CT_Create_Error</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow utilized by MSA/AMSA personas to automate the creation of Scheduling Cases and Progress Notes.
- 1.18 (CCCM-30901) Case and PN when Unable to complete scheduling action for selected service; fix title final screen
- 1.20 (CCCM-42391) Remove Vaccine Request choice</description>
    <environments>Default</environments>
    <formulas>
        <name>baseURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))</expression>
    </formulas>
    <formulas>
        <name>caseOutcomeWithLineBreak</name>
        <dataType>String</dataType>
        <expression>{!existingCaseRecordVariable.VCC_Other_Case_Outcome__c}  +  {!Case_Outcome_Text_Input}  +  &apos;  ;    &apos;</expression>
    </formulas>
    <formulas>
        <name>newCaseReasonText</name>
        <dataType>String</dataType>
        <expression>{!newCaseRecordVariable.VCC_Other_Case_Reason__c} + {!Other_Reason} + &apos;  ;    &apos;</expression>
    </formulas>
    <formulas>
        <name>OtherReasonWithLineBreak</name>
        <dataType>String</dataType>
        <expression>{!existingCaseRecordVariable.VCC_Other_Case_Reason__c} + {!Other_Reason} + &apos;  ;    &apos;</expression>
    </formulas>
    <interviewLabel>Document Scheduling &amp; Admin actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VCC Document Scheduling &amp; Administrative Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Progress_Notes</name>
        <label>Create Progress Notes</label>
        <locationX>435</locationX>
        <locationY>5546</locationY>
        <connector>
            <targetReference>Check_For_Unsigned_Progress_Notes_existing_case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <inputReference>newProgressNoteList</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get Case&apos;s Number. Utilized in the Success Toast Message Banner in the Flow&apos;s Success Screen.</description>
        <name>Get_Case_Number</name>
        <label>Get Case Number</label>
        <locationX>699</locationX>
        <locationY>2114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_of_Existing_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>existingCaseRecordVariable.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>caseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Account_Info</name>
        <label>Get Person Account Info</label>
        <locationX>1491</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Scheduling_Case_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>personContactId_Var</assignToReference>
            <field>PersonContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>personAccount_Var.VCC_Call_Back_Number__c</assignToReference>
            <field>VCC_Call_Back_Number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>personAccount_Var.VCC_Current_Location__c</assignToReference>
            <field>VCC_Current_Location__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Scheduling_Case_Record_Type</name>
        <label>Get Scheduling Case Record Type</label>
        <locationX>1491</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Scheduling_Progress_Note_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCC_Administrative</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Scheduling_Progress_Note_Record_Type</name>
        <label>Get Scheduling Progress Note Record Type</label>
        <locationX>1491</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_User_Have_VAHC_Error_Testing_Permission_Set</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCC_Scheduling_Progress_Note</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCC_Progress_Note__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>If this was an existing case (Closed) from same transaction, re-open so it can be used to document the actions.</description>
        <name>Re_open_Existing_Case</name>
        <label>Re-open Existing Case</label>
        <locationX>787</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>Assign_Error_To_False</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>existingCaseRecordVariable.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Case</name>
        <label>Update Existing Case</label>
        <locationX>699</locationX>
        <locationY>6194</locationY>
        <connector>
            <targetReference>Is_Debug_Mode</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen_Update_Case</targetReference>
        </faultConnector>
        <inputReference>existingCaseRecordVariable</inputReference>
    </recordUpdates>
    <screens>
        <name>Document_Scheduling_Actions</name>
        <label>Document Scheduling Actions</label>
        <locationX>1491</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reset_Incomplete_Values</targetReference>
        </connector>
        <fields>
            <name>DocumentActionsTitle</name>
            <fieldText>&lt;p&gt;{!DocumentActionsTitleVariable}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Document_Scheduling_Actions_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Document_Scheduling_Actions_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Scheduling_Actions_Group</name>
                    <choiceReferences>VerifiedAppointmentChoice</choiceReferences>
                    <choiceReferences>UnabletoCompleteSchedulingActionChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Scheduling Actions Group</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Document_Scheduling_Actions_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Administrative_Actions_Group</name>
                    <choiceReferences>BenefitsEnrollmentChoice</choiceReferences>
                    <choiceReferences>ClinicalTriageScreeningChoice</choiceReferences>
                    <choiceReferences>CommunityCareMissionActChoice</choiceReferences>
                    <choiceReferences>DeathNotificationChoice</choiceReferences>
                    <choiceReferences>HomeHealthNursingHomeChoice</choiceReferences>
                    <choiceReferences>LabImagingResultChoice</choiceReferences>
                    <choiceReferences>MedicalEquipmentRequestChoice</choiceReferences>
                    <choiceReferences>OutsideCarePerformedChoice</choiceReferences>
                    <choiceReferences>PaperworkRequestChoice</choiceReferences>
                    <choiceReferences>UpdatedDemographicsChoice</choiceReferences>
                    <choiceReferences>DroppedCallChoice</choiceReferences>
                    <choiceReferences>ReturnedCallChoice</choiceReferences>
                    <choiceReferences>OtherChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Administrative Actions Group</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Error_Testing</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Error Testing</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>errorTestingPermissionCheck</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Other_Reason</name>
            <dataType>String</dataType>
            <fieldText>Other Case Reason</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Administrative_Actions_Group</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>OtherChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Case_Outcome_Text_Input</name>
            <dataType>String</dataType>
            <fieldText>Other Case Outcome</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Please enter the outcome of your phone call&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1 AND (NOT(2) AND NOT(3))</conditionLogic>
                <conditions>
                    <leftValueReference>Administrative_Actions_Group</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Administrative_Actions_Group</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>ClinicalTriageScreeningChoice</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Administrative_Actions_Group</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>MedicationRenewalChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Patient_Stated_Symptoms</name>
            <fieldText>Patient Stated Symptoms</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Administrative_Actions_Group</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>ClinicalTriageScreeningChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MustMakeSelection</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;You Must Make A Selection To Document Actions&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>showErrorVariable</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Document Actions</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen_Update_Case</name>
        <label>Error Screen</label>
        <locationX>1139</locationX>
        <locationY>6302</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorScreenTitle</name>
            <fieldText>&lt;p&gt;{!DocumentActionsTitleVariable}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorDisplay_Update_Case</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(225, 23, 23); font-size: 18px;&quot;&gt;ERROR:  Unable to update Case.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>toastErrorMessage_Update_SCD_Case</name>
            <extensionName>c:vccFlowNotification</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>delay</name>
                <value>
                    <numberValue>12.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>An error occurred and the Case cannot be updated.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Error! Cannot Update Scheduling Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>dismissible</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Progress_Note_Choice</name>
        <label>Progress Note Choice</label>
        <locationX>567</locationX>
        <locationY>1622</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Unable_To_Complete_Scheduling_Decision</targetReference>
        </connector>
        <fields>
            <name>DocumentActionsTitle2</name>
            <fieldText>&lt;p&gt;{!DocumentActionsTitle}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Returned_Call_Progress_Note_Choice</name>
            <choiceReferences>Yes_Create_Returned_Call_Progress_Note</choiceReferences>
            <choiceReferences>No_Create_Returned_Call_Progress_Note</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to create a progress note for the Returned Call?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Administrative_Actions_Group</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>ReturnedCallChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Administrative_Other_Progress_Note_Choice</name>
            <choiceReferences>Yes_Create_Administrative_Other_Progress_Note</choiceReferences>
            <choiceReferences>No_Create_Administrative_Other_Progress_Note</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to create a progress note for the Other Action?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Administrative_Actions_Group</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>OtherChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Dropped_Call_Progress_Note_Choice</name>
            <choiceReferences>Yes_Create_Dropped_Call</choiceReferences>
            <choiceReferences>No_Create_Dropped_Call</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to create a progress note for the Dropped Call?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Administrative_Actions_Group</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>DroppedCallChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>SuccessScreen</label>
        <locationX>567</locationX>
        <locationY>6410</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessScreenTitle</name>
            <fieldText>&lt;p&gt;{!DocumentActionsTitleVariable}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SuccessDisplay</name>
            <fieldText>&lt;p&gt;Your scheduling actions have been documented successfully!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>toastSuccesMessage</name>
            <extensionName>c:vccFlowNotification</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>delay</name>
                <value>
                    <numberValue>15.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>sticky</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Case {!caseNumber} was created! Case Status: {!existingCaseRecordVariable.Status} </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Success!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1365</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Person_Account_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Checks for Other outcome</description>
        <name>Check_For_Other_Outcome_Subflow</name>
        <label>Check For Other Outcome</label>
        <locationX>699</locationX>
        <locationY>5330</locationY>
        <connector>
            <targetReference>Check_New_Progress_Note_List_Size</targetReference>
        </connector>
        <flowName>VCC_Document_Scheduling_Administrative_Actions_Subflow_Other</flowName>
        <inputAssignments>
            <name>caseOutcomeTextInput</name>
            <value>
                <elementReference>Case_Outcome_Text_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>caseOutcomeWithLineBreak</name>
            <value>
                <elementReference>caseOutcomeWithLineBreak</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>existingCaseRecord</name>
            <value>
                <elementReference>existingCaseRecordVariable</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>existingCaseRecordVariable</assignToReference>
            <name>existingCaseRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Passes Case record to subflow to check if Unsigned Progress Notes are attached to Said Case. Sends back Boolean value to determine Case Status.</description>
        <name>Check_For_Unsigned_Progress_Notes_existing_case</name>
        <label>Check For Unsigned Progress Notes</label>
        <locationX>699</locationX>
        <locationY>5786</locationY>
        <connector>
            <targetReference>Does_Existing_Case_Have_Unsigned_Progress_Notes</targetReference>
        </connector>
        <flowName>VCC_Check_For_Unsigned_Progress_Notes_Subflow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>existingCaseRecordVariable</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>found_Unsigned_PN</assignToReference>
            <name>found_Unsigned_PN</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Check if Progress Notes Exists for this Case and then redirect to Progress Note. If not display the Success Screen</description>
        <name>Check_Progress_Note_exists</name>
        <label>Check Progress Note exists</label>
        <locationX>831</locationX>
        <locationY>6410</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <flowName>VCC_Check_Case_ProgressNote_SubFlow</flowName>
        <inputAssignments>
            <name>newCaseCheck</name>
            <value>
                <elementReference>newCaseCheck</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>existingCaseRecordVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newProgressNoteList</name>
            <value>
                <elementReference>newProgressNoteList</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_CT_Case_Subflow</name>
        <label>Create CT Case Subflow</label>
        <locationX>1117</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Was_a_selection_other_than_CT_Screening_made</targetReference>
        </connector>
        <flowName>VCC_Create_CT_Case_For_Queue_Subflow</flowName>
        <inputAssignments>
            <name>Patient_Stated_Symptoms</name>
            <value>
                <elementReference>Patient_Stated_Symptoms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PersonContactId_Var</name>
            <value>
                <elementReference>personContactId_Var</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CT_Case_Record_Doc</assignToReference>
            <name>CT_Case_Record</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CT_Create_Error</assignToReference>
            <name>CT_Create_Error</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Check if Scheduling Action Check</description>
        <name>Document_Scheduling_Administrative_Actions_Scheduling</name>
        <label>Document Scheduling Administrative Actions Scheduling`</label>
        <locationX>699</locationX>
        <locationY>2930</locationY>
        <connector>
            <targetReference>Administrative_Actions_Selected</targetReference>
        </connector>
        <flowName>VCC_Document_Scheduling_Administrative_Actions_Subflow_Scheduling</flowName>
        <inputAssignments>
            <name>existingCaseRecordVariable</name>
            <value>
                <elementReference>existingCaseRecordVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SchedulingActionsGroup</name>
            <value>
                <elementReference>Scheduling_Actions_Group</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>existingCaseRecordVariable</assignToReference>
            <name>existingCaseRecordVariable</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Enter_Dropped_or_Returned_Call_Subflow</name>
        <label>Enter Dropped or Returned Call Subflow</label>
        <locationX>567</locationX>
        <locationY>3446</locationY>
        <connector>
            <targetReference>Administrative_Other_Check</targetReference>
        </connector>
        <flowName>VCC_Document_Scheduling_Administrative_Actions_Subflow_Call</flowName>
        <inputAssignments>
            <name>DroppedCallChoice</name>
            <value>
                <elementReference>Administrative_Actions_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DroppedCallPNisSelected</name>
            <value>
                <elementReference>Dropped_Call_Progress_Note_Choice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>existingcaserecordVar</name>
            <value>
                <elementReference>existingCaseRecordVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newProgressNoteList</name>
            <value>
                <elementReference>newProgressNoteList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PNRecordId</name>
            <value>
                <elementReference>Get_Scheduling_Progress_Note_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReturnedCallChoice</name>
            <value>
                <elementReference>Administrative_Actions_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReturnedCallPNisSelected</name>
            <value>
                <elementReference>Returned_Call_Progress_Note_Choice</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>existingCaseRecordVariable</assignToReference>
            <name>existingcaserecordVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>newProgressNoteList</assignToReference>
            <name>newProgressNoteList</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Find existing scheduling case or create a new one</description>
        <name>Find_or_insert_Scheduling_Case</name>
        <label>Find or insert Scheduling Case</label>
        <locationX>831</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>Get_Case_Number</targetReference>
        </connector>
        <flowName>VCC_Appointment_Subflow_FindOrCreateCase</flowName>
        <inputAssignments>
            <name>accountId_var</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>appointmentServiceTextChoice</name>
            <value>
                <elementReference>primaryCareText</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>newCaseCheck</assignToReference>
            <name>newCaseCheck</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>existingCaseRecordVariable</assignToReference>
            <name>schedulingCase_var</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Flow_Error</name>
        <label>Flow Error</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <flowName>VCC_Flow_Error_Display</flowName>
        <inputAssignments>
            <name>SYSTEM_ERROR</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Process_Incomplete_Actions_Existing</name>
        <label>Process Incomplete Actions Existing Case</label>
        <locationX>567</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>Get_Case_Number</targetReference>
        </connector>
        <flowName>VCC_Incomplete_Actions_Subflow</flowName>
        <inputAssignments>
            <name>caseRecord</name>
            <value>
                <elementReference>existingCaseRecordVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newProgressNoteList</name>
            <value>
                <elementReference>newProgressNoteList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAccountId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>existingCaseRecordVariable</assignToReference>
            <name>caseRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>newCaseCheck</assignToReference>
            <name>newCaseCheck</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>newProgressNoteList</assignToReference>
            <name>newProgressNoteList</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>incompleteProgressNote</assignToReference>
            <name>progressNoteRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>VCC_Document_Scheduling_Administrative_Actions_Subflow_Administrative</name>
        <label>VCC Document Scheduling &amp; Administrative Actions Subflow - Administrative</label>
        <locationX>567</locationX>
        <locationY>3146</locationY>
        <connector>
            <targetReference>Was_Returned_or_Dropped_Call_Selected</targetReference>
        </connector>
        <flowName>VCC_Document_Scheduling_Administrative_Actions_Subflow_Administrative</flowName>
        <inputAssignments>
            <name>Administrative_Actions_Group</name>
            <value>
                <elementReference>Administrative_Actions_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>BenefitsEnrollmentCheck</name>
            <value>
                <elementReference>Administrative_Actions_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CommunityCareMissionActCheck</name>
            <value>
                <elementReference>Administrative_Actions_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>DeathNotificationCheck</name>
            <value>
                <elementReference>Administrative_Actions_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>existingCaseRecordVariable</name>
            <value>
                <elementReference>existingCaseRecordVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>HomeHealthNursingHomeCheck</name>
            <value>
                <elementReference>Administrative_Actions_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LabImagingResultCheck</name>
            <value>
                <elementReference>Administrative_Actions_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MedicalEquipmentRequestCheck</name>
            <value>
                <elementReference>Administrative_Actions_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>newProgressNoteList</name>
            <value>
                <elementReference>newProgressNoteList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OutsideCarePerformedCheck</name>
            <value>
                <elementReference>Administrative_Actions_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PaperworkRequestCheck</name>
            <value>
                <elementReference>Administrative_Actions_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PNRecordId</name>
            <value>
                <elementReference>Get_Scheduling_Progress_Note_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>UpdatedDemographicsCheck</name>
            <value>
                <elementReference>Administrative_Actions_Group</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>existingCaseRecordVariable</assignToReference>
            <name>existingCaseRecordVariable</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>newProgressNoteList</assignToReference>
            <name>newProgressNoteList</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>DocumentActionsTitleVariable</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Document Scheduling &amp;amp; Administrative Actions&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>toastSuccessMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Case {!caseNumber} was created successfully! Case Status: {!existingCaseRecordVariable.Status}.</text>
    </textTemplates>
    <variables>
        <name>caseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Create_Returned_Call_Progress_Note</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CT_Case_Record_Doc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CT_Create_Error</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>debug_mode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorTestingPermissionCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>existingCaseRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>found_Unsigned_PN</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Incomplete_Action_Cancelled_Appointment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Incomplete_Action_Cancelled_High_Risk</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Incomplete_Action_Scheduled_Appointment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Incomplete_Action_Verify_Appointment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Used to compile all selected reasons for Incomplete Action.</description>
        <name>Incomplete_Case_Reasons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>incompleteCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>incompleteProgressNote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VCC_Progress_Note__c</objectType>
    </variables>
    <variables>
        <description>Set Nebula Logging Level to Error for Fault Paths</description>
        <name>LoggingLevel_Error_TextValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ERROR</stringValue>
        </value>
    </variables>
    <variables>
        <name>Medicational_Renewal_PN</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VCC_Progress_Note__c</objectType>
    </variables>
    <variables>
        <name>newCaseCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>newCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newCaseRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>newProgressNoteList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VCC_Progress_Note__c</objectType>
    </variables>
    <variables>
        <name>otherProgressNote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VCC_Progress_Note__c</objectType>
    </variables>
    <variables>
        <name>PatientHighRisk</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>personAccount_Var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>personContactId_Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>A text variable for &quot;Primary Care&quot;, an picklist value in Case.Appointment Service</description>
        <name>primaryCareText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Primary Care</stringValue>
        </value>
    </variables>
    <variables>
        <name>Reason_Consult_Review_Required</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Reason_No_Appointment_Available</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Reason_Not_Authorized_Service_Line</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Reason_Restricted_Unavailable_Clinic</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Reason_SelfReferred_Out_Of_Cycle</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Service_Community_Care</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Service_Mental_Health</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Service_Primary_Care</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Service_Requested</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Service_Specialty_Care</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Service_Virtual_Clinic_Visit</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>showErrorVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Specialty_Community_Error_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Please enter requested Service/Specialty.</stringValue>
        </value>
    </variables>
    <variables>
        <name>Unsuccessful_Reason</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
