sfdx-source/main/default/flows/VCC_Sign_Note_Subflow_Before_Sign_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Error_Log</name>
        <label>Error Log</label>
        <locationX>3878</locationX>
        <locationY>1706</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>VCC_Sign_Note_Subflow_Before_Sign_Actions</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Actions &amp; Sub Actions from the previous screen mapped to the progress note.</description>
        <name>Update_RN_Actions</name>
        <label>Update RN Actions</label>
        <locationX>1678</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Referred_patient_for_CCC_VCV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Referred_patient_for_CCC_VCV</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Transferred_patient_Sched_Admin_appt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transferred_patient_to_Sched_Admin_Apt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Transferred_patient_Sched_Admin_VCV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transferred_patient_to_Sched_Admin_VCV</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_warm_transfer_to_VCV_provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Provided_warm_transfer_to_VCV_provider</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_No_appoint_avail_Emerg_Care_VCV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>No_appt_avail_Advised_Emergency_Care_VCV</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_No_appointment_Urgent_Care_VCV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>No_appt_avail_Advised_Urgent_Care_VCV</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Other_VCV_Referral__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_VCV_Referral</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Other_Referred_to_CCC_VCV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Referred_for_Virtual_Clinic_Visit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Referred_patient_for_in_person_appt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Referred_patient_for_in_person_appt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Transferred_patient_to_facility_MSA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transferred_patient_to_facility_MSA</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_No_appointment_Urgent_Care_in_person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>No_appt_avail_Advised_Urgt_Care_InPerson</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_No_appt_avail_Emerg_Care_in_person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>No_appt_avail_Advised_Emer_Care_InPerson</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Other_In_Person__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_In_Person</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Other_Referred_for_in_person_appt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Referred_for_In_Person_Appt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Instructed_to_go_to_Urgent_Care__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Instructed_patient_to_go_to_Urgent_Care</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Provided_location_of_Urgent_Care__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Provided_location_of_Urgent_Care_Center</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Instructed_to_go_to_Emergency_Depart__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Instructed_to_go_to_Emergency_Department</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Advised_of_MA_Urgent_Care_Benefits__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Advised_of_MA_Urgent_Care_Benefits</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Contacted_emergency_services__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contacted_Emergency_Services_EMS_Refer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Contacted_EMS_stayed_w_patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contacted_Emergency_Services_EMS_Refer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Other_Emergency_Services_Referred__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Emergency_Services_Referred</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Other_Referred_to_emergency_services__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Referred_to_Emergency_Services</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Unable_to_assist_patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unable_to_assist_patient_Actions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Comments_unable_to_assist_patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments_Unable_to_assist_Actions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Other_course_s_of_action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_course_s_of_action</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Transferred_patient_CCC_Pharm_other__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transferred_patient_to_CCC_Pharmacy2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Generated_message_to_PACT_Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Generated_msg_to_PACT_Provider_Other</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Advised_protocol_worsening_symptoms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Provided_guidance_for_worsening_symptoms</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Other_course_of_action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alternative_course_of_action</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Other_other_course_of_action__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alternative_courses_of_action</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Referred_to_emergency_services__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Referred_patient_to_higher_level_of_care</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Contacted_EMS_stayed_w_patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contacted_EMS_stayed_on_phone_w_patient</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Transferred_to_Tele_EC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transferred_to_Tele_EC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Advised_of_Financial_Disclaimer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Advised_of_Financial_Disclaimer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_VCV_PN</name>
        <label>Update VCV PN</label>
        <locationX>2822</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Medication_Reconciliation_Options__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>medicationReconcilationVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Medication_Reconciliation_Options_Rn__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>medicationReconcilationDiscrepanciesVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Medication_Discrepancy_Addl_Info_New__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>medicationDiscrepancyAdditionInfoVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Medication_Education__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>medicationEducationVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Medication_Education_Additional_Info__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>medicationEducationAdditionalInfoVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Disposition_Recommendations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DispositionRecommendationsVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progress_note.VCC_Other_Disposition_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OtherDispositionNotesVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Progress_Note</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Yes_Picklist</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Determines if Current User is the record Creator</description>
        <name>Current_User_Creator</name>
        <label>Current User Creator</label>
        <locationX>3988</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Creator</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$User.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CreatedBy_User.Username</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>progress_note.VCC_Transferred_Note__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>progress_note.VCC_Case__r.Owner:User.Username</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Associated_Case_and_Account_record_with_MVI_External_ID</targetReference>
            </connector>
            <label>Creator</label>
        </rules>
        <rules>
            <name>Not_Creator</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>CreatedBy_User.Username</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unsigned_Progress_Note_Not_Creator</targetReference>
            </connector>
            <label>Not Creator</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Associated_Case_and_Account_record_with_MVI_External_ID</name>
        <label>Has Associated Case and Account record with MVI External ID?</label>
        <locationX>3306</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>No_Patient_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Case_And_Patient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>progress_note.VCC_Case__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue />
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>progress_note.VCC_Case__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>progress_note.VCC_Case__r.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue />
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>progress_note.VCC_Case__r.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Summary_of_Actions_and_Subactions</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Addendum</name>
        <label>Is Addendum?</label>
        <locationX>1535</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Signature_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Addendum</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>addendumRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>progress_note</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Parent_Progress_Note_Signed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Addendum_Creator_the_Current_User</name>
        <label>Is Addendum Creator the Current User?</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Unsigned_Addendum_Not_Creator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>addendumRecord.VCC_Transferred_Addendum__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>addendumRecord.Owner:User.Username</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>addendumRecord.CreatedBy.Username</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Username</elementReference>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Parent_Progress_Note_Signed</name>
        <label>Is Parent Progress Note Signed?</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Parent_Note_Not_Signed_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Parent_Progress_Note_Signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>addendumRecord.VCC_Related_Note__r.VCC_Signed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Addendum_Creator_the_Current_User</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Signature_Status</name>
        <label>Signature Status</label>
        <locationX>2822</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>progress_note.VCC_Signed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Signed_Progress_Note</targetReference>
            </connector>
            <label>Signed</label>
        </rules>
        <rules>
            <name>Unsigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>progress_note.VCC_Signed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_User_Creator</targetReference>
            </connector>
            <label>Unsigned</label>
        </rules>
    </decisions>
    <decisions>
        <description>At least 1 summary of action and 1 corresponding sub action is req. before a progress note can be signed.</description>
        <name>Summary_of_Actions_and_Subactions</name>
        <label>Summary of Actions and Subactions</label>
        <locationX>2470</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Needs_a_Summary_of_Action_before_Signature</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>progress_note.RecordType.DeveloperName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>VCC_Clinical</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>progress_note.VCC_Referred_patient_for_CCC_VCV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>progress_note.VCC_Referred_patient_for_in_person_appt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>progress_note.VCC_Referred_to_emergency_services__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>progress_note.VCC_Unable_to_assist_patient__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>progress_note.VCC_Other_course_s_of_action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transferred</targetReference>
            </connector>
            <label>Needs a Summary of Action before Signature</label>
        </rules>
        <rules>
            <name>Needs_Pharm_Action</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>progress_note.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier_I</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>progress_note.VCC_Action_Requested_Completed__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Needs Pharm Action</label>
        </rules>
        <rules>
            <name>Skip_VCV_Medication_Info</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>progress_note.VCC_Medication_Education__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>progress_note.VCC_Medication_Reconciliation_Options__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>progress_note.VCC_Disposition_Recommendations__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Progress_Note</targetReference>
            </connector>
            <label>Skip VCV Medication Info</label>
        </rules>
        <rules>
            <name>Need_VCV_Medication_Info</name>
            <conditionLogic>(1 OR 2 OR 6 OR (7 AND 8) ) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>progress_note.VCC_Medication_Education__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>progress_note.VCC_Medication_Reconciliation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>progress_note.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VCC_Virtual_Visit_Progress_Note</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>progress_note.VCC_Patient_No_Show_no_welfare_check__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>progress_note.VCC_Patient_was_a_No_Show__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>progress_note.VCC_Disposition_Recommendations__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>progress_note.VCC_Disposition_Recommendations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>progress_note.VCC_Other_Disposition_Notes__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VCV_Medication</targetReference>
            </connector>
            <label>Need VCV Medication Info</label>
        </rules>
        <rules>
            <name>Summary_of_Actions_Complete</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>progress_note.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>VCC_Clinical_Triage_Progress_Note</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>progress_note.VCC_Referred_patient_for_CCC_VCV__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>progress_note.VCC_Referred_patient_for_in_person_appt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>progress_note.VCC_Referred_to_emergency_services__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>progress_note.VCC_Unable_to_assist_patient__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>progress_note.VCC_Other_course_s_of_action__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Summary of Actions Complete</label>
        </rules>
        <rules>
            <name>Pharm_Actions_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>progress_note.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tier_I</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>progress_note.RecordType.DeveloperName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Pharm Actions Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transferred</name>
        <label>Transferred?</label>
        <locationX>1326</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Action_Sub_Action_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Continue</defaultConnectorLabel>
        <rules>
            <name>Yes_Bypass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>progress_note.VCC_Transferred_Note__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes, Bypass</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check req. fields were completed on previous screen</description>
        <name>Validate_Fields</name>
        <label>Validate Fields</label>
        <locationX>1678</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_Progress_Note</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Missing_Actions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Referred_patient_for_CCC_VCV</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Referred_patient_for_in_person_appt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Referred_patient_to_higher_level_of_care</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Unable_to_assist_patient_Actions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Other_course_s_of_action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Fields_Missing</targetReference>
            </connector>
            <label>Missing Actions</label>
        </rules>
        <rules>
            <name>Missing_VCV_Subactions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Referred_patient_for_CCC_VCV</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Transferred_patient_to_Sched_Admin_VCV</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Provided_warm_transfer_to_VCV_provider</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>No_appt_avail_Advised_Emergency_Care_VCV</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>No_appt_avail_Advised_Urgent_Care_VCV</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Other_VCV_Referral</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Fields_Missing</targetReference>
            </connector>
            <label>Missing VCV Subactions</label>
        </rules>
        <rules>
            <name>Missing_Inperson_Subactions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Referred_patient_for_in_person_appt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Transferred_patient_to_Sched_Admin_Apt</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Transferred_patient_to_facility_MSA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>No_appt_avail_Advised_Urgt_Care_InPerson</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>No_appt_avail_Advised_Emer_Care_InPerson</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Other_In_Person</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Fields_Missing</targetReference>
            </connector>
            <label>Missing Inperson Subactions</label>
        </rules>
        <rules>
            <name>Missing_EmerServices_Subaction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Referred_patient_to_higher_level_of_care</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Instructed_patient_to_go_to_Urgent_Care</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Provided_location_of_Urgent_Care_Center</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Instructed_to_go_to_Emergency_Department</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Advised_of_MA_Urgent_Care_Benefits</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contacted_Emergency_Services_EMS_Refer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contacted_EMS_stayed_on_phone_w_patient</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Other_Emergency_Services_Referred</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Advised_of_Financial_Disclaimer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Transferred_to_Tele_EC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Fields_Missing</targetReference>
            </connector>
            <label>Missing EmerServices Subaction</label>
        </rules>
        <rules>
            <name>Missing_Other_Subactions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Other_course_s_of_action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Transferred_patient_to_CCC_Pharmacy2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Generated_msg_to_PACT_Provider_Other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Provided_guidance_for_worsening_symptoms</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Alternative_course_of_action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Fields_Missing</targetReference>
            </connector>
            <label>Missing Other Subactions</label>
        </rules>
    </decisions>
    <description>Flow Actions Before Signing the Progress Note

Release 1.17.0 - Added Disposition Recommendation to VCV Medication Field.  As part of the work, the flow was cleaned up and unused elements and variables were removed. 


CRM 1.10- This Flow has been updated to allow the transferred owner the ability to sign a Progress Note or Addendum. There is also a bypass to prevent additional screens  for Scheduling, Pharm I and II and CT progress notes.</description>
    <dynamicChoiceSets>
        <name>Case_Outcome_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>VCC_Case_Outcome__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Case_Status_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Status</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DispositionRecommendations</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>VCC_Disposition_Recommendations__c</picklistField>
        <picklistObject>VCC_Progress_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Medication_Education_List</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>VCC_Medication_Education__c</picklistField>
        <picklistObject>VCC_Progress_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Medication_Reconciliation_Options_List</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>VCC_Medication_Reconciliation_Options__c</picklistField>
        <picklistObject>VCC_Progress_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MedicationReconciliationOptionReasonList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>VCC_Medication_Reconciliation_Options_Rn__c</picklistField>
        <picklistObject>VCC_Progress_Note__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pharm_Action_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>VCC_Action_Requested_Completed__c</picklistField>
        <picklistObject>VCC_Progress_Note__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Current User First and Last Name</description>
        <name>Current_User_Name</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} + &quot; &quot; + {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <description>Formula checks if the value is populated in the Disposition Recommendation. If it did, will hold the value from the screen entry. Else, will hold the value field value from the PN</description>
        <name>DispositionRecommendationsVar</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!Disposition_Recommendations}), TEXT({!progress_note.VCC_Disposition_Recommendations__c}), {!Disposition_Recommendations})</expression>
    </formulas>
    <formulas>
        <name>false_formula</name>
        <dataType>Boolean</dataType>
        <expression>false</expression>
    </formulas>
    <formulas>
        <description>Formula checks if the value is populated in the VCV medication screen. If it did, will hold the value from the screen entry. Else, will hold the value field value from the PN</description>
        <name>medicationDiscrepancyAdditionInfoVar</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!Medication_Discrepancy_Additional_Info}), {!progress_note.VCC_Medication_Discrepancy_Addl_Info_New__c}, {!Medication_Discrepancy_Additional_Info} )</expression>
    </formulas>
    <formulas>
        <description>Formula checks if the value is populated in the VCV medication screen. If it did, will hold the value from the screen entry. Else, will hold the value field value from the PN</description>
        <name>medicationEducationAdditionalInfoVar</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!Medication_Education_Additional_Info}), {!progress_note.VCC_Medication_Education_Additional_Info__c}, {!Medication_Education_Additional_Info} )</expression>
    </formulas>
    <formulas>
        <description>Formula checks if the value is populated in the VCV medication screen. If it did, will hold the value from the screen entry. Else, will hold the value field value from the PN</description>
        <name>medicationEducationVar</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!Medication_Education}), TEXT({!progress_note.VCC_Medication_Education__c}), {!Medication_Education} )</expression>
    </formulas>
    <formulas>
        <description>Formula checks if the value is populated in the VCV medication screen. If it did, will hold the value from the screen entry. Else, will hold the value field value from the PN</description>
        <name>medicationReconcilationDiscrepanciesVar</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!Medication_Reconciliation_Option_Reason}), TEXT({!progress_note.VCC_Medication_Reconciliation_Options_Rn__c}), {!Medication_Reconciliation_Option_Reason} )</expression>
    </formulas>
    <formulas>
        <description>Formula checks if the value is populated in the VCV medication screen. If it did, will hold the value from the screen entry. Else, will hold the value field value from the PN</description>
        <name>medicationReconcilationVar</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!Medication_Reconciliation_Options}), TEXT({!progress_note.VCC_Medication_Reconciliation_Options__c}), {!Medication_Reconciliation_Options} )</expression>
    </formulas>
    <formulas>
        <description>Formula checks if the value is populated in the VCV medication screen. If it did, will hold the value from the screen entry. Else, will hold the value field value from the PN</description>
        <name>OtherDispositionNotesVar</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK({!Other_Disposition_Notes}),{!progress_note.VCC_Other_Disposition_Notes__c} , {!Other_Disposition_Notes} )</expression>
    </formulas>
    <interviewLabel>VCC Sign Note Subflow PreSign Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VCC Sign Note Subflow Before Sign Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Progress_Note</name>
        <label>Update Progress Note</label>
        <locationX>2470</locationX>
        <locationY>1598</locationY>
        <faultConnector>
            <targetReference>Error_Log</targetReference>
        </faultConnector>
        <inputReference>progress_note</inputReference>
    </recordUpdates>
    <screens>
        <name>Action_Sub_Action_Required</name>
        <label>Action &amp; Sub Action Required</label>
        <locationX>1678</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_RN_Actions</targetReference>
        </connector>
        <fields>
            <name>Instructions_for_Actions_Screen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;At least &lt;/span&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;1 Action and 1 Sub-Action are required&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; before signing a &lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Clinical Triage Progress Note.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If &apos;Other&apos; Sub-Action is selected, additional comments are also required.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Action_Sub_Action_Required_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Action_Sub_Action_Required_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Actions</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;ACTIONS&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Action_Sub_Action_Required_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sub_Actions</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;SUB-ACTIONS&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Action_Sub_Action_Required_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Action_Sub_Action_Required_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Action_Sub_Action_Required_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>VCV_Subaction</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;1 or more Selection(s) Required&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Referred_patient_for_CCC_VCV</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Action_Sub_Action_Required_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Action_Sub_Action_Required_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Referred_patient_for_CCC_VCV</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_Referred_patient_for_CCC_VCV__c</elementReference>
                    </defaultValue>
                    <fieldText>Referred patient for CCC Virtual Clinic Visit</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Action_Sub_Action_Required_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Transferred_patient_to_Sched_Admin_VCV</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_Transferred_patient_Sched_Admin_VCV__c</elementReference>
                    </defaultValue>
                    <fieldText>Transferred patient to Sched &amp; Admin-VCV</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>No_appt_avail_Advised_Emergency_Care_VCV</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_No_appoint_avail_Emerg_Care_VCV__c</elementReference>
                    </defaultValue>
                    <fieldText>No appt avail Advised Emergency Care</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>No_appt_avail_Advised_Urgent_Care_VCV</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_No_appointment_Urgent_Care_VCV__c</elementReference>
                    </defaultValue>
                    <fieldText>No appt avail. Advised Urgent Care</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Provided_warm_transfer_to_VCV_provider</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_warm_transfer_to_VCV_provider__c</elementReference>
                    </defaultValue>
                    <fieldText>Provided warm transfer to VCV provider</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Other_VCV_Referral</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_Other_VCV_Referral__c</elementReference>
                    </defaultValue>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Other_Referred_for_Virtual_Clinic_Visit</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_Other_Referred_to_CCC_VCV__c</elementReference>
                    </defaultValue>
                    <fieldText>Other Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Other_VCV_Referral</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Action_Sub_Action_Required_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Action_Sub_Action_Required_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Action_Sub_Action_Required_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Inperson_Subaction</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;1 or more Selection(s) Required&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Referred_patient_for_in_person_appt</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Action_Sub_Action_Required_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Action_Sub_Action_Required_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Referred_patient_for_in_person_appt</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_Referred_patient_for_in_person_appt__c</elementReference>
                    </defaultValue>
                    <fieldText>Referred Patient for In-Person Appt</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Action_Sub_Action_Required_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Transferred_patient_to_Sched_Admin_Apt</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>Transferred_patient_to_facility_MSA</elementReference>
                    </defaultValue>
                    <fieldText>Transferred patient to Sched &amp; Admin-Apt</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Transferred_patient_to_facility_MSA</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_Transferred_patient_to_facility_MSA__c</elementReference>
                    </defaultValue>
                    <fieldText>Transferred patient to facility MSA</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>No_appt_avail_Advised_Urgt_Care_InPerson</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_No_appointment_Urgent_Care_in_person__c</elementReference>
                    </defaultValue>
                    <fieldText>No appt avail Advised Urgent Care</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>No_appt_avail_Advised_Emer_Care_InPerson</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_No_appt_avail_Emerg_Care_in_person__c</elementReference>
                    </defaultValue>
                    <fieldText>No appt avail Advised Emergency Care</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Other_In_Person</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_Other_In_Person__c</elementReference>
                    </defaultValue>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Other_Referred_for_In_Person_Appt</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_Other_Referred_for_in_person_appt__c</elementReference>
                    </defaultValue>
                    <fieldText>Other Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Other_In_Person</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Action_Sub_Action_Required_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Action_Sub_Action_Required_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Action_Sub_Action_Required_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Emergency_Subaction</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;1 or more Selection(s) Required&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Referred_patient_to_higher_level_of_care</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Action_Sub_Action_Required_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Action_Sub_Action_Required_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Referred_patient_to_higher_level_of_care</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_Referred_to_emergency_services__c</elementReference>
                    </defaultValue>
                    <fieldText>Referred patient to higher level of care</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Action_Sub_Action_Required_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Instructed_patient_to_go_to_Urgent_Care</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_Instructed_to_go_to_Urgent_Care__c</elementReference>
                    </defaultValue>
                    <fieldText>Instructed patient to go to Urgent Care (UC)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Provided_location_of_Urgent_Care_Center</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_Provided_location_of_Urgent_Care__c</elementReference>
                    </defaultValue>
                    <fieldText>Provided location of Urgent Care Center</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Instructed_to_go_to_Emergency_Department</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_Instructed_to_go_to_Emergency_Depart__c</elementReference>
                    </defaultValue>
                    <fieldText>Instructed to go to Emergency Department (ER)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Advised_of_Financial_Disclaimer</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_Advised_of_Financial_Disclaimer__c</elementReference>
                    </defaultValue>
                    <fieldText>Advised of Financial Disclaimer</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Advised_of_MA_Urgent_Care_Benefits</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_Advised_of_MA_Urgent_Care_Benefits__c</elementReference>
                    </defaultValue>
                    <fieldText>Advised of Mission Act UC Benefits</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Contacted_Emergency_Services_EMS_Refer</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_Contacted_emergency_services__c</elementReference>
                    </defaultValue>
                    <fieldText>Contacted EMS/e911</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Contacted_EMS_stayed_on_phone_w_patient</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_Contacted_EMS_stayed_w_patient__c</elementReference>
                    </defaultValue>
                    <fieldText>Contacted EMS stayed on phone w/ patient</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Transferred_to_Tele_EC</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_Transferred_to_Tele_EC__c</elementReference>
                    </defaultValue>
                    <fieldText>Transferred to Tele EC</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Other_Emergency_Services_Referred</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_Other_Emergency_Services_Referred__c</elementReference>
                    </defaultValue>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Other_Referred_to_Emergency_Services</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_Other_Referred_to_emergency_services__c</elementReference>
                    </defaultValue>
                    <fieldText>Other Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Other_Emergency_Services_Referred</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Action_Sub_Action_Required_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Action_Sub_Action_Required_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Action_Sub_Action_Required_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Unable_Comments</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;Comments Required&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Unable_to_assist_patient_Actions</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Action_Sub_Action_Required_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Action_Sub_Action_Required_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Unable_to_assist_patient_Actions</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_Unable_to_assist_patient__c</elementReference>
                    </defaultValue>
                    <fieldText>Unable to assist patient</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Action_Sub_Action_Required_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Comments_Unable_to_assist_Actions</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_Comments_unable_to_assist_patient__c</elementReference>
                    </defaultValue>
                    <fieldText>Comments</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Unable_to_assist_patient_Actions</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Action_Sub_Action_Required_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Action_Sub_Action_Required_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Action_Sub_Action_Required_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Other_Subaction</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;1 or more Selection(s) Required&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Other_course_s_of_action</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Action_Sub_Action_Required_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Action_Sub_Action_Required_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Other_course_s_of_action</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_Other_course_s_of_action__c</elementReference>
                    </defaultValue>
                    <fieldText>Other course(s) of action</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Action_Sub_Action_Required_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Transferred_patient_to_CCC_Pharmacy2</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_Transferred_patient_CCC_Pharm_other__c</elementReference>
                    </defaultValue>
                    <fieldText>Transferred patient to CCC Pharmacy</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Generated_msg_to_PACT_Provider_Other</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_Generated_message_to_PACT_Provider__c</elementReference>
                    </defaultValue>
                    <fieldText>Generated msg to PACT/Provider</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Provided_guidance_for_worsening_symptoms</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_Advised_protocol_worsening_symptoms__c</elementReference>
                    </defaultValue>
                    <fieldText>Provided guidance for worsening symptoms</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Alternative_course_of_action</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_Other_course_of_action__c</elementReference>
                    </defaultValue>
                    <fieldText>Alternative course of action</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Alternative_courses_of_action</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_Other_other_course_of_action__c</elementReference>
                    </defaultValue>
                    <fieldText>Alternative courses of action</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Alternative_course_of_action</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Fields_Missing</name>
        <label>Error - Fields Missing</label>
        <locationX>1678</locationX>
        <locationY>1256</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Action_Sub_Action_Required</targetReference>
        </connector>
        <fields>
            <name>Missing_Actions_error</name>
            <fieldText>&lt;p&gt;No Action or Sub-Action were selected. Please provide&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt; at least 1 Action and 1 Sub-Action &lt;/b&gt;before signing progress note.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Missing_Actions</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Missing_Referred_patient_VCV_Subaction</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;ERROR: &lt;/strong&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Referred patient for CCC VCV&lt;/strong&gt;&lt;strong&gt; &lt;/strong&gt;was selected. Please select a Sub-Action before signing progress note.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Referred_patient_for_CCC_VCV</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Transferred_patient_to_Sched_Admin_VCV</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Provided_warm_transfer_to_VCV_provider</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>No_appt_avail_Advised_Emergency_Care_VCV</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>No_appt_avail_Advised_Urgent_Care_VCV</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Other_VCV_Referral</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Transferred_to_Tele_EC</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Missing_Referred_patient_Inperson_Subaction</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;ERROR: Referred Patient for In-Person Appt&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;was selected. Please select a Sub-Action before signing progress note.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Referred_patient_for_in_person_appt</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Transferred_patient_to_Sched_Admin_Apt</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Transferred_patient_to_facility_MSA</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>No_appt_avail_Advised_Urgt_Care_InPerson</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>No_appt_avail_Advised_Emer_Care_InPerson</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Other_In_Person</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Missing_Referred_patient_EmerServ_Subaction</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;ERROR: Referred patient to higher level of care&lt;/strong&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;was selected. Please select a Sub-Action before signing progress note.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Referred_patient_to_higher_level_of_care</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Instructed_patient_to_go_to_Urgent_Care</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Provided_location_of_Urgent_Care_Center</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Instructed_to_go_to_Emergency_Department</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Advised_of_MA_Urgent_Care_Benefits</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Contacted_Emergency_Services_EMS_Refer</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Contacted_EMS_stayed_on_phone_w_patient</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Other_Emergency_Services_Referred</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Missing_Other_Course_Act_Subaction</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;ERROR: Other course(s) of action&lt;/strong&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/strong&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;was selected. Please select a Sub-Action before signing progress note.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Other_course_s_of_action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Transferred_patient_to_CCC_Pharmacy2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Generated_msg_to_PACT_Provider_Other</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Provided_guidance_for_worsening_symptoms</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Alternative_course_of_action</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Shows the fault path Errors</description>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>3878</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorDisplay</name>
            <extensionName>c:vccErrorDisplay</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>system</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Patient_Screen</name>
        <label>No Patient Screen</label>
        <locationX>4142</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>no_patient</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;You may not sign a progress note that has no associated Case and/or Patient. Please verify this information and try again.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Parent_Note_Not_Signed_Screen</name>
        <label>Parent Note Not Signed Screen</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>may_not_sign_addendum_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;You may not sign an addendum to a progress note that is unsigned.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Signed_Progress_Note</name>
        <label>Signed Progress Note</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Signed_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(2, 126, 70);&quot;&gt;Progress Note has already been signed successfully.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Signature_Fields_2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Progress_Note_Signature_Fields}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Unsigned_Addendum_Not_Creator</name>
        <label>Unsigned Addendum Not Creator</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>not_creator_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Only the creator of the Addendum can sign the Addendum.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Current User: &lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Current_User_Name}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Addendum Creator: {!CreatedBy_User.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Current User is not the creator of the Progress Note and cannot sign it.</description>
        <name>Unsigned_Progress_Note_Not_Creator</name>
        <label>Unsigned Progress Note Not Creator</label>
        <locationX>4406</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Cant_Sign_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Only the creator of the Progress Note can sign the note.&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Current User: &lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Current_User_Name}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Progress Note Creator: {!CreatedBy_User.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>VCV_Medication</name>
        <label>VCV Medication</label>
        <locationX>2822</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_VCV_PN</targetReference>
        </connector>
        <fields>
            <name>VCV_Medication_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>VCV_Medication_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Disposition_Recommendations</name>
                    <choiceReferences>DispositionRecommendations</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_Disposition_Recommendations__c</elementReference>
                    </defaultValue>
                    <fieldText>Disposition Recommendations</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>progress_note.VCC_Disposition_Recommendations__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue />
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Other_Disposition_Notes</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_Other_Disposition_Notes__c</elementReference>
                    </defaultValue>
                    <fieldText>Other Disposition Notes</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Disposition_Recommendations</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>&quot;Other&quot;</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Medication_Reconciliation_Options</name>
                    <choiceReferences>Medication_Reconciliation_Options_List</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_Medication_Reconciliation_Options__c</elementReference>
                    </defaultValue>
                    <fieldText>Medication Reconciliation</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>progress_note.VCC_Medication_Reconciliation_Options__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Medication_Reconciliation_Option_Reason</name>
                    <choiceReferences>MedicationReconciliationOptionReasonList</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_Medication_Reconciliation_Options_Rn__c</elementReference>
                    </defaultValue>
                    <fieldText>Medication Reconciliation Discrepancies</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Medication_Reconciliation_Options</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Discrepancies found</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Medication_Discrepancy_Additional_Info</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_Medication_Discrepancy_Addl_Info_New__c</elementReference>
                    </defaultValue>
                    <fieldText>Medication Discrepancy Additional Info</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Medication_Reconciliation_Option_Reason</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Changes needed</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Medication_Reconciliation_Option_Reason</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Other</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Medication_Education</name>
                    <choiceReferences>Medication_Education_List</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_Medication_Education__c</elementReference>
                    </defaultValue>
                    <fieldText>Medication Education</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>progress_note.VCC_Medication_Education__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Medication_Education_Additional_Info</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>progress_note.VCC_Medication_Education_Additional_Info__c</elementReference>
                    </defaultValue>
                    <fieldText>Medication Education Additional Info</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Medication_Education</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>No. Specify other reason</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1409</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Addendum</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Display Signed and Electronic Signature fields</description>
        <name>Progress_Note_Signature_Fields</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Signed: {!progress_note.VCC_Signed__c}&lt;/p&gt;&lt;p&gt;Electronic Signature: &lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!progress_note.VCC_Electronic_Signature__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Transferred_patient_to_CCC_Pharmacy</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Transferredpatient to CCC Pharmacy&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Transferred_to_PACTProvider_OtherAction</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(62, 62, 60);&quot;&gt;Transferred to PACT/Provider-OtherAction&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>addendumRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>VCC_Addendum__c</objectType>
    </variables>
    <variables>
        <name>CreatedBy_User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>PLACEHOLDER</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>progress_note</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>VCC_Progress_Note__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
