sfdx-source/main/default/flows/VCC_Create_MSA_Scheduling_Case_From_CT_Case_Follow_Up.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_User_VISN</name>
        <label>Assign User VISN</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>VISN_Division_From_Triggering_User</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Division</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Custom_MetaData</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Scheduling_Case_Record_Exist</name>
        <label>Does Scheduling Case Record Exist?</label>
        <locationX>248</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Is_There_A_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Scheuduling Record Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Scheduling_Record_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Child_Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Scheduling_Case_Record</targetReference>
            </connector>
            <label>Scheduling Record Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_A_Queue</name>
        <label>Is There A Queue?</label>
        <locationX>446</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Create_Scheduling_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Queue Found</defaultConnectorLabel>
        <rules>
            <name>Queue_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Queue.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Queue Not Found</label>
        </rules>
    </decisions>
    <description>When a CT Case is created with the VCC_Follow_Up_Appt_Needed__c field filled in, create an Administrative and Scheduling Case and assign it to Queue.
CCCMCCCM-15655- Added Sub-type

----
Closed Status added to Entry Conditions
PS 1.20.0 - added additional filter to &quot;update existing scheduling case&quot;</description>
    <environments>Default</environments>
    <formulas>
        <name>Lower_Case_For_Follow_Up_Picklist</name>
        <dataType>String</dataType>
        <expression>LOWER(TEXT({!$Record.VCC_Follow_Up_Appt_Needed__c}))</expression>
    </formulas>
    <interviewLabel>Create MSA/Scheduling Case From CT Case Follow Up {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VCC Create MSA/Scheduling Case From CT Case Follow Up</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Scheduling_Case</name>
        <label>Create Scheduling Case</label>
        <locationX>578</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Account.PersonContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SchedulingCaseDescriptionbasedonCTFollowUpDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Case_MSA_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Follow Up {!$Record.VCC_Follow_Up_Appt_Needed__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Appointment_Service__c</field>
            <value>
                <elementReference>$Record.VCC_Appointment_Service__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Case_Sub_Type__c</field>
            <value>
                <stringValue>Administrative and Scheduling</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Case_Type__c</field>
            <value>
                <stringValue>Administrative</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Follow_Up_Appt_Needed__c</field>
            <value>
                <elementReference>$Record.VCC_Follow_Up_Appt_Needed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Recommended_Preferred_Appt_Modality__c</field>
            <value>
                <elementReference>$Record.VCC_Recommended_Preferred_Appt_Modality__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get the Scheduling Case child record related to the CT case if it exists.</description>
        <name>Get_Case_Child_Record</name>
        <label>Get Case Child Record</label>
        <locationX>248</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Scheduling_Case_Record_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>VCC_Case_Sub_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Administrative and Scheduling</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>VCC_Follow_Up_Appt_Needed__c</queriedFields>
        <queriedFields>VCC_Recommended_Preferred_Appt_Modality__c</queriedFields>
        <queriedFields>VCC_Appointment_Service__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_MSA_Record_Type</name>
        <label>Get Case MSA Record Type</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_User_VISN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCC_Administrative</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_MetaData</name>
        <label>Get Custom MetaData</label>
        <locationX>248</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VCC_VISN_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VISN_Division_From_Triggering_User</elementReference>
            </value>
        </filters>
        <filters>
            <field>VCC_Case_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_MSA_Record_Type.DeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VCC_Queue_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>248</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Child_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Custom_MetaData.VCC_Queue_Developer_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Scheduling_Case_Record</name>
        <label>Update Existing Scheduling Case Record</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>VCC_Case_Sub_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Administrative and Scheduling</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>SchedulingCaseDescriptionbasedonCTFollowUpDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Follow Up {!$Record.VCC_Follow_Up_Appt_Needed__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Appointment_Service__c</field>
            <value>
                <elementReference>$Record.VCC_Appointment_Service__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Case_Sub_Type__c</field>
            <value>
                <stringValue>Administrative and Scheduling</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Follow_Up_Appt_Needed__c</field>
            <value>
                <elementReference>$Record.VCC_Follow_Up_Appt_Needed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Recommended_Preferred_Appt_Modality__c</field>
            <value>
                <elementReference>$Record.VCC_Recommended_Preferred_Appt_Modality__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_MSA_Record_Type</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName} = &quot;VCC_Clinical_Triage&quot; 
&amp;&amp; !ISPICKVAL({!$Record.VCC_Follow_Up_Appt_Needed__c} , &quot;&quot;) 
&amp;&amp; !{!$Permission.DisableTriggersFlag}
&amp;&amp; (
ISPICKVAL({!$Record.Status}, &quot;Closed - Resolved&quot;)
||
ISPICKVAL({!$Record.Status}, &quot;Closed - Transferred&quot;)
||
ISPICKVAL({!$Record.Status},&quot;Closed - Error&quot;)
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Text Template for Description Field on the Scheduling Case Record Type based on the field data from the Triggering CT Case.</description>
        <name>SchedulingCaseDescriptionbasedonCTFollowUpDetails</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A follow up appointment is needed for this patient {!Lower_Case_For_Follow_Up_Picklist}. Schedule a {!$Record.VCC_Recommended_Preferred_Appt_Modality__c} appointment with a {!$Record.VCC_Appointment_Service__c} provider and reach out to the patient to negotiate the appointment.</text>
    </textTemplates>
    <variables>
        <name>VISN_Division_From_Triggering_User</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
