sfdx-source/main/default/flows/VCC_Create_Service_Appointment_Metrics_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Adding a log entry if there is an error with the creation of the Service Appointment Metrics record</description>
        <name>Add_Log_Entry_for_Create_Service_Appointment_Metrics</name>
        <label>Add Log Entry for Create Service Appointment Metrics</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>VCC_Create_Service_Appointment_Metrics_Records</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Adding a log entry if there is an error with the Get Case Metrics Records for the Scheduling Case flow action.</description>
        <name>Add_Log_Entry_for_Get_Case_Metrics_Record_for_Scheduling_Case</name>
        <label>Add Log Entry for Get Case Metrics Record for Scheduling Case</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>VCC_Create_Service_Appointment_Metrics_Records</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Adding a log entry for a fault in the update records.</description>
        <name>Add_Log_Entry_for_Update_Fault_Path</name>
        <label>Add Log Entry for Update Fault Path</label>
        <locationX>842</locationX>
        <locationY>863</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>VCC_Create_Service_Appointment_Metrics_Records</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Adding a log entry if there is a fault with the Get VCV Case Record action.</description>
        <name>Log_Entry_for_Get_VCV_Case_Record_Action</name>
        <label>Log Entry for Get VCV Case Record Action</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>VCC_Create_Service_Appointment_Metrics_Records</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>Assigning the field values for the Service Appointment Metrics record.</description>
        <name>Assign_Field_Values</name>
        <label>Assign Field Values</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>serviceAppointmentMetricsRecord.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_VCV_Case_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceAppointmentMetricsRecord.Case_Metrics__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_Case_Metrics_Record_for_the_Scheduling_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceAppointmentMetricsRecord.Service_Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Create_or_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determining if the record needs created or updated.</description>
        <name>Is_Create_or_Update</name>
        <label>Is Create or Update?</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Service_Appointment_Metrics_Records</targetReference>
            </connector>
            <label>Is Create?</label>
        </rules>
        <rules>
            <name>Is_Update</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Service_Appointment_Metrics_Record</targetReference>
            </connector>
            <label>Is Update?</label>
        </rules>
    </decisions>
    <description>CCCM-31319 - Flow to create Service Appointment Metrics records when a Service Appointment is created. Used for reporting purposes.</description>
    <environments>Default</environments>
    <formulas>
        <description>Checking if the record is new</description>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>VCC Create Service Appointment Metrics Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VCC Create Service Appointment Metrics Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creating a Service Appointment Metric record related to the Service Appointment that triggered this flow</description>
        <name>Create_Service_Appointment_Metrics_Records</name>
        <label>Create Service Appointment Metrics Records</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <faultConnector>
            <targetReference>Add_Log_Entry_for_Create_Service_Appointment_Metrics</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Case_Metrics__c</field>
            <value>
                <elementReference>Get_the_Case_Metrics_Record_for_the_Scheduling_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Get_VCV_Case_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VCC_Service_Appointment_Metrics__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Getting the Case Metrics record for the Scheduling Case that is the parent case of the VCV Case.</description>
        <name>Get_the_Case_Metrics_Record_for_the_Scheduling_Case</name>
        <label>Get the Case Metrics Record for the Scheduling Case</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Field_Values</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Add_Log_Entry_for_Get_Case_Metrics_Record_for_Scheduling_Case</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VCC_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_VCV_Case_Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VCC_Case_Metrics__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting the VCV Case Record for the Service Appointment</description>
        <name>Get_VCV_Case_Record</name>
        <label>Get VCV Case Record</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_the_Case_Metrics_Record_for_the_Scheduling_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Entry_for_Get_VCV_Case_Record_Action</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCC_Vitrual_Clinic_Visit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updating the existing Service Appointment Metrics record with the new information.</description>
        <name>Update_Existing_Service_Appointment_Metrics_Record</name>
        <label>Update Existing Service Appointment Metrics Record</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <faultConnector>
            <targetReference>Add_Log_Entry_for_Update_Fault_Path</targetReference>
        </faultConnector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>serviceAppointmentMetricsRecord.Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Metrics__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>serviceAppointmentMetricsRecord.Case_Metrics__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Metrics__c</field>
            <value>
                <elementReference>Get_the_Case_Metrics_Record_for_the_Scheduling_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Get_VCV_Case_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Service_Appointment_Metrics__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_VCV_Case_Record</targetReference>
        </connector>
        <filterFormula>{!$Permission.VCC_Disable_Metrics_Creation} = FALSE 
&amp;&amp;
{!$Permission.DisableTriggersFlag} = FALSE</filterFormula>
        <object>ServiceAppointment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>serviceAppointmentMetricsRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VCC_Service_Appointment_Metrics__c</objectType>
    </variables>
</Flow>
