sfdx-source/main/default/flows/VCC_DAS_Sign_Integrate_VCC_Addendum_c.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Dummy apex action to force the DML operation to update the Progress Note record from the Create Addendum and Sign subflow so we can reference the updated field on the Progress Note.</description>
        <name>Dummy_Action</name>
        <label>Dummy Action</label>
        <locationX>160</locationX>
        <locationY>674</locationY>
        <actionName>VCC_CommitFlowTransaction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Addendum_for_Not_Integrated_Path</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <nameSegment>VCC_CommitFlowTransaction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <description>Assigning results of the Review &amp; Sign to variables.</description>
        <name>Assignment_After_Review_Sign</name>
        <label>Assignment After Review &amp; Sign</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varPatientAndProviderParameters.eSig</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Review_And_Sign.varSignatureCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSignatureCodeError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Integration_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Stores the signature code error.</description>
        <name>Set_varSignatureCodeError</name>
        <label>Set varSignatureCodeError</label>
        <locationX>600</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>varSignatureCodeError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.VCC_Sign_Note_Flow_Invalid_eSig</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Review_And_Sign</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determining which action to take depending on the result of the failed attempt.</description>
        <name>Create_Addendum_And_Sign_Error_Handle</name>
        <label>What now?</label>
        <locationX>600</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Display_Unhandled_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Try_Resuming</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>faultFlag_ResumeConsolidatedEndpoint</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resume_Consolidated_Endpoint_After_Create_Addendum_And_Sign</targetReference>
            </connector>
            <label>Try Resuming</label>
        </rules>
        <rules>
            <name>Revalidate_Esig_of_What_now_CreateAddendumAndSign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>faultFlag_RevalidateEsig</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_varSignatureCodeError</targetReference>
            </connector>
            <label>Revalidate e-Signature</label>
        </rules>
        <rules>
            <name>Display_Error_of_What_now_CreateAddendumAndSign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>faultFlag_DisplayFlowError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Create_Addendum_And_Sign_Error</targetReference>
            </connector>
            <label>Display Error</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking to see if the Create Addendum and Sign was successful or not.</description>
        <name>Create_Addendum_And_Sign_Success_Check</name>
        <label>Success?</label>
        <locationX>160</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Create_Addendum_And_Sign_Error_Handle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>👎</defaultConnectorLabel>
        <rules>
            <name>CreateAddendumAndSignSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>faultOccurred</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Addendum</targetReference>
            </connector>
            <label>👍</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking if the Addendum has been partially integrated and if so, will invoke the Resume Consolidated Endpoint Failure subflow to try to pickup from the previous failure.</description>
        <name>Integration_Status</name>
        <label>Integration Status?</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Addendum_for_Partially_Integrated_Path</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Partially Integrated</defaultConnectorLabel>
        <rules>
            <name>Not_Integrated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Addendum.VCC_itemId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Addendum.VCC_itemId__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Addendum_And_Sign</targetReference>
            </connector>
            <label>Not Integrated</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking to see if the Resume Consolidated Endpoint was successful or not.</description>
        <name>Resume_Consolidated_Endpoint_After_Create_Addendum_And_Sign_Success_Check</name>
        <label>Success?</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>What_now</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>👎</defaultConnectorLabel>
        <rules>
            <name>ResumeAfterCreateAddendumSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Resume_Consolidated_Endpoint_After_Create_Addendum_And_Sign.faultOccurred</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Addendum</targetReference>
            </connector>
            <label>👍</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determining which action to take depending on the result of the failed attempt.</description>
        <name>Resume_Partially_Integrated_Addendum_Error_Handle</name>
        <label>What now?</label>
        <locationX>2448</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Display_Unhandled_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Revalidate_e_Signature_PartialIntegrationFailure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Resume_Partially_Integrated_Addendum.faultFlag_RevalidateEsig</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_varSignatureCodeError</targetReference>
            </connector>
            <label>Revalidate e-Signature</label>
        </rules>
        <rules>
            <name>Display_Error_PartialIntegrationFailure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Resume_Partially_Integrated_Addendum.faultFlag_DisplayFlowError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Error_Resume_Partially_Integrated_Addendum</targetReference>
            </connector>
            <label>Display Error</label>
        </rules>
    </decisions>
    <decisions>
        <description>What was the result of the integration attempt?</description>
        <name>Resume_Partially_Integrated_Addendum_Success_Check</name>
        <label>Success?</label>
        <locationX>2052</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Resume_Partially_Integrated_Addendum_Error_Handle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>👎</defaultConnectorLabel>
        <rules>
            <name>PartialIntegrationSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Resume_Partially_Integrated_Addendum.faultOccurred</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Addendum</targetReference>
            </connector>
            <label>👍</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determining which action to take depending on the result of the failed attempt.</description>
        <name>What_now</name>
        <label>What now?</label>
        <locationX>204</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Display_Unhandled_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Display_Error_What_was_the_result_of_Resume_Addendum</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Resume_Consolidated_Endpoint_After_Create_Addendum_And_Sign.faultFlag_DisplayFlowError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Error</targetReference>
            </connector>
            <label>Display Error</label>
        </rules>
    </decisions>
    <description>This flow integrates an Addendum with VistA via the DAS API.

Release 1.19.1 - CCCM-41735
Release 1.16.0 - CCCM-31263</description>
    <environments>Default</environments>
    <formulas>
        <description>Current User First and Last Name</description>
        <name>formulaCurrentUserName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} + &quot; &quot; + {!$User.LastName}</expression>
    </formulas>
    <interviewLabel>VCC DAS Sign &amp; Integrate VCC_Addendum__c {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VCC DAS Sign &amp; Integrate VCC_Addendum__c</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Getting the Addendum record.</description>
        <name>Get_Addendum</name>
        <label>Get Addendum</label>
        <locationX>1106</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Review_And_Sign</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Display_Flow_Error_DML</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VCC_Addendum__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>VCC_itemId__c</queriedFields>
        <queriedFields>VCC_DasLastErrorCode__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting the updated Addendum record so we can reference the error code in the DAS Last Error Code field.</description>
        <name>Get_Addendum_for_Not_Integrated_Path</name>
        <label>Get Addendum for Not Integrated Path</label>
        <locationX>160</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Addendum_And_Sign_Success_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VCC_Addendum__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>VCC_DasLastErrorCode__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting the Addendum record so we can reference the DAS Last Error Code field on the Addendum record.</description>
        <name>Get_Addendum_for_Partially_Integrated_Path</name>
        <label>Get Addendum for Partially Integrated Path</label>
        <locationX>2052</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Resume_Partially_Integrated_Addendum</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VCC_Addendum__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>VCC_DasLastErrorCode__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updating the Addendum record.</description>
        <name>Copy_1_of_Update_Addendum</name>
        <label>Update Addendum</label>
        <locationX>1656</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Signed_Successfully_Addendum</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Display_Flow_Error_DML</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VCC_DasLastErrorCode__c</field>
            <value>
                <elementReference>errorCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Electronic_Signature__c</field>
            <value>
                <elementReference>formulaCurrentUserName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Signed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>VCC_Addendum__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updating the Addendum record.</description>
        <name>Update_Addendum</name>
        <label>Update Addendum</label>
        <locationX>160</locationX>
        <locationY>1982</locationY>
        <connector>
            <targetReference>Signed_Successfully_Addendum</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Flow_Error_DML</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VCC_CRM_System_Modified_Output_To_VistA__c</field>
            <value>
                <elementReference>systemModifiedOutputToVista</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Electronic_Signature__c</field>
            <value>
                <elementReference>formulaCurrentUserName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Signed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>VCC_Addendum__c</object>
    </recordUpdates>
    <screens>
        <name>Signed_Successfully_Addendum</name>
        <label>Signed Successfully</label>
        <locationX>1106</locationX>
        <locationY>2414</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Signed_Successfully_Addendum_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(2, 126, 70); background-color: rgb(255, 255, 255);&quot;&gt;Addendum signed successfully!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Addendum</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Invoke VCC Sign Note Subflow: DAS Create Addendum and Sign.</description>
        <name>Create_Addendum_And_Sign</name>
        <label>Create Addendum &amp; Sign</label>
        <locationX>160</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Dummy_Action</targetReference>
        </connector>
        <flowName>VCC_Sign_Note_Subflow_DAS_Create_Addendum_And_Sign</flowName>
        <inputAssignments>
            <name>noteAndEncounterParams</name>
            <value>
                <elementReference>varNoteAndEncounterParameters</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>patientAndProviderParams</name>
            <value>
                <elementReference>varPatientAndProviderParameters</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAddendumRecord</name>
            <value>
                <elementReference>Get_Addendum</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>errorCode</assignToReference>
            <name>errorCode</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>errorDescription</assignToReference>
            <name>errorDescription</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>faultFlag_DisplayFlowError</assignToReference>
            <name>faultFlag_DisplayFlowError</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>faultFlag_ResumeConsolidatedEndpoint</assignToReference>
            <name>faultFlag_ResumeConsolidatedEndpoint</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>faultFlag_RevalidateEsig</assignToReference>
            <name>faultFlag_RevalidateEsig</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>faultMessage</assignToReference>
            <name>faultMessage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>faultOccurred</assignToReference>
            <name>faultOccurred</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>noteOrAddendumIen</assignToReference>
            <name>noteOrAddendumIen</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>systemModifiedOutputToVista</assignToReference>
            <name>systemModifiedOutputToVista</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Invoke VCC Flow Error Display.</description>
        <name>Display_Create_Addendum_And_Sign_Error</name>
        <label>Display Error</label>
        <locationX>864</locationX>
        <locationY>1106</locationY>
        <flowName>VCC_Flow_Error_Display</flowName>
        <inputAssignments>
            <name>SYSTEM_ERROR</name>
            <value>
                <elementReference>faultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Invoke VCC Flow Error Display.</description>
        <name>Display_Error</name>
        <label>Display Error</label>
        <locationX>72</locationX>
        <locationY>1430</locationY>
        <flowName>VCC_Flow_Error_Display</flowName>
        <inputAssignments>
            <name>SYSTEM_ERROR</name>
            <value>
                <elementReference>Resume_Consolidated_Endpoint_After_Create_Addendum_And_Sign.faultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Display the error after failing to integrate the partially integrated addendum</description>
        <name>Display_Error_Resume_Partially_Integrated_Addendum</name>
        <label>Display Error</label>
        <locationX>2448</locationX>
        <locationY>998</locationY>
        <flowName>VCC_Flow_Error_Display</flowName>
        <inputAssignments>
            <name>SYSTEM_ERROR</name>
            <value>
                <elementReference>Resume_Partially_Integrated_Addendum.faultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Invoke the VCC Flow Error Display.</description>
        <name>Display_Flow_Error_DML</name>
        <label>Display Flow Error (DML)</label>
        <locationX>1392</locationX>
        <locationY>2090</locationY>
        <flowName>VCC_Flow_Error_Display</flowName>
        <inputAssignments>
            <name>SYSTEM_ERROR</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Invoke the VCC Flow Error Display</description>
        <name>Display_Unhandled_Error</name>
        <label>Display Error (Unhandled Fault, Default Outcome)</label>
        <locationX>336</locationX>
        <locationY>1430</locationY>
        <flowName>VCC_Flow_Error_Display</flowName>
        <inputAssignments>
            <name>SYSTEM_ERROR</name>
            <value>
                <stringValue>Unhandled exception in flow &quot;VCC DAS Sign &amp; Integrate VCC_Addendum__c&quot;</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Invoke VCC Sign Note Subflow: DAS Resume Consolidated Endpoint Failure to try to pickup from a previous error.</description>
        <name>Resume_Consolidated_Endpoint_After_Create_Addendum_And_Sign</name>
        <label>Resume Consolidated Endpoint</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Resume_Consolidated_Endpoint_After_Create_Addendum_And_Sign_Success_Check</targetReference>
        </connector>
        <flowName>VCC_Sign_Note_Subflow_DAS_Resume_Consolidated_Endpoint_Failure</flowName>
        <inputAssignments>
            <name>errorCode</name>
            <value>
                <elementReference>Get_Addendum_for_Not_Integrated_Path.VCC_DasLastErrorCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isValidEsig</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>noteAndEncounterParams</name>
            <value>
                <elementReference>varNoteAndEncounterParameters</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>patientAndProviderParams</name>
            <value>
                <elementReference>varPatientAndProviderParameters</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAddendumRecord</name>
            <value>
                <elementReference>Get_Addendum</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Invoke VCC Sign Note Subflow: DAS Resume Consolidated Endpoint Failure flow.</description>
        <name>Resume_Partially_Integrated_Addendum</name>
        <label>Resume Consolidated Endpoint</label>
        <locationX>2052</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Resume_Partially_Integrated_Addendum_Success_Check</targetReference>
        </connector>
        <flowName>VCC_Sign_Note_Subflow_DAS_Resume_Consolidated_Endpoint_Failure</flowName>
        <inputAssignments>
            <name>errorCode</name>
            <value>
                <elementReference>Get_Addendum_for_Partially_Integrated_Path.VCC_DasLastErrorCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isValidEsig</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>noteAndEncounterParams</name>
            <value>
                <elementReference>varNoteAndEncounterParameters</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>patientAndProviderParams</name>
            <value>
                <elementReference>varPatientAndProviderParameters</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAddendumRecord</name>
            <value>
                <elementReference>Get_Addendum</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Invoke VCC Sign Note Subflow: Review &amp; Sign.</description>
        <name>Review_And_Sign</name>
        <label>Review &amp; Sign</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Assignment_After_Review_Sign</targetReference>
        </connector>
        <flowName>VCC_Sign_Note_Subflow_Review_Sign_V3</flowName>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordJson</name>
            <value>
                <elementReference>Review_And_Sign.varRecordJson</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSignatureCodeError</name>
            <value>
                <elementReference>varSignatureCodeError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varVisnNumberWithDuplicates</name>
            <value>
                <elementReference>varVisnNumberWithDuplicates</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>Holds the errorCode from the DAS API callout.</description>
        <name>errorCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Holds the errorDescription from the DAS API callout.</description>
        <name>errorDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Set to true when a fault occurs that is not recoverable, and the parent flow should just display the error message stored in output variable &apos;faultMessage&apos;. If in the future there is a (previously unidentified) scenario where we can recover, this flow should be updated to add a new output variable with the naming convention &apos;faultFlag_WhatToDo&apos;.</description>
        <name>faultFlag_DisplayFlowError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Set to true when a fault occurs that requires error handling, and the parent flow should call the subflow VCC DAS Resume Consolidated Endpoints.</description>
        <name>faultFlag_ResumeConsolidatedEndpoint</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Boolean that equals true if the esignature was invalid.</description>
        <name>faultFlag_RevalidateEsig</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The message from the fault to be used in the main sign note flow to display the error to the user.</description>
        <name>faultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Boolean equals true if a fault occurred.</description>
        <name>faultOccurred</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the IEN.</description>
        <name>noteOrAddendumIen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Is true if user input was modified during the process of sending the note to VistA (via DIP/VDIF).</description>
        <name>systemModifiedOutputToVista</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The note and encounter parameters.</description>
        <name>varNoteAndEncounterParameters</name>
        <apexClass>VCC_Vdif_NoteAndEncounterParams</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The patient and provider parameters.</description>
        <name>varPatientAndProviderParameters</name>
        <apexClass>VCC_Vdif_PatientAndProviderParams</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Holds the Record Id of the Addendum.</description>
        <name>varRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the Signature Code error.</description>
        <name>varSignatureCodeError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Indicates to the Resume Consolidated Endpoint flow if the e-Signature should be validated.</description>
        <name>varVisnNumberWithDuplicates</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue />
        </value>
    </variables>
</Flow>
