sfdx-source/main/default/flows/VCC_SOT_Delete_Readiness_Activites_Related_to_a_Delete_Service_User_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Do_Readiness_Activities_Exist_for_this_SUA</name>
        <label>Do Readiness Activities Exist for this SUA?</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Readiness_Activity_Records_Related_to_the_Deleted_SUA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Readiness_Activity_Records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This flow looks for Readiness Activities related to the deleted Service User Assignment and deletes them</description>
    <environments>Default</environments>
    <interviewLabel>VCC SOT Delete Readiness Activites Related to a Delete Service User Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VCC SOT Delete Readiness Activities Related to a Delete Service User Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Readiness_Activity_Records</name>
        <label>Delete Readiness Activity Records</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <inputReference>Get_Readiness_Activity_Records_Related_to_the_Deleted_SUA</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Onboarding_Activity</name>
        <label>Get Onboarding Activity</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Readiness_Activity_Records_Related_to_the_Deleted_SUA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VCC_CRM_VISN_Service_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.VCC_CRM_VISN_Service_Assignment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VCC_Onboarding_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Readiness_Activity_Records_Related_to_the_Deleted_SUA</name>
        <label>Get Readiness Activity Records Related to the Deleted SUA</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Do_Readiness_Activities_Exist_for_this_SUA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VCC_SOT_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.VCC_SOT_User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>VCC_Onboarding_Activity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Onboarding_Activity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>VCC_Readiness_Activity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Onboarding_Activity</targetReference>
        </connector>
        <object>VCC_Service_User_Assignment__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
