sfdx-source/main/default/flows/VCC_COVID_Test_to_Treat.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>VCC_T2T_Assign_Stage_1</name>
        <label>Assign Stage</label>
        <locationX>974</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VCC_T2T_Flow_Stage1_G</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_Covid_to_test</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VCC_T2T_Assign_Stage_2</name>
        <label>Assign Stage</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VCC_T2T_Flow_Stage2_G</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Treatment_Decision_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VCC_T2T_Assign_Var</name>
        <label>Copy Into Collections</label>
        <locationX>1062</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>VCC_T2T_Labels_Temp</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VCC_T2T_Data_Parser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VCC_T2T_Main_Key</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VCC_T2T_Data_Extract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VCC_T2T_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VCC_T2T_Loop_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VCC_T2T_Clear1</name>
        <label>Clear Temporary List</label>
        <locationX>1326</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>VCC_T2T_Main_Labels</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VCC_T2T_Labels_Temp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VCC_T2T_Labels_Temp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VCC_T2T_Null</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VCC_T2T_Loop_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Initialization</description>
        <name>VCC_T2T_Init</name>
        <label>Flow Initialization</label>
        <locationX>347</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>VCC_T2T_Labels_Temp</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>init</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VCC_T2T_RecordId_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>COVID_Test_to_Treat_Permission</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>MolnupiravirChoice</name>
        <choiceText>Molnupiravir</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Molnupiravir</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>paxlovidChoice</name>
        <choiceText>Paxlovid</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Paxlovid</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>assess_CovidT2T_Decision</name>
        <label>Assessment Treatment Decision</label>
        <locationX>974</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>VCC_T2T_Loop_Assign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yesOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assess_Covid_test</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getTreatmentDIsclaimer</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>COVID_Test_to_Treat_Permission</name>
        <label>Dark Deployment</label>
        <locationX>347</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>VCC_ProgressNoteGet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_COVID_Test_to_Treat_Permission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.VCC_Covid_Test_to_Treat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_COVID_Test_to_Treat_Permission_Screen</targetReference>
            </connector>
            <label>No COVID Test to Treat Permission</label>
        </rules>
    </decisions>
    <decisions>
        <name>treamentDecision</name>
        <label>Treament Decision</label>
        <locationX>974</locationX>
        <locationY>1898</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Paxlovid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_a_treatment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>paxlovidChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VCC_COVID_Test_to_Treat_Subflow_Paxlovid</targetReference>
            </connector>
            <label>Paxlovid</label>
        </rules>
        <rules>
            <name>VCC_T2T_No_Treatment_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assess_Covid_test</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preview_Screen</targetReference>
            </connector>
            <label>No Treatment</label>
        </rules>
        <rules>
            <name>Molnupiravir</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_a_treatment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MolnupiravirChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VCC_COVID_Test_to_Treat_Subflow_Molnupiravir</targetReference>
            </connector>
            <label>Molnupiravir</label>
        </rules>
    </decisions>
    <decisions>
        <name>VCC_T2T_Check_Assessment_Completed</name>
        <label>Check Assessment Completed</label>
        <locationX>644</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>getPostiveCovidTest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assessment_Checkbox_Completed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VCC_ProgressNoteGet.VCC_T2T_Assessment_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VCC_ProgressNoteGet.VCC_Signed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VCC_Preview</targetReference>
            </connector>
            <label>Assessment Completed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Control Flow -- has Stopping condition</description>
        <name>VCC_T2T_Loop</name>
        <label>Condition Stopper</label>
        <locationX>1194</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>VCC_T2T_Clear1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VCC_T2T_Count</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VCC_T2T_Assign_Var</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <description>Made the field required for the first question</description>
    <environments>Default</environments>
    <formulas>
        <description>Designed to be paired with JS to extract data only containing values on index</description>
        <name>VCC_T2T_Data_Extract</name>
        <dataType>String</dataType>
        <expression>CASE({!VCC_T2T_Count}, 0, IF({!Assess_Covid_test}, &quot;True&quot;, &quot;False&quot;), 1, IF({!Assess_Covid_test}, &quot;True&quot;, &quot;False&quot;), 2,
            IF({!TreatmentDisclaimeReply}, &quot;True&quot;, &quot;False&quot;), 3, ({!Select_a_treatment}), null )</expression>
    </formulas>
    <formulas>
        <description>Used to gather the labels for the responses</description>
        <name>VCC_T2T_Data_Parser</name>
        <dataType>String</dataType>
        <expression>CASE({!VCC_T2T_Count}, 0, {!getPostiveCovidTest.VCC_Display_Text__c}, 1, &quot;Would you like to assess COVID Test to Treat? &quot;, 2,
            {!getTreatmentDIsclaimer.VCC_Display_Text__c} , 3, &quot;Select a Treatment&quot;, null )</expression>
    </formulas>
    <formulas>
        <name>VCC_T2T_Navigation_Helper</name>
        <dataType>Number</dataType>
        <expression>CASE({!$Flow.CurrentStage}, &quot;1&quot;, IF({!Assess_Covid_test}, 1, 0), &quot;2&quot;, IF(NOT(ISBLANK({!Select_a_treatment})), 1, 0), null)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>COVID Test to Treat {!$Flow.CurrentDateTime} - {!recordId}</interviewLabel>
    <label>COVID Test to Treat</label>
    <loops>
        <name>VCC_T2T_Loop_Assign</name>
        <label>Answer Collection</label>
        <locationX>974</locationX>
        <locationY>1406</locationY>
        <collectionReference>VCC_T2T_Labels_Temp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>VCC_T2T_Loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>treamentDecision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getPostiveCovidTest</name>
        <label>getPostiveCovidTest</label>
        <locationX>974</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VCC_T2T_Assign_Stage_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Positive Test Confirmed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VCC_Output_Text__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTreatmentDIsclaimer</name>
        <label>getTreatmentDIsclaimer</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VCC_T2T_Assign_Stage_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Treatment Disclaimer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VCC_Output_Text__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>VCC_ProgressNoteGet</name>
        <label>getProgressNote</label>
        <locationX>644</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VCC_T2T_Check_Assessment_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VCC_Progress_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Assess_Covid_to_test</name>
        <label>Assess COVID?</label>
        <locationX>974</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assess_CovidT2T_Decision</targetReference>
        </connector>
        <fields>
            <name>PostiveCovideTestDispTxt</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!getPostiveCovidTest.VCC_Display_Text__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Assess_Covid_to_test_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Assess_Covid_to_test_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Assess_Covid_test</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>Boolean</dataType>
                    <fieldText>&lt;b&gt;Would you like to assess COVID Test to Treat?&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Assess_Covid_to_test_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>VCC_T2T_Next</name>
            <extensionName>c:vccFlowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flowStage</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>switchLogic</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Assess_Covid_test</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>VCC_T2T_Final</name>
            <extensionName>c:vccFlowNavigationButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flowStage</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>switchLogic</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Assess_Covid_test</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_COVID_Test_to_Treat_Permission_Screen</name>
        <label>COVIDT2T Unavailable</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>baseEmptyState</name>
            <extensionName>c:baseEmptyState</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>subMsg</name>
                <value>
                    <stringValue>COVID Test to Treat currently not available</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>rain</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Treatment_Decision_Screen</name>
        <label>Treatment Choice</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>VCC_T2T_Loop_Assign</targetReference>
        </connector>
        <fields>
            <name>Treatment_Decision_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Treatment_Decision_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TreatmentDisclaimeReply</name>
                    <dataType>Boolean</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;*Required&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!TreatmentDisclaimeReply} = TRUE</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Treatment_Decision_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TreatmentDiscTxt</name>
                    <fieldText>&lt;p&gt;{!getTreatmentDIsclaimer.VCC_Display_Text__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>11</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Treatment_Decision_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Treatment_Decision_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_a_treatment</name>
                    <choiceReferences>paxlovidChoice</choiceReferences>
                    <choiceReferences>MolnupiravirChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>&lt;b&gt;Select a Treatment:&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TreatmentDisclaimeReply</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Treatment_Decision_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>VCC_Preview</name>
        <label>VCC_Preview</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>vccT2TPreviewDisplay</name>
            <extensionName>c:vccT2TPreviewDisplay</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <description>Flow Stage Designation, this corresponds to the flow globally</description>
        <name>VCC_T2T_Flow_Stage1_G</name>
        <isActive>true</isActive>
        <label>VCC_T2T_Flow_Stage1_G</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>VCC_T2T_Flow_Stage2_G</name>
        <isActive>false</isActive>
        <label>VCC_T2T_Flow_Stage2_G</label>
        <stageOrder>2</stageOrder>
    </stages>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>VCC_T2T_Init</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Preview_Screen</name>
        <label>Preview Screen</label>
        <locationX>842</locationX>
        <locationY>2006</locationY>
        <flowName>VCC_COVID_Test_to_Treat_Subflow_Preview</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VCC_T2T_Main_Key</name>
            <value>
                <elementReference>VCC_T2T_Main_Key</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VCC_T2T_Labels</name>
            <value>
                <elementReference>VCC_T2T_Main_Labels</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>VCC_COVID_Test_to_Treat_Subflow_Molnupiravir</name>
        <label>VCC COVID Test to Treat Subflow: Molnupiravir</label>
        <locationX>1106</locationX>
        <locationY>2006</locationY>
        <flowName>VCC_COVID_Test_to_Treat_Subflow_Molnupiravir</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VCC_T2T_Labels_Temp_Mol</name>
            <value>
                <elementReference>VCC_T2T_Main_Labels</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VCC_T2T_Main_Key</name>
            <value>
                <elementReference>VCC_T2T_Main_Key</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>VCC_COVID_Test_to_Treat_Subflow_Paxlovid</name>
        <label>VCC COVID Test to Treat Subflow: Paxlovid</label>
        <locationX>578</locationX>
        <locationY>2006</locationY>
        <flowName>VCC_COVID_Test_to_Treat_Subflow_Paxlovid</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VCC_T2T_Labels_Temp_Pax</name>
            <value>
                <elementReference>VCC_T2T_Main_Labels</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VCC_T2T_Main_Key</name>
            <value>
                <elementReference>VCC_T2T_Main_Key</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>currentItem_positveTestDisplayText</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VCC_Output_Text__c</objectType>
    </variables>
    <variables>
        <name>dispTxt1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PostiveDisplaytxt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Txt1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VCC_Output_Text__c</objectType>
    </variables>
    <variables>
        <name>VCC_T2T_API_List</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Used for iteration</description>
        <name>VCC_T2T_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>For preview</description>
        <name>VCC_T2T_JSON_T2T_Payload</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This is the variable that will collect all the input during the flow and the subflows</description>
        <name>VCC_T2T_Labels_Temp</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VCC_T2T_Main_Key</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Used to keep track of the response labels that are populated dynamically for the ones defined via outputText</description>
        <name>VCC_T2T_Main_Labels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VCC_T2T_Null</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VCC_T2T_RecordId_List</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VCC_T2T_X</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
