sfdx-source/main/default/flows/VCC_Document_Scheduling_Administrative_Actions_Subflow_Other.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Other_To_Case</name>
        <label>Assign Other To Case</label>
        <locationX>138</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>existingCaseRecord.VCC_Case_Outcome_Multi__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Outcome_To_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Outcome_To_Case</name>
        <label>Assign Outcome Comments To Case</label>
        <locationX>50</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>existingCaseRecord.VCC_Other_Case_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseOutcomeWithLineBreak</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Did_User_Enter_Other_Outcome</name>
        <label>Did User Enter Other Outcome?</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_User_Entered_Other_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseOutcomeTextInput</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Outcome_Exists</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Outcome_Exists</name>
        <label>Other Outcome Exists?</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assign_Other_To_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Other_Outcome_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingCaseRecord.VCC_Case_Outcome_Multi__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Outcome_To_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>AF - Refactored subflow from the main Doc and Sched Actions flow.</description>
    <environments>Default</environments>
    <interviewLabel>Document Scheduling &amp; Administrative Actions Subflow - Other {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Document Scheduling &amp; Administrative Actions Subflow - Other</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Did_User_Enter_Other_Outcome</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseOutcomeTextInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseOutcomeWithLineBreak</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>existingCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
