sfdx-source/main/default/flows/VCC_Case_Flow_After_Upsert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Apex_Refresh_Meds</name>
        <label>Apex Refresh Meds</label>
        <locationX>369</locationX>
        <locationY>2807</locationY>
        <actionName>VCC_UpdateMeds_Invocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>check_New_Case_for_VISN_sharing</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>VCC_UpdateMeds_Invocable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Administrative_Scheduling_Case</name>
        <label>Administrative/Scheduling Case?</label>
        <locationX>501</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>VCV_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ADM_SCD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VCC_Administrative</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scheduling_Fields_Updated_And_Has_Progress_Note</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>We are checking new cases for VISN sharing</description>
        <name>check_New_Case_for_VISN_sharing</name>
        <label>Check New Case for VISN sharing</label>
        <locationX>501</locationX>
        <locationY>2999</locationY>
        <defaultConnector>
            <targetReference>Enter_VCC_Subflow_Followup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Case_Enter_Sub_flow</name>
            <conditionLogic>1 OR 2 OR 3 OR 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VCC_Administrative</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VCC_Pharmacy</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VCC_Clinical_Triage</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VCC_Vitrual_Clinic_Visit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VCC_Case_Subflow_Share_Case_to_VISN_users</targetReference>
            </connector>
            <label>Yes New Case Enter Sub-flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_VCV_Case_Have_Progress_Note</name>
        <label>Does VCV Case Have Progress Note?</label>
        <locationX>336</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>Update_e911_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_VCV_PN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VCC_Progress_Note__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Was_VCV_Case_Sub_Type_Updated</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>We will enter VCC Subflow Followup either when Pharmacy Consultation is Needed, or if the follow up fields are filled in and the triggering Case is Open, or Close - Resolved/Transferred/Error</description>
        <name>Enter_VCC_Subflow_Followup</name>
        <label>Enter VCC Subflow Followup</label>
        <locationX>501</locationX>
        <locationY>3299</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enter_VCC_Subflow_Followup1</name>
            <conditionLogic>1 OR (2 AND 3 AND (4 OR 5 OR 6 OR 7))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VCC_Pharmacy_Consultation_Needed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VCC_Clinical_Triage</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VCC_Follow_Up_Appt_Needed__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Resolved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Transferred</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Error</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VCC_Case_Subflow_Follow_Up</targetReference>
            </connector>
            <label>Enter VCC Subflow Followup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Service_Appointment_blank</name>
        <label>Is Service Appointment blank?</label>
        <locationX>336</locationX>
        <locationY>1523</locationY>
        <defaultConnector>
            <targetReference>Does_VCV_Case_Have_Progress_Note</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>its blank</defaultConnectorLabel>
        <rules>
            <name>it_s_not_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Appointment__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>VCC_Case_Subflow_Update_Appt1</targetReference>
            </connector>
            <label>it&apos;s not blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_New_Case</name>
        <label>Is this a New Case</label>
        <locationX>501</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Administrative_Scheduling_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Case_Enter_Subflow</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VCC_Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Administrative</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VCC_Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pharmacy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VCC_Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Symptom</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VCC_Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VCV</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VCC_Case_Subflow_On_Create_Update_Related_Task</targetReference>
            </connector>
            <label>Yes New Case Enter Subflow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Scheduling_Fields_Updated_And_Has_Progress_Note</name>
        <label>Scheduling Fields Updated And Has Progress Note?</label>
        <locationX>336</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>VCV_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SCD_Updated</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VCC_Cannot_Comp_Scheduling_Action_Reason__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VCC_Requested_Services_Multi__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VCC_Specialty_Community_Care_Requested__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VCC_Progress_Note__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SCD_Progress_Note</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Created to update e911 Metrics record while closing Case (being used for e911 Metrics sub-flow)</description>
        <name>Update_e911_records</name>
        <label>Case record type check for e911 records</label>
        <locationX>501</locationX>
        <locationY>2399</locationY>
        <defaultConnector>
            <targetReference>Was_Closed_or_Owner_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>e911_record_check</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VCC_Pharmacy</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VCC_Clinical_Triage</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>VCC_Vitrual_Clinic_Visit</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Tele_Urgent_Care_0_2_Hours</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Tele_Urgent_Care_2_8_Hours_Case</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Resolved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_e911_Record</targetReference>
            </connector>
            <label>e911 record check</label>
        </rules>
    </decisions>
    <decisions>
        <name>VCV_Case</name>
        <label>VCV Case?</label>
        <locationX>501</locationX>
        <locationY>1415</locationY>
        <defaultConnector>
            <targetReference>Update_e911_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_VCV</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VCC_Vitrual_Clinic_Visit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VCC_Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VCV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Service_Appointment_blank</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Closed_or_Owner_Changed</name>
        <label>Was Closed or Owner Changed</label>
        <locationX>501</locationX>
        <locationY>2699</locationY>
        <defaultConnector>
            <targetReference>check_New_Case_for_VISN_sharing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_closed_or_owner_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VCC_Other_Case_Reason__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Apex_Refresh_Meds</targetReference>
            </connector>
            <label>Case closed or owner changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_PN_Found</name>
        <label>Was PN Found?</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>VCV_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PN_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SCD_Progress_Note</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Progress_Note_SCD</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_VCV_Case_Sub_Type_Updated</name>
        <label>Was VCV Case Sub-Type Updated?</label>
        <locationX>182</locationX>
        <locationY>1931</locationY>
        <defaultConnector>
            <targetReference>Update_e911_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Sub_Type_Change</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VCC_Case_Sub_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Progress_Note_VCV</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>After Upsert Flow for the Case Object to capture After Create and After Update changes to a Case Record.

CCCM-22745

RH - CCCM-22752
SS - CCCM-22753
SS - 1.12.0 CCCM-31377
SS - 1.20.0 CCCM-39750 LEAF 808
KK - 1.20.1 CCCM-42671 updated logic to allow an OPEN CT case to flow to into VCC Case Subflow - Follow Up, to create Scheduling Case.</description>
    <environments>Default</environments>
    <interviewLabel>VCC Case Flow - After Upsert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VCC Case Flow - After Upsert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_SCD_Progress_Note</name>
        <label>Get SCD Progress Note</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_PN_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VCC_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>VCC_Signed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VCC_Cannot_Complete_SCD_Action_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.VCC_Cannot_Comp_Scheduling_Action_Reason__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>VCC_Requested_Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.VCC_Requested_Services_Multi__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>VCC_Specialty_Community_Care_Requested__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.VCC_Specialty_Community_Care_Requested__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>VCC_Administrative_Note_Reason__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VCC_Progress_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>375</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_this_a_New_Case</targetReference>
        </connector>
        <filterFormula>!{!$Permission.DisableTriggersFlag} &amp;&amp; LEFT ({!$Record.RecordType.DeveloperName},4) = &quot;VCC_&quot;</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Created to update e911 Metrics record while closing Case (being used for e911 Metrics sub-flow)</description>
        <name>Update_e911_Record</name>
        <label>Update e911 Record</label>
        <locationX>369</locationX>
        <locationY>2507</locationY>
        <connector>
            <targetReference>Was_Closed_or_Owner_Changed</targetReference>
        </connector>
        <flowName>VCC_e911_Metrics_Subflow</flowName>
        <inputAssignments>
            <name>ContactID</name>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Update the Scheduling Progress Note with the new values from the Case record.</description>
        <name>Update_Progress_Note_SCD</name>
        <label>Update Progress Note</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>VCV_Case</targetReference>
        </connector>
        <flowName>VCC_Case_Subflow_Update_Progress_Note</flowName>
        <inputAssignments>
            <name>caseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>progressNoteRecord</name>
            <value>
                <elementReference>Get_SCD_Progress_Note</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Progress_Note_VCV</name>
        <label>Update Progress Note</label>
        <locationX>50</locationX>
        <locationY>2039</locationY>
        <connector>
            <targetReference>Update_e911_records</targetReference>
        </connector>
        <flowName>VCC_Case_Subflow_Update_Progress_Note</flowName>
        <inputAssignments>
            <name>caseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>VCC_Case_Subflow_Follow_Up</name>
        <label>VCC Case Subflow Follow Up</label>
        <locationX>369</locationX>
        <locationY>3407</locationY>
        <flowName>VCC_Case_Subflow_Follow_Up</flowName>
        <inputAssignments>
            <name>caseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>VCC_Case_Subflow_On_Create_Update_Related_Task</name>
        <label>VCC Case Subflow On Create Update Related Task</label>
        <locationX>369</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Administrative_Scheduling_Case</targetReference>
        </connector>
        <flowName>VCC_Case_Subflow_On_Create</flowName>
        <inputAssignments>
            <name>caseRecordVariable</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>This Sub-flow is created to share cases to VISN users</description>
        <name>VCC_Case_Subflow_Share_Case_to_VISN_users</name>
        <label>VCC_Case_Subflow_Share_Case_to_VISN_users</label>
        <locationX>369</locationX>
        <locationY>3107</locationY>
        <connector>
            <targetReference>Enter_VCC_Subflow_Followup</targetReference>
        </connector>
        <flowName>VCC_Case_Subflow_Share_Case_to_VISN_users</flowName>
        <inputAssignments>
            <name>CaseRec</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>VCC_Case_Subflow_Update_Appt1</name>
        <label>VCC Case Subflow - Update Appt</label>
        <locationX>204</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>Does_VCV_Case_Have_Progress_Note</targetReference>
        </connector>
        <flowName>VCC_Case_Subflow_Update_Appt</flowName>
        <inputAssignments>
            <name>caseRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>Created to update e911 Metrics record while closing Case (being used for e911 Metrics sub-flow)</description>
        <name>Tele_Urgent_Care_0_2_Hours</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Tele_Urgent_Care_0_2_Hours</stringValue>
        </value>
    </variables>
    <variables>
        <description>Created to update e911 Metrics record while closing Case (being used for e911 Metrics sub-flow)</description>
        <name>Tele_Urgent_Care_2_8_Hours_Case</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Tele_Urgent_Care_2_8_Hours_Case</stringValue>
        </value>
    </variables>
    <variables>
        <description>Holds the User.Division value for the logged in User</description>
        <name>varUserDivision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Created to use in VISN sharing Sub-flow</description>
        <name>VCC_Administrative</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>VCC_Administrative</stringValue>
        </value>
    </variables>
    <variables>
        <description>Created to update e911 Metrics record while closing Case (being used for e911 Metrics sub-flow)</description>
        <name>VCC_Clinical_Triage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>VCC_Clinical_Triage</stringValue>
        </value>
    </variables>
    <variables>
        <description>Created to update e911 Metrics record while closing Case (being used for e911 Metrics sub-flow)</description>
        <name>VCC_Pharmacy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>VCC_Pharmacy</stringValue>
        </value>
    </variables>
    <variables>
        <description>Created to update e911 Metrics record while closing Case (being used for e911 Metrics sub-flow)</description>
        <name>VCC_Vitrual_Clinic_Visit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>VCC_Vitrual_Clinic_Visit</stringValue>
        </value>
    </variables>
</Flow>
