sfdx-source/main/default/flows/VCC_Event_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Get_Related_Appointment_Case</name>
        <label>Get Related Appointment &amp; Case</label>
        <locationX>398</locationX>
        <locationY>359</locationY>
        <assignmentItems>
            <assignToReference>AppointmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ServiceAppointmentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.VCC_Case__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Appointment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Appointment_Status</name>
        <label>Appointment Status</label>
        <locationX>388</locationX>
        <locationY>716</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Canceled_Appointment_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ServiceAppointment.Status</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case</targetReference>
            </connector>
            <label>Canceled Appointment Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>isClosed</name>
        <label>Closed?</label>
        <locationX>617</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Subject_Close_Case</targetReference>
            </connector>
            <label>Not Closed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Canceled - &apos; + {!$Record.VCC_Case__r.Subject}</expression>
    </formulas>
    <interviewLabel>VCC Event - Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VCC Event - Delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Appointment</name>
        <label>Get Appointment</label>
        <locationX>400</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Appointment_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AppointmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>605</locationX>
        <locationY>776</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isClosed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Appointment.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Subject_Close_Case</name>
        <label>Update Subject &amp; Close Case</label>
        <locationX>398</locationX>
        <locationY>1004</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Appointment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Appointment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed - Resolved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Case_Outcome__c</field>
            <value>
                <stringValue>VCV Appointment Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>272</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Related_Appointment_Case</targetReference>
        </connector>
        <object>Event</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
