sfdx-source/main/default/flows/VCC_Create_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>Columbia</name>
        <choiceText>Columbia +</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Columbia +</stringValue>
        </value>
    </choices>
    <choices>
        <name>COV_test_only</name>
        <choiceText>COV test only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>COV test only</stringValue>
        </value>
    </choices>
    <choices>
        <name>COVID_Rx_T2T</name>
        <choiceText>COVID Rx/T2T</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>COVID Rx/T2T</stringValue>
        </value>
    </choices>
    <choices>
        <name>Culture</name>
        <choiceText>Culture</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Culture</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lab</name>
        <choiceText>Lab</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lab</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pharmacy</name>
        <choiceText>Pharmacy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pharmacy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Radiology</name>
        <choiceText>Radiology</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Radiology</stringValue>
        </value>
    </choices>
    <choices>
        <name>RideShare</name>
        <choiceText>RideShare</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RideShare</stringValue>
        </value>
    </choices>
    <choices>
        <name>Unable_to_be_reached</name>
        <choiceText>Unable to be reached</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unable to be reached</stringValue>
        </value>
    </choices>
    <description>Create task on PN</description>
    <environments>Default</environments>
    <formulas>
        <name>Last4SSN</name>
        <dataType>String</dataType>
        <expression>RIGHT({!Get_Progress_Note_Record.VCC_SSN__c},4)</expression>
    </formulas>
    <formulas>
        <name>SiteID</name>
        <dataType>Number</dataType>
        <expression>{!Get_Progress_Note_Record.VCC_localSiteId__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Tasks_Due_Date_Formula</name>
        <dataType>Date</dataType>
        <expression
        >CASE({!Subject}, &quot;Columbia +&quot;, (TODAY()+1), &quot;COVID Rx/T2T&quot;, (TODAY()+1), &quot;COV test only&quot;, (TODAY()+1), &quot;Culture&quot;, (TODAY()+14),
            &quot;Lab&quot;, (TODAY()+14), &quot;Pharmacy&quot;, (TODAY()+14), &quot;Radiology&quot;, (TODAY()+14), TODAY())</expression>
    </formulas>
    <interviewLabel>VCC Create Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VCC Create Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>776</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>NotificationFlowScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Task_Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Task_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Additional_Task_Needs__c</field>
            <value>
                <elementReference>Additional_Task_Needs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Partial_Results_and_or_APPTS__c</field>
            <value>
                <elementReference>Partial_Results_and_or_APPTS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TED_Task_Order_Date__c</field>
            <value>
                <elementReference>Task_Order_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Creation_Origin__c</field>
            <value>
                <stringValue>VCC Create Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Last_4_of_SSN__c</field>
            <value>
                <elementReference>Last4SSN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Site__c</field>
            <value>
                <elementReference>Site</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VISN__c</field>
            <value>
                <elementReference>$User.Division</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Progress_Note_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Progress_Note_Record.VCC_Case__r.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get the PN record for which a Task will be created.</description>
        <name>Get_Progress_Note_Record</name>
        <label>Get Progress Note Record</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VCC_Progress_Note__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Tasks Queue</description>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>776</locationX>
        <locationY>686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCC_VCV_Tasks_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get record type for Tele EC tasks creation.</description>
        <name>Task_Record_Type</name>
        <label>Task Record Type</label>
        <locationX>776</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_a_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCC_VCV_Follow_Up</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Create a Task for a Tele EC Case</description>
        <name>Create_a_Task</name>
        <label>Create a Task</label>
        <locationX>776</locationX>
        <locationY>446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>TaskCreated</targetReference>
        </connector>
        <fields>
            <name>Subject</name>
            <choiceReferences>Columbia</choiceReferences>
            <choiceReferences>COV_test_only</choiceReferences>
            <choiceReferences>COVID_Rx_T2T</choiceReferences>
            <choiceReferences>Culture</choiceReferences>
            <choiceReferences>Lab</choiceReferences>
            <choiceReferences>Pharmacy</choiceReferences>
            <choiceReferences>Radiology</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Task_Order_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Tasks_Due_Date_Formula</elementReference>
            </defaultValue>
            <fieldText>Task Order Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Site</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SiteID</elementReference>
            </defaultValue>
            <fieldText>Site</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comments</name>
            <dataType>String</dataType>
            <fieldText>Comments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Additional_Task_Needs</name>
            <dataType>String</dataType>
            <fieldText>Additional Task Needs</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Partial_Results_and_or_APPTS</name>
            <dataType>String</dataType>
            <fieldText>Partial Results and/or Appts</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>1040</locationX>
        <locationY>926</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TaskNotCreated</name>
            <fieldText>&lt;p&gt;Task was not able to be created on {!Get_Progress_Note_Record.Name}.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NotificationFlowScreen</name>
        <label>NotificationFlowScreen</label>
        <locationX>779</locationX>
        <locationY>924</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowFlowNotification</name>
            <extensionName>c:vccFlowNotification</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>urlLabel</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>triggerNavigationNextEvent</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Task Successfully Created!</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TaskCreated</name>
        <label>TaskCreated</label>
        <locationX>776</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Queue</targetReference>
        </connector>
        <fields>
            <name>Task_Created</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;New Task created.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Task_Created_Text</name>
            <fieldText
            >&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;The Task Due Date default date has been automatically calculated based off of the Task
                Subject selection. You are still able to edit the Task Due Date below, or you will have other chances to change it in the future.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Task_Due_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Tasks_Due_Date_Formula</elementReference>
            </defaultValue>
            <fieldText>Task Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Progress_Note_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Task Record</description>
        <name>taskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Type of task to be created</description>
        <name>TaskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UseQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
