sfdx-source/main/default/flows/VCC_Case_Subflow_On_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Nebula Logger for error handling</description>
        <name>Add_Log_Entry_for_Error</name>
        <label>Add Log Entry for Error</label>
        <locationX>314</locationX>
        <locationY>1130</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Error_Log</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>VCC_Case_Subflow_On_Create</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>ERROR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Save Nebula log</description>
        <name>Save_Error_Log</name>
        <label>Save Error Log</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <actionName>Logger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Logger</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <description>Checks to see if the VCC_Calls task has a relationship to a Case</description>
        <name>Is_the_VCC_Calls_Task_is_not_already_related_to_a_Case</name>
        <label>Is the VCC Calls Task is not already related to a Case?</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Record_Type_Verify</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Link_Case</name>
            <conditionLogic>(1 OR 2) AND NOT 3</conditionLogic>
            <conditions>
                <leftValueReference>varLatestCallsTaskRecord.WhoId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>caseRecordVariable.ContactId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLatestCallsTaskRecord.WhatId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>caseRecordVariable.AccountId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLatestCallsTaskRecord.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Task</targetReference>
            </connector>
            <label>No, Link Case</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if the Verify Caller task has a relationship to a Case</description>
        <name>Is_the_Verify_Caller_Task_already_related_to_a_Case</name>
        <label>Is the Verify Caller Task already related to a Case?</label>
        <locationX>314</locationX>
        <locationY>914</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Link_Case_Verify</name>
            <conditionLogic>(1 OR 2) AND NOT 3</conditionLogic>
            <conditions>
                <leftValueReference>varLatestVerifyTaskRecord.WhoId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>caseRecordVariable.ContactId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLatestVerifyTaskRecord.WhatId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>caseRecordVariable.AccountId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varLatestVerifyTaskRecord.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Task_Verify</targetReference>
            </connector>
            <label>No, Link Case</label>
        </rules>
    </decisions>
    <description>CCCM-22754 - Subflow for use in VCC Case Flow After Upsert
CCCM-40636 - Add elements for Verify Caller type and fault paths with logging</description>
    <environments>Default</environments>
    <interviewLabel>VCC Case Subflow - On Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VCC Case Subflow - On Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the record type for Calls in the task object</description>
        <name>Get_Record_Type</name>
        <label>Get Record Type - Calls</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Task_Calls</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Log_Entry_for_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCC_Calls</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the record type for VCC_Verify_Caller in the task object</description>
        <name>Get_Record_Type_Verify</name>
        <label>Get Record Type - Verify</label>
        <locationX>314</locationX>
        <locationY>698</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Task_Verify</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Log_Entry_for_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCC_Verify_Caller</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Task_Calls</name>
        <label>Get Related Task - Calls</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_VCC_Calls_Task_is_not_already_related_to_a_Case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Log_Entry_for_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>varLatestCallsTaskRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WhatId</queriedFields>
        <queriedFields>WhoId</queriedFields>
        <queriedFields>VCC_Relative_Type_Picklist__c</queriedFields>
        <queriedFields>VCC_Name__c</queriedFields>
        <queriedFields>VCC_Relative_Type__c</queriedFields>
        <queriedFields>VCC_Patient_Verified_DateTime__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Get Most Recent Task for User of type VCC_Verify_Caller</description>
        <name>Get_Related_Task_Verify</name>
        <label>Get Related Task - Verify</label>
        <locationX>314</locationX>
        <locationY>806</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_Verify_Caller_Task_already_related_to_a_Case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Log_Entry_for_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Record_Type_Verify.Id</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>varLatestVerifyTaskRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WhatId</queriedFields>
        <queriedFields>WhoId</queriedFields>
        <queriedFields>VCC_Name__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_Task</name>
        <label>Update Related Task</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_Record_Type_Verify</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Log_Entry_for_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLatestCallsTaskRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>caseRecordVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>caseRecordVariable.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Task_Verify</name>
        <label>Update Related Task</label>
        <locationX>50</locationX>
        <locationY>1022</locationY>
        <faultConnector>
            <targetReference>Add_Log_Entry_for_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLatestVerifyTaskRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>caseRecordVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>caseRecordVariable.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varLatestCallsTaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varLatestVerifyTaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
