sfdx-source/main/default/flows/VCC_Create_Progress_Note1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Logging Flow Error</description>
        <name>Log_Flow_Error</name>
        <label>Log Flow Error</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>errorScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>VCC_Create_Progress_Note1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Redirect_to_New_Progress_Note</name>
        <label>Redirect to New Progress Note</label>
        <locationX>1370</locationX>
        <locationY>1514</locationY>
        <actionName>c:vccRedirectComponent</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recId</name>
            <value>
                <elementReference>varProgressNoteID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:vccRedirectComponent</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <constants>
        <name>varRelatedAccountId</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <description>If caller relationship to patient is &quot;Not Applicable,&quot; user needs to go back to case and choose from other choices &quot;Self&quot;, &quot;Caregiver&quot;,
            &quot;Power of Attorney&quot;, &quot;Other&quot;.</description>
        <name>Check_Caller_Relation</name>
        <label>Check Caller Relation</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Count_Call_Back_Number_Length</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_the_caller_Not_Applicable</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>varCallerRelation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Applicable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCallerRelation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecordTypeDeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>VCC_Vitrual_Clinic_Visit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.VAHC_Error_Testing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Caller_Recipient_Relation_to_Patient_Input_Subflow</targetReference>
            </connector>
            <label>Is the caller relation &apos;Not Applicable&apos;?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_Call_Back_Number_Length</name>
        <label>Count Call Back Number Length</label>
        <locationX>2030</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Call_Back_Number_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Call_Back_Number_is_less_than_40_characters</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CallBackNumberLength</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_type_of_Progress_Note_to_Create</targetReference>
            </connector>
            <label>Call Back Number is less than 40 characters</label>
        </rules>
    </decisions>
    <decisions>
        <description>It checks the type of Progress Note that needs to be created and redirects the appropriate subflow/creation</description>
        <name>Determine_type_of_Progress_Note_to_Create</name>
        <label>Determine type of Progress Note to Create</label>
        <locationX>1370</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>ErrorFinish</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not able to Create PN</defaultConnectorLabel>
        <rules>
            <name>Case_Subtype_Is_PHRVCV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProgressNoteCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VCC_Pharmacy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseOwnerIDFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varCaseOwnerIDFormula</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.VCC_Pharmacy_Tier_III</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseSubType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PHR VCV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_PHR_VCV_Case_Subtype</targetReference>
            </connector>
            <label>Case Subtype Is PHR VCV</label>
        </rules>
        <rules>
            <name>Permission_is_Tier_III</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VCC_Pharmacy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseOwnerIDFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varCaseOwner</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.VCC_Pharmacy_Tier_III</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tier_Choices</targetReference>
            </connector>
            <label>Permission is Tier III</label>
        </rules>
        <rules>
            <name>Case_is_Pharmacy_Tier_III</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VCC_Pharmacy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseOwnerIDFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varCaseOwner</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.VCC_Pharmacy_Tier_III</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Case is Pharmacy Tier III</label>
        </rules>
        <rules>
            <name>Case_is_Pharmacy_Tier_II</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VCC_Pharmacy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseOwnerIDFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varCaseOwner</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.VCC_Pharmacy_Tier_II</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_Pharmacy_Tier_II</targetReference>
            </connector>
            <label>Case is Pharmacy Tier II</label>
        </rules>
        <rules>
            <name>Case_is_Pharmacy_Tier_I</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseRecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VCC_Pharmacy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseOwnerIDFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varCaseOwner</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.VCC_Pharmacy_Tier_I</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_Pharmacy_Tier_I</targetReference>
            </connector>
            <label>Case is Pharmacy Tier I</label>
        </rules>
        <rules>
            <name>Case_is_Administrative_Scheduling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseOwnerIDFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varCaseOwner</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varProgressNoteCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VCC_Administrative</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.VCC_MSA</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_Scheduling_Case</targetReference>
            </connector>
            <label>Case is Administrative &amp; Scheduling</label>
        </rules>
        <rules>
            <name>Case_is_Clinical_Triage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProgressNoteCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseOwnerIDFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varCaseOwner</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VCC_Clinical_Triage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.VCC_Registered_Nurse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_Clinical_Triage_Case</targetReference>
            </connector>
            <label>Case is Clinical Triage</label>
        </rules>
        <rules>
            <name>Case_is_Virtual_Clinic_Visit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProgressNoteCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseOwnerIDFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varCaseOwner</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varCaseRecordTypeDeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VCC_Vitrual_Clinic_Visit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.VCC_Medical_Provider</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_VCV_Case</targetReference>
            </connector>
            <label>Case is Virtual Clinic Visit</label>
        </rules>
    </decisions>
    <description>This screen flow is used to create a progress note with the use of subflows based on case record type to populate specific information on the new progress note. Update:

  CCCM-40585: moving callback number check to higher level before checking record type

  Release 1.14.0: CCCM-34515: Adding Case Metrics get element so Id can be passed to subflows 

        04/16/2024 for release 1.10.1: Restored error message added in 1.3.3 by CCCM-13526 to indicate to the user that the call back number is too long before creating a clinical
        triage case.</description>
    <dynamicChoiceSets>
        <name>SelectPharmII_RecordType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCC_Progress_Note__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>VCC_Tier</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>tierOptions</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCC_Progress_Note__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCC_Tier_II_Progress_Note</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCC_Tier_III_Progress_Note</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varProgressNoteRecordTypeDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProgressNoteRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CallBackNumberLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!varCallBackNumber})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>varCaseOwnerIDFormula</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>VCC Create Progress Note {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VCC Create Progress Note</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Progress_Note</name>
        <label>Create Progress Note</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignRecordIdToReference>varProgressNoteID</assignRecordIdToReference>
        <connector>
            <targetReference>Redirect_to_New_Progress_Note</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Flow_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varProgressNoteRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Case__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>VCC_Progress_Note__c</object>
    </recordCreates>
    <recordLookups>
        <description>Used to query fields of the case the flow was initiated from</description>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>1370</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Metrics</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>relatedAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varRelatedContactID</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCaseOwner</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCaseRecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCallBackNumber</assignToReference>
            <field>VCC_Call_back_phone_number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCallerRelation</assignToReference>
            <field>VCC_Caller_Relation__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCaseSubType</assignToReference>
            <field>VCC_Case_Sub_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varProgressNoteCount</assignToReference>
            <field>VCC_Progress_Notes_Count__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Used to query the case metric related to the case</description>
        <name>Get_Case_Metrics</name>
        <label>Get Case Metrics</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Record_Type</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VCC_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VCC_Case_Metrics__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record_Type</name>
        <label>Get Case Record Type</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Caller_Relation</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>vcc</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseRecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varCaseRecordTypeDeveloperName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCaseRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Call_Back_Number_Error</name>
        <label>Call Back Number Error</label>
        <locationX>2162</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>textCallBackError</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;This Call Back Number is over 40 characters. &lt;/strong&gt;&lt;strong style=&quot;color: rgb(0, 0,
                0); background-color: rgb(255, 255, 255);&quot;&gt;Reduce length before creating a Progress
                Note.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0,
                0);&quot;&gt;{!varCallBackNumber}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorFinish</name>
        <label>ErrorFinish</label>
        <locationX>2690</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>UnableToCreatePN</name>
            <fieldText>&lt;p&gt;You are not allowed to create this Progress Note. Make sure the Case is of the correct Record Type and that there are zero Progress Notes already on the
                Case.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>used to display the error</description>
        <name>errorScreen</name>
        <label>errorScreen</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorDisplay</name>
            <extensionName>c:vccErrorDisplay</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>system</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Tier_Choices</name>
        <label>Tier Choices</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Progress_Note</targetReference>
        </connector>
        <fields>
            <name>Tier_Choices_Radio</name>
            <choiceReferences>tierOptions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Progress Note Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Subflow to allow end-user to update the Case&apos;s Caller/Recipient Relation to Patient prior to creating a progress note.</description>
        <name>Caller_Recipient_Relation_to_Patient_Input_Subflow</name>
        <label>Caller/Recipient Relation to Patient Input Subflow</label>
        <locationX>1238</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Count_Call_Back_Number_Length</targetReference>
        </connector>
        <flowName>VCC_Caller_Recipient_Relation_to_Patient_Input_Subflow</flowName>
        <inputAssignments>
            <name>caseRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Subflow_Clinical_Triage_Case</name>
        <label>Subflow : Clinical Triage Case</label>
        <locationX>1898</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Redirect_to_New_Progress_Note</targetReference>
        </connector>
        <flowName>VCC_Create_Progress_Note_Subflow_Clinical_Triage_Case</flowName>
        <inputAssignments>
            <name>caseMetrics</name>
            <value>
                <elementReference>Get_Case_Metrics.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>caseRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varProgressNoteID</assignToReference>
            <name>varProgressNoteID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Subflow_Pharmacy_Tier_I</name>
        <label>Subflow : Pharmacy Tier I</label>
        <locationX>1370</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Redirect_to_New_Progress_Note</targetReference>
        </connector>
        <flowName>VCC_Create_Progress_Note_Subflow_Pharmacy_Tier_I</flowName>
        <inputAssignments>
            <name>caseRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varProgressNoteID</assignToReference>
            <name>varProgressNoteID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Subflow_Pharmacy_Tier_II</name>
        <label>Subflow : Pharmacy Tier II</label>
        <locationX>1106</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Redirect_to_New_Progress_Note</targetReference>
        </connector>
        <flowName>VCC_Create_Progress_Note_Subflow_Pharmacy_Tier_II</flowName>
        <inputAssignments>
            <name>caseRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varProgressNoteID</assignToReference>
            <name>varProgressNoteID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Subflow_PHR_VCV_Case_Subtype</name>
        <label>Subflow PHR VCV Case Subtype</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Redirect_to_New_Progress_Note</targetReference>
        </connector>
        <flowName>VCC_Create_Progress_Note_Subflow_PHR_VCV_Case_Subtype</flowName>
        <inputAssignments>
            <name>caseRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varProgressNoteID</assignToReference>
            <name>varProgressNoteID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Subflow_Scheduling_Case</name>
        <label>Subflow : Scheduling Case</label>
        <locationX>1634</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Redirect_to_New_Progress_Note</targetReference>
        </connector>
        <flowName>VCC_Create_Progress_Note_Subflow_Scheduling_Case</flowName>
        <inputAssignments>
            <name>caseMetrics</name>
            <value>
                <elementReference>Get_Case_Metrics.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>caseRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varProgressNoteID</assignToReference>
            <name>varProgressNoteID</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Subflow_VCV_Case</name>
        <label>Subflow : VCV Case</label>
        <locationX>2426</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Redirect_to_New_Progress_Note</targetReference>
        </connector>
        <flowName>VCC_Create_Progress_Note_Subflow_VCV_Case</flowName>
        <inputAssignments>
            <name>caseMetrics</name>
            <value>
                <elementReference>Get_Case_Metrics.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>caseRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>relatedAccountID</name>
            <value>
                <elementReference>relatedAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varVCVType</name>
            <value>
                <elementReference>varCaseSubType</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varProgressNoteID</assignToReference>
            <name>varProgressNoteID</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>progressnotecontact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>VCC_Progress_Note__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCallBackNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCallerRelation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID number of the Case that triggered the flow</description>
        <name>varCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCaseOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseRecordTypeDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Subtype value on the case</description>
        <name>varCaseSubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProgressNoteCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varProgressNoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProgressNoteRecordTypeDeveloperName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varProgressNoteRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRelatedContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
