sfdx-source/main/default/flows/VCC_Verify_Caller_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Logs flow error for all of the Get and CRUD elements in the flow.</description>
        <name>Log_Flow_Error</name>
        <label>Log Flow Error</label>
        <locationX>2101</locationX>
        <locationY>242</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>screenFaultErrorMessagedt</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>VCC_Verify_Caller_2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Hide_Caller_Name_Error</name>
        <label>Hide Caller Name Error</label>
        <locationX>451</locationX>
        <locationY>1340</locationY>
        <assignmentItems>
            <assignToReference>ShowCallerNameError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Temp_Variables</name>
        <label>Set Temp Variables</label>
        <locationX>297</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>CallerNameTemp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Caller_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentLocationTemp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_Location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CallbackNumberTemp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_Back_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShowCallerNameError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CallerRelationTemp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Relationship_Type_Picklist_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CallerRelationTypeTemp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Relative_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Caller_Name_Too_Long</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_VCC_Type_Verify_Patient_to_True</name>
        <label>Set VCC Type - Verify Patient to True</label>
        <locationX>451</locationX>
        <locationY>1556</locationY>
        <assignmentItems>
            <assignToReference>Get_Latest_VCC_Recent_View_Record.VCC_Type_Verify_Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Recent_View_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Show_The_Caller_Name_Error</name>
        <label>Show The Caller Name Error</label>
        <locationX>165</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ShowCallerNameError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Verify_Caller_Information</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_User_of_Error_Perm_Assigned</name>
        <label>Does User of Error Perm Assigned?</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Need_To_Check_Caller_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Error_Perm_is_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.VAHC_Error_Testing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes, Error Perm is Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Caller_Name_Too_Long</name>
        <label>Is Caller Name Too Long?</label>
        <locationX>297</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Hide_Caller_Name_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Caller_Name_Too_Long</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CallerNameExceeds50</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_The_Caller_Name_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_To_Check_Caller_Name</name>
        <label>Need To Check Caller Name?</label>
        <locationX>451</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Hide_Caller_Name_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Check_Caller_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Relationship_Type_Picklist_Input</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Self</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Relationship_Type_Picklist_Input</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Not Applicable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Temp_Variables</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This screen flow will allow the user to update when the Patient was verified on a call (task) and will automatically update the appropriate fields on the task.

1.11.0 Bug fix for CCCM-32494 - Remove get VA Identity and its fields- Place of Birth - City, Place of Birth State, Mother&apos;s Maiden Name. Replace them with Person Account fields (from Contact). Updated formulas so the Person Account fields would display on the screen. - David Ivey

1.11.0 Bug fix for CCCM-33132 - I redistributed the Patient Verification fields across a 3 row x 4 column matrix so that the &quot;Confirm&quot; button would be accessible without scrolling.

1.15.0 CCCM-35070 (Adding Preferred Name and Pronoun)
7-30-2024:  Changed &quot;Pronouns&quot; to &quot;Pronoun&quot;

1.20.0 CCCM-43198 (RN User not Able to See Mother&apos;s Maiden Name on Person Accounts) - fixed formMaidenName to point to field on retrieved personaccount, instead of pointing to varMaidenName, which is no longer used.</description>
    <dynamicChoiceSets>
        <name>Relative_Type_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>VCC_Relative_Type_Picklist__c</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CallerNameExceeds50</name>
        <dataType>Boolean</dataType>
        <expression>IF(LEN({!CallerNameTemp}) &gt; 50, true, false)</expression>
    </formulas>
    <formulas>
        <description>Adds a line break if branch of service is null</description>
        <name>formBranchOfService</name>
        <dataType>String</dataType>
        <expression>
IF(
ISBLANK({!mpiBranchOfService}), 
BR(),
{!mpiBranchOfService}
)</expression>
    </formulas>
    <formulas>
        <description>Insert&apos;s line break if patient&apos;s DOB is blank.</description>
        <name>formDOB</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!get_PersonAccount.HealthCloudGA__BirthDate__pc}), 
BR(),
{!get_PersonAccount.HealthCloudGA__BirthDate__pc}
)</expression>
    </formulas>
    <formulas>
        <description>Adds a line break if Mother&apos;s maiden name is blank.</description>
        <name>formMaidenName</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!get_PersonAccount.Mother_s_Maiden_Name__pc}),
BR(),
{!get_PersonAccount.Mother_s_Maiden_Name__pc}
)</expression>
    </formulas>
    <formulas>
        <description>Checks whether next of kin is blank.</description>
        <name>formNextOfKin</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!get_PersonAccount.VCC_Next_of_Kin__pc}), 
BR(),
{!get_PersonAccount.VCC_Next_of_Kin__pc}
)</expression>
    </formulas>
    <formulas>
        <description>Checks whether place of birth is blank and returns a line break.</description>
        <name>formPlaceOfBirth</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!get_PersonAccount.Place_of_Birth_City__pc}) &amp;&amp; ISBLANK({!get_PersonAccount.Place_of_Birth_State__pc}), 
BR(),  
{!get_PersonAccount.Place_of_Birth_City__pc} &amp; &quot;, &quot; &amp; {!get_PersonAccount.Place_of_Birth_State__pc}
)</expression>
    </formulas>
    <formulas>
        <description>Preferred Name of the Patient</description>
        <name>formPreferredName</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!get_PersonAccount.HealthCloudGA__PreferredName__pc}),
BR(),
{!get_PersonAccount.HealthCloudGA__PreferredName__pc}
)</expression>
    </formulas>
    <formulas>
        <description>Checks whether primary address is blank.</description>
        <name>formPrimaryAddress</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!get_PersonAccount.BillingStreet}) &amp;&amp;
    ISBLANK({!get_PersonAccount.BillingCity}) &amp;&amp;
    ISBLANK({!get_PersonAccount.BillingState}) &amp;&amp;
    ISBLANK({!get_PersonAccount.BillingPostalCode}),
    BR() +  BR(),
    {!get_PersonAccount.BillingStreet} &amp; BR() &amp;
    {!get_PersonAccount.BillingCity} &amp; &quot;, &quot; &amp;
    {!get_PersonAccount.BillingState} &amp; &quot; &quot; &amp;
    {!get_PersonAccount.BillingPostalCode}
)</expression>
    </formulas>
    <formulas>
        <description>Patients preferred pronouns</description>
        <name>formPronoun</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!get_PersonAccount.Pronoun__pc})),
BR(),
TEXT({!get_PersonAccount.Pronoun__pc})
)</expression>
    </formulas>
    <formulas>
        <description>checks whether service date is blank</description>
        <name>formServiceDates</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!mpiServiceDates}), 
BR(),
{!mpiServiceDates}
)</expression>
    </formulas>
    <formulas>
        <description>Checks whether service number is blank</description>
        <name>formServiceNumber</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!mpiMilitaryServiceNumber}), 
BR(),
{!mpiMilitaryServiceNumber}
)</expression>
    </formulas>
    <formulas>
        <description>Checks whether spouse&apos;s name is blank</description>
        <name>formSpouseName</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!mpiSpouseName}), 
BR(),
{!mpiSpouseName}
)</expression>
    </formulas>
    <formulas>
        <description>Checks whether SSN is blank</description>
        <name>formSSN</name>
        <dataType>String</dataType>
        <expression>
IF(ISBLANK({!get_PersonAccount.HealthCloudGA__TaxId__c}),
BR(),
{!get_PersonAccount.HealthCloudGA__TaxId__c}
)</expression>
    </formulas>
    <formulas>
        <name>IsPatientVerifiedv1</name>
        <dataType>Boolean</dataType>
        <expression>/* Test comment */
NOT (ISBLANK({!Relationship_Type_Picklist_Input}))</expression>
    </formulas>
    <formulas>
        <name>OtherRelativetype</name>
        <dataType>String</dataType>
        <expression>IF({!Relationship_Type_Picklist_Input} = &quot;Other&quot;, {!Relative_Type},&quot; &quot;)</expression>
    </formulas>
    <formulas>
        <description>The name of a task for when verifying a caller, whether &apos;self&apos;, another person or &apos;null&apos;.</description>
        <name>taskName</name>
        <dataType>String</dataType>
        <expression>IF({!Relationship_Type_Picklist_Input}=&quot;Self&quot;, {!get_PersonAccount.Name}, IF({!Relationship_Type_Picklist_Input}= &quot;Not Applicable&quot;, &quot;N/A&quot;,{!Caller_Name}))</expression>
    </formulas>
    <formulas>
        <description>Displays the Veteran Name in the Caller Name field if the Caller Relation to Veteran is Self</description>
        <name>varCaller_Name_If_Self</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!Relative_Type_Picklist}) = &quot;Self&quot;, {!varAccountName}, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>varCurrentDateTime</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <formulas>
        <description>Was the last created task more than 10 min ago?</description>
        <name>varLastTaskCreatedMoreThan10MinAgo</name>
        <dataType>Boolean</dataType>
        <expression>IF(
(NOW() - {!varLatestTaskRecord.LastModifiedDate} )*24*60 &gt; 10, TRUE, FALSE)</expression>
    </formulas>
    <interviewLabel>VCC Verify Caller 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VCC Verify Caller</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates a task after caller is verified</description>
        <name>Create_Task_After_Verification</name>
        <label>Create Task After Verification</label>
        <locationX>451</locationX>
        <locationY>1772</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Flow_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Types.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Name__c</field>
            <value>
                <elementReference>taskName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Patient_Information_Verified__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Patient_Verified_DateTime__c</field>
            <value>
                <elementReference>varCurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Relative_Type_Picklist__c</field>
            <value>
                <elementReference>Relationship_Type_Picklist_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Relative_Type__c</field>
            <value>
                <elementReference>OtherRelativetype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VISN__c</field>
            <value>
                <elementReference>$User.Division</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>get_PersonAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>get_PersonAccount.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Latest_VCC_Recent_View_Record</name>
        <label>Get Latest VCC_Recent_View Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_PersonAccount</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VCC_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VCC_Recent_View__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>VCC_Account__c</queriedFields>
        <queriedFields>VCC_Type__c</queriedFields>
        <queriedFields>VCC_Type_Verify_Patient__c</queriedFields>
        <queriedFields>VCC_User__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This gets the person account for the veteran</description>
        <name>get_PersonAccount</name>
        <label>get PersonAccount</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Caller_Information</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Types</name>
        <label>Get Record Types</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Latest_VCC_Recent_View_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>VAHC Verify</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>451</locationX>
        <locationY>1448</locationY>
        <connector>
            <targetReference>Set_VCC_Type_Verify_Patient_to_True</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VCC_Call_Back_Number__c</field>
            <value>
                <elementReference>Call_Back_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VCC_Current_Location__c</field>
            <value>
                <elementReference>Current_Location</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Recent_View_Record</name>
        <label>Update Recent View Record</label>
        <locationX>451</locationX>
        <locationY>1664</locationY>
        <connector>
            <targetReference>Create_Task_After_Verification</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Log_Flow_Error</targetReference>
        </faultConnector>
        <inputReference>Get_Latest_VCC_Recent_View_Record</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>screenFaultErrorMessagedt</name>
        <label>screenFaultErrorMessagedt</label>
        <locationX>2101</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>screenFaultErrorMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Verify_Caller_Information</name>
        <label>Verify Caller Information</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Does_User_of_Error_Perm_Assigned</targetReference>
        </connector>
        <fields>
            <name>display_text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please verify the patient information below.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Verify_Caller_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Verify_Caller_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Person</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Patient Name           &lt;/strong&gt;  &lt;/p&gt;&lt;p&gt;{!get_PersonAccount.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Caller_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SSN</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;SSN&lt;/strong&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;                  &lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!formSSN}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Caller_Information_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DOB</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Patient Date of Birth&lt;/strong&gt;  &lt;/p&gt;&lt;p&gt;{!formDOB}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Caller_Information_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>POB</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Patient Place of Birth&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!formPlaceOfBirth}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Verify_Caller_Information_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Verify_Caller_Information_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PN</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Preferred Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!formPreferredName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Caller_Information_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PRO</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Pronoun&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!formPronoun}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Caller_Information_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Caller_Information_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Verify_Caller_Information_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Verify_Caller_Information_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Addy</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Patient Primary Address&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!formPrimaryAddress}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Caller_Information_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MN</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;﻿Mother&apos;s Maiden Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!formMaidenName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Caller_Information_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MSN</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Spouse&apos;s Name&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!mpiSpouseName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Caller_Information_Section3_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NK</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Next of Kin&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!formNextOfKin}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Verify_Caller_Information_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Verify_Caller_Information_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SN</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Military Service Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!formServiceNumber}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Caller_Information_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SD</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Service Dates&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!formServiceDates}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Caller_Information_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BOS</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Branch of Service&lt;/strong&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!formBranchOfService}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Caller_Information_Section4_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Verify_Caller_Information_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Verify_Caller_Information_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Relationship_Type_Picklist_Input</name>
                    <choiceReferences>Relative_Type_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CallerRelationTemp</elementReference>
                    </defaultValue>
                    <fieldText>Caller/Recipient Relation to Patient</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Relationship of caller to the patient&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Caller_Information_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Caller_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CallerNameTemp</elementReference>
                    </defaultValue>
                    <fieldText>Caller/Recipient Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Provide the caller&apos;s name if the caller is not the veteran&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(247, 2, 2);&quot;&gt;The caller name specified is too long. Please limit the caller name to 50 characters or less.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Caller_Name}) &lt;= 50</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Relationship_Type_Picklist_Input</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Self</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Relationship_Type_Picklist_Input</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Not Applicable</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Relative_Type</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CallerRelationTypeTemp</elementReference>
                    </defaultValue>
                    <fieldText>If Other, describe caller relation to patient</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;If other, describe caller relationship to patient.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Text must be less than 80 characters.&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Relative_Type}) &lt;= 80</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Relationship_Type_Picklist_Input</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Other</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Verify_Caller_Information_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Verify_Caller_Information_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Current_Location</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CurrentLocationTemp</elementReference>
                    </defaultValue>
                    <fieldText>Current Location</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10.5pt;&quot;&gt;Enter the caller&apos;s current physical location.&amp;nbsp;An address is preferred, but if address is unknown, a description may be entered.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 2, 2);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;The Current Location text is too long. Please limit to 255 characters or less.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Current_Location}) &lt;= 255</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Verify_Caller_Information_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Call_Back_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CallbackNumberTemp</elementReference>
                    </defaultValue>
                    <fieldText>Call Back Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-family: &amp;quot;Segoe UI&amp;quot;, sans-serif; font-size: 10.5pt;&quot;&gt;Enter the preferred telephone number where the caller may be reached if the call disconnects.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 2, 2);&quot;&gt;The Call Back Number is too long. Please limit Call Back Number to 40 digits or less.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Call_Back_Number}) &lt;= 40</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Verify_Caller_Error</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(234, 4, 4);&quot;&gt;Caller Name Error&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(247, 2, 2);&quot;&gt;The caller name specified is too long. Please limit the caller name to 50 characters or less.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowCallerNameError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Types</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CallbackNumberTemp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CallerNameTemp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CallerRelationTemp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CallerRelationTypeTemp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentLocationTemp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mpiBranchOfService</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mpiMilitaryServiceNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mpiServiceDates</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mpiSpouseName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShowCallerNameError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_PatientVerified</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varDOB</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLatestTAsk</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varLatestTaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecenetTaskDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varSSN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskCreatedDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
