sfdx-source/main/default/flows/VCC_Assign_Case_to_Me.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_recordId_to_Loop</name>
        <label>Add recordId to Loop</label>
        <locationX>490</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>loopIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_This_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assemble the new collection to update.</description>
        <name>Add_Temp_Case_to_Update_Collection</name>
        <label>Add Temp Case to Update Collection</label>
        <locationX>974</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>ownerupdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updateCaseElement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thorough_cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Collection of cases that the user is already the owner of the case.</description>
        <name>Already_Owner_Collection</name>
        <label>Already Owner Collection</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>isOwned</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thorough_cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Owner_to_Temp_Case</name>
        <label>Assign Owner to Temp Case</label>
        <locationX>974</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>updateCaseElement.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_thorough_cases.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateCaseElement.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Temp_Case_to_Update_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Size_of_Loop</name>
        <label>Assign Size of Loop</label>
        <locationX>358</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>loopSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_This_Case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Me_Case_Validation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Cases that are already closed</description>
        <name>Closed_Cases</name>
        <label>Closed Cases</label>
        <locationX>710</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>isClosed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_thorough_cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Query_on_Ids</name>
        <label>Query on Ids</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>loopIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_This_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_newCaseOwnerErrorVar_to_True</name>
        <label>Set newCaseOwnerErrorVar to True</label>
        <locationX>1018</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>newCaseOwnerErrorVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Display</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Already_Owned_or_Closed_Cases</name>
        <label>Already Owned or Closed Cases</label>
        <locationX>710</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Assign_Owner_to_Temp_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Already_Owner_of_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thorough_cases.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varUserIdFormula</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Owner_Collection</targetReference>
            </connector>
            <label>Already Owner of Case</label>
        </rules>
        <rules>
            <name>Case_Already_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_thorough_cases.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Cases</targetReference>
            </connector>
            <label>Case is Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assign_to_Me_Case_Validation</name>
        <label>Assign to Me Case Validation</label>
        <locationX>358</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>Update_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_is_already_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_is_Closed</targetReference>
            </connector>
            <label>Case is Closed</label>
        </rules>
        <rules>
            <name>Already_the_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isOwned</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loopSize</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Case_Owner</targetReference>
            </connector>
            <label>Already the Owner</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision for assignment of &quot;ids&quot; to collection to loop or add &quot;recordId&quot; to collection to loop.</description>
        <name>From_ListView</name>
        <label>From ListView?</label>
        <locationX>358</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Add_recordId_to_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_FLV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_on_Ids</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Redirect_Needed</name>
        <label>Is Redirect Needed?</label>
        <locationX>666</locationX>
        <locationY>1766</locationY>
        <defaultConnectorLabel>No, On Case Record Page</defaultConnectorLabel>
        <rules>
            <name>Yes_From_List_View</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ids</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Redirect_Screen</targetReference>
            </connector>
            <label>Yes, From List View</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the owner updated confirmation screen is needed.</description>
        <name>Need_Owner_Updated_Screen</name>
        <label>Need Owner Updated Screen?</label>
        <locationX>666</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>Owner_Updated_Successfully</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fromApptConfirmationFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Redirect_Needed</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Owner_does_not_have_Permission_to_take_this_case</name>
        <label>New Owner does not have Permission to take this case?</label>
        <locationX>1150</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>Error_Display</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Permission, but another Fault issue.</defaultConnectorLabel>
        <rules>
            <name>New_Owner_Does_Not_Have_Permission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>The new owner cannot take this case because they do not have permission to work on</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_newCaseOwnerErrorVar_to_True</targetReference>
            </connector>
            <label>New Owner Does Not Have Permission</label>
        </rules>
    </decisions>
    <description>This flow assigns cases to the current user from a case list view and from a case record page.
-------------
Release 1.12.0 - Added decision to check if we need owner updated successfully confirmation screen  
CCCM-24897 - Added decision to check if redirect is needed</description>
    <environments>Default</environments>
    <formulas>
        <description>Gets the 18 digit User ID</description>
        <name>varUserIdFormula</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>Assign to Me {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VCC Assign Case to Me</label>
    <loops>
        <name>Loop_thorough_cases</name>
        <label>Loop thorough cases</label>
        <locationX>358</locationX>
        <locationY>542</locationY>
        <collectionReference>Get_This_Case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Already_Owned_or_Closed_Cases</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Size_of_Loop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_This_Case</name>
        <label>Get This Case</label>
        <locationX>358</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_thorough_cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>loopIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Owner</name>
        <label>Update Owner</label>
        <locationX>666</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Need_Owner_Updated_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>New_Owner_does_not_have_Permission_to_take_this_case</targetReference>
        </faultConnector>
        <inputReference>ownerupdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Already_Case_Owner</name>
        <label>Already Case Owner</label>
        <locationX>314</locationX>
        <locationY>1358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_Screen</targetReference>
        </connector>
        <fields>
            <name>Already_owner</name>
            <fieldText>&lt;p&gt;You are already the owner of this Case.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Case_is_Closed</name>
        <label>Case is Closed</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_Screen</targetReference>
        </connector>
        <fields>
            <name>Case_not_closed</name>
            <fieldText>&lt;p&gt;You cannot take ownership of this Case because it is Closed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Present an error to the end user</description>
        <name>Error_Display</name>
        <label>Error Display</label>
        <locationX>1150</locationX>
        <locationY>1766</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Redirect_Screen</targetReference>
        </connector>
        <fields>
            <name>Fault_Help</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(234, 0, 30);&quot;&gt;ERROR: You cannot assign this case to yourself because you do not have permission to work on this type of Case.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>newCaseOwnerErrorVar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fault_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(234, 0, 30);&quot;&gt;ERROR: {!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>newCaseOwnerErrorVar</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Owner_Updated_Successfully</name>
        <label>Owner Updated Successfully</label>
        <locationX>754</locationX>
        <locationY>1574</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Redirect_Needed</targetReference>
        </connector>
        <fields>
            <name>Owner_was_Updated_Successfully</name>
            <fieldText>&lt;p&gt;The owner has been updated successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Redirect_Screen</name>
        <label>Redirect Screen</label>
        <locationX>358</locationX>
        <locationY>2150</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>goBack</name>
            <extensionName>c:baseBack</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>From_ListView</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>alreadyOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>anyClosed</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Checks if the flow was initiated from the appointment confirmation flow</description>
        <name>fromApptConfirmationFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Hold collection of Id from List View selection.</description>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Flag to hold if any Case in the looped collection are closed.</description>
        <name>isClosed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isClosedCase</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A collection of cases that are already closed</description>
        <name>isClosedCasesCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>isOwned</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Holds the &quot;ids&quot; from a List View or &quot;recordId&quot; as a list.</description>
        <name>loopIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Hold the size of the loop collection of Cases.</description>
        <name>loopSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>newCaseOwnerErrorVar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>This variable holds a collection of cases that will be updated after the loop.</description>
        <name>ownerupdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Hold the Id and Owner for DML Update.</description>
        <name>updateCaseElement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varNewOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
</Flow>
