sfdx-source/main/default/flows/VCC_Incomplete_Actions_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_New_Progress_Note_To_List</name>
        <label>Add New Progress Note To List</label>
        <locationX>908</locationX>
        <locationY>3098</locationY>
        <assignmentItems>
            <assignToReference>newProgressNoteList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>progressNoteRecord</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Add Selected Service to Requested Service</description>
        <name>Add_Selected_Service</name>
        <label>Add Selected Service</label>
        <locationX>732</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>caseRecord.VCC_Requested_Services_Multi__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>Selected_Service</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Case_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RecordType</name>
        <label>Assign RecordType and Case to PN</label>
        <locationX>776</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>progressNoteRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type_Scheduling.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progressNoteRecord.VCC_Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Progress_Note_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Request_Consult_Referral</name>
        <label>Request Consult / Referral</label>
        <locationX>512</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>progressNoteRecord.VCC_Scheduling_Note_Reason2__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Patient is Requesting Consult/ Referral</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cannot_Complete_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cannot_Complete_Appointment</name>
        <label>Set Cannot Complete Appointment</label>
        <locationX>512</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>progressNoteRecord.VCC_Scheduling_Note_Reason2__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Cannot Complete Appointment Request</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Cancel_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Fields</name>
        <label>Set Case Fields</label>
        <locationX>644</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>caseRecord.VCC_Case_Outcome_Multi__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Cannot Complete Scheduling Action</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.VCC_Cannot_Comp_Scheduling_Action_Reason__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>Selected_Reasons</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.VCC_Specialty_Community_Care_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Specialty_Care_Community_Care_Requested</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.VCC_Case_Reason_Multi__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>Selected_Actions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Existing_PN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Current_PN</name>
        <label>Set Current PN</label>
        <locationX>512</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>progressNoteRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>existingProgressNote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Progress_Note_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Follow_Up_Appointment</name>
        <label>Set Follow Up Appointment</label>
        <locationX>512</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>progressNoteRecord.VCC_Scheduling_Note_Reason2__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Patient is Requesting Follow Up Appointment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Consult_Referral_Does_Not_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Mental_Health_False</name>
        <label>Set Mental Health False</label>
        <locationX>578</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>caseRecord.VCC_Mental_Health_Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_PN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Mental_Health_True</name>
        <label>Set Mental Health True</label>
        <locationX>314</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>caseRecord.VCC_Mental_Health_Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_PN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Progress_Note_Fields</name>
        <label>Set Progress Note Fields</label>
        <locationX>644</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>progressNoteRecord.VCC_Cannot_Complete_SCD_Action_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseRecord.VCC_Cannot_Comp_Scheduling_Action_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progressNoteRecord.VCC_Requested_Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseRecord.VCC_Requested_Services_Multi__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>progressNoteRecord.VCC_Specialty_Community_Care_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseRecord.VCC_Specialty_Community_Care_Requested__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Self_Referred_Out_Of_Cycle_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Selections</name>
        <label>Set Selections</label>
        <locationX>347</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Selected_Reasons</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reasons_Why_Selected_Actions_Label</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Service</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_The_Requested_Service_For_The_Actions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Actions</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Unable_To_Complete_Which_Actions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_or_insert_Scheduling_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Show_Requested_Service_Input</name>
        <label>Show Requested Service Input</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Special_Community_Care_Required</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Incomplete_Actions_Screen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Cancel_Appointment</name>
        <choiceText>Cancel Appointment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel Appointment</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Schedule_Appointment</name>
        <choiceText>Schedule Appointment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Schedule Appointment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Verify_Appointment</name>
        <choiceText>Verify Appointment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Verify Appointment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Cannot_Complete_Appointment</name>
        <label>Cannot Complete Appointment?</label>
        <locationX>644</locationX>
        <locationY>2198</locationY>
        <defaultConnector>
            <targetReference>Is_Cancel_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Cannot_Complete_Appointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseRecord.VCC_Cannot_Comp_Scheduling_Action_Reason__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>No Appointment Available</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Cannot_Complete_Appointment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Does Requested Service already contain the Selected Service</description>
        <name>Check_Requested_Service_on_Case</name>
        <label>Check Requested Service on Case</label>
        <locationX>644</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Add_Selected_Service</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - it&apos;s a new value</defaultConnectorLabel>
        <rules>
            <name>Yes_already_contains</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseRecord.VCC_Requested_Services_Multi__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Selected_Service</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Fields</targetReference>
            </connector>
            <label>Yes - already contains</label>
        </rules>
    </decisions>
    <decisions>
        <name>Consult_Referral_Does_Not_Exist</name>
        <label>Consult / Referral Does Not Exist?</label>
        <locationX>644</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>Cannot_Complete_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Consult_Referral_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseRecord.VCC_Cannot_Comp_Scheduling_Action_Reason__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Consult/Referral Does Not Exist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Consult_Referral</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_PN</name>
        <label>Existing PN?</label>
        <locationX>644</locationX>
        <locationY>2990</locationY>
        <defaultConnector>
            <targetReference>Add_New_Progress_Note_To_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing_PN_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingProgressNote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_PN</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Existing_PN</name>
        <label>Has Existing PN?</label>
        <locationX>644</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Assign_RecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing_PN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existingProgressNote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Current_PN</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Cancel_Appointment</name>
        <label>Is Cancel Appointment?</label>
        <locationX>644</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <targetReference>Existing_PN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cannot_Cancel_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Unable_To_Complete_Which_Actions</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Cancel_Appointment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mental_Health</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mental_Health</name>
        <label>Mental Health?</label>
        <locationX>446</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>Set_Mental_Health_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Mental_Health</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_The_Requested_Service_For_The_Actions</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Mental Health</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Mental_Health_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requested_Service_Required_And_Missing</name>
        <label>Requested Service Required And Missing?</label>
        <locationX>347</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_PN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Requested_Service_Missing</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Select_The_Requested_Service_For_The_Actions</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Specialty Care</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_The_Requested_Service_For_The_Actions</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Community Care</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Specialty_Care_Community_Care_Requested</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Requested_Service_Input</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Self_Referred_Out_Of_Cycle_Selected</name>
        <label>Self-Referred / Out-Of-Cycle Selected?</label>
        <locationX>644</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Consult_Referral_Does_Not_Exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Self_Referred_Out_Cycle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseRecord.VCC_Cannot_Comp_Scheduling_Action_Reason__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Self-Referred/ Out-of-Cycle Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Follow_Up_Appointment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Subflow for the VCC Document Scheduling and Administrative Actions Flow. Utilized for populating the Cannot Complete Scheduling Action Reason fields on a Scheduling Progress Note. 
- 1.18 (feature CCCM-30901) Case and PN when Unable to complete scheduling action for selected service, Restrict Requested Service to single choice
- 1.18 (bugs CCCM-40597 &amp; CCCM-41261) Update logic for multiselect fields</description>
    <dynamicChoiceSets>
        <name>Cannot_Complete_Action_Reasons</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>VCC_Cannot_Comp_Scheduling_Action_Reason__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Requested_Services_Options</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>VCC_Requested_Services_Multi__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>VCC Incomplete Actions Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>VCC Incomplete Actions Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Existing_PN</name>
        <label>Get Existing PN</label>
        <locationX>644</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_Type_Scheduling</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VCC_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>VCC_Signed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VCC_Cannot_Complete_SCD_Action_Reason__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>VCC_Progress_Note__c</object>
        <outputReference>existingProgressNote</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>VCC_Cannot_Complete_SCD_Action_Reason__c</queriedFields>
        <queriedFields>VCC_Requested_Service__c</queriedFields>
        <queriedFields>VCC_Specialty_Community_Care_Requested__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>VCC_Case__c</queriedFields>
        <queriedFields>VCC_Scheduling_Note_Reason2__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_Scheduling</name>
        <label>Get Record Type Scheduling</label>
        <locationX>644</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Requested_Service_on_Case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VCC_Scheduling_Progress_Note</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_PN</name>
        <label>Update Existing PN</label>
        <locationX>380</locationX>
        <locationY>3098</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Flow_Error</targetReference>
        </faultConnector>
        <inputReference>progressNoteRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Incomplete_Actions_Screen</name>
        <label>Incomplete Actions</label>
        <locationX>347</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Selections</targetReference>
        </connector>
        <fields>
            <name>Incomplete_Actions_Title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Incomplete Actions&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Unable_To_Complete_Which_Actions</name>
            <choiceReferences>Schedule_Appointment</choiceReferences>
            <choiceReferences>Cancel_Appointment</choiceReferences>
            <choiceReferences>Verify_Appointment</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Selected_Actions</elementReference>
            </defaultValue>
            <fieldText>Unable To Complete Which Action(s):</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reasons_Why_Selected_Actions_Label</name>
            <choiceReferences>Cannot_Complete_Action_Reasons</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Selected_Reasons</elementReference>
            </defaultValue>
            <fieldText>Reason(s) Why Selected Action(s) Cannot Be Completed:</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_The_Requested_Service_For_The_Actions</name>
            <choiceReferences>Requested_Services_Options</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Selected_Service</elementReference>
            </defaultValue>
            <fieldText>Select The Requested Service For The Action(s) Selected:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Specialty_Care_Community_Care_Requested</name>
            <fieldText>Specialty Care / Community Care Requested:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Special_Community_Care_Required</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Select_The_Requested_Service_For_The_Actions</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Specialty Care</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Select_The_Requested_Service_For_The_Actions</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Community Care</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Incomplete_Actions_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Find_or_insert_Scheduling_Case</name>
        <label>Find or insert Scheduling Case</label>
        <locationX>347</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Requested_Service_Required_And_Missing</targetReference>
        </connector>
        <flowName>VCC_Appointment_Subflow_FindOrCreateCase</flowName>
        <inputAssignments>
            <name>accountId_var</name>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>appointmentServiceTextChoice</name>
            <value>
                <elementReference>Selected_Service</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>newCaseCheck</assignToReference>
            <name>newCaseCheck</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>caseRecord</assignToReference>
            <name>schedulingCase_var</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Flow_Error</name>
        <label>Flow Error</label>
        <locationX>1436</locationX>
        <locationY>674</locationY>
        <flowName>VCC_Flow_Error_Display</flowName>
        <inputAssignments>
            <name>progressNoteRecordId</name>
            <value>
                <elementReference>progressNoteRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SYSTEM_ERROR</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>existingProgressNote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VCC_Progress_Note__c</objectType>
    </variables>
    <variables>
        <description>Variable used by Document Scheduling Actions flow to determine if a new case was created</description>
        <name>newCaseCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newProgressNoteList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>VCC_Progress_Note__c</objectType>
    </variables>
    <variables>
        <name>progressNoteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>VCC_Progress_Note__c</objectType>
    </variables>
    <variables>
        <name>Selected_Actions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Reasons</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Service</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Special_Community_Care_Required</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Passed in by Document Actions Flow from Person Account page as the Record Id
Used in Find or insert Scheduling Case Subflow</description>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
